<section id="feedback" class="tab-content section-homeworkdetails">
    <div class="homework">
        {{#if submission.grade}}
            Du hast <b class="grade">{{submission.grade}}%</b> richtig gelöst.
        {{/if}}
        
        <div class="comment">
            {{#if submission.gradeComment}}
                {{{submission.gradeComment}}}
            {{else}}
                <p>Kein Bewertungstext vorhanden.</p>
            {{/if}}
        </div>
    </div>
</section>
