<section id="feedback" class="tab-content section-homeworkdetails">
    <div class="homework">
        <b class="grade">{{{submission.grade}}}</b>

        <div class="comment">
            {{#if submission.gradeComment}}
                {{{submission.gradeComment}}}
            {{else}}
                <p>Kein Bewertungstext vorhanden.</p>
            {{/if}}
        </div>
    </div>
</section>