<section id="feedback" class="tab-content section-homeworkdetails">
    <div class="homework">
        {{#if courseId.gradeSystem}}
            {{#ifeqt submission.grade 0 }}<b class="grade">Note: 6</b>{{/ifeqt}}
            {{#if submission.grade}}
				<b class="grade">Note: 
				{{#ifeqt submission.grade 0}} 6{{/ifeqt}}
				{{#ifeqt submission.grade 1}}5-{{/ifeqt}}
				{{#ifeqt submission.grade 2}} 5{{/ifeqt}}
				{{#ifeqt submission.grade 3}}5+{{/ifeqt}}
				{{#ifeqt submission.grade 4}}4-{{/ifeqt}}
				{{#ifeqt submission.grade 5}} 4{{/ifeqt}}
				{{#ifeqt submission.grade 6}}4+{{/ifeqt}}
				{{#ifeqt submission.grade 7}}3-{{/ifeqt}}
				{{#ifeqt submission.grade 8}} 3{{/ifeqt}}
				{{#ifeqt submission.grade 9}}3+{{/ifeqt}}
				{{#ifeqt submission.grade 10}}2-{{/ifeqt}}
				{{#ifeqt submission.grade 11}} 2{{/ifeqt}}
				{{#ifeqt submission.grade 12}}2+{{/ifeqt}}
				{{#ifeqt submission.grade 13}}1-{{/ifeqt}}
				{{#ifeqt submission.grade 14}} 1{{/ifeqt}}
				{{#ifeqt submission.grade 15}}1+{{/ifeqt}}
				</b>
			{{/if}}
        {{else}}
            {{#ifeqt submission.grade 0}}
                <b class="grade">0 Punkte</b>
            {{/ifeqt}}
			{{#if submission.grade}}
				<b class="grade">{{submission.grade}} Punkte</b>
			{{/if}}
        {{/if}}
        <div class="comment">
            {{#if submission.gradeComment}}
                {{{submission.gradeComment}}}
            {{else}}
                <p>Kein Kommentar.</p>
            {{/if}}
        </div>
    </div>
</section>