<section id="feedback" class="tab-content section-homeworkdetails">
    {{#ifCond @root.submission "&&" @root.submission.graded}}
    <div class="homework print">
        <button type="button" class="btn btn-secondary btn-print btn-sm pull-right mb-1"
            data-toggle="tooltip" title="{{$t "homework._task.label.printGradeComment"}}">
                <i class='fa fa-print'></i>
        </button>
        {{#if @root.submission.grade includeZero=true}}
        {{{$t "homework._task.text.youHaveSolvedXPercent" (dict "grade" @root.submission.grade)}}}
        {{/if}}

        <div class="comment ckcontent">
                {{{@root.submission.gradeComment}}}
        </div>
        {{#embed "lib/components/files-storage/files" @root.submission.gradeFiles}}{{/embed}}
    </div>
    {{else}}
    <p>{{$t "homework.text.noEvaluationTextAvailable" }}</p>
    {{/ifCond}}
</section>