<section id="feedback" class="tab-content section-homeworkdetails">
    <div class="homework print">
        {{#if @root.submission.grade}}
            Du hast <b class="grade">{{@root.submission.grade}}%</b> richtig gelöst.
        {{/if}}

        <div class="comment ckcontent">
            {{#if @root.submission.gradeComment}}
                {{{@root.submission.gradeComment}}}
            {{else}}
                <p>Kein Bewertungstext vorhanden.</p>
            {{/if}}
        </div>

        <div class="btn btn-secondary btn-print mb-1"
            data-toggle="tooltip" title="Bewertung drucken">
                <i class='fa fa-print'></i> Drucken
        </div>
    </div>
</section>
