<section id="feedback" class="tab-content section-homeworkdetails">
    <div class="homework">
        {{#if submission.grade}}
            <b class="grade">{{submission.grade}}</b>
        {{/if}}

        <div class="comment">
            {{#if submission.gradeComment}}
                {{{submission.gradeComment}}}
            {{else}}
                <p>Kein Bewertungstext vorhanden.</p>
            {{/if}}
        </div>
    </div>
</section>