<section id="feedback" class="tab-content section-homeworkdetails">
	<h5>Bewertung</h5>
    <div class="homework">
        <div class="comment">
            <p>{{gradeComment}}</p>
        </div>
        <div class="material card">
            <ul>
                <li>
                    <img src="http://placehold.it/100x80"/>
                    <p class="title">ExtraLongFilename.html</p>
                    <div class="buttons">
                        <a class="download" href="#"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>