{{#extend "lib/default"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/authentication/home.css"/>
        <link rel="stylesheet" href="/vendor/introjs/introjs.min.css" />
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/vendor/introjs/intro.min.js" type="text/javascript" defer></script>
        <script src="/scripts/login.js" type="text/javascript" defer></script>

        <script src="/scripts/video-player/load-video-player.js" type="text/javascript" defer></script>

        <script type="text/javascript" src="/vendor/mailchimp.js" data-dojo-config="usePlainJson: true, isDebug: false" defer></script>
    {{/content}}

    {{#content "body"}}
        {{#embed "lib/header"}}{{/embed}}
        <div class="container">
            <div class="row">
                <main class="col-md-8">
                    <div class="hidden-md-up">
                        {{> "authentication/forms/login"}}
                    </div>

                    <section class="card">
                        <div class="card-block">
                            <div class="intro" data-step="1" data-intro="Hier kannst du einen Überblick über die Vorteile der Arbeit mit der HPI Schul-Cloud einsehen. Außerdem erhälst du hier allgemeine Informationen über unser Projekt.">

                            <h4>Herzlich willkommen bei der {{theme.title}} !</h4>
                            <p>Spicy jalapeno bacon ipsum dolor amet velit short ribs duis chicken bacon commodo laborum ham hock tri-tip jowl enim capicola hamburger kielbasa doner.  Meatball chicken in shoulder nostrud ut brisket flank aliquip drumstick.  Fugiat capicola bacon voluptate beef sausage pork loin laborum bresaola occaecat anim fatback turkey velit.  Boudin shank elit corned beef rump.  Short ribs beef et prosciutto in.  Ball tip kielbasa sed velit.</p><p>Sint labore jowl bacon.  Drumstick qui sint, ut capicola pig meatloaf turducken pork loin shoulder ball tip.  Ribeye adipisicing buffalo salami shankle.  Corned beef porchetta shoulder ut consequat exercitation hamburger.  Nulla et andouille culpa dolore tri-tip drumstick deserunt officia tenderloin lorem pork loin meatloaf leberkas tempor.  Ullamco quis drumstick venison occaecat, qui elit buffalo.  T-bone tri-tip ut tempor nulla consectetur.</p><p>Dolore ullamco turkey rump.  Ea excepteur magna sunt culpa prosciutto, tongue shank pork belly ullamco id cillum pork chop.  Hamburger ipsum t-bone officia tenderloin, pork loin enim jerky.  Pork chop landjaeger pancetta, nulla in swine do culpa non.</p><p>Culpa enim ball tip, leberkas salami deserunt jerky pig fugiat pariatur cupim shankle.  Landjaeger chuck in pig in veniam tail alcatra lorem meatloaf kielbasa.  Elit sunt tenderloin pork chop voluptate dolore shank eu in ex hamburger ball tip.  Shoulder laborum porchetta, flank velit beef ribs sint in.</p><p>In duis ham, officia tri-tip short ribs spare ribs shoulder ball tip ad.  Pork chop corned beef veniam kevin frankfurter.  Ea nulla ham, andouille cow flank ribeye pork belly biltong filet mignon drumstick commodo spare ribs non eiusmod.  Nulla proident shank anim in commodo.  Ut tempor dolore, proident brisket frankfurter pastrami prosciutto anim nostrud esse doner.  Ex bresaola pork chop non pig alcatra eu.  Tri-tip dolore brisket ut meatball, pork ullamco consequat laboris fugiat.</p><p>Filet mignon sunt frankfurter magna, ex ea fugiat consequat anim ipsum cillum.  Adipisicing ad labore, tri-tip swine burgdoggen sint drumstick laborum salami mollit short ribs jowl capicola.  Biltong consequat officia, bresaola dolore sausage alcatra velit ullamco landjaeger meatball t-bone nostrud.  Ex tempor rump shankle irure do excepteur duis lorem in bacon pig ut nostrud.</p><p>Boudin ham lorem t-bone porchetta irure exercitation.  Biltong tempor lorem adipisicing dolor, cupidatat est capicola irure turkey tri-tip.  Minim occaecat ut, tenderloin esse swine enim sed labore ullamco veniam kevin.  Tail irure drumstick non esse.  Ea et eiusmod pork loin anim beef ribs, boudin rump.</p><p>Velit minim dolore tempor pork loin spare ribs.  Pork belly ea pancetta in elit tempor rump chicken jerky sed shank id.  Burgdoggen minim venison adipisicing, rump non veniam.  Prosciutto swine jowl cow duis burgdoggen eiusmod velit cillum proident.  Pork porchetta incididunt beef proident enim in pork belly dolore ball tip ad corned beef hamburger id.  Pork belly minim pancetta pig, labore cow alcatra tail veniam nulla nisi filet mignon ham hock.</p><p>Dolore eiusmod pork loin, reprehenderit nostrud short loin aliquip nisi tenderloin nulla strip steak porchetta.  Filet mignon biltong ullamco, pig cillum alcatra id excepteur anim ea picanha.  Rump sint aliqua chicken.  In do elit officia qui bresaola.  Occaecat meatloaf ut ut cow chuck boudin flank cupidatat hamburger shank salami dolore.</p><p>Nulla qui mollit tail frankfurter.  Drumstick beef ribs dolore lorem turducken magna.  Swine ham elit shank salami cupidatat proident in.  Leberkas exercitation deserunt, commodo jowl minim consectetur veniam in quis.  Venison pork tri-tip ex drumstick proident fugiat beef ribs.  Boudin ground round kevin drumstick voluptate tongue.  Pork loin jowl bresaola exercitation jerky.</p>
                        <div>
                    </section>
                </main>
                <aside class="col-md-4">
                    <div class="hidden-sm-down">
                        {{> "authentication/forms/login"}}
                    </div>

                     <section id="jobs" class="card">
                        <div class="card-block">
                            <h4 class="card-title">Stellenausschreibungen</h4>
                            <div class="form-group">
                                Du möchtest gerne Mitglied in unserem HPI Schul-Cloud Team werden? Wir suchen:
                            </div>
                            <a href="https://hpi.de/das-hpi/organisation/jobs/aktuelle-jobs/internettechnologien/frontend-web-developer-mwd-im-projekt-hpi-schul-cloud.html" rel="noopener" target="_blank">Frontend Web Developer</a></br>
                            <a href="https://hpi.de/das-hpi/organisation/jobs/aktuelle-jobs/internettechnologien/web-developer-im-projekt-schul-cloud.html" rel="noopener" target="_blank">Web Developer</a></br>
                            <a href="https://hpi.de/das-hpi/organisation/jobs/aktuelle-jobs/internettechnologien/community-manager-mwd-im-projekt-hpi-schul-cloud.html" rel="noopener" target="_blank">Community Manager</a>
                        </div>
                    </section>

                </aside>
            </div>
        </div>
        {{#embed "lib/extended_footer"}}{{/embed}}
        {{#embed "lib/components/modal-form" action="/pwrecovery/" method="post" class="pwrecovery-modal"}}
            {{#content "fields"}}
                {{> "authentication/forms/pwrecovery"}}
            {{/content}}
        {{/embed}}


    {{/content}}
{{/extend}}
