{{#extend "lib/default"}}

	{{#content "styles" mode="append"}}
		<link rel="stylesheet" href="{{getVersionedPath '/styles/authentication/home.css'}}"/>
	{{/content}}

	{{#content "scripts" mode="append"}}
    <script src="{{getVersionedPath '/scripts/login.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}

	{{#content "body"}}
		{{#embed "lib/header"}}{{/embed}}
		<div class="container">
			<div class="row">
				<main id="main-content" class="col-md-8">
					<div class="hidden-md-up">
						{{> "authentication/forms/login"}}
					</div>
            <!--Uncomment this when You will add open Landing Page in ghost and remember about theme-blog.js-->

            <!--                    <div class="hidden" id="SC_THEME">open</div>-->
            <!--                    <div class="open-blog">-->
            <!--                        <div class="content" style="opacity: 0; transition: opacity 0.7s ease-in;"></div>-->
            <!--                        <div class="loading text-center mb-3" style="min-height: 70vh; margin-top: 100px;">-->
            <!--                            <i class="fa fa-spinner fa-spin load-icon spinner" aria-hidden="true"-->
            <!--                             style="font-size: 25px;"></i>-->
            <!--                            <div class="placeholder" style="display: none;">-->
            <!--                            <img src="/images/repair.png" width="350px">-->
                <!--                            <p class="text-muted">{{$t "global.text.errorWhileLoadingPage"}}</p>-->
                <!--                            <button type="button" class="btn btn-primary mt-2">{{$t "global.button.tryAgain"}}</button>-->
            <!--                        </div>-->
            <!--                        </div>-->
            <!--                    </div>-->

					<section class="card">
						<div class="card-block">
							<h2 class="h4">Herzlich willkommen bei der {{theme.title}} !</h2>
							<p>Das <a href="https://hpi.de/">Hasso-Plattner-Institut</a> für Digital Engineering entwickelt unter der Leitung von Prof. Dr. Christoph Meinel zusammen mit <a href="https://www.mint-ec.de/">MINT-EC</a>, dem nationalen Excellence-Schulnetzwerk von über 300 Schulen bundesweit und unterstützt vom Bundesministerium für Bildung und Forschung die HPI Schul-Cloud. Sie soll die technische Grundlage schaffen, dass Lehrkräfte und Schüler in jedem Unterrichtsfach auch moderne digitale Lehr- und Lerninhalte nutzen können, und zwar so, wie Apps über Smartphones oder Tablets nutzbar sind. Dies ist die offene Instanz der HPI Schul-Cloud, über die einzelne Schulen Zugang zur Plattform erhalten können.</p>
						<div>
					</section>
				</main>
				<aside class="col-md-4">
					<div class="hidden-sm-down">
						{{> "authentication/forms/login"}}
					</div>

					 <section id="jobs" class="card">
						<div class="card-block">
							<h2 class="h4 card-title">Stellenausschreibungen</h2>
							<div class="form-group">
								Du möchtest gerne Mitglied in unserem HPI Schul-Cloud Team werden? Wir suchen:
							</div>
							<a href="https://hpi.de/das-hpi/organisation/jobs/aktuelle-jobs/internettechnologien/system-engineer-dev-ops-mw.html"
								rel="noopener" target="_blank">DevOps</a><br>
						</div>
					</section>

				</aside>
			</div>
		</div>
		{{#embed "lib/extended_footer"}}{{/embed}}
		{{#embed "lib/components/modal-form" action="/pwrecovery/" method="post" class="pwrecovery-modal"}}
			{{#content "fields"}}
				{{> "authentication/forms/pwrecovery"}}
			{{/content}}
		{{/embed}}


	{{/content}}
{{/extend}}
