<div style="position: relative; display: flex; padding: 16px; margin-bottom: 24px; border-radius: 4px; font-family: Roboto, sans-serif; font-size: 14px; line-height: 1.5; background-color: rgb(227, 242, 253); color: rgb(1, 87, 155);" role="alert">
    <div style="display: flex; align-items: flex-start; padding-right: 16px; flex-shrink: 0;">
        <svg style="width: 24px; height: 24px; fill: currentColor;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path>
        </svg>
    </div>
    <div style="flex: 1; align-self: center; font-family: 'PT Sans',serif">
        <div style="font-weight: 700; margin-bottom: 4px; font-size: 19px;">
            <span style="color: rgba(58,66,75);">{{{ $t "teams.text.title" }}}</span>
        </div>
        <div style="color: rgba(58,66,75); font-size: 16px;">
            <ul style="margin-top: 4px; padding-left: 20px; margin-bottom: 0;">
                <li>{{{$t "teams.text.item0"}}}</li>
                <li>{{{$t translateKeyItem1 }}}</li>
            </ul>
        </div>
    </div>
</div>
