@import '../lib/colors';

.teacher-option {
	.h4 {
		padding-top: 20px;
		color: $primaryColor
	}

	text-align: center;
	cursor: pointer;

	img {
		width: 30px;
	}
}

a:visited,
a:link,
a:hover {
	text-decoration: none;
}
