@import '../lib/colors';
@import './search';
@import './component-card';

// NEW STYLES
// iFrame styles for confluence integration
.content-min-height #main-content{
  display: flex;
  flex-direction: column;
}
iframe.full{
  width: 100%;
  flex: 1;
}

.contact-card {
  width: 50%;

  .card-content {
      background-color: #fa2;
      color: #fff; 

      .card-title:before{
          border-bottom-color: #fff;
      }
      input, textarea, .chosen-single {
          border-color: #333;
          border-radius: 0px;
      }
      .switch{
          display: flex;
          flex-wrap: nowrap;

          input[type="radio"] {
              display: none;
              &:checked + label{
                color: #fa2;
                background-color: #fff;
              }
          }

          label{
            text-transform: uppercase;
              text-shadow: 0 0 #000a;
              flex: 1;
              cursor: pointer;
              border: 1px solid #fff;
              border-left: none;
              margin: 0;
              padding: 4px 0;
              display: flex;
              justify-content: center;
              flex-direction: column;
              text-align: center;
              &:first-of-type{
                border-left: 1px solid #fff;
                border-radius: 5rem 0 0 5rem;
              }
              &:last-of-type{
                border-radius: 0 5rem 5rem 0;
              }
          }
      }
  }
}
.first-steps-card {
  .card-content {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

    .card-body {
      display: flex;

      .link-wrapper {
        display: inline-block;
        width: 25%;
        height: 6rem;
        color: #fff;

        &:nth-of-type(1) {
          background-color: #b00c36;
          border-bottom-left-radius: 4px;
        }
        &:nth-of-type(2) {
          background-color: #e25617;
        }
        &:nth-of-type(3) {
          background-color: #f89c0e;
        }
        &:nth-of-type(4) {
          background-color: #0c53b0;
          border-bottom-right-radius: 4px;
        }
        a {
          color: #fff;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          span{
            transition: all .2s ease-in-out;
          }

          i {
            display: block;
            font-size: 1.8rem;
          }
          
          &:hover span, &:focus span{
            transform: scale(1.2);
            text-shadow: 0px 2px 5px #333a;
          }
        }
      }
    }
  }
}