@import "../lib/colors";
@import "./search";
@import "./icon-card";
@import "./icon-link-group";

/********************************************************
* iFrame (for confluence integration)
********************************************************/
iframe.full {
  width: 100%;
  min-height: 500px;
  overflow: hidden;
}

/********************************************************
* FORM
********************************************************/
// wrapper
label.form-group {
  display: block;
  margin-bottom: 8px;
}

// Label
.control-label {
  &.optional::after {
    font-weight: lighter;
    content: " (optional)";
  }
}

// Inputs
.form-control,
.chosen-container-single .chosen-single {
  border: 1px solid #d9d9d9;
  border-radius: 0;
  text-align: left;
  font-weight: normal;

  &:focus,
  &:active {
    outline: none;
    border-color: $primaryColor;
  }
}

// chosen options
.chosen-container .chosen-results li {
  text-align: left;
}

// Toggle
fieldset.switch_wrapper {
  display: inline-block;
  width: 100%;
  max-width: 400px;

  .switch {
    display: flex;
    flex-wrap: nowrap;

    input[type="radio"] {
      display: none;

      &:checked+label {
        background-color: $primaryColor;
        color: $colorWhite;
      }
    }

    label {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;

      transition: color .3s, background-color .3s;
      margin: 0;
      border: 1px solid $primaryColor;
      border-left: 0;

      cursor: pointer;
      padding: 4px;
      text-align: center;
      text-transform: uppercase;

      font-weight: normal;

      &:first-of-type {
        border-left: 1px solid $primaryColor;
      }
    }
  }
}

// (submit-) Button
.icon-card button[type="submit"] {
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
  margin-top: 16px;
  border: 1px solid #333;
  background: transparent;
  padding: 8px 16px;
  color: #333;
  font-weight: bold;

  &:hover:not([disabled]){
    outline: none;
    background-color: #333;
    color: $colorWhite;
    cursor: pointer;
  }

  &:disabled {
    background-color: $colorGrey;
    border-color: #8a8a8a;
  }
}


/********************************************************
* Cards
********************************************************/
//table-of-contents
.table-of-contents-card {
  background: $primaryColor;
  color: $colorWhite;

  .icon-card__content {
    border-color: transparent;
  }

  .icon-card__title:before {
    border-bottom-color: $colorWhite;
  }

  .icon-card__body {
    text-align: center;

    ul {
      margin: 0;
      padding-left: 0;
      list-style-type: none;

      li {
        padding: 4px 0;

        a {
          text-decoration: underline;
          color: $primaryColor;
        }
      }
    }
  }
}

// help links
.collapse__section {
  .collapse__item {

    &:not(:last-of-type) {
      border-bottom: 1px solid #333;
    }

    cursor: pointer;

    &:last-of-type {
      border-bottom: 0;
    }

    .collapse__title {
      display: block;
      border: 0;
      background: none;
      padding: 12px 20px 12px 0;
      width: 100%;
      text-align: left;
      font-size: 1.2em;
      box-sizing: border-box;

      .collapsable-headline{
        display: inline;
        padding-left: 8px;
        font-size: inherit;
      }

      &.single {
        color: $primaryColor;
      }
    }

    .collapse__content {
      text-align: left;
    }
  }
}

// link cards
.first-steps-card,
.quickHelp-card,
.information-card {
  padding: 2rem 0 0;
}

// contact cards
.contact-card {
  .icon-card__content {
    background-color: $colorGrey;

    form {
      margin-top: 1rem;

      p {
        text-align: left;
      }

      .control-label {
        display: block;
        margin-bottom: 4px;
        padding-right: 2rem;
        text-align: left;
      }

      .chosen-container {
        color: initial;
      }

      button {
        border-color: $primaryColor;
        background-color: $primaryColor;
        color: $colorWhite;

        &:hover:not([disabled]),
        &:focus:not([disabled]) {
          background-color: #7f0328;
        }
      }

      .file-alert {
        color: $primaryColor;
      }
    }

    p {
      margin-top: .75rem;
      margin-bottom: .25rem;
    }
  }
}

.eMail-card {
  .icon-card__content {
    background: $colorGrey;
  }

  a {
    text-decoration: underline;
    color: $primaryColor;

    &:hover {
      color: $accentColor;
    }
  }
}

.white-links {
  a {
    color:white !important;
  }
}