@import "../lib/bootstrap/scss/bootstrap-flex";
@import "../lib/colors";

.link-wrapper {
  .icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease-in-out;
    padding: 16px 8px;
    height: 100%;

    text-decoration: none;
    color: $fontColor;

    &:hover,
    &:focus {
      border-radius: 4px;
      background-color: $colorLightGrey;
    }

    i {
      display: block;
      text-align: center;
      font-size: 1.8rem;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: 3rem;
      max-height: 100%;
    }

    i,
    img {
      margin-bottom: .5em;
    }

  }

  &:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  @include media-breakpoint-down(sm) {
    &:first-of-type {
      border-bottom-left-radius: 0;
    }

    &:nth-of-type(2) {
      border-top-right-radius: 4px;
    }

    &:nth-last-of-type(2) {
      border-bottom-left-radius: 4px;
    }

    &:last-of-type {
      border-top-right-radius: 0;
    }
  }

  @include media-breakpoint-up(sm) {
    &:nth-of-type(4) {
      border-bottom-right-radius: 4px;
    }

    &:nth-of-type(1) {
      border-bottom-left-radius: 4px;
    }
  }
}

