@import "../lib/bootstrap/scss/bootstrap-flex";

.link-wrapper {
  height: 5rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: #333;

    span {
      transition: all .2s ease-in-out;
      padding: 0 8px;
    }

    i {
      display: block;
      font-size: 1.8rem;
    }

    &:hover,
    &:focus {
      outline: none;

      span {
        transform: scale(1.1);
        text-shadow: 0 2px 5px rgba(51, 51, 51, .2);
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .link-wrapper {
    &:nth-of-type(4) {
      border-bottom-right-radius: 4px;
    }

    &:nth-of-type(3) {
      border-bottom-left-radius: 4px;
    }
  }
}

@include media-breakpoint-up(sm) {
  .link-wrapper {
    &:nth-of-type(4) {
      border-bottom-right-radius: 4px;
    }

    &:nth-of-type(1) {
      border-bottom-left-radius: 4px;
    }
  }
}
