@import "../lib/colors";

.icon-card {
  margin-top: 3rem;
  margin-bottom: 1rem;

  .icon-card__content {
    position: relative;
    border: 1px solid $colorLightGrey;
    border-radius: 4px;
    padding: 16px;
    padding-top: 2rem;
    text-align: center;

    .icon-card__icon {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 8px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
      background: #333;
      padding: 12px;
      color: $colorWhite;
      font-size: 2em;
    }

    .icon-card__title {
      position: relative;
      padding: 5px;
      padding-top: 15px;
    }

    .icon-card__title:before {
      position: absolute;
      bottom: 0;
      left: 25%;
      border-bottom: 1px solid #333;
      width: 50%;
      content: "";
    }
  }
}
