<h2 class="h3 mt-2">{{$t "teams._team.members.headline.whoDoYouWantToInvite"}}</h2>
<button type="button" data-role="teacher" class="btn btn-set-role" >{{$t "teams._team.members.button.teacherFromOtherSchool"}}</button>
<button type="button" data-role="expert" class="btn btn-set-role">{{$t "teams._team.members.button.externExpert"}}</button>
