<h2 class="h3 mt-2">{{$t "help.help_fromInviteExternalMember.heading.whoDoYouWantToInviteTheTeam" }}</h2>
<button type="button" data-role="teacher" class="btn btn-set-role" >{{$t "help.help_fromInviteExternalMember.button.teachersFromOtherSchools" }}</button>
<button type="button" data-role="expert" class="btn btn-set-role">{{$t "help.help_fromInviteExternalMember.button.externalExperts" }}</button>
