<h2 class="h3">
	{{$t "imprint.imprint_rights.headline.hassoPlattnerInstituteForDigital" }}
</h2>
<address>
	<p>Prof.-Dr.-Helmert-Str. 2-3
		<br /> 14482 Potsdam
		<br /> Email: <a href="mailto:{{getConfig "SC_CONTACT_EMAIL"}}" target="_blank"
			rel="noopener">{{getConfig "SC_CONTACT_EMAIL"}}</a>
		<br /> Internet: <a href="https://schul-cloud.org" target="_blank" rel="noopener">https://schul-cloud.org</a>
		<br /> Telefon: +49 (0)331 / 5509-0
		<br /> Telefax: +49 (0)331 / 5509-129
	</p>
</address>
<h2 class="h3">
	{{$t "imprint.imprint_rights.headline.managingDirectorAuthorized" }}
</h2>
<p>Prof. Dr. Christoph Meinel
	<br /> Registergericht: Amtsgericht Potsdam, Registernummer: HRB 12184
	<br /> Inhaltlich Verantwortlich gemäß § 6 MDStV: Prof. Dr. Christoph Meinel</p>
<h2 class="h3">
	{{$t "imprint.imprint_rights.headline.editorialStuff" }}
</h2>
<p>Hasso Plattner Institut</p>
