<p>{{$t "imprint.imprint_infotext_below.text.theContentOfThe" }} {{theme.title}} {{$t "imprint.imprint_infotext_below.text.areNotOfficialAnnouncements" }} {{theme.title}} {{$t "imprint.imprint_infotext_below.text.availableContentIsExpresslyProhibited" }}</p>
<p>{{$t "imprint.imprint_infotext_below.text.theHassoPlattnerInstituteRegularlyChecks" }} {{theme.title}}.</p>
