<p>{{$t "imprint.imprint_infotext_below.text.theContentOfThe" (dict "shortTitle" theme.short_title) }}</p>
<p>{{$t "imprint.imprint_infotext_below.text.theHassoPlattnerInstituteRegularlyChecks" }} {{theme.title}}.</p>
