<h2 class="h3">
	{{$t "imprint.imprint_platform_intro.headline.legalNotice" }}
</h2>
<p>
	{{{$t "imprint.imprint_platform_intro.text.TheProjectIsANonCommercialPilotProject" (dict "shortTitle" theme.short_title) }}}
</p>
