<div class="section-imprint {{#unless loggedin}}loggedout{{/unless}}">
	{{#embed "authentication/section"}}
		{{#content "body"}}
			{{#unless loggedin}}
				<div class="section-title">
					<h2>{{$t "imprint.global.heading.imprint" }}</h2>
				</div>
			{{/unless}}

			{{#embed "imprint/imprint_rights"}}{{/embed}}

			{{#embed "imprint/imprint_platform-intro"}}{{/embed}}

			{{#embed "imprint/imprint_infotext-below"}}{{/embed}}
		{{/content}}
	{{/embed}}
</div>
