<h3>
		Rechtliche Hinweise:
</h3>
<p>
	Die {{theme.title}} ist ein nicht kommerzielles Pilotprojekt, welches vom HPI in Kooperation mit dem nationalen Excellence-Schulnetzwerk MINT EC (<a href="https://www.mint-ec.de/" target="_blank" rel="noopener">https://www.mint-ec.de/</a>) durchgeführt und durch das Bundesministerium für Bildung und Forschung (BMBF) gefördert wird (mehr Informationen finden Sie unter: <a href="https://hpi.de/schul-cloud" target="_blank" rel="noopener">https://hpi.de/schul-cloud</a>).
</p>
