<h3>
		{{$t "imprint.imprint_platform_intro.heading.legalNotice" }}
</h3>
<p>
	{{$t "imprint.global.text.the" }} {{theme.title}} {{$t "imprint.imprint_platform_intro.text.isANonCommercialPilotProject" }} (<a href="https://www.mint-ec.de/" target="_blank" rel="noopener">https://www.mint-ec.de/</a>) {{$t "imprint.imprint_platform_intro.text.isCarriedOutAndFunded" }} <a href="https://hpi.de/schul-cloud" target="_blank" rel="noopener">https://hpi.de/schul-cloud</a>).
</p>
