<h3>
	HPI Schul-Cloud - Hasso-Plattner-Institut für Digital Engineering gGmbH
</h3>
<p>Prof.-Dr.-Helmert-Str. 2-3
	<br /> 14482 Potsdam
	<br /> Email: <a href="mailto:info@schul-cloud.org" target="_blank" rel="noopener">info@schul-cloud.org</a>
	<br /> Internet: <a href="https://schul-cloud.org" target="_blank" rel="noopener">https://schul-cloud.org</a>
	<br /> Telefon: +49 (0)331 / 5509-0
	<br /> Telefax: +49 (0)331 / 5509-129
</p>
<h3>
	Vertretungsberechtigter Geschäftsführer:
</h3>
<p>Prof. Dr. Christoph Meinel
	<br /> Registergericht: Amtsgericht Potsdam, Registernummer: HRB 12184
	<br /> Inhaltlich Verantwortlich gemäß § 6 MDStV: Prof. Dr. Christoph Meinel</p>
<h3>
	Redaktion:
</h3>
<p>Hasso Plattner Institut</p>
