<div class="section-imprint">
    <h5>
        <strong>HPI Schul-Cloud &ndash; Hasso-Plattner-Institut f&uuml;r Digital Engineering gGmbH</strong>
    </h5>
    <p>Prof.-Dr.-Helmert-Str. 2-3
        <br /> 14482 Potsdam
        <br /> Email:
        <a href="mailto:schul-cloud@hpi.de">schul-cloud@hpi.de</a>
        <br /> Internet:
        <a href="https://schul-cloud.org" target="_blank" rel="noopener">https://schul-cloud.org</a>
        <br /> Telefon: +49 (0)331 / 5509-0
        <br /> Telefax: +49 (0)331 / 5509-129</p>
    <h5>
        <strong>Vertretungsberechtigter Gesch&auml;ftsf&uuml;hrer:</strong>
    </h5>
    <p>Prof. Dr. Christoph Meinel
        <br /> Registergericht: Amtsgericht Potsdam, Registernummer: HRB 12184
        <br /> Inhaltlich Verantwortlich gem&auml;&szlig; &sect; 6 MDStV: Prof. Dr. Christoph Meinel</p>
    <h5>
        <strong>Redaktion:</strong>
    </h5>
    <p>Hasso Plattner Institut</p>
    <h5>
        <strong>Rechtliche Hinweise:</strong>
    </h5>
    <p>
        Die HPI Schul-Cloud ist ein nicht kommerzielles Pilotprojekt, welches vom HPI in Kooperation mit dem nationalen Excellence-Schulnetzwerk MINT EC (<a href="https://www.mint-ec.de/" target="_blank" rel="noopener">https://www.mint-ec.de/</a>) durchgeführt und durch das Bundesministerium für Bildung und Forschung (BMBF) gefördert wird (mehr Informationen finden Sie unter:
        <a href="https://hpi.de/schul-cloud" target="_blank" rel="noopener">https://hpi.de/schul-cloud</a>). Die Inhalte der HPI Schul-Cloud stellen keine offiziellen Verlautbarungen des HPI dar. Für die Inhalte sind die jeweiligen Autor/innen selbst verantwortlich. Ohne vorherige schriftliche Genehmigung ist eine kommerzielle Verbreitung der über die HPI Schul-Cloud verfügbaren Inhalte ausdrücklich untersagt, außer diese sind ausdrücklich gekennzeichnet. Die redaktionelle Verantwortung für den Inhalt verlinkter Webseiten anderer Anbieter (einschließlich der dort verankerten Links zu Dritten), insbesondere die Verantwortung für die Beachtung der Bestimmungen des Jugendschutz- und Datenschutzrechts, trägt in jeder Hinsicht der jeweilige Anbieter allein.</p>
        <p>Das Hasso-Plattner-Institut (HPI) überprüft und aktualisiert regelmäßig die Inhalte seiner Websites. Trotz größtmöglicher Sorgfalt können wir nicht ausschließen, dass einzelne Informationen auf unseren Seiten veraltet oder nicht mehr zutreffend sind. Daher können wir keine Haftung für Aktualität, Genauigkeit und Vollständigkeit der publizierten Informationen übernehmen. Das Gleiche gilt für alle Websites, die von den HPI-Seiten über Hyperlinks erreichbar sind. Für alle diese Links gilt: Wir erklären ausdrücklich, dass wir keinen Einfluss auf die Gestaltung und die Inhalte der verlinkten Seite haben. Deshalb distanzieren wir uns hiermit von allen Inhalten aller verlinkten Seiten und machen uns ihre Inhalte nicht zu Eigen. Diese Erklärung gilt für alle auf unserer Seite angebrachten Links zu fremden Seiten. Für den Inhalt dieser verlinkten Seiten ist das HPI nicht verantwortlich. Weiterhin behält sich das HPI jederzeit Änderungen und Ergänzungen der angezeigten Informationen vor. Inhalt und Struktur der HPI-Website sind durch das Copyright geschützt. Die Weiterverwendung von Informationen und Daten ist nur nach unserer Zustimmung zulässig. Wir wünschen Ihnen einen informativen Aufenthalt auf unseren Websites und freuen uns über Vorschläge, Wünsche oder Kritik zur HPI Schul-Cloud.</p>
    <h4 id="data_security">
        <strong>Datenschutzerkl&auml;rung</strong>
    </h4>
    <p>Hinweise zum Datenschutz entnehmen Sie bitte folgender Seite.</p>
    <h5>
        <strong>Privatsph&auml;re und Datenschutz</strong>
    </h5>
    <p>Mit der HPI Schul-Cloud eröffnet das Hasso-Plattner-Institut (HPI) die Möglichkeit, diverse Online-Lernangebote über eine Weboberfläche zu nutzen und fördert ein vernetztes Lernen und Arbeiten auf allen Ebenen der Schule. Alle Nutzer/innen – Schüler/innen bzw. Lehrkräfte – erhalten einen eigenen Zugang zur HPI Schul-Cloud. Über diesen können die Schüler/innen die bereitgestellten Arbeitsmaterialien und Aufgaben bearbeiten und weitere digitale Lernmaterialien auf schlanken Endgeräten nutzen. Darüber hinaus werden über die HPI Schul-Cloud verschiedene Anwendungen, wie ein Kalender bzw. Stundenplan sowie Werkzeuge für die Kommunikation und Kollaboration bereitgestellt. Die HPI Schul-Cloud bietet zudem nicht nur eine sichere Dateiablage für alle Nutzer/innen, Gruppen, Klassen und Schulen, sondern auch geschützte Arbeits- und Informationsbereiche.</p>
    <p>Zur Nutzung der HPI Schul-Cloud ist die Erhebung und Speicherung personenbezogener Daten unvermeidlich. Ihrer Anmeldung gehen die Informationen über die Art, den Zweck, die Verarbeitung und Nutzung der erhobenen Daten sowie die Zustimmung zu den Nutzungsbedingungen voraus. Der Schutz Ihrer Daten sowie die rechtmäßige Erhebung, Verarbeitung und Nutzung ist uns besonders wichtig.</p>
    <h5>
        <strong>1. Verantwortliche Stelle</strong>
    </h5>
    <p>Verantwortliche Stelle für Verarbeitung Ihrer personenbezogenen Daten ist die Schule, der Sie angehören oder der Schulträger. Ihre Schule oder der Schulträger ist beauftragende Stelle und obere Aufsichtsbehörde.</p>
    <h5>
        <strong>2. Erhebung personenbezogener Daten</strong>
    </h5>
    <p>Gem. Art. 4 Nr. 1 der europäischen Datenschutz-Grundverordnung (DS-GVO) beschreiben personenbezogene Daten Einzelangaben über persönliche oder sachliche Verhältnisse einer bestimmten oder – ohne besondere Schwierigkeiten bestimmbaren – natürlichen Person (Betroffene/r). Zu diesen Informationen gehören vor allem Details, die Rückschlüsse auf Ihre Identität zulassen, zum Beispiel Ihren Namen oder Ihre Email-Adresse. Statistische Daten, die keine Rückschlüsse auf Ihre Person zulassen, sind keine personenbezogenen Daten.</p>
    <p>Die Erhebung personenbezogener Daten ist auf ein notwendiges Minimum beschränkt. Zur Nutzung der HPI Schul-Cloud sind folgende Angaben erforderlich:</p>
    <ul>
        <li>Anzeigename</li>
        <li>Vor- und Nachname</li>
        <li>Email-Adresse</li>
        <li>Schule</li>
        <li>Passwort als Prüfsumme</li>
    </ul>
    <p>Diese Angaben werden gespeichert, damit Sie mit Ihrer Email-Adresse und dem von Ihnen selbst gewählten Passwort Zugriff auf die HPI Schul-Cloud erhalten.</p>
    <p>Darüber hinaus werden folgende Daten erfasst:</p>
    <ul>
        <li>Gruppenmitgliedschaften, z. B. Klasse und Kurse</li>
        <li>Geburtsdatum zur Einhaltung der gesetzlichen Altersbeschränkungen bezüglich der Lerninhalte und der Einwilligungserklärung</li>
        <li>Persönliche Einstellungen</li>
        <li>Zeitstempel, z. B. Erstellung des Nutzer-Accounts, letzter Login</li>
        <li>Selbst hochgeladene und freigegebene Dateien, z. B. Dokumente</li>
        <li>Selbst angelegte und freigegebene Termine, Gruppentermine </li>
        <li>Aufgabenstellungen und deren Bearbeitungen mit Abgabestatus und Feedback</li>
        <li>Zugriffe auf Lerninhalte, Nutzungsdaten der jeweiligen Inhalte und übermitteltes Feedback zu einzelnen Inhalten</li>
        <li>Erstellte Pseudonyme, deren Verwendung und zu substituierende Daten</li>
        <li>Inhalte der Kommunikation im Kontext von Kollaboration, der Lehrer-Schüler-Kommunikation, sowie der Schüler-Schüler-Kommunikation</li>
        <li>Art, Inhalt und Empfänger/innen von Benachrichtigungen</li>
    </ul>
    <p>Die Daten werden ausschließlich nach den Bestimmungen der DS-GVO,  des Bundesdatenschutzgesetzes (BDSG) und des Telemediengesetzes (TMG) erhoben und durch geeignete Maßnahmen organisatorischer sowie technischer Art geschützt. Sie werden derzeit auf den Servern des HPI in Potsdam gespeichert. Sämtliche Zugriffe auf die Server werden mit IP-Adresse und Zeitstempel protokolliert.</p>
    <p>Die Löschung der gespeicherten Daten erfolgt innerhalb von 7 Tagen nach Zugang des Widerrufs der Einwilligungserklärung, am Ende des laufenden Schuljahres, bei Verlassen der Schule, bei schuljahresübergreifenden Projekte bei Projektende, sowie bei Beendigung des HPI Schul-Cloud-Projekts.</p>
    <h5>
        <strong>3. Verarbeitung und Nutzung personenbezogener Daten</strong>
    </h5>
    <p>Sofern nicht explizit anderweitig gekennzeichnet werden die erhobenen Daten ausschließlich dazu genutzt, um die Bereitstellung und Funktion der HPI Schul-Cloud und der ihr angeschlossenen Dienste zu ermöglichen.</p>
    <p>Eine darüberhinausgehende Nutzung erfolgt lediglich im Rahmen des Forschungsvorhabens. Hier werden statistische Daten, wie z. B. die Anzahl der Klicks für die Weiterentwicklung der HPI Schul-Cloud genutzt. Die Auswertung erfolgt ausschließlich auf Basis pseudonymisierter Daten, sodass Rückschlüsse auf die betroffene Person ausgeschlossen bzw, wesentlich erschwert werden.</p>
    <h5>
        <strong>4. Cookies</strong>
    </h5>
    <p>Die HPI Schul-Cloud verwendet Cookies, d. h. kleine Dateien, die auf Ihrem Datenträger gespeichert werden und spezifische Einstellungen und Daten für den Austausch mit unserem System über Ihren Browser speichern. Durch die Nutzung von Session-Cookies, die verfallen, sobald Sie Ihren Browser schließen, gewährleisten wir eine effiziente und komfortable Nutzung der HPI Schul-Cloud, z. B. in dem Sinne, als dass Sie so lange an der HPI Schul-Cloud angemeldet bleiben, bis Sie sich wieder abmelden. Darüber hinaus verwenden wir temporäre Cookies im Rahmen des Webanalysetools Matomo, die eine Lebensdauer von einer Woche haben (s. Abschnitt 6).</p>
    <p>In den von uns verwendeten Cookies werden grundsätzlich keine personenbezogenen Daten gespeichert. Sofern Sie von der Speicherung der Cookies abweichen möchten, können Sie das Speichern von Cookies in Ihrem Browser deaktivieren, auf bestimmte Websites beschränken oder Ihren Browser so einstellen, dass Sie informiert werden, sobald ein Cookie gesendet wird. Sie können Cookies auch löschen. Bitte beachten Sie jedoch, dass Sie die HPI Schul-Cloud nicht nutzen können, wenn Sie die Speicherung von Session-Cookies grundlegend ablehnen.</p>
    <h5>
        <strong>5. Logdateien</strong>
    </h5>
    <p>Bei jedem Besuch der HPI Schul-Cloud werden von Ihrem Internetbrowser automatisch Nutzungsdaten übermittelt und in sogenannten Logdateien ausschließlich pseudonymisiert gespeichert, sodass keine personenbezogenen Daten wie IP-Adressen enthalten sind.</p>
    <h5>
        <strong>6. Webanalysen mit Matomo</strong>
    </h5>
    <p>Um die HPI Schul-Cloud kontinuierlich nutzungsgerecht zu verbessern, verwenden wir die Open Source Webanalyse-Software Matomo. Über diese erhalten wir Berichte über die Anzahl der Nutzer/innen. Die Analysen erfolgen ohne Weitergabe von Daten an Dritte.</p>
    <p>Matomo verwendet Cookies, die auf Ihrem Computer gespeichert werden und die Analyse der HPI Schul-Cloud-Nutzung ermöglichen. Die durch Cookies erzeugten Informationen über die Nutzung der HPI Schul-Cloud werden auf unserem Server gespeichert. Wir weisen darauf hin, dass auf unserer Website Matomo implementiert und die Funktion „IP anonymisieren“ verwendet wird. Dies ermöglicht uns eine anonyme Erfassung Ihrer IP-Adresse (IP-Maskierung). Ihre IP-Adresse wird lediglich in gekürzter Form pseudonymisiert gespeichert. Eine Zusammenführung mit anderen Daten findet nicht statt, sodass auch keine Rückschlüsse auf Ihre Identität möglich sind. Wenn Sie von der Speicherung von Cookies abweichen möchten, können Sie diese in Ihrem Browser deaktivieren, auf bestimmte Webseiten beschränken oder Ihren Browser so einstellen, dass Sie informiert werden, sobald ein Cookie gesendet wird. Cookies können Sie jederzeit von der Festplatte Ihres Computers löschen.</p>
    <p>Darüber hinaus können Sie dem Setzen von Matomo-Cookies widersprechen. Ihr Widerspruch wird in Form eines Opt-out-Cookies gespeichert. Bitte beachten Sie, dass beim Löschen sämtlicher Cookies auf Ihrem Computer auch dieses Opt-out-Cookie gelöscht wird. Wenn Sie die anonyme Datenerfassung durch das Webanalyse-Tool Matomo weiterhin ablehnen möchten, müssen Sie das Opt-out-Cookie anschließend erneut setzen. Das Opt-out-Cookie wird pro Browser und Computer gesetzt. Wenn Sie die HPI Schul-Cloud von der Schule und zu Hause aus oder über verschiedene Browser besuchen, müssen Sie den Opt-out-Cookie auf den unterschiedlichen Computern bzw. in den verschiedenen Browsern aktivieren. Weitere Informationen über Matomo erhalten Sie unter: <a href="https://matomo.org/" target="_blank" rel="noopener">https://Matomo.org/</a>.</p>
    <h5>
        <strong>7. Weitergabe von Daten</strong>
    </h5>
    <p>Ihre persönlichen Daten werden vom HPI geschützt. Das HPI gibt keine personenbezogenen Daten an Dritte weiter, es sei denn, die Weitergabe erfolgt in Erfüllung einer gesetzlichen Verpflichtung (z. B. im Rahmen von strafrechtlichen Ermittlungen). In diesem Falle werden nur solche Informationen weitergegeben, zu denen Ihre Schule und das HPI gesetzlich verpflichtet sind.</p>
    <p>Aus technischen oder organisatorischen Gründen behält sich das HPI vor, einzelne Hosting-Dienstleistungen an Subunternehmer zu vergeben. In diesem Fall werden die Nutzer/innen hierüber in Kenntnis gesetzt. Das HPI verpflichtet sich dazu, die hinzugezogenen Subunternehmer sorgfältig auszuwählen und so dafür Sorge zu tragen, dass es zu keiner Schwächung des Datenschutzniveaus kommt.</p>
    <p>Für die Nutzung interaktiver Inhalte externer Anbieter (z. B. Schulbuchverlage) werden Pseudonyme eingesetzt, die den Inhalte-Anbietern keinerlei Rückschlüsse auf die realen Nutzer/innen der HPI Schul-Cloud zulassen. Die pseudonymisierten Daten über die Nutzung digitaler Angebote (bspw. Testfragen) können von den Inhalte-Anbietern anonymisiert ausgewertet und zur Verbesserung ihrer Inhalte und Produkte eingesetzt werden.</p>
    <p>Ein Verzeichnis aller Empfänger personenbezogener Daten finden Sie <a href="{{@root.theme.documents.baseDir}}Datenschutz/Empfaenger-personenbezogener-Daten.pdf">hier</a>.</p>
    <h5>
        <strong>8. Ihre Rechte</strong>
    </h5>
    <p>Auf Grundlage der DS-GVO haben Sie das Recht auf Auskunft, Berichtigung, Sperrung oder Löschung Ihrer gespeicherten Daten.</p>
    <p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten.</p>
    <p>Sofern Sie registrierter Nutzer der HPI Schul-Cloud sind, wenden Sie sich bitte an Ihre Schule. Sind sie noch kein Nutzer, richten Sie Ihre Anfrage bitte an unseren Datenschutzbeauftragten per Email oder Post an:</p>
    <p>Hasso-Plattner-Institut <br />
        Prof.-Dr.-Helmert-Str. 2-3<br />
        14482 Potsdam<br />
        Email: <a href="mailto:datenschutz@schul-cloud.org">datenschutz@schul-cloud.org</a><br/>
    </p>
</div>
