@import '../lib/colors.scss';

.section-news {
    .container-fluid{
        padding:0;
        .card-deck-row {
            width: calc(100% + 30px);
        }
    }
    p:last-of-type{
        margin-bottom:0;
    }
}