@import '../lib/colors';

.section-news {
  .container-fluid {
    padding: 0;

    .card-deck-row {
      width: calc(100% + 30px);
    }
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  .left-btn-group {
    display: inherit;
    white-space: nowrap;

    a {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      vertical-align: middle;
    }
  }

  .more {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
.tabContainer {
  clear: both;
}
.news-title-container {
  display: flex;
  align-items: center;
}
.news-custom-style {
  display: flex;
  align-items: center;
  font-size: 100% !important;
}
.tooltip-inner {
  max-width: 100%;
  text-align: left !important;
}