@import '../lib/colors.scss';

.section-news {
	width:100%;
	float:left;
	padding: 15px 0px 50px;
	line-height: 1.75rem;

	h5 {
		color: $colorHPIRed;
		float: left;
	}

	a#showAll{
		float: right;
	}

	.articles {
		margin: 20px -15px;
	}
}
.newsEntry{
	display: table !important;
	border: 1px solid rgba(0, 0, 0, 0.125) !important;
	width: 100%;
}