{{#extend "lib/loggedin"}}
    {{#content "scripts" mode="append"}}
    {{/content}}

    {{#content "page"}}
        <div id="editor"></div>
        <script type="text/javascript" src="{{edtrSource}}"></script>
    {{/content}}
{{/extend}}