<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link
			href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Sans:400,400i,700|Kalam|Faster+One"
			rel="stylesheet"
	/>
	<link
		href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css"
		rel="stylesheet"
	/>
	<title>Schul-Cloud Editor</title>
</head>

<body>
	<div id="editor"></div>
	<script crossorigin type="text/javascript" src="{{EDTR_SOURCE}}/env.js" nonce="{{nonceValue}}" defer></script>
	<script crossorigin type="text/javascript" src="{{EDTR_SOURCE}}/index.js" nonce="{{nonceValue}}" defer></script>
</body>

</html>
