{{#extend "lib/loggedin"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/account/settings.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/settings.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}

    {{#content "page"}}
        <div class="route-account">
            {{#unless (userHasRole "student")}}
				{{#ifConfig "TEACHER_VISIBILITY_FOR_EXTERNAL_TEAM_INVITATION" "disabled"}}
                    <p>
                        Sichtbarkeit für Teameinladungen ist deaktiviert
                    </p>
                    <a href="/account" class="btn btn-secondary">
                        Zurück
                    </a>
				{{else}}
                <form method="post" action="/account/teamSettings">
                    <h5>Teams</h5>
                    <div class="form-group">
                        Sichtbarkeit für Teameinladungen
                        <p class="text-muted">Lehrkräfte anderer Schulen, die Teamadministratoren sind, können dich über den zentralen Verzeichnisdienst der {{theme.short_title}}bequem in ein schulübergreifendes Team einladen. Dein Name ist dabei deiner Schule zugeordnet und in der Verzeichnisstruktur unter <i>Name deines Bundeslandes &raquo; Name deiner Schule &raquo; dein Name</i> aufrufbar.</p>

                        {{#ifConfig "TEACHER_VISIBILITY_FOR_EXTERNAL_TEAM_INVITATION" "enabled"}}<label>Die Sichtbarkeit im zentralen Verzeichnis ist systemweit für alle Lehrer aktiviert und kann nicht deaktiviert werden.</label>{{/ifConfig}}

                        {{#ifConfig "TEACHER_VISIBILITY_FOR_EXTERNAL_TEAM_INVITATION" "opt-in"}}<label><input type="checkbox" name="discoverable" value="true" {{#ifeq ../../isDiscoverable true}}checked{{/ifeq}}> Sichtbarkeit im zentralen Verzeichnis aktivieren</label>{{/ifConfig}}

                        {{#ifConfig "TEACHER_VISIBILITY_FOR_EXTERNAL_TEAM_INVITATION" "opt-out"}}<label><input type="checkbox" name="discoverable" value="false" {{#ifeq ../../isDiscoverable false}}checked{{/ifeq}}> Sichtbarkeit im zentralen Verzeichnis deaktivieren</label>{{/ifConfig}}
                    </div>

                    {{> "lib/components/csrfInput"}}

                    <div class="form-group">
                        <a href="/account" class="btn btn-secondary">
                            Abbrechen
                        </a>
                        <button type="submit" class="btn btn-primary pull-right">
                            Teameinstellungen speichern
                        </button>
                    </div>
                </form>
				{{/ifConfig}}
            {{else}}
            <a href="/account" class="btn btn-secondary">
                Zurück
            </a>
            {{/unless}}
        </div>
    {{/content}}
{{/extend}}
