<div class="nav-item alert-button navbar-nav">
    <div class="dropdown minimal-button">
        <a
            class="btn btn-alert-info btn-thin dropdown-toggle btn-alert"
            href=""
            title="{{$t 'lib.loggedin.label.thereIsAProblem'}}"
            aria-label="{{$t 'lib.loggedin.label.thereIsAProblem'}}"
            data-toggle="dropdown"
        > <i class="mdi mdi-alert" aria-hidden="true"></i> </a>
        <div class="dropdown-menu">
            <div class="content js-alert-content"></div>
        </div>
    </div>
</div>
