{{#extend "lib/components/modal"}}
    {{#content "body"}}
        <div class="modal-body">
            {{#block "fields"}}{{/block}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-close">
                OK
            </button>
        </div>
    {{/content}}
{{/extend}}
