{{#extend "lib/components/modal"}}
    {{#content "body"}}
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-close">
                {{$t "global.button.cancel" }}
            </button>
            <button type="submit" class="btn btn-primary btn-close historyback">
                {{$t "lib.global.button.discardChange" }}
            </button>
        </div>
    {{/content}}
{{/extend}}
