<div class="modal-body">

	<h5 class="title">Titel</h5>
	<p class="message">Content</p>

</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-close">
		Schließen
	</button>

	<button type="submit" class="btn btn-primary btn-delete">Löschen</button>
</div>
