<div class="modal-body modal-notification"></div>

<div class="modal-footer">
	<button type="submit" class="btn btn-secondary btn-delete">Löschen</button>
	<button type="button" class="btn btn-primary btn-close">Schließen</button>
</div>
