{{#extend "lib/components/modal"}}
    {{#content "body"}}
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-close">
                Abbrechen
            </button>

            <button type="submit" class="btn btn-primary btn-close" onclick="window.history.back();">
                Änderung verwerfen
            </button>
        </div>
    {{/content}}
{{/extend}}
