mixin pagination(options)
    //-
        urlForPage is a function
    - let currentPage = (typeof options.currentPage=="string") ? parseInt(options.currentPage, 10) : options.currentPage
    - const numberOfPages = options.numPages;
    if(numberOfPages > 1)
        nav.pagination-wrapper
            ul.pagination
                +paginationItem(options, 1, '&laquo;')(class={disabled: currentPage == 1})
                - var lower = currentPage-2; if(currentPage >= (numberOfPages - 2)) lower = (numberOfPages - 4);
                - var upper = currentPage+2; if(upper < 5 && numberOfPages >= 5) upper = 5;
                - for(var i = lower; i <= upper; i++)
                    if (i <= numberOfPages && i > 0)
                        +paginationItem(options, i, i)(class={active: i == currentPage})
                +paginationItem(options, numberOfPages, '&raquo;')(class={disabled: currentPage == numberOfPages})

mixin paginationItem(options, page, label)
    li.page-item
        a.page-link(href=options.urlForPage(page))
            span!= label