mixin pagination(options)
    //-
        options:
            urlForPage: function(page) -> URL
            numPages
    - const {currentPage, numPages} = options;
    if(numPages > 1)
        nav.pagination-wrapper
            ul.pagination
                +paginationItem(options, 1, '&laquo;', {disabled: (currentPage == 1)})
                - const lower = (currentPage >= (numPages - 2)) ? (numPages - 4) : currentPage - 2;
                - const upper = (currentPage < 3 && numPages >= 5) ? 5 : currentPage + 2;
                - for(let i = lower; i <= upper; i++)
                    if (i <= numPages && i > 0)
                        +paginationItem(options, i, i, {active: (i == currentPage)})
                +paginationItem(options, numPages, '&raquo;', {disabled: (currentPage == numPages)})

mixin paginationItem(options, page, label, classes)
    li.page-item(class=classes)
        a.page-link(href=options.urlForPage(page))
            span!= label