@import '../lib/colors';
@import '../lib/bootstrap/scss/bootstrap-grid';
@import 'homework';

.section-homework {
  width: 100%;
  clear: both;
  .dates {
    float: right;
    padding: 10px 0;
    margin: 0;
    color: grey;
    text-align: right;
    font-size: $font-size-xs;
    @include media-breakpoint-down(xs) {
      width:100%;
      padding: 0 0 10px;
    }
  }
  .maintabs > .tab-links .tab-link{
    @include media-breakpoint-up(sm) {
      margin-top: 1.5rem;
    }
  }
}