@import '../lib/colors';
@import '../lib/bootstrap/scss/bootstrap-grid';
@import 'homework';

.section-homework {
  clear: both;
  width: 100%;

  .dates {
    margin: 0;
    font-size: $font-size-xs;

    @include media-breakpoint-down(xs) {
      padding: 0 0 10px;
      width: 100%;
    }

    i {
      font-size: $font-size-sm;
    }

    i.done {
      color: $colorSuccess;
    }

    i.danger {
      color: $colorDanger;
    }

    i.closed {
      color: $colorSemiTransparent;
    }
  }

  .maintabs>.tab-links .tab-link {
    @include media-breakpoint-up(sm) {
      margin-top: 1.5rem;
    }
  }
}
