@import '../lib/bootstrap/scss/variables';

.bulk-upload {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  align-items: center;
  height: calc(2.25rem + 2px);

  &.section-upload {
    margin: 0 0 $spacer-y 0;
    width: auto;
  }

  &__input {
    position: relative;
    opacity: 0;
    z-index: 2;
    margin: 0;
    width: 100%;
    height: calc(2.25rem + 2px);
    overflow: visible;
  }

  &__label {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    margin-bottom: .5rem;
  }
}
