@import '../lib/bootstrap/scss/variables';

.bulk-upload {
	height: calc(2.25rem + 2px);
	position: relative;
	flex: 1 1 auto;
	display: flex;
	align-items: center;

	&.section-upload {
		width: auto;
		margin: 0 0 $spacer-y 0;
	}

	&__input {
		overflow: visible;
		position: relative;
		z-index: 2;
		width: 100%;
		height: calc(2.25rem + 2px);
		margin: 0;
		opacity: 0;
	}

	&__label {
		display: inline-block;
		margin-bottom: .5rem;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1;
	}
}
