@import '../lib/colors';

.section-uploaded-files {
  .fa {
    margin-right: 10px;
  }

  .fa-active {
    float: right;
    .fa {
      cursor: pointer;
      color: $primaryColor;
    }

    .fa.disabled {
      cursor: default;
      color: $colorDarkerGrey;
    }

    a {
      text-decoration: none;
    }
  }
}
