@import '../lib/colors';

.info-custom {
	background-color: $colorGrey;
	border-color: $colorLightGrey;
	color: $fontColor;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 18px;

	i {
		margin: auto;
	}
}
