@import '../lib/colors';
@import '../lib/bootstrap/scss/bootstrap-grid';


.count-badge[data-badge]:after {
  display: inline-block;
  border-radius: 0.25rem;
  background: $colorLightGrey;
  padding: 0.25em 0.4em;
  vertical-align: baseline;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  color: $fontColor;
  font-size: 75%;
  font-weight: 700;
  content: attr(data-badge);
}


.homework {
  clear: both;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  ol {
    list-style: none;
  }
}

.assignment {
  position: relative;
  padding: 10px;
  width: 100%;
  text-decoration: none;

  a {
    color: #373a3c;

    &:hover {
      text-decoration: none !important;
      color: #373a3c;
    }
  }

  .dates {
    display: flex;
    float: right;
    color: #373a3c;
    font-size: $font-size-xs;

    i {
      align-self: center;
      padding-right: 10px;
      font-size: $font-size-lg;
    }

    i.done {
      color: $colorSuccess;
    }

    i.danger {
      color: $colorDanger;
    }

    i.closed {
      color: $colorSemiTransparent;
    }
  }

  &.has-stats {
    min-height: 165px;
  }

  .state {
    display: flex;
    position: relative;
    float: right;
    clear: right;
    width: auto;
    text-align: right;
    line-height: 0.8;
    color: #808080;
    font-size: 0.8em;
    progress {
      height: 10px;
    }

    div {
      align-self: center;
      color: #000000;
    }
  }

  &.private {
    min-height: 165px;

    h5::before {
      content: "🔒";
    }
  }

  h5 {
    margin: 0;
    color: $primaryColor;
  }

  .description {
    margin: 10px 0;
    min-height: 50px;
    text-decoration: none;
    color: #373a3c;

    &:hover {
      text-decoration: none;
    }

    word-break: break-word;

    @include media-breakpoint-down(xs) {
      margin-right: 25px;
    }

    h1 {
      font-size: 1.3rem;
      font-weight: bold
    }

    h2 {
      font-size: 1.2rem;
      font-weight: bold;
      font-style: italic
    }

    h3 {
      text-decoration: underline
      font-size: 1.1rem;
      font-style: italic;
    }

    p {
      margin-bottom: .25rem;
      font-size: 1rem;
    }

    a {
      text-decoration: underline;
      color: $primaryColor;
    }

    blockquote {
      margin-left: 1rem;
      border-left: 2px solid #808080;
      padding-left: 5px;
      color: #808080;
    }
  }

  .more {
    position: relative;
    float: right;
    clear: both;
    padding: 5px 5px 5px 10px;
    text-align: right;
    text-decoration: none;
    color: $primaryColor;
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
