@import '../lib/bootstrap/scss/bootstrap-flex';
.homework {
  .description {
    margin: 10px 0;
    min-height: 75px;
    color: #373a3c;
    a{
      text-decoration: underline;
    }
    text-decoration:none;
    &:hover{text-decoration:none;}
    word-break: break-all;
    @include media-breakpoint-down(xs) {
      margin-right: 25px;
    }
    h1 {font-size: 1.3rem;font-weight:bold}
    h2 {font-size: 1.2rem;font-weight:bold;font-style:italic}
    h3 {font-size: 1.1rem;font-style:italic;text-decoration:underline}
    p  {font-size: 1rem;margin-bottom:.25rem;}
    blockquote{
      color: grey;
      margin-left: 1rem;
      border-left: 2px solid grey;
      padding-left: 5px;
    }
  }
}