@import '../lib/colors';
@import '../lib/filter/filter';
@import '../lib/bootstrap/scss/bootstrap-grid';
@import 'homework';

.route-homework {
  position: relative;
  .sort{
    display: flex;
    float: left;
    margin: 10px 0 0;
    #sortselection_chosen{
      float: left;
      width: calc(100% - 30px) !important;
      min-width: 200px;
    }

    #desc{
      margin: 0;
      border: none;
      background-color: #ffffff;
      cursor: pointer;
      cursor: hand;
      padding: 0;
      width: 30px;
      text-align: center;
    }
  }

  .create {
    float: right;
    margin: 10px 0 0;
    i {
      display: none;
    }

    p {
      margin: 0;
    }

    @include media-breakpoint-down(xs) {
      position: fixed;
      right: 5vw;
      bottom: 5vw;
      z-index: 999;
      margin: 0;
      border: none;
      border-radius: 50%;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      padding: 9px;
      width: 56px;
      height: 56px;
      overflow: hidden; 
      text-indent: 4px;
      line-height: 24px;
      font-size: 40px;
      i {
        display: initial;
      }

      p {
        position: absolute;
        top: 11px;
        right: 67px;

        transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
        visibility: hidden;
        opacity: 0;
        border-radius: 3px;
        background-color: #212121;
        padding: 5px 9px;
        white-space: nowrap;
        color: #fff;
        font-size: 14px;
      }

      &:hover p {
        visibility: visible;
        opacity: .8;
        transition-delay: 0s, 0s;
      }
    }
  }

  .ckcontent{
    margin-bottom: 20px;
  }

  .action-group{
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .disableable.disabled{
    -webkit-filter: grayscale(100%) opacity(0.7);
    filter: grayscale(100%) opacity(0.7);
  }
}

.tooltip .tooltip-inner{
  text-align: right;
}
