@import '../lib/colors';
@import '../lib/filter/filter';
@import "../lib/bootstrap/scss/_variables";
@import "../lib/bootstrap/scss/mixins/_breakpoints";

.route-homework {
  position: relative;
  .sort{
    float: left;
    margin: 10px 0 0;
    display: flex;
    #sortselection_chosen{
      min-width: 200px;
      width: calc(100% - 30px) !important;
      float: left;
    }
    #desc{
      width: 30px;
      padding: 0;
      text-align:center;
      border: none;
      margin: 0;
      background-color: white;
      cursor: pointer;
      cursor: hand;
    }
  }
  .ckcontent{
    margin-bottom: 35px;
  }
  .disableable.disabled{
    -webkit-filter: grayscale(100%) opacity(0.7);
    filter: grayscale(100%) opacity(0.7);
  }
}
.tooltip .tooltip-inner{
  text-align: right;
}