@import '../lib/colors.scss';
@import '../lib/bootstrap/scss/bootstrap-flex';
@import 'homework.scss';

.route-homework {
  position: relative;
  .sort{
    float: left;
    margin: 10px 0 0;
    display: flex;
    #sortselection_chosen{
      min-width: 200px;
      width: calc(100% - 30px) !important;
      float: left;
    }
    #desc{
      width: 30px;
      padding: 0;
      text-align:center;
      border: none;
      margin: 0;
      background-color: white;
      cursor: pointer;
      cursor: hand;
    }
  }
  .create {
    float: right;
    margin: 10px 0 0;
    i {
      display: none;
    }
    p {
      margin: 0;
    }
    @include media-breakpoint-down(xs) {
      margin: 0;
      position: fixed;
      z-index: 999;
      width: 56px;
      height: 56px;
      font-size: 24px;
      line-height: 24px;
      border: none;
      border-radius: 50%;
      padding: 16px;
      bottom: 5vw;
      right: 5vw;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      i {
        display: initial;
      }
      p {
        transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
        opacity: 0;
        visibility: hidden;

        position: absolute;
        top: 11px;
        right: 67px;
        padding: 5px 9px;
        border-radius: 3px;
        font-size: 14px;
        color: #fff;
        background-color: #212121;
        white-space: nowrap;
      }
      &:hover p {
        transition-delay: 0s, 0s;
        opacity: .8;
        visibility: visible;
      }
    }
  }
  .search-wrapper {
    float: left;
    width: 50%;
    margin: 10px 0 0;
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
  .section-search {
    .filters {
      clear: both;
    }
    padding: 10px 0;
    .form-group {
      margin: 0;
    }
    .card-block {
      padding: 1rem;
      > row {
        margin: 0;
      }
    }
  }
}

.modal-body {
  textarea {
    min-height: 100px;
  }
}
