@import '../lib/colors';
@import '../lib/bootstrap/scss/bootstrap-flex';

.tab-content#submissions {
  table {
    border: none;
    width: 100%;
    border-collapse: collapse;
    thead, thead tr {
      border: none;
      @include media-breakpoint-down(xs) {
        display: none;
      }
      th:nth-of-type(n+3) {
        text-align: right;
      }
    }
    th span {
      color: grey;
      font-weight: lighter;
      &::before {
        content: "(";
      }
      &::after {
        content: ")";
      }
    }
  }
  .usersubmission {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    clear: both;
    cursor: pointer;
    width: 100%;
    .userinfo {
      width: 100%;
      .picture {
        border-radius: 50%;
        height: 32px;
        width: 32px;
        margin-right: 10px;
      }

      > td {
        border: none;
        padding: 5px 0 5px 5px;
        vertical-align: middle;
        color: grey;
        &:nth-of-type(n+3) {
          text-align: right;
          padding: 5px 5px 5px 0;
        }
      }
      .fa.green {
        color: green
      }
      .fa.red {
        color: red
      }
      @include media-breakpoint-down(xs) {
        position: relative;
        td {
          padding: 5px .1rem;
        }
        .picture {
          margin-right: 0;
        }
      }
    }
    &.active .evaluation {
      display: table-row;
      cursor: initial;
    }
    &:not(.active)
    .evaluation {
      position: absolute;
      left: 200vmax;
    }

    .evaluation {
      background: transparent;
    }
  }
  .groupNames span:not(:last-child):after{
    display: inline;
    content:",";
  }
}

.section-evaluation {
  clear: both;

  .submission > h6,
  .comment > h6 {
    font-size: 1.2rem;
  }

  .nav-item.active {
    border-bottom: 1px solid $secondaryColor;
  }
  .feedback {
    max-width: 100%;
    margin: 0;
    .btn-primary {
      width: 100%;
    }
  }
}

.loadingspinner {
  text-align: center;
  display:inline-block;
  vertical-align: bottom;
  margin-left: .5em;
}

.loadingspinner > div {
  width: .5em;
  height: .5em;
  background-color: #fff;
  margin: 0 1px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loadingspinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loadingspinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.section-uploaded-files {
  .fa {
    margin-right: 10px;
  }
  .fa-active {
    float: right;
    .fa {
      color: $primaryColor;
      cursor: pointer;
    }
    .fa.disabled {
      color: $colorDarkerGrey;
      cursor: default;
    }
    a {
      text-decoration: none;
    }
  }
}

.submissionLabel {
  color: $primaryColor;
  font-size: 1rem;
  margin-bottom: 1rem;
  .fa {
    padding-right: 0.5rem;
  }
}
