<p>{{$t "firstLogin.welcome.text.welcomeBackTothe" (dict "shortTitle" @root.theme.short_title "firstName" @root.currentUser.firstName "lastName" @root.currentUser.lastName)}},</p>

<p>{{$t "firstLogin.welcome.text.dueToAChangeInTheLowerSaxony" (dict "shortTitle" @root.theme.short_title) }}</p>

<p>{{$t "firstLogin.welcome.text.thankYouForTakingNoteOf" }}</p>
