section.section-messages
    .container-fluid
        .row
            .col-sm-7
                .row
                    h5
                        | Briefkasten
                        span.tag.tag-default 23
                .row.messages
                    .row.message
                        .col-sm-2
                            img.avatar(src='https://randomuser.me/api/portraits/men/1.jpg')
                            strong Tom
                        .col-sm-10
                            h6 [Schulfest] Am 31.M&auml;rz findet unser Allj&auml;hrliches Schulfest statt
                            p
                                | Liebe Lehrer, liebe Mitsch&uuml;ler, im Namen der Sch&uuml;lervertretung lade ich Euch und eure Familien ganz herzlich zum Schulfest im n&auml;chsten Monat ein. Beginn ist um 15 Uhr in der Aula. Im Anschluss bieten wir verschiedene Attraktionen wie Kuchenverkauf, Beatboxen und Fu&szlig;ball an.
                                a(href='#') Ablaufplan
                    .row.message
                        .col-sm-2
                            img.avatar(src='https://randomuser.me/api/portraits/women/91.jpg')
                            strong Jana
                        .col-sm-10
                            h6 [Projekt] Abgabe Physik-Projekt am Dienstag
                            p
                                | Bis Dienstag m&uuml;ssen noch die Details zu Magnetfeldern und Stromleitern auf unser Plakat. K&ouml;nntest du das &uuml;bernehmen, Lukas? Katrin und ich k&uuml;mmern uns in der Zwischenzeit um die schriftliche Ausarbeitung. Treffen wir uns nach der 8ten Stunde noch in der Bibliothek?
            .col-sm-4.offset-sm-1
                .row
                    h5 Mitteilungen
                .row.notices
                    .row.notice
                        .col-sm-12
                            .alert.alert-warning.alert-dismissible(role='alert')
                                button.close(type='button', data-dismiss='alert', aria-label='Close')
                                    span(aria-hidden='true') &times;
                                |
                                strong Mathe (20. M&auml;rz 2017, 1. + 2. Stunde):
                                br
                                |  F&auml;llt aus.
                    .row.notice
                        .col-sm-12
                            .alert.alert-info.alert-dismissible(role='alert')
                                button.close(type='button', data-dismiss='alert', aria-label='Close')
                                    span(aria-hidden='true') &times;
                                |
                                strong Englisch (20. M&auml;rz 2017, 1. + 2. Stunde):
                                br
                                |  Vertretung durch Herrn M&uuml;ller.