section.section-news
    .container-fluid
        .row
            .col-sm-12.no-padding
                h5 Neuigkeiten
        .row.articles
            .card-group
                .card.card-block
                    strong.card-text Willkommen im Schuljahr 2016!
                    p.card-text
                        | Die Schulleitung hei&szlig;t alle (neuen) Sch&uuml;ler im neuen Schuljahr willkommen. Auch dieses Jahr haben wir wieder viele neue Veranstaltungen f&uuml;r Euch geplant. Unter anderem ein Besuch bei der UNESCO und einen Sch&uuml;leraustausch mit einer Schule im Silicon Valley der Klasse 10. Viel Erfolg w&uuml;nscht Euch das Lehrerkolleg!
                    p.card-text
                        small.text-muted Last updated 3 mins ago
                    |
                    a(href='#') weiterlesen
                .card.card-block
                    strong.card-text Forschungsprojekt Umwelt
                    p.card-text
                        | Um die Energieeffizienz von Elektroautos zu beweisen, f&uuml;hrten die Sch&uuml;ler der 11. Klasse in den vergangenen Monaten verschiedene Experimente durch. Unter Anderem mit einem Tesla Model X auf der Langstrecke von Berlin nach K&ouml;ln. Hierbei fanden sie heraus, dass insgesamt nur &frac14; der Energie der konventionellen Treibstoffe ben&ouml;tigt wurde.
                    p.card-text
                        small.text-muted Last updated 3 mins ago
                    |
                    a(href='#') weiterlesen
                .card.card-block
                    strong.card-text Preisverleihung Sommerfestspiele
                    p.card-text
                        | Auch in diesem Jahr gab es wieder herausragende sportliche Leistungen. Unter Anderem ein neuer Schulrekord im 100m-Lauf bei den M&auml;dchen und beim Weitsprung der Jungen. Auch f&uuml;r die Versorgung mit Wasser und Energieriegel wurde durch den F&ouml;rderverein gesorgt. Die Urkunden&uuml;bergabe findet am 30. Juni um 13 Uhr in der Sporthalle statt.
                    p.card-text
                        small.text-muted Last updated 3 mins ago
                    |
                    a(href='#') weiterlesen
                .card.card-block
                    strong.card-text Einf&uuml;hrung der Schul-Cloud
                    p.card-text
                        | Um auch n&auml;chsten Jahrzehnt des 21. Jahrhunderts bildungsm&auml;&szlig;ig spitze aufgestellt zu sein, nutzen wir ab sofort die Schul-Cloud. Diese erm&ouml;glicht es unter Anderem, sich mit den bestehenden Moodle-Accounts anzumelden, Office zu nutzen und auf Bildungsangebote zuzugreifen. Ebenfalls ist es m&ouml;glich, aktualisierte Stundenpl&auml;ne und Aufgaben einzusehen.
                    p.card-text
                        small.text-muted Last updated 3 mins ago
                    |
                    a(href='#') weiterlesen