section.section-tools
    .container-fluid
        .row
            .col-sm-12.no-padding
                h5 Tools
        .row.buttons
            .row
                .col-sm-3
                    button.btn.btn-block
                        i.fa.fa-pencil
                        span Office
                .col-sm-3
                    button.btn.btn-block
                        i.fa.fa-calendar
                        span Kalender
                .col-sm-3
                    button.btn.btn-block
                        i.fa.fa-group
                        span Gruppen
                .col-sm-3
                    button.btn.btn-block
                        i.fa.fa-camera
                        span Video