{{#extend "lib/loggedin" notitle="true"}}

{{#content "scripts" mode="append"}}
{{/content}}

{{#content "page"}}
<div id="editor"></div>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/schul-cloud/edtrio@5751c5d3b587216773b5efc74ee189e8ca0e8d32/dist/index.js"></script>
{{/content}}
{{/extend}}