{{#extend "lib/default"}}

	{{#content "styles" mode="append"}}
		<link rel="stylesheet" href="/styles/authentication/home.css"/>
		<link rel="stylesheet" href="/styles/authentication/login.css"/>
	{{/content}}

	{{#content "body"}}
		<main class="container">
			<div class="row">
				<section class="col-md-6 offset-md-3">
					<section class="card">
						<div class="card-block">
							<div class="text-center">
								<h3>Inhalt gewählt</h3>
								<h4>Bitte speichern, um {{title}} in den Kurs einzufügen.</h4>
							</div>
						</div>
					</section>
				</section>
			</div>
		</main>
	{{/content}}

	{{#content "scripts" mode="append"}}

		<script type="text/javascript">

				window.parent.document.getElementById('ltiTitle').value = '{{title}}';
				window.parent.document.getElementById('ltiUrl').value = '{{url}}';

		</script>

	{{/content}}
{{/extend}}
