{{#extend "lib/loggedin"}}
    {{#content "page"}}
        <section class="section-courses">
                {{#if courses}}
                    {{> 'dashboard/components/card_section' section-id="courses" title="" content=courses link-text="Öffnen"}}
                {{else}}
                    <div class="col-xs-12">
                        <p class="text-muted text-center">
                            <span>Keine Kurse.</span>
                        </p>
                    </div>
                {{/if}}

                {{#userHasPermission "COURSE_EDIT"}}
                    <section>
                        <div class="section-title mb-2"><h4>Meine Vertretungen</h4>
                        {{#if ../substitutionCourses}}
                            {{> 'dashboard/components/card_section' section-id="substitutionCourses" title="" content=../substitutionCourses link-text="Öffnen"}}
                        {{else}}
                            <div class="col-xs-12">
                                <p class="text-muted text-center">
                                    <span>Keine Kurse.</span>
                                </p>
                            </div>
                        {{/if}}
                        </div>
                    </section>
                {{/userHasPermission}}

                {{#userHasPermission "COURSE_EDIT"}}
                <div class="col-xs-12">
                    <div class="row padding-top">
                        <a href="/courses/add" class="btn btn-add btn-primary">Kurs anlegen</a>
                    </div>
                </div>    
                {{/userHasPermission}}
        </section>
    {{/content}}
{{/extend}}
