{{#extend "lib/loggedin"}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/coursesOverview.js" type="text/javascript" defer></script>
    {{/content}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/course.css"/>
    {{/content}}

    {{#content "page"}}
        <section class="section-courses">
          {{#unless emptyState}}
                {{#if courses}}
                    {{> 'dashboard/components/card_section' section-id="courses" title="" content=courses link-text="Öffnen" additionalInfoName="memberCount"}}
                {{/if}}

                {{#userHasPermission "COURSE_EDIT"}}
                    <section>
                        <div class="section-title mb-2"><h4>Meine Vertretungen</h4></div>
                        {{#if ../substitutionCourses}}
                            {{> 'dashboard/components/card_section' section-id="substitutionCourses" title="" content=../substitutionCourses link-text="Öffnen" additionalInfoName="memberCount"}}
                        {{else}}
                            <div class="col-xs-12">
                                <p class="text-muted">
                                    <span>Keine Vertretungen</span>
                                </p>
                            </div>
                        {{/if}}
                    </section>
                {{/userHasPermission}}

                {{#userHasPermission "COURSE_EDIT"}}
                <div class="col-xs-12">
                    <div class="row padding-top">
                        <div class="col-sm-12">
                            <div class="pull-right">
                              <a class="btn btn-secondary btn-import-course">Kurs importieren</a>
                              <a href="/courses/add" class="btn btn-primary btn-add">Kurs anlegen</a>
                           </div>
                        </div>
                    </div>
                </div>
                {{/userHasPermission}}
          {{else}}
            <div class="course-empty">
              {{> 'courses/components/courseEmpty'}}

              {{#userHasPermission "COURSE_EDIT"}}
                <div class="row padding-top">
                    <div class="center buttons">
                        <a class="btn btn-secondary btn-lg btn-import-course">Importiere einen Kurs</a>
                        <a href="/courses/add" class="btn btn-primary btn-lg btn-add">Erstelle deinen ersten Kurs</a>
                    </div>
                </div>
              {{/userHasPermission}}
            </div>
          {{/unless}}

            {{#embed "lib/components/modal" class="member-modal"}}
                {{#content "body"}}
                    <div class="modal-body">
                        <div id="member-modal-body">
                        </div>
                        {{#userHasPermission "COURSE_EDIT"}}
                            <div id='course-edit'></div>
                        {{/userHasPermission}}
                    </div>
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" class="import-modal"}}
                {{#content "fields"}}
                    {{> "courses/forms/form-import-course"}}
                {{/content}}
            {{/embed}}

        </section>
    {{/content}}
{{/extend}}
