.DS_Store
.gitignore
.git
.github
.webpack-changed-plugin-cache
.gulp-changed-smart.json
.idea
.build
.travis.yml*
Dockerfile*
README.md
CHANGELOG.md
compose-client-test.dummy
deploy.sh
travis*
static
test
docs
ansible