language: node_js
node_js: 'lts/*'
branches:
  only:
    - develop
    - master
    # naming convention feature/<JIRA-Ticket ID>-<Jira_Summary>
    - /^(hotfix|feature|release)\/$/
services:
  - docker
env:
  global:
    - DOCKER_COMPOSE_VERSION=1.27.4 #needed for e2e-tests
    - GIT_SHA=$( git rev-parse HEAD )
    - SC_DEMO_USER_PASSWORD=Schulcloud1!
    - BACKEND_URL=http://localhost:3030
    - PUBLIC_BACKEND_URL=http://localhost:3030
    - FEATURE_TEAMS_ENABLED=true
    - LERNSTORE_MODE=LEGACY
stages:
  - test
  - deploy

jobs:
  include:
    - name: mocha:unit
      script: bash ./scripts/unitTest.sh
    - script: curl "https://raw.githubusercontent.com/hpi-schul-cloud/end-to-end-tests/master/scripts/ci/fetch.travis.sh" | bash
      name: end-to-end-tests
      before_install:
        - sudo rm /usr/local/bin/docker-compose
        - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
        - chmod +x docker-compose
        - sudo mv docker-compose /usr/local/bin
      install:
        - echo "skipping install"
      after_failure:
        - cat /home/travis/.npm/_logs/*debug.log
    - stage: deploy
      name: Build All Instances
      language: generic
      before_install:
        - mkdir .build
        - openssl aes-256-cbc -K $encrypted_0ddd2445e49f_key -iv $encrypted_0ddd2445e49f_iv -in travis_rsa.enc -out .build/travis_rsa -d
      before_script:
        - echo $TRAVIS_BRANCH
        - echo $TRAVIS_TAG
      script: bash ./build.sh

cache:
  directories:
    - "$HOME/.npm" # cache all packages installed with "npm ci"
