---
language: node_js
node_js: '8'
sudo: required
services:
- docker
env:
  global:
    - GIT_SHA=$(git rev-parse HEAD)
    - SC_DEMO_USER_PASSWORD=schulcloud
    - BACKEND_URL=https://api.niedersachsen.cloud
    - PUBLIC_BACKEND_URL=https://api.niedersachsen.cloud
#env:
#- SC_DEMO_USER_PASSWORD=schulcloud
#- BACKEND_URL=https://api.niedersachsen.cloud
#- PUBLIC_BACKEND_URL=https://api.niedersachsen.cloud
addons:
  chrome: stable
  firefox: latest
before_install:
- openssl aes-256-cbc -K $encrypted_839866e404c6_key -iv $encrypted_839866e404c6_iv -in travis_rsa.enc -out travis_rsa -d
- npm install pm2 -g
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile
  --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
install:
- npm install
before_script:
- npm install -g gulp-cli
- gulp
- pm2 start bin/www
- sleep 5
- chmod +x diff.sh
- chmod +x frontend_test.sh
script:
- npm test
- export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH;
  else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
- git fetch
- "./diff.sh"
- if [ "$SKIP_NIGHTWATCH" == "true" ]; then echo "skipping nightwatch tests"; else
  sh ./frontend_test.sh; fi
cache:
  directories:
  - node_modules

deploy:
  provider: script
  script: bash ./deploy.sh
  on:
   all_branches: true
   condition: $TRAVIS_BRANCH =~ ^development|N21/merge$

