@import "../../../static/fonts/ptsans/ptsans.css";
@import "../../../static/fonts/fontawesome/fontawesome.css";
@import "colors";

@import "bootstrap/scss/bootstrap";
@import "fontawesome/font-awesome";

/* customize bootstrap stuff in /bootstrap/scss/_custom.scss */

* {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

.no-padding {
	padding:0px;
}
