@import '../lib/bootstrap/scss/custom';

.registration-button {
    display: flex;
    width: 100%;
    text-align: left;
}
.registration-label {
    flex: 0 0 40%;
    line-height: 35px;
    font-family: $font-family-base;
}