<div class="form-group">
    <label for="shareToken">Verteile folgenden Code an einen Lehrer-Kollegen, um das Thema zu einem Kurs hinzuzufügen. Diese Funktion befindet sich auf der Kursseite.</label>
    <input class="form-control" name="shareToken" type="text" />
</div>
<div class="course-qr form-group"></div>