<div class="form-group">
    <label for="shareTokenTopicExport">{{$t "topic.form_share.label.distributeTheFollowingCode" }}</label>
    <input class="form-control" name="shareToken" id="shareTokenTopicExport" type="text" />
</div>
<div class="course-qr form-group"></div>