{{#extend "lib/loggedin" hideSearch="true"}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/vendor-vue.js" defer></script>
        <script src="/vendor/ckeditor/ckeditor.js" defer></script>
        <script src="/scripts/content/review-content.js" defer></script>
    {{/content}}

    {{#content "styles" mode="append"}}
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    {{/content}}

    {{#content "page"}}

      <div data-user-id="{{ ../currentUser._id }}" id="app">
      </div>

    {{/content}}


{{/extend}}
