<!-- TODO show ratings -->
{{#extend "lib/loggedin" hideSearch="true"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/content/content.css"/>
    {{/content}}

    {{#content "page"}}
        <section class="store container">

            <div class="row">
                <div class="col-sm-12">
                    {{> "content/forms/form-search" }}
                    {{#if query }}
                        {{#if searchResults}}
                            <h5>{{ searchResults.total }} Suchergebnisse für "{{ query }}"</h5>
                        {{else}}
                            <h5>Es wurden keine Suchergebnisse für "{{ query }}" gefunden</h5>
                        {{/if}}
                        <hr>
                    {{/if}}
                </div>
            </div>

            <div class="row equal-height">
                {{#each searchResults.data}}
                    <div class="col-md-6 col-lg-4">
                        {{> "content/item" }}
                    </div>
                {{/each}}
            </div>
            <div class="row">
                {{> "lib/components/pagination" settings=pagination }}
            </div>

        </section>

        {{#embed "lib/components/modal-form" method="post" class="edit-modal"}}
            {{#content "fields"}}
                {{> "content/forms/form-add-lesson" }}
            {{/content}}
        {{/embed}}

        {{#embed "lib/components/modal" class="external-link-modal"}}
            {{#content "body"}}
                {{> "content/forms/form-external-link"}}
            {{/content}}
        {{/embed}}

    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/content.js" type="text/javascript" defer></script>
    {{/content}}
{{/extend}}
