<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>Kontakt</h4>
				<ul>
					<li><a href="mailto:brandenburg@schul-cloud.org" target="_blank" rel="noopener">Allgemeine Anfragen: <span class="text-nowrap">brandenburg@schul-cloud.org</span></a></li>
					{{> "lib/extended_footer_links"}}
				</ul>
			</div>
			<div class="col-md-4">
				<h4>Links</h4>
				<ul>
					<li><a href="/impressum">Impressum</a></li>
					<li><a href="/datenschutz">Datenschutzerklärung: HPI</a></li>
					<li><a href="{{theme.documents.specificFiles.privacy}}" target="_blank" rel="noopener">Datenschutzerklärung: Muster Schulen</a></li>
					<li><a href="{{theme.documents.specificFiles.termsOfUse}}" target="_blank" rel="noopener">Nutzungsordnung</a></li>
					<li><a href="https://github.com/schul-cloud/" target="_blank" rel="noopener">GitHub</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
