<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>Kontakt</h4>
				<ul>
					<li><a href="mailto:feedback@schul-cloud.org" target="_blank" rel="noopener">Support: <span
								class="text-nowrap">feedback@schul-cloud.org</span></a></li>
					<li><a href="mailto:brandenburg@schul-cloud.org" target="_blank" rel="noopener">Allgemeine Anfragen: <span
								class="text-nowrap">brandenburg@schul-cloud.org</span></a></li>
					<li><a href="mailto:inhalte@schul-cloud.org" target="_blank" rel="noopener">Inhalteanbieter: <span
								class="text-nowrap">inhalte@schul-cloud.org</span></a></li>
					<li><a href="mailto:datenschutz@schul-cloud.org" target="_blank" rel="noopener">Datenschutz: <span
								class="text-nowrap">datenschutz@schul-cloud.org</span></a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4>Links</h4>
				<ul>
					<li><a href="/impressum">Impressum</a></li>
					<li><a href="{{theme.documents.specificFiles.termsOfUseSchool}}" target="_blank"
							rel="noopener">Nutzungsordnung
							Schul-Cloud Brandenburg</a></li>
					<li><a href="{{theme.documents.specificFiles.privacyExemplary}}" target="_blank"
							rel="noopener">Datenschutzerklärung
							Schul-Cloud Brandenburg</a></li>
					<li><a href="https://github.com/hpi-schul-cloud/" target="_blank" rel="noopener">GitHub</a></li>
					<li><a href="https://status.schul-cloud.org" target="_blank" rel="noopener">Status</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
