<footer class="hide-inline small-footer">
	<div class="imprint">
		<div class="center">
			<img src="/images/footer-logo.png" alt="Anbieterlogo" />
			<span>&copy; 2019 {{theme.short_title}} </span>

			<div>
				<a href="/impressum">Impressum</a>
				<span> - </span>
				<a href="/datenschutz">Datenschutzerklärung: HPI</a>
				<span> - </span>
				<a href="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/Onlineeinwilligung/Datenschutzerklaerung-Muster-Schulen-Onlineeinwilligung.pdf" target="_blank" rel="noopener">Datenschutzerklärung: Brandenburg</a>
				<span> - </span>
				<a href="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/Onlineeinwilligung/Nutzungsordnung-HPI-Schule-Schueler-Onlineeinwilligung.pdf" target="_blank" rel="noopener">Nutzungsordnung</a>
				<span> - </span>
				<a href="https://github.com/schul-cloud/" target="_blank" rel="noopener">GitHub</a>
			</div>
			<div>
				<p class="made-with-love">Made with <span class="heart">❤</span> in Potsdam</p>
			</div>
		</div>
	</div>
</footer>