<header class="mb-1" style="margin-top: -1rem;">
	<div class="container">
		<nav class="navbar-light">
			<a id="title" class="pull-left" href="/" title="{{$t "global.link.landing"}}">
				<div class="cloud-logo"></div>
			</a>
		</nav>
	</div>
</header>
