<section data-panel="section-{{section-nr}}" {{#if submit-page}}class="submit-page"{{/if}}>
  <h2 class="h4">{{$t "firstLogin.global.heading.birthdate" }}</h2>
  <p>{{$t "firstLogin.birthdate.text.weNeedYourDateOfBirth" }}</p>
  <div class="row">
    <div class="form-group col-md-6 col-sm-12">
      <label>{{$t "firstLogin.global.label.birthdate" }} *</label>
      <input class="form-control linked" data-date data-min-date="{{datePickerTodayMinus 14 0 -1}}" data-max-date="{{datePickerTodayMinus 4 0 0}}" name="studentBirthdate" type="text" required autocomplete="off" />
    </div>
  </div>
</section>