<section data-panel="section-{{section-nr}}" {{#if submit-page}}class="submit-page"{{/if}}>
  <h2 class="h4">{{$t "firstLogin.global.headline.birthdate" }}</h2>
  <p>{{$t "firstLogin.birthdate.text.weNeedYourDateOfBirth" }}</p>
  <div class="row">
    <div class="form-group col-md-6 col-sm-12">
        {{> "lib/forms/form-date-input"
                label=($t "global.label.dateOfBirth")
                id="studentBirthdate"
                value=(datePickerTodayMinus CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS 0 0)
                dataMinDate=(datePickerTodayMinus CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS 0 -1)
                dataMaxDate=(datePickerTodayMinus 14 0 0)
        }}
    </div>
  </div>
</section>
