<section data-panel="section-{{section-nr}}" {{#if submit-page}}class="submit-page"{{/if}}>
  <h2 class="h4">{{$t "firstLogin.global.headline.birthdate" }}</h2>
  <p>{{$t "firstLogin.birthdate.text.weNeedYourDateOfBirth" }}</p>
  <div class="row">
    <div class="form-group col-md-6 col-sm-12">
          <label for="studentBirthdate">{{$t "global.label.dateOfBirth" }}</label>
          <input
            class="form-control linked"
            type="date"
            id="studentBirthdate"
            data-testid="form-date-input-studentBirthdate"
            name="studentBirthdate"
            value="{{datePickerTodayMinus CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS 0 0 'YYYY-MM-DD'}}"
            min="{{datePickerTodayMinus CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS 0 -1 'YYYY-MM-DD'}}"
            max="{{datePickerTodayMinus 14 0 0 'YYYY-MM-DD'}}"
            />  
    </div>
  </div>
</section>
