<section data-panel="section-{{section-nr}}" {{#if submit-page}}class="submit-page"{{/if}}>
  <h2 class="h4">{{$t "global.headline.declarationOfConsent" }}</h2>
  <p>{{$t "firstLogin.consent.text.pleaseConfirmTheFollowingDeclarationOfConsent" (dict "title" @root.theme.title)}}</p>
  <p>{{$t "firstLogin.consent.text.i" }} <b>{{@root.currentUser.firstName}} {{@root.currentUser.lastName}}</b>, {{$t "firstLogin.consent.text.explainTheFollowing" }}</p>
  {{> "registration/forms/einwilligungserklaerung"}}
</section>
