<section data-panel="section-{{section-nr}}" {{#if submit-page}}class="submit-page"{{/if}}>
  <h2 class="h4">Einwilligungserkl채rung</h2>
  <p>Bitte best채tige folgende Einwilligungserkl채rungen, damit du die {{@root.theme.title}} nutzen kannst.</p>
  <p>Ich, <b>{{@root.currentUser.firstName}} {{@root.currentUser.lastName}}</b>, erkl채re folgendes:</p>
  {{> "registration/forms/einwilligungserklaerung"}}
</section>
