<section data-panel="section-{{section-nr}}" {{#if submit-page}}class="submit-page"{{/if}}>
  <h2 tabindex="0"class="h4">Wie können wir dich erreichen?</h2>
  <p tabindex="0"> Bitte überprüfe deine E-Mail-Adresse:</p>
  <div class="row">
    <div class="form-group col-md-6 col-sm-12">
        <label for="email">{{$t "global.label.emailAddress"}}</label>
        <input id="email" class="form-control linked" type="email" name="student-email" placeholder="schueler@schul-cloud.org" value="{{@root.currentUser.email}}" readonly required>
    </div>
  </div>
  <p tabindex="0">Sollte die E-Mail-Adresse nicht die richtige sein, wende dich bitte an deinen {{@root.theme.short_title}}-Administrator.</p>
</section>
