<section data-panel="section-{{section-nr}}" {{#if submit-page}}class="submit-page"{{/if}}>
  <h2 class="h4">{{$t "firstLogin.email.headline.howCanWeContactYou" }}</h2>
  <p>{{$t "firstLogin.email.text.pleaseCheckYourEmail" }}</p>
  <div class="row">
    <div class="form-group col-md-6 col-sm-12">
        <label for="email">{{$t "global.label.emailAddress"}}</label>
        <input id="email" class="form-control linked" type="email" name="student-email" placeholder="schueler@schul-cloud.org" value="{{@root.currentUser.email}}" readonly required>
    </div>
  </div>
  <p>{{$t "firstLogin.email.text.ifTheEmailAddressIsNotTheCorrectOne" (dict "shortTitle" @root.theme.short_title)}}</p>
</section>
