<section data-panel="section-{{section-nr}}" class="parent_intro" data-next-label="{{$t "firstLogin.parent.label.continueAsLegalGuardian" }}">
  <h2 class="h4">{{$t "firstLogin.parent.headline.declarationOfConsentFromALegalGuardian" }}</h2>
  <p>{{$t "firstLogin.parent.text.needConsentOfParents" (dict "age" CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS "shortTitle" @root.theme.short_title)}}
    {{$t "firstLogin.parent.text.theNextStepMustBeCarriedOut" }}</p>
  <a href="/logout" class="btn btn-secondary">{{$t "firstLogin.parent.button.exitAndContinueLater" }}</a>
</section>
