<section data-panel="section-{{section-nr}}" {{#if submit-page}}class="submit-page"{{/if}}>
  <h2 class="h4">{{$t "firstLogin.headline.youAlmostMadeIt" }}</h2>
  {{#if @root.sso}}
    <p>{{$t "firstLogin.password.text.afterClickingThe" }} <u>{{$t "global.button.submit" }}</u>{{$t "firstLogin.password.text.buttonsCanBeUsedAsUsual" (dict "title" @root.theme.title)}}</p>
  {{else}}
    <p>{{$t "firstLogin.text.pleaseChangeTheStartPassword" }}</p>
    <p>
      {{$t "global.text.min8characters" }} <br/>
      {{$t "firstLogin.password.text.allowedSpecialCharactersAre" }} <code>{{$t "global.text.specialCharacters" }}</code>
    </p>
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="password">{{$t "firstLogin.label.newPassword" }} *</label>
        <input class="form-control" id="password" data-testid="firstlogin_password" name="password-1" type="password" autocomplete="new-password" placeholder='{{$t "firstLogin.placeholder.newPassword" }}' minlength="8" pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z])(?=.*[\-_!<>ยง$%&\/()=?\\;:,.#+*~']).{8,255}$" title='{{$t "firstLogin.placeholder.atList8CharactersWithUpperAndLower" }}' required/>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="password_control">{{$t "account.global.label.repeatNewPassword" }} *</label>
        <input class="form-control" data-testid="firstlogin_password_control" id="password_control" name="password-2" type="password" autocomplete="new-password" placeholder='{{$t "firstLogin.placeholder.repeatNewPassword" }}' required/>
      </div>
    </div>

    <!--<label>
        <input name="sendCredentials" type="checkbox" value="sendCredentials"/>
        Login-Daten per Mail an mich senden
    </label>-->
  {{/if}}
</section>
