<section data-panel="section-{{section-nr}}" class="submit-page" data-feature="pin">
  <h2 class="h4">{{$t "global.headline.almostThere" }}</h2>
  {{#embed "registration/request-pin"}}{{/embed}}
  <div id="pinverification">
    {{#embed "registration/pin" digits=4 pattern="[0-9]" required="true" name="pin" class="mail-validation my-1"}}{{/embed}}
  </div>
</section>
