<section data-panel="section-{{section-nr}}">
    <h2 class="h4">{{{$t "registration._registration.global.heading.privacyPolicy"}}}</h2>
    <p>{{{$t "registration._registration.global.text.privacyPolicy" (dict "link" schoolPrivacyPolicy.data)}}}</p>
</section>
