<section data-panel="section-{{section-nr}}" class="privacy_intro" data-next-label="weiter">
  <h4>Neue Datenschutzbla...</h4>
  <p>Die Datenschutzbla haben sich geändert und müssen von dir gelesen werden.</p>

<label>
    <input name="{{prefix}}privacyConsent" type="checkbox" value="true" required/>
    <span> Ich habe die Datenschutzbla änderungen gelesen...</span>
</label>
<p class="explanation">Da sich seit deiner Anmeldung in der Schul-Cloud ... aktualisiert hat, musst du die oben beschriebenen Änderungen durchlesen und akzeptieren.</p>

</section>
