<section data-panel="section-{{section-nr}}">
    <div class="welcomeGreeting">
        <img src="/images/firstLogin/welcome_banner.svg">
        <div class="row mt-3">
            <div class="col-xs-4 col-md-3">
                <img src="/images/firstLogin/welcome_1_fobi.svg" alt="Online-Fortbildung">
            </div>
            <div class="col-xs-8 col-md-9">
                <p>
                    Wie funktioniert eigentlich die {{@root.theme.title}}?
                    Und wie kann ich meinen Unterricht damit organisieren, gestalten und durchführen?
                    Besuche unsere <b>Online-Fortbildung</b> und finde es heraus!
                </p>
                <div class="text-center">
                    <a class="btn btn-warning" target="_blank" rel="noopener noreferrer" href="https://mooc.house/courses/schulcloud2019">Hier gehts zur Fortbildung</a>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-xs-4 col-md-3">
                <img src="/images/firstLogin/welcome_2_help.svg" alt="Help">
            </div>
            <div class="col-xs-8 col-md-9 mt-2">
                <p>
                    Über jede Seite in der {{@root.theme.short_title}} kommst du mit Klick auf das <b>Fragezeichen</b> oben rechts in unseren <b>Hilfebereich</b>.
                    Dort findest du zu beinahe jedem Thema ausführliche Anleitungen und Bilderstrecken.
                </p>
                <p>
                    Schau einfach mal vorbei!
                </p>
            </div>
        </div>
        <div class="text-center mt-2">
            <a class="btn btn-secondary mr-2" data-testid='btn_schul-cloud_erkunden' href="/">Sofort loslegen</a>
            <a class="btn btn-primary" href="/help#erste_schritte">Erste Schritte anschauen</a>
        </div>
    </div>
</section>
