<section data-panel="section-{{section-nr}}">
    <h2 class="h4">Danke!</h2>
    <p>Du kannst jetzt mit der Benutzung der {{@root.theme.short_title}} fortfahren.<br>
        <a class="btn btn-primary mt-2" data-testid='btn_schul-cloud_erkunden' href="/">{{@root.theme.short_title}} erkunden</a>
    </p>
</section>
