<section data-panel="section-{{section-nr}}" class="confetti-wrapper{{#if submit-page}} submit-page{{/if}}">
  <h2 class="h4">{{$t "firstLogin.welcome.headline.congratulations" (dict "firstName" @root.currentUser.firstName "lastName"  @root.currentUser.lastName)}}! 🎉🎈</h2>
  <p>{{$t "firstLogin.welcome.text.youAreNow14YearsOld" (dict "title" @root.theme.title "shortTitle" @root.theme.short_title )}}</p>
</section>
