<section data-panel="section-{{section-nr}}" {{#if submit-page}}class="submit-page"{{/if}}>
  <h2 class="h4">{{$t "firstLogin.welcome.heading.welcomeToThe" (dict  "shortTitle" @root.theme.short_title "firstName" @root.currentUser.firstName "lastName" @root.currentUser.lastName )}}</h2>
  <p>
      {{$t "firstLogin.welcome.text.weArePleasedThatYouWantToUse" (dict "title" @root.theme.title "shortTitle" @root.theme.short_title )}} 
  </p>
  {{> "firstLogin/partials/language-hint"}}
  {{#if @root.sso}}<input type="hidden" name="sso" value="{{@root.sso}}" />{{/if}}
</section>