@import '../lib/colors';
@import "../lib/bootstrap/scss/bootstrap-flex";

.section-classes {
  .h4 {
    margin-bottom: 20px;
  }

  .lesson-date {
    line-height: 24px;
    float: right;
  }

  .description {
    margin-bottom: 40px;
  }

  .delete-material {
    float: right;
    cursor: pointer;
  }

  .content {
    margin-left: 15px;
    i {
      padding-right: 5px;
    }
  }

  .disabled {
    cursor: not-allowed;
    input {
      background-color: $colorGrey;
    }
  }

  .disabled > * {
    pointer-events: none;
  }
}

.chosen-container-multi .chosen-choices .search-choice{
  @include media-breakpoint-up(xs) { min-width: 95%; }

  @include media-breakpoint-up(sm) { min-width: 47%; }

  @include media-breakpoint-up(md) { min-width: 32%; }

  @include media-breakpoint-up(lg) { min-width: 24%; }

  @include media-breakpoint-up(xl) { min-width: 16%; }
}
