{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/course.css"/>
        <link rel="stylesheet" href="/styles/homework/homework.css"/>
        <link rel="stylesheet" href="/vendor/jquery/jquery-ui.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/jquery/jquery-ui.min.js" type="text/javascript" defer></script>
        <script src="/scripts/jquery/jquery.ui.touch-punch.js" type="text/javascript" defer></script>
        <script src="/scripts/courses.js" type="text/javascript" defer></script>
        <script src="/scripts/topic.js" type="text/javascript" defer></script>
        <script src="/scripts/teamMembers.js" type="text/javascript" defer></script>
    {{/content}}

    {{#content "page"}}
        {{#if method}}
            <input type="hidden" name="_method" data-force-value="true" value="{{method}}"/>
        {{/if}}

        <section class="section-add-members" data-id="{{../_id}}"">
            <div class="padding-bottom">
                <button class="btn btn-primary btn-add-member">
                    Interne Mitglieder hinzufügen
                </button>

                <button class="btn btn-primary btn-invite-external-member">
                    Externe Mitglieder einladen
                </button>
            </div>

            <div class="container-fluid padding-top">
                <div class="row">
                    <div class="col-sm-12 no-padding">
                        {{> "lib/components/table" head=head body=body}}
                    </div>
                </div>
            </div>

            <h4 class="padding-top">Ausstehende Einladungen</h4>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 no-padding">
                        {{> "lib/components/table" head=headInvitations body=bodyInvitations}}
                    </div>
                </div>
            </div>

            {{#embed "lib/components/modal-form" action=addMemberAction method="PATCH" class="add-member-modal"}}
                {{#content "fields"}}
                    {{> "teams/forms/form-add-member" teamId=../_id users=users}}
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" action=inviteExternalMemberAction method="POST" class="invite-external-member-modal"}}
                {{#content "fields"}}
                    {{> "teams/forms/form-invite-external-member" teamId=../_id}}
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" action=deleteMemberAction class="delete-member-modal"}}
                {{#content "fields"}}
                    {{> "teams/forms/form-delete-member"}}
                {{/content}}
            {{/embed}}
        </section>
    {{/content}}
{{/extend}}
