{{#extend "lib/loggedin"}}

    {{#content "scripts" mode="append"}}
        <script type="text/javascript" defer src="/scripts/teamOverview.js" nonce="{{nonceValue}}"></script>
    {{/content}}
    {{#content "styles" mode="append"}}
    {{/content}}

    {{#content "page"}}
        <section class="section-courses">
            {{#if teams}}
                {{> 'dashboard/components/card_section' section-id="teams" title="" content=teams link-text=($t "global.button.open") additionalInfoName="memberCount"}}
            {{/if}}

            {{#if teamInvitations}}
                <h2>{{$t "teams.headline.invitations"}}</h2>
                {{> 'dashboard/components/card_section' section-id="teamInvitations" title="" content=teamInvitations link-text=($t "teams.button.accept")}}
            {{/if}}

            {{#if allowedCreateTeam}}
            <div class="col-xs-12">
                <div class="row padding-top">
                    <div class="col-sm-12">
                        <a href="/teams/add" class="btn btn-add btn-primary pull-right">{{$t "teams.button.createTeam"}}</a>
                    </div>
                </div>
            </div>
            {{else}}
            {{#unless (userHasRole "expert")}}
                <div class="col-xs-12">
                <div class="row padding-top">
                    <div class="col-sm-12">
                        <p>
                            {{$t "teams.text.studentsCantCreateTeams"}}
                        </p>
                    </div>
                </div>
            </div>
            {{/unless}}
            {{/if}}

            {{#embed "lib/components/modal" class="member-modal"}}
                {{#content "body"}}
                    <div class="modal-body">
                        <div id="member-modal-body">
                        </div>
                        {{#userHasPermission "COURSE_EDIT"}}
                            <div id='course-edit'></div>
                        {{/userHasPermission}}
                    </div>
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" class="add-member-modal"}}
                {{#content "fields"}}
                    {{> "teams/forms/form-add-member"}}
                {{/content}}
            {{/embed}}
        </section>
    {{/content}}
{{/extend}}
