{{#extend "lib/loggedin"}}

    {{#content "scripts" mode="append"}}
        <script type="text/javascript" defer src="/scripts/teamOverview.js" nonce="{{nonceValue}}"></script>
    {{/content}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/empty-state.css"/>
    {{/content}}

    {{#content "page"}}
        <section class="empty-state">
            <img src="/images/empty-states/teams.svg" alt="{{$t "teams.img_alt.teamOfTeachers"}}" class="image mx-auto d-block"/>
            <div class="text-wrapper mx-auto d-block">
                <h2 class="text-center">{{$t "teams.headline.teamsConnectSchools"}}</h2>
                <h3 class="h5 text-muted text-center">
                    {{$t "teams.text.descriptionTeams"}}
                </h3>
            </div>
            {{#if allowedCreateTeam}}
            <div class="row">
                <div class="center buttons">
                    <a href="/teams/add" class="btn btn-lg btn-add btn-primary">{{$t "teams.button.foundATeam"}}</a>
                </div>
            </div>
            {{else}}
            {{#unless (userHasRole "expert")}}
            <div class="text-wrapper mx-auto d-block">
                <h3 class="h5 text-muted text-center">
                    {{$t "teams.text.studentsCantCreateTeams"}}
                </h3>
            </div>
            {{/unless}}
            {{/if}}
        </section>
    {{/content}}
{{/extend}}
