{{#extend "lib/loggedin" notitle="true"}}

    {{#content "scripts" mode="append"}}
        <script type="text/javascript" defer src="{{getAssetPath '/scripts/teamOverview.js'}}" nonce="{{nonceValue}}"></script>
    {{/content}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="{{getAssetPath '/styles/courses/empty-state.css'}}"/>
    {{/content}}

    {{#content "page"}}
        <section class="empty-state">
            {{> 'teams/svg_empty_teams'}}
            <div class="text-wrapper mx-auto d-block">
                <h2 class="h2 text-center">{{$t "teams.headline.teamsConnectSchools"}}</h2>
                <h2 class="h5 text-muted text-center">
                    {{$t "teams.text.descriptionTeams"}}
                </h2>
            </div>
            {{#if allowedCreateTeam}}
            <div class="row">
                <div class="center buttons">
                    <a href="/teams/add" class="btn btn-lg btn-add btn-primary">{{$t "teams.button.foundATeam"}}</a>
                </div>
            </div>
            {{else}}
            {{#unless (userHasRole "expert")}}
            <div class="text-wrapper mx-auto d-block">
                <h2 class="h5 text-muted text-center">
                    {{$t "teams.text.studentsCantCreateTeams"}}
                </h2>
            </div>
            {{/unless}}
            {{/if}}
        </section>
    {{/content}}
{{/extend}}
