<div class="row">
  <div class="col-sm-12">
    <div class="course-groups-header">
   
      {{#userHasPermission "COURSE_EDIT" }}Schülergruppen{{else}}Meine Schülergruppen{{/userHasPermission}}
      <small>
        {{#ifneq 0 (arrayLength courseGroups)}}
          ({{arrayLength courseGroups}} Gruppe{{#ifneq 1 (arrayLength courseGroups)}}n{{/ifneq}})
        {{else}}
          (Noch keine Gruppen)
        {{/ifneq}}
      </small>
      

    </div>  
    <div id="courseGroups" class="container-fluid">
      <ol class="courseGroup">
        <div class="row">
          {{#each courseGroups}}
            <div class="col-sm-6 col-xs-12">
              {{> 'courses/components/courseGroup-card'}}
            </div>
          {{/each}}
        </div>
      </ol>
    </div>
  </div>
  <div class="col-sm-12">
    {{#userHasPermission "COURSEGROUP_CREATE"}}
      <a href="/courses/{{../id}}/groups/add" class="btn btn-primary w-100 pull-right" title="Gruppe hinzufügen">
        <i class="fa fa-plus" aria-hidden="true"></i><span> Schülergruppe hinzufügen</span>
      </a>
    {{/userHasPermission}}
  </div>
</div>
