<!-- just for copying, add input names programmatically! -->
<tr class="new-course-time-template" style="vertical-align: top;">
    <td>
        <button type="button" class="course-time-delete" aria-label="{{$t "global.headline.delete"}}" data-id="{{this._id}}">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button></td>
    <td>
        <select id="weekday" class="form-control new-course-time-template-weekday" type="text">
            <option value="0">{{$t "global.text.monday"}}</option>
            <option value="1">{{$t "global.text.tuesday"}}</option>
            <option value="2">{{$t "global.text.wednesday"}}</option>
            <option value="3">{{$t "global.text.thursday"}}</option>
            <option value="4">{{$t "global.text.friday"}}</option>
            <option value="5">{{$t "global.text.saturday"}}</option>
            <option value="6">{{$t "global.text.sunday"}}</option>
        </select>
    </td>
    <td>
        <input id="startOfLesson" class="form-control new-course-time-template-startTime" data-time type="text"/>
    </td>
    <td>
        <div>
            <input id="lengthOfLesson" class="form-control new-course-time-template-duration lengthOfLesson" type="number" placeholder="{{$t "courses.global.input.inMinutes"}}" min="0" />
        </div>
        <div>
          <span class="small" id="courseTimesErr" style="visibility:hidden; color: #ff1134;">
            {{$t "courses.global.input.invalidDurationError"}}
          </span>
        </div>
    </td>
    <td>
        <input id="room" class="form-control new-course-time-template-room" type="text" placeholder="{{$t "courses.global.input.egRoom1-21"}}"/>
    </td>
</tr>
