<!-- just for copying, add input names programmatically! -->
<tr class="new-course-time-template">
    <td><i class="fa fa-trash-o course-time-delete"></i></td>
    <td>
        <select class="form-control new-course-time-template-weekday" type="text">
            <option value="0">Montag</option>
            <option value="1">Dienstag</option>
            <option value="2">Mittwoch</option>
            <option value="3">Donnerstag</option>
            <option value="4">Freitag</option>
            <option value="5">Samstag</option>
            <option value="6">Sonntag</option>
        </select>
    </td>
    <td>
        <input class="form-control new-course-time-template-startTime" data-time type="text"/>
    </td>
    <td>
        <input class="form-control new-course-time-template-duration"  type="number" placeholder="in Minuten"/>
    </td>
    <td>
        <input class="form-control new-course-time-template-room" type="text" placeholder="z.B. R-1.21"/>
    </td>
</tr>
