{{#extend "lib/loggedout"}}
{{#content "styles" mode="append"}}
{{/content}}

{{#content "scripts" mode="append"}}
{{/content}}

{{#content "page"}}
<h2>Sicherheit</h2>
{{#embed "security/security"}}{{/embed}}
{{/content}}
{{/extend}}