<html>
<head>
    {{#block "styles"}}
        <link rel="preload" href="/fonts/ptsans/ptsans-bold.woff" as="font" type="font/woff" crossorigin>
        <link rel="stylesheet" href="/styles/oauth2/username.css" />
    {{/block}}
</head>
<body>
<div class="depseudo"><div class="cloud-logo"></div><a title="{{infoText}}">{{shortName}}</a></div>
</body>
</html>