{{#extend "lib/loggedin"}}

	{{#content "scripts" mode="append"}}
		<script src="{{getAssetPath '/scripts/administration/classes/manage.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
	{{/content}}

	{{#content "styles" mode="append"}}
		<link rel="stylesheet" href="{{getAssetPath '/styles/classes/classes.css'}}" />
	{{/content}}

	{{#content "page"}}
		<section class="section-classes-manage">
			<input type="hidden" name="class-name" value="{{class.displayName}}" />
			<form class="manage-form" method="post" action="">
                {{> "lib/components/csrfInput"}}
				{{> "administration/forms/form-classes-manage"}}
			</form>
		</section>
	{{/content}}
{{/extend}}
