{{#extend "administration/administration"}}
    {{#content "page"}}
        <div class="route-administration">
            <section class="section-school section-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/table" head=head body=body}}
                        </div>
                    </div>
                    <div class="row">
                        {{> "lib/components/pagination" settings=pagination }}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <button type="submit" class="btn btn-primary btn-add">
                                Klasse hinzufügen
                            </button>
                        </div>
                    </div>
                </div>

                {{#embed "lib/components/modal-form" body=body method="delete" class="delete-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-delete-name"}}
                    {{/content}}
                {{/embed}}

            </section>
        </div>
    {{/content}}
{{/extend}}
