{{#extend "administration/administration"}}
{{#content "styles" mode="append"}}
<link rel="stylesheet" href="{{getAssetPath '/styles/administration/dashboard.css'}}" />
{{/content}}

{{#content "scripts" mode="append"}}
{{/content}}

{{#content "page" mode="prepend"}}
	<div class="route-administration">
		<section class="section-school section-default">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 no-padding">
						<!-- Teacher View -->
						<div class="row card-deck-row">
							{{#userHasPermission 'STUDENT_LIST'}}
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="card h-100 teacher-option locationlink" data-loclink="/administration/students" data-testid="administrate_students">
										<div class="card-block homework">
											<div class="card-text">
												<h2 class="h4"><i class="fa fa-odnoklassniki"></i>{{$t "administration.dashboard.headline.manageStudents" }}</h2>
											</div>
										</div>
									</div>
								</div>
							{{/userHasPermission}}
							{{#userHasPermission 'TEACHER_LIST'}}
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="card h-100 teacher-option locationlink" data-loclink="/administration/teachers" data-testid="administrate_teachers">
										<div class="card-block homework">
											<div class="card-text">
												<h2 class="h4"><i class="fa fa-user"></i> {{$t "administration.dashboard.headline.manageTeachers" }}</h2>
											</div>
										</div>
									</div>
								</div>
							{{/userHasPermission}}
							{{#userHasPermission 'ADMIN_VIEW'}}
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="card h-100 teacher-option locationlink" data-loclink="/administration/courses">
										<div class="card-block homework">
											<div class="card-text">
												<h2 class="h4"><i class="fa fa-graduation-cap"></i> {{$t "administration.dashboard.headline.manageCourses" }}</h2>
											</div>
										</div>
									</div>
								</div>
							{{/userHasPermission}}
							{{#userHasPermission 'CLASS_LIST'}}
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="card h-100 teacher-option locationlink" data-loclink="/administration/classes" data-testid="administrate_classes">
									<div class="card-block homework">
										<div class="card-text">
											<h2 class="h4"><i class="fa fa-users"></i> {{$t "administration.dashboard.headline.manageClasses" }}</h2>
										</div>
									</div>
								</div>
							</div>
							{{/userHasPermission}}
							{{#userHasPermission 'ADMIN_VIEW'}}
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="card h-100 teacher-option locationlink" data-loclink="/administration/teams">
										<div class="card-block homework">
											<div class="card-text">
												<h2 class="h4"><i class="fa fa-users"></i> {{$t "administration.dashboard.headline.manageTeams" }}</h2>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="card h-100 teacher-option locationlink" data-loclink="/administration/school">
										<div class="card-block homework">
											<div class="card-text">
												<h2 class="h4"><i class="fa fa-building"></i> {{$t "administration.dashboard.headline.manageSchool" }}</h2>
											</div>
										</div>
									</div>
								</div>
							{{/userHasPermission}}
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{{/content}}
{{/extend}}
