{{#extend "administration/administration"}}
    {{#content "page" mode="prepend"}}
        <div class="route-administration">
            <section class="section-school section-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/table" head=head body=body}}
                        </div>
                    </div>
                    <div class="row">
                        {{> "lib/components/pagination" settings=pagination }}
                    </div>
                </div>

                {{#embed "lib/components/modal-form" method="patch" class="edit-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-problem"}}
                    {{/content}}
                {{/embed}}

                <p>
                    Du möchtest einen Fehler melden oder hast eine Idee zur Verbesserung der {{theme.title}}?
                    Sende Wünsche oder Probleme direkt an den {{theme.short_title}}-Nutzer-Support.
                    <p>
                        <a href="/help?activeForm=team#contact-form" class="btn btn-primary">
                        Support kontaktieren
                        </a>
                    </p>
                    <b>Tipp:</b> Du kannst auch offene Einträge aus dem dem Helpdesk über das Symbol
                     <i class="fa fa-paper-plane"></i> an den Nutzer-Support weiterleiten.
                </p>
            </section>
        </div>
    {{/content}}
{{/extend}}
