{{#extend "administration/administration"}}
	{{#content "page" mode="prepend"}}
		<form class="modal-form" method="post" action="{{action}}" enctype="multipart/form-data">
			<input type="hidden" name="_method" data-force-value="true" value="post" />
			<input type="hidden" name="referrer" value="{{redirectTarget}}" />

			{{! csrf token is in the url query string, because the server can not parse it from a multipart/form-data form directly }}

			{{> "administration/forms/form-import" roles=roles}}

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-cancel">
					{{$t "global.button.cancel" }}
				</button>
				<button type="submit" class="btn btn-primary btn-submit">
					{{$t "global.button.import" }}
				</button>
			</div>
		</form>

		{{#embed "lib/components/modal-cancel" class="cancel-modal"}}{{/embed}}
	{{/content}}
{{/extend}}
