{{#extend "lib/loggedin"}}

{{#content "scripts" mode="append"}}
<script src="/scripts/administration/systems/ldap-edit.js" type="text/javascript" defer></script>
{{/content}}

{{#content "styles" mode="append"}}
{{!--
<link rel="stylesheet" href="/styles/systems/systems.css" /> NOTE: This stylesheet wasn't available on the branch.
Probably delete it.--}}
<!-- dataprivacy is only used for .recap -->
<link rel="stylesheet" href="/styles/administration/dataprivacy.css" />
{{/content}}

{{#content "page"}}
<section class="section-classes-create">
    <form class="create-form" id="ldap-form" method="post" action="">
        {{> "administration/forms/form-ldap-edit"}}
    </form>
</section>
<section id="verifyarea" style="display:none;">
    <h5>Nutzer: <a href="#" id="usertoggle">Ausblenden</a></h5>
    <table class="table table-hover table-bordered" id="userTable" border="1">
        <tr><th>Vorname</th><th>Nachname</th><th>E-Mail</th><th>uid</th><th>Rolle(n)</th><th>Domainname</th><th>uuid</th></tr>
    </table>
    <h5>Klassen: <a href="#" id="classtoggle">Ausblenden</a></h5>
    <table class="table table-hover table-bordered" id="classTable" border="1">
        <tr><th>Name</th><th>Domain</th><th>Nutzer der Klasse</th></tr>
    </table>
</section>
{{/content}}
{{/extend}}