{{#extend "lib/simple"}}
    {{#content "page" mode="prepend"}}
        <h1 class="h4" id="page-title">Überprüfe die Synchronisation der im LDAP vorliegenden Daten für das neue Schuljahr</h1>
        <div class="route-administration">
            <p>Auf dieser Seite findest du die Daten aller Klassen und Nutzer, so wie sie die {{@root.theme.short_title}} aus deinem LDAP übernehmen wird. Bitte überprüfe vor Übernahme der Daten durch Beenden der Transferphase diese Daten stichprobenartig auf ihre Richtigkeit.</p>
            <section class="section-school section-default">
                <div class="container-fluid ajaxcontent">
                    <h5>LDAP-Klassen</h5>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/table" head=headClasses body=bodyClasses limit=false}}
                        </div>
                    </div>
                    <h5>LDAP-Nutzer</h5>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/table" head=headUser body=bodyUsers limit=false}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <button class="btn btn-primary btn-add windowclose">Fenster schließen</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {{/content}}
{{/extend}}
