{{#extend "lib/loggedin"}}

{{#content "scripts" mode="append"}}
<script src="/scripts/administration/systems/ldap-edit.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
{{/content}}

{{#content "styles" mode="append"}}
{{!--
<link rel="stylesheet" href="/styles/systems/systems.css" /> NOTE: This stylesheet wasn't available on the branch.
Probably delete it.--}}
<!-- dataprivacy is only used for .recap -->
<link rel="stylesheet" href="/styles/administration/dataprivacy.css" />
<link rel="stylesheet" href="/styles/administration/ldap.css" />
<link rel="stylesheet" href="/styles/help/help.css" />
{{/content}}

{{#content "page"}}
<div class="icon-card " id="sprachhinweis">
    <div class="icon-card__content">
        <a class="icon-card__icon" tabindex="-1">
            <i class="fa fa-fw fa-lightbulb-o" aria-hidden="true"></i>
        </a>
        <h2 class="h4 icon-card__title">Wichtiger Hinweis</h2>
        <div class="icon-card__body">
            <p>
                Jegliche Änderungen an der folgenden Konfiguration kann zur Folge haben, dass der Login für Sie und
                alle Nutzer Ihrer Schule nicht mehr funktioniert. Daher nehmen Sie nur Änderungen vor, wenn Ihnen die
                Konsequenzen bewusst sind. Einige Bereiche sind nur lesbar. Sie können die Angaben allerdings
                editierbar machen, wenn Sie auf das Schloss im jeweiligen Bereichs klicken. Nach jeder Verifizierung
                wird Ihr System aktualisiert und ersteinmal auf deaktiviert gesetzt. Vergessen Sie daher nicht die
                Änderungen final zu speichern, wenn die Verifizierung erfolgreich war.
            </p>
            <p>
                Nach der Verifizierung können Sie sich die ausgelesenen Inhalte in der Vorschau ansehen. Gestrichene
                Inhalte werden nicht übernommen, da bei dem Nutzer der Vorname, der Nachname und/oder die E-Mail-Adresse
                nicht im LDAP verfügbar ist.
            </p>
            <p>
                Weitere Informationen zur LDAP-Konfiguration finden Sie in unserem <a href="/help/confluence/55902270">Hilfebereich</a>.
            </p>
        </div>
    </div>
</div>
<section class="section-classes-create">
    <form class="create-form" id="ldap-form" method="post" action="">
        {{> "administration/forms/form-ldap-edit"}}
        {{> "lib/components/csrfInput"}}
    </form>
</section>
<section id="verifyarea" style="display:none;">
    <h3 class="h5">Nutzer: <a href="#" id="usertoggle">Ausblenden</a></h3>
    <table class="table table-hover table-bordered" id="userTable" border="1">
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>E-Mail</th>
            <th>uid</th>
            <th>Rolle(n)</th>
            <th>Domainname</th>
            <th>uuid</th>
        </tr>
    </table>
    <h3 class="h5">Klassen: <a href="#" id="classtoggle">Ausblenden</a></h3>
    <table class="table table-hover table-bordered" id="classTable" border="1">
        <tr>
            <th>Name</th>
            <th>Domain</th>
            <th>Nutzer der Klasse</th>
        </tr>
    </table>
</section>
{{/content}}
{{/extend}}
