{{#extend "administration/administration"}}
    {{#content "page"}}
        <div class="route-administration">
            <section class="section-school section-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 no-padding">

                            <h5>Schule</h5>

                            <form action="/administration/schools/{{currentSchool}}" method="post" class="edit-form-school">

                                {{> "lib/components/notification"}}

                                <input type="hidden" name="_method" value="patch" />

                                <div class="form-group">
                                    <label>Name der Schule</label>
                                    <input value="{{school.name}}" type="text" class="form-control" name="name" placeholder="Einhorn Gymnasium" required />
                                </div>

                                <button type="submit" class="btn btn-primary btn-submit">Speichern</button>

                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {{/content}}
{{/extend}}