{{#extend "administration/administration"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/lib/filter/filter.css"/>
        <link rel="stylesheet" href="/styles/administration/users.css"/>
    {{/content}}
    {{#content "page" mode="prepend"}}
        <div class="route-administration">
            <section class="section-students section-default">
                <div><feathers-filter id="filter"
                                      filter='{{filterSettings}}'
                                      add-label='{{$t "global.button.filterAdd" }}'
                                      apply-label='{{$t "global.button.filterApply" }}'
                                      cancle-label='{{$t "global.button.cancel" }}'
                                      handle-url='true'
                                      save-state='true'
                /></div>
                <div class="container-fluid ajaxcontent">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/table" head=head body=body}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <center>
                                <i class="fa fa-times consent-status"></i>
                                {{$t "administration.controller.text.noDeclarationOfConsentAvailable" }} &emsp;
                                <i class="fa fa-check consent-status"></i>
                                {{$t "administration.students.text.parentsAgreed" }} &emsp;
                                <div>
                                    <span>
                                        <i class="fa fa-check double-check consent-status"></i>
                                        <i class="fa fa-check double-check consent-status"></i>
                                    </span>
                                    <span>{{$t "administration.students.text.allApprovalsAvailable" }}</span>
                                </div>
                                <i class="fa fa-check-square-o"></i>
                               {{$t "administration.global.text.manuallyConsent" }}
                                <div>
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        {{> "lib/components/pagination" settings=pagination }}
                    </div>
                    <div class="row mt-3 mb-1">
                        <p>
                            {{{$t "administration.students.text.studentsStillNeedTheDecalaration" (dict "studentsWithoutConsentCount" studentsWithoutConsentCount "allStudentsCount" allStudentsCount "shortTitle" theme.short_title "minAge" CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS)}}}
                        </p>
                    </div>

					{{#userHasPermission "REQUEST_CONSENTS"}}
                    <div class="row mb-2">
                        <div class="col-sm-12 no-padding">
                            <h2 class="h4">
                                {{$t "administration.global.text.obtainADeclarationConsent" }}
                            </h2>
                            {{#if ../schoolUsesLdap}}
                                <strong>{{$t "administration.global.text.studentsLoginInThePresenceOfGuardian" }}</strong>

                                <p>{{$t "administration.global.text.byConnectingToASchoolState" (dict "shortTitle" theme.short_title) }}</p>
                            {{else}}
                                <strong>{{$t "administration.global.text.inviteparentsAndStudentViaLink" }}</strong>
                                <p>
                                    {{$t "administration.longText.text.provideStudentsAndTheirParents" }}
                                </p>
                                <p>{{$t "administration.students.text.forAllStudentsWithoutAFullConsentForm" }}</p>
                                <p>
                                    <button data-role="student" class="btn btn-secondary btn-send-links-emails">
                                        {{$t "administration.global.button.sendLinksToStudentEmailAddresses" }}
                                    </button>
                                    <button data-role="student" class="btn btn-secondary btn-print-links">
                                        {{$t "administration.global.button.createLinkSheet" }}
                                    </button>
                                </p>
                                <p>
                                    {{$t "administration.global.text.orSelectStudentFromTable" }}
                                </p>
                            {{/if}}
                        </div>
                    </div>
					{{/userHasPermission}}

                    <div class="row">
                        {{#if schoolUsesLdap}}
                            {{> "lib/ldap-info"}}
                        {{else}}
                            <div class="col-sm-12 no-padding">
                                {{#userHasPermission "STUDENT_CREATE"}}
                                    <button type="submit" data-testid="btn_add_student" class="btn btn-primary btn-add-modal">
                                        {{$t "administration.students.button.addStudents" }}
                                    </button>

                                    {{#inArray "Administrator" ../roleNames}}
                                        <a href="/administration/students/import" class="btn btn-secondary btn-import">
                                            {{$t "administration.students.button.importStudents" }}
                                        </a>
                                    {{/inArray}}
                                {{else}}
                                    {{> "lib/no-create-info"}}
                                {{/userHasPermission}}
                            </div>
                        {{/if}}
                    </div>
                </div>

                {{#embed "lib/components/modal-form" action="/administration/students/" method="post" class="add-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-students"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" class="invitation-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-invitation-student"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" action=(concat "/administration/students/import?_csrf=" @root.csrfToken) method="post" class="import-modal" enctype="multipart/form-data"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-import" roles="student"}}
                    {{/content}}
                {{/embed}}
            </section>
        </div>
    {{/content}}
{{/extend}}
