{{#extend "administration/administration"}}
    {{#content "page"}}
        <div class="route-administration">
            <section class="section-school section-default">
                <div><feathers-filter id="filter"
                                      filter='{{filterSettings}}'
                                      add-label='Filter hinzufügen'
                                      apply-label='Übernehmen'
                                      cancle-label='Abbrechen'
                                      handle-url='true'
                /></div>
                <div class="container-fluid ajaxcontent">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/table" head=head body=body}}
                        </div>
                    </div>
                    <div class="row">
                        {{> "lib/components/pagination" settings=pagination }}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <button type="submit" class="btn btn-primary btn-add">
                                Schüler hinzufügen
                            </button>
                            <button class="btn btn-secondary btn-invitation-link">
                                Einladungslink generieren
                            </button>
                            <button class="btn btn-secondary btn-import">
                                Schüler importieren
                            </button>
                        </div>
                    </div>
                </div>

                {{#embed "lib/components/modal-form" method="patch" class="edit-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-students"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" action="/administration/students/" method="post" class="add-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-students"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" class="invitation-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-invitation"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" action="/administration/students/import/" method="post" class="import-modal" enctype="multipart/form-data"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-import" roles="student"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" body=body method="delete" class="delete-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-delete-user"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" method="patch" class="pw-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-account-password"}}
                    {{/content}}
                {{/embed}}

            </section>
        </div>
    {{/content}}
{{/extend}}
