{{#extend "administration/administration"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="{{ furl '/styles/administration/system.css' }}"/>
    {{/content}}
    {{#content "page"}}
        <div class="route-administration">
            <section class="section-school section-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/table" head=head body=body}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <button type="submit" class="btn btn-primary btn-add-modal">
                                System hinzufügen
                            </button>
                        </div>
                    </div>
                </div>

                {{#embed "lib/components/modal-form" method="patch" class="edit-modal" collapseId=1}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-systems"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" action="/administration/systems/" method="post" class="add-modal" collapseId=2}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-systems"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" body=body method="delete" class="delete-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-delete-alias"}}
                    {{/content}}
                {{/embed}}

            </section>
        </div>
    {{/content}}
{{/extend}}
