{{#extend "administration/administration"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/administration/course.css"/>
        <link rel="stylesheet" href="/styles/lib/spectrum/spectrum.css"/>
    {{/content}}
    {{#content "scripts" mode="append"}}
        <script src="/scripts/spectrum/spectrum.js" type="text/javascript" defer></script>
        <script src="/scripts/spectrum/init.js" type="text/javascript" defer></script>
    {{/content}}
    {{#content "page"}}
        <form action="/administration/teams/disablestudents/{{school._id}}" method="post" class="edit-form-school">
            <input type="hidden" name="_method" value="patch" />
            <div class="form-group">
                <label>
                    <input type="checkbox" name="disablestudentteamcreation" value="true" {{#inArray "disableStudentTeamCreation" school.features}}checked{{/inArray}}>
                    Schülern verbieten Teams anzulegen
                    <p class="text-muted">Durch aktivieren dieser Option bestätigen Sie, dass Sie weisungsberechtigter Schul-Administrator sind und befugt sind,
                    das Anlegen von Teams durch Schuler an Ihrer Schule zu deaktiveren. Ihr Klick gilt insofern als Weisung der Schule gegenüber dem HPI.</p>
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-submit">Speichern</button>
        </form>
        <div class="route-administration">
            <section class="section-school section-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/table" head=head body=body limit=false}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <center>
                                <i class="fa fa-building-o team-flags"></i>
                                An eigener Schule gegründetes Team &emsp;
                                <i class="fa fa-bus team-flags"></i>
                                Beinhaltet Schul-externe Mitglieder &emsp;
                                <i class="fa fa-briefcase team-flags"></i>
                                Team hat Eigentümer
                            </center>
                        </div>
                    </div>
                    {{!-- TODO --}}
                    {{!-- <div class="row">
                        {{> "lib/components/pagination" settings=pagination }}
                    </div> --}}
                    {{!-- <div class="row">
                        <div class="col-sm-12 no-padding">
                            <button type="submit" class="btn btn-primary btn-add-modal">
                                Team hinzufügen
                            </button>
                        </div>
                    </div> --}}
                </div>

                {{#embed "lib/components/modal-form" method="patch" class="edit-modal" collapseId=1}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-teams"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" action="/administration/teams/" method="post" class="add-modal" collapseId=2}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-teams"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" body=body method="delete" class="delete-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-delete-name"}}
                    {{/content}}
                {{/embed}}

            </section>
        </div>
    {{/content}}
{{/extend}}
