{{#extend "lib/loggedout"}}

{{#content "styles" mode="append"}}
	<link rel="stylesheet" href="/styles/homepage/index.css" />
{{/content}}

{{#content "scripts" mode="append"}}
	<script src="/scripts/login.js" type="text/javascript" defer></script>
	<script src="/scripts/sc-blog.js" type="text/javascript" defer></script>
	<script type="text/javascript" src="/vendor/mailchimp.js" data-dojo-config="usePlainJson: true, isDebug: false" defer></script>
{{/content}}

{{#content "page"}}

	<!-- GLOBAL_ANNOUNCEMENT -->
	<div class="container container-content">
		{{#hasConfig "GLOBAL_ANNOUNCEMENT"}}
			<div class="notification alert alert-info">
				<div class="notification-content">
					{{{getConfig "GLOBAL_ANNOUNCEMENT"}}}
				</div>
			</div>
		{{/hasConfig}}
	</div>

	<!-- GHOST (will be replaced by js) -->
	<div class="sc-blog">
		<div class="container container-content content-width-max">
			<h1 class="section-title title text-center" style="color: var(--color-primary);">
				{{{$t "home.headline.welcomeToHPISchoolCloud"}}}
			</h1>
		</div>
		<div class="content" style="opacity: 0; transition: opacity 0.7s ease-in;"></div>
		<div class="loading text-center mt-3 mb-3" style="min-height: 70vh;">
			<i class="fa fa-spinner fa-spin load-icon spinner" aria-hidden="true"
				style="font-size: 25px;"></i>
			<div class="placeholder" style="display: none;">
				<img src="/images/repair.png" width="350px">
				<p class="text-muted">{{$t "global.text.errorWhileLoadingPage"}}</p>
				<button type="button" class="btn btn-primary mt-2">{{$t "global.button.tryAgain"}}</button>
			</div>
		</div>
	</div>

	<!-- BLOG -->
	{{#embed "authentication/section" style="accent" class=""}}
		{{#content "body"}}
			<h2 class="h3 section-title center">{{{$t "home.headline.HPISchoolCloudBlog"}}}</h2>
				<div class="blog-cards">
					<p>{{$t "home.text.blogIsDeactivated"}}</p>
				</div>
			<a href="https://blog.schul-cloud.org" target="scblog" class="blog-link">{{$t "home.link.moreArticles"}}</a>
		{{/content}}
	{{/embed}}

	{{/content}}
{{/extend}}
