{{#extend "lib/loggedout"}}

{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/homepage/index.css" />
<link rel="stylesheet" href="/vendor/introjs/introjs.min.css" />
{{/content}}

{{#content "scripts" mode="append"}}
<script src="/vendor/introjs/intro.min.js" type="text/javascript" defer></script>
<script src="/scripts/login.js" type="text/javascript" defer></script>

<script src="/scripts/video-player/load-video-player.js" type="text/javascript" defer></script>

<script type="text/javascript" src="/vendor/mailchimp.js" data-dojo-config="usePlainJson: true, isDebug: false"
	defer></script>
{{/content}}

{{#content "page"}}

{{#embed "authentication/section"}}
{{#content "body"}}
<div class="rows-2">
	<div>
		<h1 class="h2 section-title">
			Herzlich Willkommen bei der <span style="white-space: nowrap;">HPI Schul-Cloud!</span>
		</h1>
		<p>Das <a href="https://hpi.de" target="_blank">Hasso-Plattner-Institut</a> für Digital Engineering entwickelt
			unter der Leitung von Prof. Dr. Christoph Meinel zusammen mit <a href="https://www.mint-ec.de/"
				target="_blank">MINT-EC</a>, dem nationalen Excellence-Schulnetzwerk von über 300 Schulen bundesweit und
			unterstützt vom Bundesministerium für Bildung und Forschung die HPI Schul-Cloud. Sie soll die technische
			Grundlage schaffen, dass Lehrkräfte und Schüler in jedem Unterrichtsfach auch moderne digitale Lehr- und
			Lerninhalte nutzen können, und zwar so, wie Apps über Smartphones oder Tablets nutzbar sind.</p>
	</div>

	<div>
		{{> "authentication/forms/login"}}
	</div>
</div>
{{> "authentication/forms/demo-login"}}

{{!--
{{> "authentication/forms/login"}}
{{> "authentication/forms/demo-login"}}
--}}
{{/content}}
{{/embed}}

{{#embed "authentication/section" style="primary" class="content-width-max"}}
{{#content "body"}}
<video-player configuration='{
	"streams" : [
		{
		"hd" : "https://www10-fms.hpi.uni-potsdam.de/vod/media/SCHUL-CLOUD/trailer2018/hd/video.mp4",
		"sd" : "https://www10-fms.hpi.uni-potsdam.de/vod/media/SCHUL-CLOUD/trailer2018/sd/video.mp4",
		"poster": "https://www10-fms.hpi.uni-potsdam.de/vod/media/SCHUL-CLOUD/trailer2018/trailer-poster.jpg",
		"hls": "https://www10-fms.hpi.uni-potsdam.de/vod/media/SCHUL-CLOUD/trailer2018/hls/video.m3u8"
		}
	],
	"language": "de",
	"theme" : "dark-red",
	"initialState": {
		"volume": 0.75,
		"quality" : "hls",
		"playbackRate" : 1.0
	},
	"videoPreload": false,
	"userPreferences" : {
	},
	"slides": []
}'>
</video-player>
{{/content}}
{{/embed}}

{{#embed "authentication/section" class="grix-2x2"}}
{{#content "body"}}
<img alt="" width="200px" style="grid-area: a; object-fit: contain; margin: 0 auto" src="/images/login-left.png" />
<div style="grid-area: b; margin: 0 auto;" class="content-width-max">
	<h2 class="h3 section-title">Niedrigschwelliger Zugang zu digitalen Unterrichtsinhalten</h2>
	<p>Eine moderne Lehr- und Lerninfrastruktur ist unabdingbar, um die digitale Transformation im Bildungssektor zum
		Erfolg zu führen und Kinder schon im Schulalter optimal auf das Leben in einer zunehmend digitalen Gesellschaft
		vorzubereiten.</p>
</div>
<img alt="" width="150px" style="grid-area: c; object-fit: contain; margin: 0 auto" src="/images/login-right.png" />
<div style="grid-area: d; margin: 0 auto;" class="grid-align-right content-width-max">
	<h2 class="h3 section-title">Ansatzpunkte der <span style="white-space: nowrap;">HPI Schul-Cloud</span></h2>
	<p>Die Nutzung digitaler Medien und Lernmethoden stellt viele Schulen noch vor große Herausforderungen: veraltete
		Hard- sowie Software im abgeschlossenen Computerraum, fächverbindender Einsatz kaum möglich uvm.</p>
</div>
{{/content}}
{{/embed}}

{{#embed "authentication/section" style="accent" class="content-width-max"}}
{{#content "body"}}
<h2 class="h3 section-title center">Die Grundidee der <span style="white-space: nowrap;">HPI Schul-Cloud</span></h2>
<p>Webbasierte Anwendungen sowie Rechenressourcen und Speichermöglichkeiten per Cloud Computing ermöglichen einen
	effizienten Zugriff auf zeitgemäße IT-Dienste für einen großen Kreis an Nutzer/innen.</p>
<p>Der spontane, bedarfsgerechte Einsatz in jedem beliebigen Unterrichtsfach wird dadurch erleichtert. Die aufwendige
	Installation von Software auf einzelnen Endgeräten der Nutzer/innen entfällt.</p>
<p>Sämtliche Programme und das Benutzerprofil werden via Internet zur Verfügung gestellt. Um Zugang zu den digitalen
	Inhalten zu erlangen, braucht es lediglich einen Internetzugang, webfähige Anzeige- und Eingabegeräte, einen
	modernen Webbrowser sowie entsprechende Berechtigungen.</p>
<p>Die Bereitstellung der HPI Schul-Cloud ist ein entscheidender Schritt, um die Nutzung digitaler Medien in der Schule
	flächendeckend voranzubringen.</p>
<ul>
	<li>Mehr Informationen: <a
			href="https://s3.hidrive.strato.com/schul-cloud-hpi/Dokumente/Die-HPI-Schul-Cloud_Roll-Out-einer-Cloud-Architektur-f%C3%BCr-Schulen-in-Deutschland.pdf"
			title="Initiates file download" target="_blank">Technischer Bericht: "Die HPI Schul-Cloud: Roll-Out einer
			Cloud-Architektur für Schulen in Deutschland" (.pdf)</a></li>
</ul>
<div class="text-center">
	<a href="/about" class="btn btn-outline btn-white-outlined mt-2">
		Über das Projekt
	</a>
</div>
{{/content}}
{{/embed}}

{{#embed "authentication/section" class="content-width-max"}}
{{#content "body"}}
{{!--
<h2 class="section-title center">Was bietet die HPI Schul-Cloud für:</h2>
<p>TODO embed tabs</p>
--}}
<video-player configuration='{
	"streams" : [
		{
		"hd" : "https://www10-fms.hpi.uni-potsdam.de/vod/media/SCHUL-CLOUD/explainer2018/hd/video.mp4",
		"sd" : "https://www10-fms.hpi.uni-potsdam.de/vod/media/SCHUL-CLOUD/explainer2018/sd/video.mp4",
		"poster": "https://www10-fms.hpi.uni-potsdam.de/vod/media/SCHUL-CLOUD/explainer2018/explainer-poster.jpg",
		"hls": "https://www10-fms.hpi.uni-potsdam.de/vod/media/SCHUL-CLOUD/explainer2018/hls/video.m3u8"
		}
	],
	"language": "de",
	"theme" : "dark-red",
	"initialState": {
		"volume": 0.75,
		"quality" : "hls",
		"playbackRate" : 1.0
	},
	"videoPreload": false,
	"userPreferences" : {
	},
	"slides": []
}'>
</video-player>
{{/content}}
{{/embed}}

{{#embed "authentication/section" style="primary" class="content-width-max"}}
{{#content "body"}}
<h2 class="h3 section-title center">Vorteile der <span style="white-space: nowrap;">HPI Schul-Cloud</span></h2>
<ul>
	<li>Zeit- und ortsunabhängiger Zugang zu einem großen Angebot an digitalen Lerninhalten</li>
	<li>Digitale Bildung jenseits separater Computerräume</li>
	<li>Professionelle Wartung</li>
	<li>Ständige Verfügbarkeit neuester Software für Lehrer/innen und Schüler/innen</li>
	<li>IT-Anwendungen entsprechen aktuellsten Sicherheitsstandards</li>
	<li>Anlaufstelle für neue digitale Lernangebote</li>
	<li>Direktes Feedback durch die Nutzer/innen</li>
	<li>Anregung zu selbstbestimmtem Lernen</li>
	<li>Bereitstellung eigens entworfener Lernangebote</li>
	<li>Erweiterung der Unterrichtsmethoden</li>
	<li>Vernetzung unterschiedlicher Lernorte</li>
</ul>
{{/content}}
{{/embed}}

{{#embed "authentication/section" class=""}}
{{#content "body"}}
<h2 class="h3 section-title center"><span style="white-space: nowrap;">HPI Schul-Cloud</span> Blog</h2>
<div class="blog-cards">
	{{#each blogFeed}}
	{{> "authentication/blog-card" article=this}}
	{{else}}
	<p>Der Blog ist derzeit deaktiviert! Das HPI Schul-Cloud Team kümmert sich darum.</p>
	{{/each}}
</div>
<a href="https://blog.schul-cloud.org" target="scblog" class="blog-link">weitere Artikel anzeigen</a>
{{/content}}
{{/embed}}

{{#embed "authentication/section" style="accent" class="content-width-max"}}
{{#content "body"}}
<div style="text-align: center;">
	<h2 class="h3 section-title center" style="max-width: 20ch; margin: 0 auto;">
		Alle Neuigkeiten rund um die <span style="white-space: nowrap;">HPI Schul-Cloud</span> bequem in Ihrem Postfach:
	</h2>
	<a href="https://hpi.de/open-campus/registrierung/hpi-schul-cloud-newsletter/" target="_blank"
		class="btn btn-outline btn-white-outlined mt-2">
		Newsletter abonnieren
	</a>
</div>
{{/content}}
{{/embed}}


{{#embed "authentication/section" class=""}}
{{#content "body"}}
<div style="text-align: center;">
	<h2 class="h3 section-title center">
		Projektdurchführung
	</h2>
	<div class="partners row">
		<a class="col-sm py-1" href="https://hpi.de/open-campus/hpi-initiativen/schul-cloud.html" target="_blank"
			rel="noopener">
			<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/partner/hpi-logo.jpg" alt="Logo HPI"
				class="partner">
		</a>
		<a class="col-sm py-1" href="https://www.mint-ec.de/" target="_blank" rel="noopener">
			<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/partner/mintec-logo.jpg" alt="Logo MINT-EC"
				class="partner">
		</a>
		<a class="col-sm py-1" href="https://www.bmbf.de/" target="_blank" rel="noopener">
			<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/partner/bmbf-logo.jpg" alt="Logo BMBF"
				class="partner">
		</a>
	</div>
</div>
{{/content}}
{{/embed}}

{{#embed "lib/components/modal-form" action="/pwrecovery/" method="post" class="pwrecovery-modal"}}
{{#content "fields"}}
{{> "authentication/forms/pwrecovery"}}
{{/content}}
{{/embed}}

{{/content}}
{{/extend}}
