{{#extend "lib/loggedout"}}

{{#content "styles" mode="append"}}
	<link rel="stylesheet" href="/styles/homepage/index.css" />
{{/content}}

{{#content "scripts" mode="append"}}
	<script src="/scripts/login.js" type="text/javascript" defer></script>

	<script type="text/javascript" src="/vendor/mailchimp.js" data-dojo-config="usePlainJson: true, isDebug: false" defer></script>
{{/content}}

{{#content "page"}}

{{#embed "authentication/section"}}
	{{#content "body"}}

	{{#hasConfig "GLOBAL_ANNOUNCEMENT"}}
		<div class="notification alert alert-info">
			<div class="notification-content">
				{{{getConfig "GLOBAL_ANNOUNCEMENT"}}}
			</div>
		</div>
	{{/hasConfig}}

		<div class="rows-2">
			<div>
				<h1 class="section-title">
					{{{$t "home.headline.welcomeToHPISchoolCloud"}}}
				</h1>
				<p>Das <a href="https://hpi.de" target="_blank">Hasso-Plattner-Institut</a> für Digital Engineering entwickelt
					unter der Leitung von Prof. Dr. Christoph Meinel zusammen mit <a href="https://www.mint-ec.de/"
						target="_blank">MINT-EC</a>, dem nationalen Excellence-Schulnetzwerk von über 300 Schulen bundesweit und
					unterstützt vom Bundesministerium für Bildung und Forschung die HPI Schul-Cloud. Sie soll die technische
					Grundlage schaffen, dass Lehrkräfte und Schüler in jedem Unterrichtsfach auch moderne digitale Lehr- und
					Lerninhalte nutzen können, und zwar so, wie Apps über Smartphones oder Tablets nutzbar sind.</p>
			</div>

			<div>
				{{> "authentication/forms/login"}}
			</div>
		</div>
		{{> "authentication/forms/demo-login"}}
	{{/content}}
{{/embed}}

{{#embed "authentication/section" style="primary" class="content-width-max"}}
	{{#content "body"}}
		<h2 class="h3 section-title center">{{$t "home.headline.explainationVideo"}}</h2>

		<video
			controls
			preload="metadata"
			poster="https://www10-fms.hpi.uni-potsdam.de/vod/media/SCHUL-CLOUD/explainer2018/explainer-poster.jpg"
		>
			<source src="https://www10-fms.hpi.uni-potsdam.de/vod/media/SCHUL-CLOUD/explainer2018/hd/video.mp4" type="video/mp4">
			{{$t "home.text.browserDoesNotSupportPlayer"}}
		</video>
	{{/content}}
{{/embed}}

{{#embed "authentication/section" class="content-width-max"}}
	{{#content "body"}}
		<div class="sc-blog mb-3">
			<h2 class="h3 section-title center title"></h2>
			<div class="content">
				<div class="text-center mt-3 mb-3" style="min-height: 150px;">
					<i class="fa fa-spinner fa-spin load-icon spinner" aria-hidden="true"
						style="font-size: 25px;"></i>
					<div class="placeholder" style="display: none;">
						{{$t "home.text.errorWhileLoadingHomepage"}} <br>
						<button type="button" class="btn btn-primary mt-1">{{$t "home.button.tryAgain"}}</button>
					</div>
				</div>
			</div>
		</div>

		<h2 class="h3 section-title center">{{{$t "home.headline.theIdea"}}}</h2>
		<p>Webbasierte Anwendungen sowie Rechenressourcen und Speichermöglichkeiten per Cloud Computing ermöglichen einen effizienten Zugriff auf zeitgemäße IT-Dienste für einen großen Kreis an Nutzer/innen.</p>
		<p>Der spontane, bedarfsgerechte Einsatz in jedem beliebigen Unterrichtsfach wird dadurch erleichtert. Die aufwendige Installation von Software auf einzelnen Endgeräten der Nutzer/innen entfällt.</p>
		<p>Sämtliche Programme und das Benutzerprofil werden via Internet zur Verfügung gestellt. Um Zugang zu den digitalen Inhalten zu erlangen, braucht es lediglich einen Internetzugang, webfähige Anzeige- und Eingabegeräte, einen modernen Webbrowser sowie entsprechende Berechtigungen.</p>
		<p>Die Bereitstellung der HPI Schul-Cloud ist ein entscheidender Schritt, um die Nutzung digitaler Medien in der Schule flächendeckend voranzubringen.</p>
		<ul>
			<li>{{$t "home.text.moreInformation"}} <a href="{{theme.documents.globalFiles.TechnischerBericht2019}}" title="{{$t "home.text.downloadFile"}}" target="_blank">{{$t "home.text.technicalReportHPISchoolCloud"}}</a></li>
		</ul>
		<div class="text-center">
			<a href="/about"class="btn btn-outline btn-white-outlined mt-2">
				{{$t "home.button.aboutTheProject"}}
			</a>
		</div>
	{{/content}}
{{/embed}}

{{#embed "authentication/section" style="accent" class=""}}
	{{#content "body"}}
		<h2 class="h3 section-title center">{{{$t "home.headline.HPISchoolCloudBlog"}}}</h2>
			<div class="blog-cards">
				{{#each blogFeed}}
					{{> "authentication/blog-card" article=this}}
				{{else}}
					<p>{{$t "home.text.blogIsDeactivated"}}</p>
				{{/each}}
			</div>
		<a href="https://blog.schul-cloud.org" target="scblog" class="blog-link">{{$t "home.link.moreArticles"}}</a>
	{{/content}}
{{/embed}}

{{#embed "authentication/section"  class="content-width-max"}}
	{{#content "body"}}
	<div style="text-align: center;">
		<h2 class="h3 section-title center" style="max-width: 20ch; margin: 0 auto;">
			{{{$t "home.headline.allNewsOnHPINewsletter"}}}
		</h2>
		<a href="https://hpi.de/open-campus/registrierung/hpi-schul-cloud-newsletter/" target="_blank" class="btn btn-outline btn-white-outlined mt-2">
			{{$t "home.button.subscribeNewsletter"}}
		</a>
	</div>
	{{/content}}
{{/embed}}

{{#embed "authentication/section" style="primary" class=""}}
	{{#content "body"}}
		<div style="text-align: center;">
			<h2 class="h3 section-title center">
				{{$t "home.headline.projectLeaders"}}
			</h2>
			<div class="partners row">
				<a class="col-sm py-1" href="https://hpi.de/open-campus/hpi-initiativen/schulcloud.html" target="_blank" rel="noopener">
					<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/partner/hpi-logo.jpg" alt="{{$t "home.img_alt.logoHPI"}}" class="partner">
				</a>
				<a class="col-sm py-1" href="https://www.mint-ec.de/" target="_blank" rel="noopener">
					<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/default/images/partner/mintec-logo.jpg" alt="{{$t "home.img_alt.logoMINTEC"}}" class="partner">
				</a>
				<a class="col-sm py-1" href="https://www.bmbf.de/" target="_blank" rel="noopener">
					<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/default/images/partner/bmbf-logo.jpg" alt="{{$t "home.img_alt.logoBMBF"}}" class="partner">
				</a>
			</div>
		</div>
	{{/content}}
{{/embed}}

{{#embed "lib/components/modal-form" action="/pwrecovery/" method="post" class="pwrecovery-modal"}}
	{{#content "fields"}}
		{{> "authentication/forms/pwrecovery"}}
	{{/content}}
{{/embed}}


	{{/content}}
{{/extend}}
