{{#extend "lib/loggedout"}}

{{#content "styles" mode="append"}}
	<link rel="stylesheet" href="/styles/homepage/index.css" />
{{/content}}

{{#content "scripts" mode="append"}}
	<script src="/scripts/login.js" type="text/javascript" defer></script>

	<script type="text/javascript" src="/vendor/mailchimp.js" data-dojo-config="usePlainJson: true, isDebug: false" defer></script>
{{/content}}

{{#content "page"}}

{{#embed "authentication/section"}}
	{{#content "body"}}
		<div class="rows-2">
			<div>
				<h1 class="section-title">
					Herzlich willkommen bei der <span style="white-space: nowrap;">HPI Schul-Cloud!</span>
				</h1>
				<p>Das <a href="https://hpi.de" target="_blank">Hasso-Plattner-Institut</a> für Digital Engineering entwickelt
					unter der Leitung von Prof. Dr. Christoph Meinel zusammen mit <a href="https://www.mint-ec.de/"
						target="_blank">MINT-EC</a>, dem nationalen Excellence-Schulnetzwerk von über 300 Schulen bundesweit und
					unterstützt vom Bundesministerium für Bildung und Forschung die HPI Schul-Cloud. Sie soll die technische
					Grundlage schaffen, dass Lehrkräfte und Schüler in jedem Unterrichtsfach auch moderne digitale Lehr- und
					Lerninhalte nutzen können, und zwar so, wie Apps über Smartphones oder Tablets nutzbar sind.</p>
			</div>

			<div>
				{{> "authentication/forms/login"}}
			</div>
		</div>
		{{> "authentication/forms/demo-login"}}
	{{/content}}
{{/embed}}

{{#embed "authentication/section" style="primary" class="content-width-max"}}
	{{#content "body"}}
		<h2 class="h3 section-title center">Erklärvideo zur HPI Schul-Cloud</h2>

		<video
			controls
			preload="metadata"
			poster="https://www10-fms.hpi.uni-potsdam.de/vod/media/SCHUL-CLOUD/explainer2018/explainer-poster.jpg"
		>
			<source src="https://www10-fms.hpi.uni-potsdam.de/vod/media/SCHUL-CLOUD/explainer2018/hd/video.mp4" type="video/mp4">
			Your browser does not support this (HTML5) videoplayer.
		</video>
	{{/content}}
{{/embed}}

{{#embed "authentication/section" class="content-width-max"}}
	{{#content "body"}}
		<h2 class="h3 section-title center">Die Grundidee der <span style="white-space: nowrap;">HPI Schul-Cloud</span></h2>
		<p>Webbasierte Anwendungen sowie Rechenressourcen und Speichermöglichkeiten per Cloud Computing ermöglichen einen effizienten Zugriff auf zeitgemäße IT-Dienste für einen großen Kreis an Nutzer/innen.</p>
		<p>Der spontane, bedarfsgerechte Einsatz in jedem beliebigen Unterrichtsfach wird dadurch erleichtert. Die aufwendige Installation von Software auf einzelnen Endgeräten der Nutzer/innen entfällt.</p>
		<p>Sämtliche Programme und das Benutzerprofil werden via Internet zur Verfügung gestellt. Um Zugang zu den digitalen Inhalten zu erlangen, braucht es lediglich einen Internetzugang, webfähige Anzeige- und Eingabegeräte, einen modernen Webbrowser sowie entsprechende Berechtigungen.</p>
		<p>Die Bereitstellung der HPI Schul-Cloud ist ein entscheidender Schritt, um die Nutzung digitaler Medien in der Schule flächendeckend voranzubringen.</p>
		<ul>
			<li>Mehr Informationen: <a href="{{theme.documents.globalFiles.TechnischerBericht2019}}" title="Initiates file download" target="_blank">Technischer Bericht: "Die HPI Schul-Cloud: Roll-Out einer Cloud-Architektur für Schulen in Deutschland" (.pdf)</a></li>
		</ul>
		<div class="text-center">
			<a href="/about"class="btn btn-outline btn-white-outlined mt-2">
				Über das Projekt
			</a>
		</div>
	{{/content}}
{{/embed}}

{{#embed "authentication/section" style="accent" class=""}}
	{{#content "body"}}
		<h2 class="h3 section-title center"><span style="white-space: nowrap;">HPI Schul-Cloud</span> Blog</h2>
			<div class="blog-cards">
				{{#each blogFeed}}
					{{> "authentication/blog-card" article=this}}
				{{else}}
					<p>Der Blog ist derzeit deaktiviert! Das HPI Schul-Cloud Team kümmert sich darum.</p>
				{{/each}}
			</div>
		<a href="https://blog.schul-cloud.org" target="scblog" class="blog-link">weitere Artikel anzeigen</a>
	{{/content}}
{{/embed}}

{{#embed "authentication/section"  class="content-width-max"}}
	{{#content "body"}}
	<div style="text-align: center;">
		<h2 class="h3 section-title center" style="max-width: 20ch; margin: 0 auto;">
			Alle Neuigkeiten rund um die <span style="white-space: nowrap;">HPI Schul-Cloud</span> bequem in Ihrem Postfach:
		</h2>
		<a href="https://hpi.de/open-campus/registrierung/hpi-schul-cloud-newsletter/" target="_blank" class="btn btn-outline btn-white-outlined mt-2">
			Newsletter abonnieren
		</a>
	</div>
	{{/content}}
{{/embed}}

{{#embed "authentication/section" style="primary" class=""}}
	{{#content "body"}}
		<div style="text-align: center;">
			<h2 class="h3 section-title center">
				Projektdurchführung
			</h2>
			<div class="partners row">
				<a class="col-sm py-1" href="https://hpi.de/open-campus/hpi-initiativen/schul-cloud.html" target="_blank" rel="noopener">
					<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/partner/hpi-logo.jpg" alt="Logo HPI" class="partner">
				</a>
				<a class="col-sm py-1" href="https://www.mint-ec.de/" target="_blank" rel="noopener">
					<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/default/images/partner/mintec-logo.jpg" alt="Logo MINT-EC" class="partner">
				</a>
				<a class="col-sm py-1" href="https://www.bmbf.de/" target="_blank" rel="noopener">
					<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/default/images/partner/bmbf-logo.jpg" alt="Logo BMBF" class="partner">
				</a>
			</div>
		</div>
	{{/content}}
{{/embed}}

{{#embed "lib/components/modal-form" action="/pwrecovery/" method="post" class="pwrecovery-modal"}}
	{{#content "fields"}}
		{{> "authentication/forms/pwrecovery"}}
	{{/content}}
{{/embed}}


	{{/content}}
{{/extend}}
