@import '../../core/styles/colors.scss';
@import '../../core/styles/bootstrap/scss/bootstrap';

body{
	max-height:100vh;
	max-width: 100vw;
	overflow:hidden;
}
.route-login {
	background:$colorBeige;
	position: absolute;
	width: 100%;
	height: 100%;

	h3 {
		color: $colorHPIRed;
		float:left;
		width:100%;
		text-align: center;
		font-weight:bold;
		margin:100px 0px;
	}

	.form-group {
		z-index:10;
		position: relative;
	}

	.select, .Select, select, input {
		margin-bottom:10px;
	}
	@include media-breakpoint-down(sm) {
		.navbar-nav .nav-item{
			margin-left:0;
			margin-right:1rem;
			float:right;
		}
		h3{
			margin: 100px 0 50px;
		}
	}
	@include media-breakpoint-down(xs) {
		h3{
			margin: 35px 0;
		}
	}
	
	.bg-graphic {
		position:absolute;
		background:no-repeat center center;
		background-size:contain;
		z-index:0;
		width:300px;
		height:300px;

		&.bg-graphic-left {
			left:10%;
			top:10%;
			background-image:url(../../../static/images/login-left.png);
		}

		&.bg-graphic-right {
			right:10%;
			top:30%;
			background-image:url(../../../static/images/login-right.png);
		}
		@include media-breakpoint-down(md) {
			&.bg-graphic-left{
				left: 0;
			}
			&.bg-graphic-right{
				right: 0;
			}
		}
		@include media-breakpoint-down(sm) {
			&.bg-graphic-right{
				display:none;
			}
			&.bg-graphic-left{
				top: 75px;
				left: 25px;
				width:150px;
				height:150px;
			}
		}
		@include media-breakpoint-down(xs) {
			&.bg-graphic-left{
				display:none;
			}
		}	
	}
}
@include media-breakpoint-down(xs) {
	header .navbar-brand{
		display:none;
	}
	footer{
		padding-bottom: 10px;
	}
}
