@import '../../core/styles/colors.scss';

.route-login {

	&.body {
		background:$colorBeige;
	}


	h1 {
		width:100%;
		text-align:center;
		color: $colorHPIRed;
		margin:100px 0px;
		float: left;
	}

	.form-group {
		width:400px;
		position: relative;
		left:50%;
		transform: translateX(-50%);
		float:left;
	}

	.btn {
		float:right;
	}

	select, input {
		width: 100%;
		margin-bottom:10px;
		border: 1px solid rgba(0, 0, 0, 0.3);
	}

}
