<section class="section-community">
	{{#embed "authentication/section" class="content-width-max"}}
	{{#content "body"}}

		{{#unless loggedin}}
			<h2 class="section-title center">{{title}}</h2>
		{{/unless}}
		<h3 class="h4">Jetzt für die HPI Schul-Cloud registrieren!</h3>

		<img src="/images/community.jpg" role="presentation" class="mb-2 w-100"
			style="height: auto; border-radius: 4px;" width="1000" height="667" loading="lazy">
		<p>
			Wir freuen uns, dass die Bundesbildungsministerin Anja Karliczek in dieser Situation heute die Freigabe der
			HPI Schul-Cloud für alle Schulen, die kein vergleichbares Angebot des Landes oder Schulträgers nutzen
			können, freigegeben hat.
		</p>
		<p>
			Die HPI Schul-Cloud bietet Ihnen und Ihrer Schule eine schnelle Unterstützung während der Schulschließungen
			als die zentrale digitale Lernumgebung. Dabei können sich Lehrpersonen und Schüler/innen sowie Lehrerteams
			oder Schülerlerngruppen bilden und Lernmaterialien kollaborativ erarbeiten, teilen, weiterentwickeln,
			feedbacken und auch für externe Teammitglieder (z.B. schulübergreifend) freigeben. Die digitale Lehr- und
			Lernumgebung ist intuitiv bedienbar, von jedem Ort, zu jeder Zeit und unabhängig vom Endgerät aufrufbar. Sie
			bietet Lehrenden und Lernenden einen digitalen Lernraum, in dem ihre (personenbezogenen) Daten und
			Materialien sicher vor unberechtigten Zugriffen sind.
		</p>
		<p>
			<b> Die Anmeldung zur HPI Schul-Cloud ist ganz einfach: </b>
			<ol>
				<li>
					Schulen, die sich für die HPI Schul-Cloud registrieren möchten, melden sich hier an:
					<a href="https://hpi.de/das-hpi/registrierung/anmeldung-fuer-die-schul-cloud/" target="_blank"
						rel="noopener">
						Anmeldeformular für interessierte Schulleiter:innen .
					</a>
				</li>
				<li>
					Sie erhalten eine Begrüßungsmail und Datenschutzdokumente.
				</li>
				<li>
					Nutzen Sie unsere Einführungs- und Fortbildungsangebote!
				</li>
			</ol>
		</p>
		<p>
			Unterstützung bei der Einarbeitung in die Schul-Cloud und Erstellung erster Inhalte erhalten Sie hier
			<a href="https://lernen.cloud/courses/schulcloud2019" target="_blank"
				rel="noopener">https://lernen.cloud/courses/schulcloud2019</a>
		</p>
		<p>
			Unser Partner der MINT-EC bietet zudem regelmäßig Webinare rund um die HPI Schul-Cloud an. Die neuen Termine
			finden Sie hier
			<a href="https://blog.schul-cloud.org/webinare/" target="_blank"
				rel="noopener">https://blog.schul-cloud.org/webinare/</a>
		</p>
		<div class="notification alert alert-info">
			<div class="notification-content">
				Hinweis: Sollten Sie einem der folgenden Bundesländer angehören wenden Sie sich bitte an die
				entsprechenden Ansprechpartner:innen
				<ul>
					<li>
						Niedersachsen: Landesinitiative n-21:
						<a href="mailto:info@n-21.de" target="_blank" rel="noopener">info@n-21.de</a>
					</li>
					<li>
						Brandenburg: Schul-Cloud Brandenburg:
						<a href="mailto:brandenburg@schul-cloud.org" target="_blank"
							rel="noopener">brandenburg@schul-cloud.org</a>
					</li>
					<li>
						Thüringen: Thüringer Schulcloud:
						<a href="mailto:tsc@thillm.de" target="_blank"
							rel="noopener">tsc@thillm.de</a>
					</li>
				</ul>
			</div>
		</div>
		<p>
			Wir geben uns viel Mühe und sind gut darauf vorbereitet schnell neue Schulen einzurichten, aber bitte
			beachten Sie, dass eine Bearbeitung einige Tage in Anspruch nehmen kann.
			<br />
			Bei Rückfragen wenden sie sich bitte an
			<a href="mailto:sc-anmeldung@schul-cloud.org" target="_blank"
				rel="noopener">sc-anmeldung@schul-cloud.org</a>.
		</p>
		<p>
			Wir freuen uns Sie als neue Schule willkommen zu heißen!
			<br />
			Ihr HPI Schul-Cloud Team
		</p>
	{{/content}}
	{{/embed}}
</section>
