

<section class="section-community">
    {{#embed "authentication/section" class="content-width-max"}}
        {{#content "body"}}

            {{#unless loggedin}}
				<h2 class="section-title center">{{title}}</h2>
            {{/unless}}
            <h3 class="h4">Jetzt die HPI Schul-Cloud nutzen</h3>

            <img src="/images/community.jpg" width="755px">
            <p class="mt-2">
                Sowohl das MINT-EC Projekt als auch die Pilotprojekte in den Ländern sind in sich geschlossene Förderprogramme. Aufgrund der hohen Nachfrage und auf Wunsch sprechen wir gern mit Ihnen darüber, wie Sie die HPI Schul-Cloud an Ihrer Schule auf eigene Kosten dennoch einsetzen können.<br />
                Schreiben Sie einfach eine E-Mail an <a href="mailto:info@schul-cloud.org" target="_blank" rel="noopener">info@schul-cloud.org</a> und wir vereinbaren einen gemeinsamen Telefontermin, in welchem wir uns über Ihre Bedarfe und Wünsche zum Einsatz der HPI Schul-Cloud austauschen.
            </p>
            <p>
			<a href="https://hpi.de/fileadmin/user_upload/hpi/dokumente/flyer/Schul-Cloud_Technische_Vorbereitungen.pdf" target="_blank" rel="noopener">Hier</a> können Sie bereits einsehen, welche Hinweise bei der Vorbereitung auf eine mögliche HPI Schul-Cloud Nutzung helfen können.
			</p>

            <div class="accordion" id="accordionMint">
                <div>
                    <div id="headingMint">
                        <button class="btn btn-link collapsed" style="padding: 0; font-weight: bold !important;" type="button" data-toggle="collapse" data-target="#collapseMint" aria-expanded="false" aria-controls="collapseMint" onclick="$(this).find('i').toggleClass('fa fa-angle-up fa fa-angle-down');">
                            <i class="fa fa-angle-down"></i> Als MINT-EC-Schule mitmachen
                        </button>
                    </div>
                    <div id="collapseMint" class="collapse" aria-labelledby="headingMint" data-parent="#accordionMint">
                        <div style="padding: 15px; border-left: solid 1px #cccccc">
                        <p>
                    		Alle 316 Schulen aus dem MINT-EC-Schulnetzwerk können sich für die Teilnahme am Projekt „HPI Schul-Cloud“ anmelden. Um Pilotschule zu werden loggen Sie sich bitte mit Ihrem Profil auf der Website des MINT-EC ein und füllen Sie das Formular aus.
				            <br/><br/>
				            <a href="https://www.mint-ec.de/schulnetzwerk/hpi-schul-cloud/mitmachen/" target="_blank">Zur Anmeldung</a>
				            <br/><br/>
				            <b>Die nächsten Starttermine:</b>
                            <ul>
                                <li>2. Schulhalbjahr 2019/2020</li>
                                <li>1. Schulhalbjahr 2020/2021</li>
                            </ul>
                        </p>
                        <p>
                            Auf der <a href="https://www.mint-ec.de/schulnetzwerk/hpi-schul-cloud/mitmachen/" target="_blank">MINT-EC-Website</a> finden Schulen weitere hilfreiche Informationen für den Einstieg in die HPI Schul-Cloud, wie etwa Rahmenbedingungen zur Teilnahme,
                            Unterstützung bei der Anmeldung und Nutzung sowie Möglichkeiten das Pilotprojekt aktiv mitzugestalten. Bei Fragen wenden Sie sich gerne an das Team „HPI Schul-Cloud“ von MINT-EC:
                            <ul>
                                <li>E-Mail: <a href="mailto:schul-cloud@mint-ec.de" target="_blank" rel="noopener">schul-cloud@mint-ec.de</a></li>
                                <li>Telefon: +49 (0)30 400 067 47</li>
                            </ul>
                            </p>        
                        </div>
                    </div>
                </div>
            </div>
            <br />
		{{/content}}
	{{/embed}}
	{{#embed "authentication/section" style="primary" class="content-width-max"}}
		{{#content "body"}}
			<h3 class="section-title center">Landesinitiativen</h3>
            <p>
                Die HPI Schul-Cloud wird bereits in drei Bundesländern mit landesspezifischen Umgebungen im Unterricht eingesetzt.
                Seit Februar 2018 ermöglicht sie als Niedersächsische Bildungscloud der <a href="https://www.n-21.de/index.php" rel="noopener" target="_blank">Landesinitiative n-21</a>
                an 45 Projektschulen und Projektfollowerschulen das digitale Arbeiten in der Cloud-Umgebung. </br>
                Im Sommer 2019 startete das Projekt Schul-Cloud Brandenburg, in Kooperation mit dem <a href="https://mbjs.brandenburg.de/bildung.html" rel="noopener" target="_blank">MBJS Brandenburg</a>,
                dem <a href="https://lisum.berlin-brandenburg.de/lisum/" rel="noopener" target="_blank">LISUM</a> und der <a href="https://www.ilb.de/de/wir-ueber-uns/beteiligungen/weitere-beteiligungen/digitalagentur-brandenburg-gmbh/" rel="noopener" target="_blank">DABB</a>.
                50 Schulen aller Schulformen, erstmals auch Grundschulen, können die brandenburgische Schul-Cloud seitdem im Schulalltag einsetzten. </br>
                In unserer jüngsten Kooperation mit dem <a href="https://www.schulportal-thueringen.de/thillm" rel="noopener" target="_blank">ThILLM</a> und dem <a href="https://bildung.thueringen.de/" rel="noopener" target="_blank">MBJS Thüringen</a>
                ist die Thüringer Schulcloud entstanden auf welche 42 Bildungseinrichtungen (Schulen verschiedener Schulformen und Studienseminare) zugreifen können.
                Eine Besonderheit stellt der Login über das Thüringer Schulportal dar, sodass die Schüler:innen und Lehrkräfte keine
                separaten Anmeldedaten für die Schulcloud benötigen. Weitere Projekte mit Schulträgern und einzelnen Schulen starten derzeit in ganz Deutschland (Stand Februar 2020).  
            </p>
            
            <p>
                <a href="https://hpi.de/pressemitteilungen/2018/digitalisierung-niedersaechsische-bildungscloud-und-bundesweite-schul-cloud-starten-kooperation-auf-der-didacta.html"
                    rel="noopener" target="_blank">
                    Pressemitteilung Niedersächsische Bildungscloud
                </a></br>
                <a href="https://hpi.de/pressemitteilungen/2019/51-brandenburger-schulen-starten-ab-dem-neuen-schuljahr-mit-der-hpi-schul-cloud.html"
                    rel="noopener" target="_blank">
                    Pressemitteilung Schul-Cloud Brandenburg
                </a></br>
                <a href="https://hpi.de/pressemitteilungen/2019/startschuss-fuer-die-thueringer-schulcloud.html"
                    rel="noopener" target="_blank">
                    Pressemitteilung Thüringer Schulcloud
                </a>
            </p>

            <p>
                Die HPI Schul-Cloud begrüßt die Kooperation mit weiteren Bundesländern stets.
                Sie können sich bei Interesse gerne an <a href="mailto:info@schul-cloud.org" target="_blank" rel="noopener">info@schul-cloud.org</a> wenden. 
            </p>
		{{/content}}
	{{/embed}}
	{{#embed "authentication/section" class="content-width-max"}}
		{{#content "body"}}
			<h3 class="section-title center">Inhalteanbieter</h3>
            <p>Wir freuen uns über Ihre Anfragen unter  <a href="mailto:inhalte@schul-cloud.org" target="_blank" rel="noopener">inhalte@schul-cloud.org</a>.</p>

            <h4>Entwickler, Informatik AGs, ...</h4>
            <p>
                Die {{theme.title}} ist ein Open-Source Projekt. Der Quellcode ist unter
                <a href="https://github.com/schul-cloud" target="_blank" rel="noopener">https://github.com/schul-cloud</a> zu finden.
                Unser Ticketsystem liegt unter <a href="https://ticketsystem.schul-cloud.org" target="_blank" rel="noopener">https://ticketsystem.schul-cloud.org</a>.
                Bei Bedarf kann auch eine Aufnahme in unseren Team-Messenger erfolgen.
                Wir freuen uns über Bugfixes und neue Funktionen. Mehr Infos gerne bei <a href="mailto:jan.renz@hpi.de" target="_blank" rel="noopener">jan.renz@hpi.de</a> erfragen.
            </p>
            <a name="jobs"></a>
            <h4>Stellenausschreibungen im Projekt Schul-Cloud</h4>
            <p>
                Du möchtest gerne Mitglied in unserem HPI Schul-Cloud Team werden? Wir suchen:
                <br />
                <a href="https://hpi.de/das-hpi/organisation/jobs/web-developer-m/w/d-im-projekt-hpi-schul-cloud.html" 
                    rel="noopener" target="_blank">
                    Web Developer (m/w/d) im Projekt HPI Schul-Cloud
                </a> <br>
                <a href="https://hpi.de/das-hpi/organisation/jobs/aktuelle-jobs/internettechnologien/system-engineer-dev-ops-mw.html"
                    rel="noopener" target="_blank">
                    System Engineer Dev-Ops (m/w/d) im Projekt HPI Schul-Cloud
                </a>
            </p>
        {{/content}}
    {{/embed}}
</section>
