<section class="section-community">

	{{#embed "authentication/section" class="content-width-max"}}
	{{#content "body"}}

	{{#unless loggedin}}
	<h1 class="h2 section-title center">{{$t "community.headline.joinNow"}}</h1>
	{{/unless}}

	<img src="/images/community.svg" role="presentation" class="mb-2 w-100"
		style="height: auto; border-radius: 4px; opacity: 0.8;" width="1000" height="667" loading="lazy" alt="">

	<h2 class="h5 mb-2">{{$t "community.headline.chooseYourState"}}</h2>
	<div class="accordion" id="accordionRegistration">
		<div class="card">
			<div class="" id="niAccordion" data-toggle="collapse" data-target="#collapseNi" aria-expanded="true"
				aria-controls="collapseNi">
				<button class="btn btn-link registration-button" type="button">
					<div class="registration-label">{{$t "community.button.lowerSaxony"}}</div>
					<img src="/images/logo/n21-schoolcloud-logo.svg" role="presentation" loading="lazy" width="150px"
						height="33px" class="registration-logo" alt="">
				</button>
			</div>

			<div id="collapseNi" class="collapse show" aria-labelledby="niAccordion" data-parent="#accordionRegistration">
				<div class="card-body p-1">
					{{$t "community.text.inNiedersachsenTheReferenceSchool"}}<br>
					{{$t "community.text.pleaseContactTheFollowingEmailAddress"}} <a
						href="mailto:nbc-support@netz-21.de">nbc-support@netz-21.de</a>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="" id="brbAccordion" data-toggle="collapse" data-target="#collapseBrb" aria-expanded="true"
				aria-controls="collapseBrb">
				<button class="btn btn-link registration-button" type="button">
					<div class="registration-label">{{$t "community.button.brandenburg"}}</div>
					<img src="/images/logo/brb-schoolcloud-logo.svg" role="presentation" loading="lazy" width="150px"
						height="35px" class="registration-logo" alt="">
				</button>
			</div>
			<div id="collapseBrb" class="collapse" aria-labelledby="brbAccordion" data-parent="#accordionRegistration">
				<div class="card-body p-1">
					{{$t "community.text.inBrandenburgTheAdmissionOfNewSchools"}}<br>
					{{$t "community.text.inMarch2020ZENSOSQueries"}}<br><br>
					{{$t "community.text.forGeneralQuestionsPleaseContact"}} <a
						href="mailto:brandenburg@schul-cloud.org">brandenburg@schul-cloud.org</a>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="" id="thAccordion" data-toggle="collapse" data-target="#collapseTh" aria-expanded="true"
				aria-controls="collapseTh">
				<button class="btn btn-link registration-button" type="button">
					<div class="registration-label">{{$t "community.button.thuringia"}}</div>
					<img src="/images/logo/th-schoolcloud-logo.svg" role="presentation" loading="lazy" width="150px" height="35px"
						class="registration-logo" alt="">
				</button>
			</div>
			<div id="collapseTh" class="collapse" aria-labelledby="thAccordion" data-parent="#accordionRegistration">
				<div class="card-body p-1">
					{{$t "community.text.inThuringiaTheThuringianInstitute"}}<br><br>
					{{{$t "community.text.contactUsToRegister"}}}
				</div>
			</div>
		</div>
		<div class="card">
			<div class="" id="mintAccordion" data-toggle="collapse" data-target="#collapseMint" aria-expanded="true"
				aria-controls="collapseMint">
				<button class="btn btn-link registration-button" type="button">
					<div class="registration-label">{{$t "community.button.mintECSchools"}}</div>
					<img src="/images/logo/mint-ec-logo.svg" role="presentation" loading="lazy" height="35px"
						class="registration-logo" alt="">
				</button>
			</div>
			<div id="collapseMint" class="collapse" aria-labelledby="mintAccordion" data-parent="#accordionRegistration">
				<div class="card-body p-1">
					{{$t "community.text.MINTECSchoolsAnd"}}<br><br>

					{{$t "community.text.hereIsOurRegistrationForm"}}<br>
					<a
						href="https://hpi.de/das-hpi/registrierung/anmeldung-fuer-die-schul-cloud">https://hpi.de/das-hpi/registrierung/anmeldung-fuer-die-schul-cloud</a>.
				</div>
			</div>
		</div>
		<div class="card">
			<div class="" id="foreignAccordion" data-toggle="collapse" data-target="#collapseForeign" aria-expanded="true"
				aria-controls="collapseForeign">
				<button class="btn btn-link registration-button" type="button">
					<div class="registration-label">{{$t "community.button.germanSchoolsAbroad"}}</div>
					<img src="/images/logo/globe.svg" role="presentation" loading="lazy" width="35px" height="35px"
						class="registration-logo" alt="">
				</button>
			</div>
			<div id="collapseForeign" class="collapse" aria-labelledby="foreignAccordion"
				data-parent="#accordionRegistration">
				<div class="card-body p-1">
					{{$t "community.text.theCentralOfficeForSchools"}}<br><br>
					{{{$t "community.text.justWriteAnEmailTo"}}}
					{{$t "community.text.youWillThenBeGiven"}}
				</div>
			</div>
		</div>
		<div class="card">
			<div class="" id="otherSchoolsAccordion" data-toggle="collapse" data-target="#collapseOtherSchools"
				aria-expanded="true" aria-controls="collapseOtherSchools">
				<button class="btn btn-link registration-button" type="button">
					<div class="registration-label">{{$t "community.button.allOtherSchools"}}</div>
					<img src="/images/logo/hand-in-hand.svg" role="presentation" loading="lazy" width="35px" height="35px"
						class="registration-logo" alt="">
				</button>
			</div>
			<div id="collapseOtherSchools" class="collapse" aria-labelledby="otherSchoolsAccordion"
				data-parent="#accordionRegistration">
				<div class="card-body p-1">
					{{$t "community.text.MINTECSchoolsAnd"}}<br><br>

					{{$t "community.text.hereIsOurRegistrationForm"}}<br>
					<a
						href="https://hpi.de/das-hpi/registrierung/anmeldung-fuer-die-schul-cloud">https://hpi.de/das-hpi/registrierung/anmeldung-fuer-die-schul-cloud</a>.
				</div>
			</div>
		</div>
	</div>

	<p class="mt-3">
		{{$t "community.text.youCanGetSupport"}} <a href="https://lernen.cloud/courses/schulcloud2019"
			target="_blank">https://lernen.cloud/courses/schulcloud2019</a>.
	</p>
	<p>
		{{$t "community.text.ourPartnerOfMINIECAlso"}} <a href="https://blog.schul-cloud.org/webinare/"
			target="_blank">https://blog.schul-cloud.org/webinare/</a>.
	</p>
	{{/content}}
	{{/embed}}
</section>
