<section class="section-community">
    {{#embed "authentication/section" class="content-width-max"}}
    {{#content "body"}}

    {{#unless loggedin}}
    <h2 class="section-title center">{{title}}</h2>
    {{/unless}}
    <h3 class="h4">Jetzt die HPI Schul-Cloud nutzen</h3>

    <img class="mb-1" src="/images/community.jpg" width="755px">
    <p>
        Zur schnellen Unterstützung der Schulen in der Coronakrise öffnet das Bundesministerium für Bildung
        und Forschung die HPI Schul-Cloud für alle Schulen, die kein vergleichbares Angebot des Landes oder
        Schulträgers nutzen können.
    </p>
    <p>
        <b><a href="https://hpi.de/das-hpi/registrierung/anmeldung-fuer-die-schul-cloud/" target="_blank" rel="noopener">
        ☞ Direkt zum Anmeldeformular für interessierte Schulleiter:innen
        </a></b>
    </p>
    <p>
        Das BMBF stellt in dieser Notsituation Soforthilfen für ein Verbundprojekt der HPI Schul-Cloud mit der
        <a href="https://www.wikimedia.de/" target="_blank" rel="noopener">
            Wikimedia Deutschland e. V.
        </a>
        und der 
        <a href="https://edu-sharing-network.org/" target="_blank" rel="noopener">
            edu-sharing.net e. V.
        </a> 
        bereit. Beide Vereine sind Mitglieder
        des Bündnis Freie Bildung und werden die Einbindung von Lerninhalten in den Lern-Store der HPI
        Schul-Cloud betreuen.   
    </p>

    <p>
        Zum bundesweiten Rollout erklärte Bundesbildungsministerin Anja Karliczek heute: „In diesen Wochen
        der Schulschließungen sind digitale Lehr- und Lernangebote, die auch zu Hause genutzt werden können,
        ein wahrer Gewinn. Viele Lehrkräfte benötigen Infrastruktur, um ihren Unterrichtsstoff auch auf Distanz
        vermitteln zu können. Die HPI-Schul-Cloud, die das BMBF fördert, hat sich als digitale Lerninfrastruktur
        gut etabliert.“ Sie werde bereits von
        <a href="https://www.mint-ec.de/hpi-schul-cloud/" target="_blank" rel="noopener">
            128 Schulen aus dem Nationalen Excellence-Schulnetzwerk MINT-EC
        </a>
        (Schulen mit einem Schwerpunkt auf den sogenannten MINT-Fächern: Mathematik, Informatik,
        Naturwissenschaften und Technik) bundesweit und im Ausland genutzt. Dieses Angebot wolle man daher jetzt
        auch allen anderen Schulen zur Verfügung stellen.        
    </p>

    <p>
        „Dank der schnellen Unterstützung des BMBF können wir jetzt sofort allen interessierten Schulen in
        Deutschland die HPI Schul-Cloud zur Verfügung stellen. Wir werden den Einführungsprozess dafür deutlich
        verkürzen, um alle interessierten Schulen so schnell wie möglich anzuschließen und über die Lernplattform
        Lernen.cloud Einführungskurse und Best-Practice-Lehrbeispiele anbieten“, so Professor Christoph Meinel,
        Direktor des
        <a href="https://hpi.de" target="_blank" rel="noopener">
            Hasso-Plattner-Instituts (HPI)
        </a>
        und Leiter des HPI Schul-Cloud-Projekts.
    </p>

    <p>
        „Vielleicht können wir der Krise auf diese Weise auch etwas Positives abgewinnen, in dem wir die digitale
        Schulbildung voranbringen. Als moderne digitale Lernumgebung kann die HPI Schul-Cloud zu jeder Zeit und
        an jedem Ort genutzt werden. Auch in Zeiten von Schulschließungen kann in der HPI Schul-Cloud weiterhin
        gemeinschaftlich an Dokumenten, Projekten oder Hausaufgaben gearbeitet werden und der Unterricht muss
        nicht zum Erliegen kommen“, so Meinel.
    </p>

    <h4 class="h5">Anmeldemöglichkeiten für Schulen</h4>
    <p>
        Schulen, die die HPI Schul-Cloud nutzen und sich registrieren möchten, finden hier das
        <a href="https://hpi.de/das-hpi/registrierung/anmeldung-fuer-die-schul-cloud/" target="_blank" rel="noopener">
            Anmeldeformular für interessierte Schulleiter:innen.
        </a>      
    </p>
    {{/content}}
    {{/embed}}
</section>
