<p>
	Herzlich Willkommen in der {{@root.theme.short_title}},
	{{@root.currentUser.firstName}} {{@root.currentUser.lastName}},
</p>
<p>
	bevor du mit der Nutzung fortfahren kannst, klicke dich bitte durch folgenden Seiten.
</p>
