{{#extend "lib/loggedin"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/calendar/fullcalendar.min.css"/>
        <link rel="stylesheet" href="/styles/calendar/calendar.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/moment/moment.js" type="text/javascript" defer></script>
        <script>
            window.addEventListener('DOMContentLoaded', function() {
                moment().format();
            });
        </script>
        <script src="/scripts/fullcalendar/fullcalendar.min.js" type="text/javascript" defer></script>
        <script src="/scripts/fullcalendar/de.js" type="text/javascript" defer></script>
        <script src="/scripts/calendar.js" type="text/javascript" defer></script>
    {{/content}}

    {{#content "page"}}
        <div class="route-calendar">
            <div class="fullcalendar" id="calendar"></div>
        </div>

        {{#embed "lib/components/modal-form" class="create-event-modal" action="/calendar/events/"}}
            {{#content "fields"}}
                {{> "calendar/forms/form-create-event"}}
            {{/content}}
        {{/embed}}

        {{#embed "lib/components/modal-form" method="put" class="edit-event-modal"}}
            {{#content "fields"}}
                {{> "calendar/forms/form-create-event"}}
            {{/content}}
            {{#content "additional-actions"}}
                    <button type="button" class="btn btn-primary btn-danger btn-delete">
                        Löschen
                    </button>
            {{/content}}
        {{/embed}}
    {{/content}}
{{/extend}}