{{#extend "lib/loggedin"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/calendar/fullcalendar.min.css"/>
        <link rel="stylesheet" href="/styles/calendar/calendar.css"/>
        <link rel="stylesheet" href="/styles/lib/toggle/bootstrap-toogle.min.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/calendar.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}

    {{#content "page"}}
        <div class="route-calendar">
            <div class="fullcalendar" id="calendar"></div>
        </div>

        {{#userHasPermission "CALENDAR_CREATE"}}
        {{#embed "lib/components/modal-form" class="create-event-modal" action="/calendar/events/" userId=../userId showVideoconferenceOption=../showVideoconferenceOption}}
            {{#content "fields"}}
                {{> "calendar/forms/form-create-event" addCourse="true" addTeam="true" collapseIdCourse="2" collapseIdTeam="3"}}
            {{/content}}
        {{/embed}}
        {{/userHasPermission}}

        {{#embed "lib/components/modal-form" method="put" action="/calendar/events/" class="edit-event-modal"}}
            {{#content "fields"}}
                {{> "calendar/forms/form-create-event" addCourse="true" addTeam="true" collapseIdCourse="4" collapseIdTeam="5"}}
            {{/content}}
            {{#content "additional-actions"}}
                    <button type="button" class="btn btn-primary btn-danger btn-delete">
                        <i class="fa fa-trash-o"></i> {{$t "global.button.delete" }}
                    </button>
            {{/content}}
        {{/embed}}
    {{/content}}
{{/extend}}
