
@import '../../core/styles/colors.scss';

.details{
	position:absolute;
	margin-left: 70px;
	margin-top: 100px;
	z-index:10;

	.errnumber{
		font-size: 800%;
		font-weight: bold;
	}

	.underline{
		font-weight: bold;
		font-size: 500%;
	}

	.description{
		font-size: 200%;
	}

}


