{{#extend "lib/loggedin"}}

	{{#content "styles" mode="append"}}
		<link rel="stylesheet" href="/styles/help/help.css"/>
	{{/content}}

	{{#content "scripts" mode="append"}}
	{{/content}}

	{{#content "page"}}
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header" role="tab" id="heading-0">
							<h2 class="h5 mb-0">
								ThILLM
							</h2>
						</div>
						<div id="collapse-0" class="collapse show in">
							<div class="card-block">
								Richte dich für pädagogische Fragen bitte an das Thüringer Institut für Lehrerfortbildung, Lehrplanentwicklung und Medien (ThILLM) unter folgender E-Mail-Adresse:<br>
								<a href="mailto:info@thillm.de" target="blank" rel="noopener" class="externalLink">info@thillm.de</a>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" role="tab" id="heading-1">
							<h2 class="h5 mb-0">
								HPI
							</h2>
						</div>
						<div id="collapse-1" class="collapse show in">
							<div class="card-block">
								Für technsiche Fragen richte dich bitte an das Hasso-Plattner-Institut unter folgender E-Mail-Adresse:<br>
								<a href="mailto:thueringen@hpi-schul-cloud.de" target="blank" rel="noopener" class="externalLink">thueringen@hpi-schul-cloud.de</a>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" role="tab" id="heading-2">
							<h2 class="h5 mb-0">
								Feedback / Wünsche / Probleme bei der Nutzung
							</h2>
						</div>
						<div id="collapse-2" class="collapse show in">
							<div class="card-block">
								Für die Meldung von Problemen oder Wünschen hinsichtlich der Bedienung der Thüringer Schul-Cloud verwende bitte das Kontaktformular im Hilfebereich oder sende eine E-Mail an <br><a href="mailto:feedback@hpi-schul-cloud.de" target="blank" rel="noopener" class="externalLink">feedback@hpi-schul-cloud.de</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/content}}
{{/extend}}
