{{#extend "lib/default"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/authentication/home.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}

    {{/content}}

    {{#content "body"}}
        {{#embed "lib/header"}}{{/embed}}
        <main class="container">
            <div class="row">
                <div class="col-md-12">
                    <section class="card">
                        <div class="card-block">
                            {{#block "page"}}{{/block}}
                        </div>
                    </section>
            </div>
            </div>
        </main>
        {{#embed "lib/extended_footer"}}{{/embed}}
    {{/content}}
{{/extend}}