<div class="form-group">
    <p>Ändere hier die Rolle des Nutzers:</p>
    <div style="margin-bottom: 6rem" class="form-group padding-bottom">
        <label for="role">Gebe hier ein, welche Rolle das Mitglied erhalten soll.</label>
        <select placeholder="Rolle angeben" name="role" id="role">
            <option value="leader" selected>Leiter</option>
            <option value="member">Mitglied</option>
        </select>
    </div>
</div>