<div class="form-group">
    <label for="invitation">Füge einen Code ein, um Themen anderer Nutzer zu importieren. Im Thema enthaltene Dateien werden in deinem Kursordner abgelegt.</label>
    <input class="form-control" name="shareToken" type="text" />
    <input class="form-control" hidden name="courseId" />
    <br/><p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <strong>Achtung:</strong> Tausche im Thema enthaltene, mit Nutzerdaten befüllte Tools (z.B. nexBoard, Etherpad, GeoGebra) nachträglich manuell aus, da Änderungen daran sich sonst auf den Original-Kurs auswirken! Dateien (Bilder, Videos, Audio) sowie verlinktes Material sind nicht betroffen und können unverändert bleiben.
    </p>
</div>
