<div class="form-group" id="step1">
    <label for="shareToken">{{$t "teams.form_importTopic.label.insertACodeToImportCourse"}}</label>
    <input class="form-control" name="shareToken" id="shareToken" type="text" required />
    <br />
    <p>{{$t "teams.form_importTopic.text.aCourseFolderIsAutomaticallyCreated"}}</p>
    <p><i class="fa fa-exclamation-triangle" aria-hidden = " true " ></i> {{$t "courses.text.importCourseAttentionTools"}}</p>
</div>
<div class="form-group" id="step2">
    <label for="courseName">{{$t "teams.form_importTopic.label.renameTheCourse"}}</label>
    <input class="form-control" name="name" id="courseName" type="text" aria-describedby = " courseNameHint "  required />
    <br />
    <p>{{$t "courses.text.finishImport"}}</p>
</div>
