<div class="form-group" id="step1">
    <label for="shareToken">{{$t "teams.form_import.label.insertACodeToImport"}}</label>
    <input class="form-control" name="shareToken" id="shareToken" type="text" required />
    <br />
    <p>{{$t "teams.form_import.text.aCourseFolderIsAutomaticallyCreated"}}</p>
    <p><i class="fa fa-exclamation-triangle"></i> {{$t "teams.form_import.text.attentionReplaceTheTools"}}</p>
</div>
<div class="form-group" id="step2">
    <label for="courseName">{{$t "teams.form_import.label.renameTheCourse"}}</label>
    <input class="form-control" name="name" id="courseName" type="text" required />
    <br />
    <p>{{$t "teams.form_import.text.completeTheImport"}}</p>
</div>
