<div class="form-group">
    <label for="invitation" class="confirm">{{$t "teams._team.members.label.reallyWantToRmUser"}}</label>

    <div class="alert alert-warning-v2 pa-2 mb-4" role="alert" style="display: flex">
        <i class="fa fa-exclamation-triangle" style="margin: 8px 8px 0 0" aria-hidden="true"></i><p>{{$t "teams._team.members.label.removeUserWFilesIntro"}}</p>
    </div>
    <ul class="file-list"></ul>
    <label for="invitation" class="confirm_alt">{{$t "teams._team.members.label.reallyWantToRmUserWFiles"}}</label>
    <input type="hidden" name="userToRemove">
</div>
