<div class="form-group">
    <p>Hier kannst du die Einladung an dsadas@dsadsad.de erneut senden oder entfernen.</p>
    {{!-- <button class="btn btn-primary btn-delete-inviation">Einladung löschen</button>

    <p class="padding-top">Sende dem Nutzer erneut eine Einladung zu.</p>
    <button class="btn btn-primary btn-resend-invitation">Einladung erneut senden</button> --}}

    {{!-- <div class="padding-top" style="margin-bottom: 6rem" class="form-group padding-bottom">
        <label for="role">Gebe ein, welche Rolle der Teilnehmer erhalten soll.</label>
        <select placeholder="Rolle angeben" name="role" id="role">
            <option value="member" selected>Teilnehmer</option>
            <option value="teamexpert">Team-Experte</option>
        </select>
    </div> --}}
</div>