<div class="form-group">
    <p>{{$t "teams._team.members.text.changeRoleOfMember"}}</p>
    <div style="margin-bottom: 12rem" class="form-group padding-bottom">
        <label for="role">{{$t "teams._team.members.label.selectRoleForMember"}}</label>
        <select class="no-bootstrap" placeholder="{{$t "teams._team.members.placeholder.selectRole"}}" data-placeholder="{{$t "teams._team.members.placeholder.selectRole"}}" name="role" id="role">
            {{#each roles}}
                <option value="{{this._id}}" {{#ifeq this.name "teamexpert"}}selected{{/ifeq}}>{{this.label}}</option>
            {{/each}}
        </select>
    </div>
</div>
