<div class="form-group">
    <p>Lade Lehrer anderer Schulen als Team-Admin ein, damit er Lehrer und Schüler seiner Schule hinzufügen kann.
        Benutze dazu die E-Mail-Adresse, mit der sie in der Schule angemeldet sind.</p>
    <div class="form-group">
        <label for="email">Gebe die E-Mail der Person ein, an welche die Einladung verschickt wird.</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="E-Mail eingeben">
    </div>
    <div style="margin-bottom: 6rem" class="form-group padding-bottom">
        <label for="role">Gebe ein, welche Rolle das Mitglied erhalten soll.</label>
        <select placeholder="Rolle angeben"  data-placeholder="Rolle angeben" name="role" id="role">
            {{#each roles}}
                <option value="{{this._id}}">{{this.label}}</option>
            {{/each}}
        </select>
    </div>
</div>