{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/teams/forms/form-file-permissions.css" />
{{/content}}

<div class="form-group">
    <h2 class="h4">{{$t "teams._team.headline.shareFilesSettings"}}</h2>
    <strong>{{$t "teams._team.text.theseSettingsWillBeAppliedToNewFiles"}}</strong>
    <br><br>
    <table class="team-file-permissions">
        <tr>
            <th>{{$t "teams._team.label.role"}}</th>
            <th>{{$t "teams._team.label.accessToData"}}</th>
        </tr>
        <tr>
            <td>{{$t "teams._team.label.externExperts"}}</td>
            <td>
                <input class="box" type="checkbox" name="externalExperts" data-force-value value="allowExternalExperts" {{allowExternalExperts}} />
            </td>
        </tr>
        <tr>
            <td>{{$t "teams._team.label.members"}}</td>
            <td>
                <input class="box" type="checkbox" name="teamMembers" data-force-value value="allowTeamMembers" {{allowTeamMembers}} />
            </td>
        </tr>
        <tr>
            <td>{{$t "teams._team.label.leadersAndAdmins"}}</td>
            <td>
                <input class="box" type="checkbox" data-force-value name="other" value="allowOthers" checked="checked" disabled />
            </td>
        </tr>
    </table>
    <br>
    <i>{{$t "teams._team.text.youCanChangeSettingsForSingleFilesLater"}}</i>
</div>