<div class="form-group">
    <label for="invitation">{{$t "teams.form_importTopic.text.insertACodeToImportTopic"}}</label>
    <input class="form-control" name="shareToken" type="text" />
    <input class="form-control" hidden name="courseId" />
    <br/><p><i class="fa fa-exclamation-triangle" aria-hidden = " true " ></i> {{$t "teams.form_importTopic.text.attentionNotice"}}
    </p>
</div>
