<style>
    .team-file-permissions th, .team-file-permissions td {
        text-align: left;
        padding: 11px;
        text-align: center;
        border: 1px solid grey
    }
</style>

<div class="form-group">
    <h2 class="h4">Dateifreigabe-Einstellungen</h2>
    <strong>Folgende Berechtigungen werden für neu hochgeladene/erstellte Ordner und Dateien innerhalb des Teams aktiv:</strong>
    <br><br>
    <table class="team-file-permissions">
        <tr>
            <th>Rolle</th>
            <th>Zugriff auf Dateien</th>
        </tr>
        <tr>
            <td>Externe Experten</td>
            <td>
                <input class="box" type="checkbox" name="externalExperts" data-force-value value="allowExternalExperts" {{allowExternalExperts}} />
            </td>
        </tr>
        <tr>
            <td>Teilnehmer</td>
            <td>
                <input class="box" type="checkbox" name="teamMembers" data-force-value value="allowTeamMembers" {{allowTeamMembers}} />
            </td>
        </tr>
        <tr>
            <td>Leiter und Team-Admins</td>
            <td>
                <input class="box" type="checkbox" data-force-value name="other" value="allowOthers" checked="checked" disabled />
            </td>
        </tr>
    </table>
    <br>
    <i>Du kannst die Zugriffsberechtigungen für einzelne Dateien und Ordner jederzeit bearbeiten.</i>
</div>