<div class="form-group" data-teamId="{{teamId}}">
    <p>Füge hier externe Mitglieder hinzu:</p>
    <div class="form-group">
        <label for="email">Gebe hier die E-Mail der Person ein, an welche die Einladung verschickt wird.</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="E-Mail eingeben">
    </div>
    <div style="margin-bottom: 6rem" class="form-group padding-bottom">
        <label for="role">Gebe hier ein, welche Rolle das Mitglied erhalten soll.</label>
        <select placeholder="Rolle angeben"  name="role" id="role">
            <option value="teamadministrator">Leiter</option>
            <option value="teamexpert">Experte</option>
            <option value="teammember">Mitglied</option>
        </select>
    </div>
</div>