<div class="form-group">
    <label for="invitation">Die eingeladene Person hat eine E-Mail bekommen. Alternativ kann dieser Link benutzt werden, der Nutzer muss dafür angemeldet sein:</label>
    <input class="form-control" name="invitation" type="text" />
</div>