<div class="form-group" id="step1">
    <label for="shareToken">Füge einen Code ein, um Kursinhalte anderer Nutzer zu importieren.</label>
    <input class="form-control" name="shareToken" id="shareToken" type="text" required />
    <br />
    <p>Für den importierten Kurs wird automatisch ein Kursordner angelegt. Schülerbezogene Daten des Originalkurses werden entfernt. Füge anschließend Schüler hinzu und vergib einen Termin für den Kurs.</p>
    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Achtung: Tausche im Thema enthaltene, mit Nutzerdaten befüllte Tools (z.B. nexBoard, Etherpad, GeoGebra) nachträglich manuell aus, da Änderungen daran sich sonst auf den Original-Kurs auswirken! Dateien (Bilder, Videos, Audio) sowie verlinktes Material sind nicht betroffen und können unverändert bleiben.</p>
</div>
<div class="form-group" id="step2">
    <label for="courseName">Benenne den Kurs um.</label>
    <input class="form-control" name="name" id="courseName" type="text" aria-describedby="courseNameHint" required />
    <br />
    <p id="courseNameHint">Schließe den Import ab. Lege im nächsten Schritt einen neuen Kurstermin fest und füge Schüler hinzu.</p>
</div>
