<p>{{$t "theme.open.help.text.theHassoPlattnerInstituteIsAvailableFor"}}</p>
<div id="email-addresses">
    <a href="mailto:feedback@hpi-schul-cloud.de" target="_blank" rel="noopener">feedback@hpi-schul-cloud.de</a>
</div>
