<p>Das Hasso-Plattner-Institut steht für alle Fragen zur HPI Schul-Cloud zur Verfügung. Wir sind unter folgender Email-Adresse erreichbar:</p>
<div id="email-addresses">
    <a href="mailto:feedback@schul-cloud.org" target="_blank" rel="noopener">feedback@schul-cloud.org</a>
</a>
