<p>Das Hasso-Plattner-Institut steht für alle Fragen zur HPI Schul-Cloud zur Verfügung. Wir sind unter folgender Email-Adresse erreichbar:</p>
<div id="email-addresses">
    <a href="mailto:support@dbildungscloud.de" target="_blank" rel="noopener">support@dbildungscloud.de</a>
</div>
