{{#extend "lib/loggedin"}}

	{{#content "styles" mode="append"}}
		<link rel="stylesheet" href="/styles/help/help.css"/>
	{{/content}}

	{{#content "scripts" mode="append"}}
	{{/content}}

	{{#content "page"}}
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header" role="tab" id="heading-{{@index}}">
							<h2 class="h5 mb-0">
								Feedback / Wünsche / Probleme bei der Nutzung
							</h2>
						</div>
						<div id="collapse-{{@index}}" class="collapse show in">
							<div class="card-block">
								Für die Meldung von Problemen oder Wünschen hinsichtlich der Bedienung der HPI Schul-Cloud verwende bitte das Kontaktformular im Hilfebereich oder sende eine E-Mail an <br><a href="mailto:feedback@hpi-schul-cloud.de" target="blank" rel="noopener" class="externalLink">feedback@hpi-schul-cloud.de</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/content}}
{{/extend}}
