<h2 class="h3">
	Logdateien
</h2>
<p>Bei jedem Besuch der Niedersächsischen Bildungscloud werden von Ihrem Internetbrowser automatisch Nutzungsdaten übermittelt und in sogenannten Logdateien ausschließlich pseudonymisiert gespeichert, sodass keine personenbezogenen Daten wie IP-Adressen enthalten sind.</p>