<h3>
	Verarbeitung und Nutzung personenbezogener Daten
</h3>
<p>Sofern nicht explizit anderweitig gekennzeichnet werden die erhobenen Daten ausschließlich dazu genutzt, um die Bereitstellung und Funktion der Niedersächsischen Bildungscloud und der ihr angeschlossenen Dienste zu ermöglichen.</p>
<p>Eine darüberhinausgehende Nutzung erfolgt lediglich im Rahmen des Forschungsvorhabens. Hier werden statistische Daten, wie z. B. die Anzahl der Klicks für die Weiterentwicklung der Niedersächsischen Bildungscloud genutzt. Die Auswertung erfolgt ausschließlich auf Basis pseudonymisierter Daten, sodass Rückschlüsse auf die betroffene Person ausgeschlossen bzw, wesentlich erschwert werden.</p>