<h3>
	Verantwortliche Stelle
</h3>
<p>Verantwortliche Stelle für Verarbeitung Ihrer personenbezogenen Daten ist die Schule, der Sie angehören oder der Schulträger. Ihre Schule oder der Schulträger ist beauftragende Stelle und obere Aufsichtsbehörde.</p>