<h2 class="h3">
	Ihre Rechte
</h2>
<p>Auf Grundlage der DSGVO haben Sie das Recht auf Auskunft, Berichtigung, Sperrung oder Löschung Ihrer gespeicherten Daten.</p>
<p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten.</p>
<p>Sofern Sie registrierter Nutzer der Niedersächsischen Bildungscloud sind, wenden Sie sich bitte an Ihre Schule. Sind sie noch kein Nutzer, richten Sie Ihre Anfrage bitte per Email oder Post an:</p>