<h2 class="h3">
	Erhebung personenbezogener Daten
</h2>
<p>Gem. Art. 4 Nr. 1 der europäischen Datenschutz-Grundverordnung (DSGVO) beschreiben personenbezogene Daten Einzelangaben über persönliche oder sachliche Verhältnisse einer bestimmten oder – ohne besondere Schwierigkeiten bestimmbaren – natürlichen Person (Betroffene/r). Zu diesen Informationen gehören vor allem Details, die Rückschlüsse auf Ihre Identität zulassen, zum Beispiel Ihren Namen oder Ihre E-Mail-Adresse. Statistische Daten, die keine Rückschlüsse auf Ihre Person zulassen, sind keine personenbezogenen Daten.</p>
<p>Die Erhebung personenbezogener Daten ist auf ein notwendiges Minimum beschränkt. Zur Nutzung der Niedersächsischen Bildungscloud sind folgende Angaben erforderlich:</p>
<ul>
	<li>Anzeigename</li>
	<li>Vor- und Nachname</li>
	<li>E-Mail-Adresse</li>
	<li>Schule</li>
	<li>Passwort als Prüfsumme</li>
</ul>
<p>Diese Angaben werden gespeichert, damit Sie mit Ihrer E-Mail-Adresse und dem von Ihnen selbst gewählten Passwort Zugriff auf die Niedersächsische Bildungscloud erhalten.</p>
<p>Darüber hinaus werden folgende Daten erfasst:</p>
<ul>
	<li>Gruppenmitgliedschaften, z. B. Klasse und Kurse</li>
	<li>Geburtsdatum zur Einhaltung der gesetzlichen Altersbeschränkungen bezüglich der Lerninhalte und der Einwilligungserklärung</li>
	<li>Persönliche Einstellungen</li>
	<li>Zeitstempel, z. B. Erstellung des Nutzer-Accounts, letzter Login</li>
	<li>Selbst hochgeladene und freigegebene Dateien, z. B. Dokumente</li>
	<li>Selbst angelegte und freigegebene Termine, Gruppentermine </li>
	<li>Aufgabenstellungen und deren Bearbeitungen mit Abgabestatus und Feedback</li>
	<li>Zugriffe auf Lerninhalte, Nutzungsdaten der jeweiligen Inhalte und übermitteltes Feedback zu einzelnen Inhalten</li>
	<li>Erstellte Pseudonyme, deren Verwendung und zu substituierende Daten</li>
	<li>Inhalte der Kommunikation im Kontext von Kollaboration, der Lehrer-Schüler-Kommunikation, sowie der Schüler-Schüler-Kommunikation</li>
	<li>Art, Inhalt und Empfänger/innen von Benachrichtigungen</li>
</ul>
<p>Die Daten werden ausschließlich nach den Bestimmungen der EU-Datenschutz-Grundverordnung (EU-DSGVO), des Bundesdatenschutzgesetzes (BDSG) und des Telemediengesetzes (TMG) sowie entsprechender landesrechtlicher Bestimmungen, insbesondere des Nds. Schulgesetzes (NSchG) erhoben und durch geeignete Maßnahmen organisatorischer sowie technischer Art geschützt. Sie werden derzeit auf den Servern der Landesinitiative n-21, welche bei der Hetzner Online GmbH, Industriestr. 25, 91710 Gunzenhausen angemietet sind, gespeichert. Sämtliche Zugriffe auf die Server werden mit IP-Adresse und Zeitstempel protokolliert.</p>
<p>Die Löschung der gespeicherten Daten erfolgt innerhalb von 7 Tagen nach Zugang des Widerrufs der Einwilligungserklärung, am Ende des laufenden Schuljahres, bei Verlassen der Schule, bei schuljahresübergreifenden Projekten bei Projektende, sowie bei Beendigung des Niedersächsischen Bildungscloud-Projekts.</p>