$primaryColor: #126dc4;
$secondaryColor: #df0b40;
$accentColor: #df0b40;
$logoGradient: linear-gradient(45deg, $primaryColor 30%, $primaryColor);

$logoBackground: url("../../images/logo/cloud-transparent-mono.svg") no-repeat center;
