$primaryColor: #78aae5;
$secondaryColor: #FF0000;
$accentColor: #b10438;
$logoGradient: linear-gradient(45deg, $primaryColor 30%, $primaryColor);

$logoBackground: url("../../images/logo/logo-wt.png") no-repeat center;

aside.nav-sidebar{
    .sc-branding{
        font-size: 18px;
        max-width: 240px;
        .cloud-logo{
            vertical-align: top;
        }
        .sc-title {
            max-width: calc(100% - 54px) !important;
        }
    }
}