{{#ifeq currentPath "administration/classes"}}
    {{#ifEnv "SC_THEME" "thr"}}
        <p class="text-muted">{{$t "administration.longText.text.withAllChangesForTSC"}}</p>
    {{else}}
        <p class="text-muted">{{$t "administration.longText.text.withAllChangesAndSettings" (dict "institute_title" ../theme.institute_title)}}</p>
    {{/ifEnv}}
{{else}}
    <p class="text-muted">{{$t "administration.longText.text.withAllChangesAndSettings" (dict "institute_title" ../theme.institute_title)}}</p>
{{/ifeq}}
