<p class="text-muted">{{$t "administration.longText.text.withAllChangesAndSettings" (dict "title" theme.title "theme_title" theme.theme_title "institute_title" theme.institute_title "institute_title_german" theme.institute_title_german)}}</p>
