{{#if @root.currentSchoolData.inUserMigration}}
    {{#userHasPermission 'SCHOOL_IMPORT_USER_VIEW'}}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="card h-100 teacher-option locationlink" data-loclink="/administration/migration">
                <div class="card-block migration">
                    <div class="card-text">
                        <h2 class="h4"><i class="fa fa-building"></i> {{$t "administration.dashboard.headline.migration" }}</h2>
                    </div>
                </div>
            </div>
        </div>
    {{/userHasPermission}}
{{else}}
    {{#ifConfig "FEATURE_USER_MIGRATION_CENTRAL_LDAP" true}}
        {{#if @root.currentSchoolData.officialSchoolNumber}}
            {{#userHasPermission 'SCHOOL_IMPORT_USER_MIGRATE'}}
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="card h-100 teacher-option locationlink" data-loclink="/administration/migration">
                        <div class="card-block migration">
                            <div class="card-text">
                                <h2 class="h4"><i class="fa fa-building"></i> {{$t "administration.dashboard.headline.migration" }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            {{/userHasPermission}}
        {{/if}}
    {{/ifConfig}}
{{/if}}
