<h4>{{title}}</h4>

<script src="https://cdn.geogebra.org/apps/deployggb.js"></script>
<div id="applet_container1"></div>
<script>
    var applet1 = new GGBApplet({material_id: "{{content.materialId}}", borderColor:"#990000"}, true);
    applet1.inject('applet_container1');
</script>

