<h2 class="h4">{{title}}</h2>
<!--
  <iframe scrolling="no"
  src="https://www.geogebra.org/material/iframe/id/{{content.materialId}}/width/1600/height/715/sri/true"
  style="width: 100%; height: 715px; resize: vertical; overflow: auto; border: 1px solid #b10438;" allowfullscreen>
  </iframe> 
-->
<div>
    <a href="https://geogebra.org/m/{{{content.materialId}}}" class="button"  nofollow target="geogebra">
      {{$t "courses._course.topic.link.geoGebraMaterial" (dict "materialId" content.materialId)}}
    </a>
    <p>{{$t "courses._course.topic.text.externalLinkToGeoGebra"}}</p>
</div>
