<h2 class="h4">{{title}}</h2>
{{! localisation should be added later}}
<div>
    <a href="https://geogebra.org/m/{{{content.materialId}}}" class="button"  nofollow target="geogebra">GeoGebra Material ({{{content.materialId}}}) auf geogebra.org jetzt öffnen</a>
    <p>Dies ist ein externer Inhalt des Anbieters GeoGebra. Er wird in einem neuen Fenster bzw. Tab geöffnet.</p>
</div>
