<h2 class="h4">{{title}}</h2>
<iframe src="{{content.url}}?inline=true"
	style="width: 100%; height: 400px; resize: vertical; overflow: auto;"></iframe>
<a href="{{content.url}}" target="_blank" class="pull-right">{{$t "global.link.openInNewTab" }}</a>
