<div class="row">
    <h2 class="h4 col-xs-12 col-md-12 col-lg-11 col-xl-9">{{title}}</h2>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-11 col-xl-9">
        {{{content.text}}}
    </div>
</div>
