<h2 class="h4">{{title}}</h2>
<p>{{content.description}}</p>
<div class="alert info-custom" role="alert">
    <i class="fa fa-info-circle"></i>
    <div>{{{$t "topic.topicEdit.label.nexboardInfo"}}}</div>
</div>
