.fla-de:before {
	position: relative;
	top: 5px;
	display: inline-block;
	content: " ";
	background-image: url("../../images/languages/de.svg");
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}
.fla-en:before {
	position: relative;
	top: 5px;
	display: inline-block;
	content: " ";
	background-image: url("../../images/languages/en.svg");
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}
.fla-es:before {
	position: relative;
	top: 5px;
	display: inline-block;
	content: " ";
	background-image: url("../../images/languages/es.svg");
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}
.fla-uk:before {
	position: relative;
	top: 5px;
	display: inline-block;
	content: " ";
	background-image: url("../../images/languages/uk.svg");
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}

.language-select .chosen-single {
	border-color: #fff;
}

.dropdown-submenu {
	position: relative;

	.dropdown-item i {
		font-size: 24px;
		position: absolute;
		right: 16px;
	}
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}

.dropdown-submenu .show {
	display: contents;
}
