@import '../../core/styles/colors';
@import '../../core/styles/bootstrap/scss/bootstrap';

.content-wrapper {
	width:100%;
	float: left;
	padding-left:90px;
	padding-right: 20px;

	@include media-breakpoint-down(xs) {
		padding-left:0px;
		padding-right:0px;
	}
	@include media-breakpoint-up(lg) {
		padding-left:210px;
	}
	.section-default {
		width:100%;
		float:left;
		padding: 30px 0px 50px;
		line-height: 1.75rem;

		& + .section-default {
			border-top:1px solid #ddd;
		}

		h5 {
			color: $colorHPIRed;
			margin:0px 0px 30px 0px;
		}

	}
}
