@import '../../core/styles/colors';
@import '../../core/styles/bootstrap/scss/bootstrap';

aside.nav-sidebar {
	color:#727272;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 70px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #c3c1c1;
	z-index: 100;
	float: left;

	nav {
		width:100%;
		float:left;
		overflow-y: auto;

		ul {
			width:100%;
			float:left;
			list-style-type: none;
			padding:0px;
			margin:0px;

			li {
				width:100%;
				float:left;

				a {
					width:100%;
					float:left;
					height:60px;
					line-height:60px;
					border-bottom:1px solid #adadad;
					cursor: pointer;

					&.active {
						background: $colorHPIOrange;
						color:#fff;
						border-bottom:1px solid transparent;
					}

					&:hover {
						background: #434857;
						color: #fff !important;
					}

					i.fa {
						font-size:20px;
						text-align:center;
						width:100%;
					}

					span {
						display: none;
					}
				}
			}
		}
	}

	.mobile-nav-toggle {
		display:none;
		bottom:-55px;
		height:55px;
		width:50px;
		position: absolute;
		left:0px;
		padding-top:5px;
		font-size:22px;
		line-height:50px;
		text-align:center;
	}

	@include media-breakpoint-down(xs) {
		width:100%;
		position: relative;

		.mobile-nav-toggle {
			display:block;
		}

		nav {
			overflow:hidden;
			max-height:0px;
			transition: all 0.4s;

			&.active {
				max-height:800px;
			}

			ul {

				li {

					a {
						padding:0px 20px;

						i.fa {
							width: auto !important;
							float: left;
							margin-right: 20px;
							line-height:60px;
						}

						.link-name {
							display: block;
							font-weight:700;
						}
					}
				}
			}
		}
	}
}
