<input name="scopeId" type="hidden" data-force-value="true" value="{{userId}}" />
<div class="form-group">
    <label class="control-label" for="title">{{$t "global.label.title" }}</label>
    <input data-testid="team_event_name" class="form-control" name="summary" required placeholder="{{$t "calendar.input.egHandballTraining"}}">
</div>
<div class="form-group">
    {{> "lib/forms/form-datetime-input" label=($t "global.label.from") id="startDate" class="input-group" }}
    {{> "lib/forms/form-datetime-input" label=($t "global.label.to") id="endDate" class="input-group" }}
</div>
<div class="form-group">
    <label data-testid="description_team_event" class="control-label" for="description">{{$t "global.label.description" }}</label>
    <textarea class="form-control" name="description" placeholder="" data-testid="team_event_description" ></textarea>
</div>
<div class="form-group">
    <label class="control-label" for="location">{{$t "calendar.label.location" }}</label>
    <input id="location" data-testid="team_event_location" class="form-control" name="location" placeholder="{{$t "calendar.input.egGym"}}">
</div>
{{#ifConfig "FEATURE_VIDEOCONFERENCE_ENABLED" true}}
    {{#if ../showVideoconferenceOption}}
    <div class="form-group create-videoconference hidden">
        <div class="checkbox disabled">
            <input id="featureVideoConference" name="featureVideoConference" type="checkbox" data-toggle="toggle" data-on="{{$t "global.button.yes"}}" data-off="{{$t "global.button.no"}}">
            <label for="featureVideoConference">
                {{$t "calendar.label.addVideoConference" }}
            </label>
        </div>
    </div>
    {{/if}}
{{/ifConfig}}
