@import '../../core/styles/colors.scss';
@import '../../core/styles/bootstrap/scss/bootstrap';

.route-administration {
	 .nav-item.active{
		color: #55595c;
		background-color: #fff;
		border-bottom: 1px solid $colorHPIRed
	}

	@include media-breakpoint-down(xs) {
		.nav-tabs .nav-item + .nav-item{
			margin-left: 0;
		}
		.nav-item > a{
			padding: 8px;
		}
	}
}