@import '../../core/styles/colors.scss';

.route-administration {


	.section-buttons {
		margin:20px -15px;

		.btn {
			background: $colorHPIYellow;
			color:#fff;
			font-weight:600;

			&:hover {
				background: $colorHPIOrange;
			}

			.fa {
				margin-right:10px;
				display:inline-block;
			}
		}
	}
}
