<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>Kontakt</h4>
				<ul>
					{{> "lib/extended_footer_links"}}
				</ul>
			</div>
			<div class="col-md-4">
				<h4>Links</h4>
				<ul>
					<li><a href="/impressum">Impressum</a></li>
					<li><a href="/datenschutz">Datenschutzerklärung</a></li>
					<li><a href="{{@root.theme.documents.specificFiles.termsOfUseSchool}}" target="_blank" rel="noopener">Nutzungsordnung</a></li>
					<li><a href="https://github.com/schul-cloud/" target="_blank" rel="noopener">GitHub</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
