<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>Kontakt</h4>
				<ul>
					{{> "lib/extended_footer_links"}}
				</ul>
			</div>
			<div class="col-md-4">
				<h4>{{$t "lib.extended_footer.headline.links"}}</h4>
				<ul>
					<li><a href="/impressum">{{$t "global.link.imprint" }}</a></li>
					<li><a href="{{@root.theme.documents.specificFiles.termsOfUseSchool}}" target="_blank"
							rel="noopener" aria-label="{{$t "login.headline.onlyTermsOfUse"}} PDF {{$t "global.link.openInNewTabWarning"}}">{{$t "login.headline.onlyTermsOfUse"}} Open Schul-Cloud</a></li>
					<li><a href="{{@root.theme.documents.specificFiles.privacy}}" target="_blank"
							rel="noopener" aria-label="{{$t "global.text.dataProtection"}} PDF {{$t "global.link.openInNewTabWarning"}}">{{$t "global.text.dataProtection"}} Open Schul-Cloud</a></li>
					<li><a href="https://github.com/hpi-schul-cloud/" target="_blank" rel="noopener" aria-label="{{$t "lib.global.link.github"}} {{$t "global.link.openInNewTabWarning"}}">{{$t "lib.global.link.github"}}</a></li>
					<li><a href="https://status.schul-cloud.org" target="_blank" rel="noopener" aria-label="{{$t "lib.global.link.status"}} {{$t "global.link.openInNewTabWarning"}}">{{$t "lib.global.link.status"}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
