{{#extend "lib/default"}}

	{{#content "styles" mode="append"}}
		<link rel="stylesheet" href="{{getVersionedPath /styles/authentication/home.css'}}"/>
	{{/content}}

	{{#content "scripts" mode="append"}}

	{{/content}}

	{{#content "body"}}

		{{#embed "lib/header" hideMenu=hideMenu}}{{/embed}}

		<main id="main-content" class="container content-wrapper">
			<div class="row">
				<div class="col-md-12">
					<section class="card">
						<div class="card-block">
							<div class="col-xs-12">
								{{> "lib/components/notification"}}
							</div>
							{{#block "page"}}{{/block}}
						</div>
					</section>
				</div>
			</div>
		</main>

		{{#unless hideFooter}}
			{{#unless extendedFooter}}
				{{#embed "lib/footer"}}{{/embed}}
			{{else}}
				{{#embed "lib/extended_footer"}}{{/embed}}
			{{/unless}}
		{{/unless}}

	{{/content}}
{{/extend}}
