{{#extend "lib/loggedin" hideSearch="true"}}

    {{#content "page"}}
        {{$t "my_material.text.hereYouWillSoonHaveTheOpportunity" }} <a href="https://blog.hpi-schul-cloud.de/unterrichtsvorbereitung-in-der-hpi-schul-cloud-neu-gedacht/" target="_blank">{{$t "my_material.text.blogArticle" }}</a> {{$t "my_material.text.andTakeTheOpportunityToDesign" }}
    {{/content}}

{{/extend}}
