<div class="form-group">
  <div style="padding: 16px;">
      <p>Es gelten folgende Lizenzbestimmungen:</p>
      <ul class="licenses-list">
          <!-- Licenses here -->
      </ul>
  </div>
  <div style="text-align: center;">
    <button class="btn btn-secondary btn-add btn-close" style="width: 95%; margin-top: 8px;">
      {{closeLabel}}
    </button>
  </div>
</div>
