{{#content "scripts" mode="append"}}
{{/content}}

<div id="app">
  Vue-Fehler
</div>

<!-- <form method="get">
    <div class="search-wrapper">
        <div class="input-group input-group-lg">
            <input value="{{ query }}"
                   name="q"
                   type="text"
                   class="form-control search-field"
                   placeholder="Suche in {{ totalCount }} Materialien... "/>
        </div>
        <input type="hidden" name="isCourseGroupTopic" value="{{ isCourseGroupTopic }}" />
    </div>
</form> -->
