<form method="get">
    <div class="search-wrapper">
        <div class="input-group input-group-lg">
            <input value="{{ query }}"
                   name="q"
                   type="text"
                   class="form-control search-field"
                   placeholder="Suche nach..."/>
        </div>
    </div>
</form>