{{#content "scripts" mode="append"}}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js" defer></script>
{{/content}}

<div id="app">
  Bitte mit der App überschreiben.
</div>

<form method="get">
    <div class="search-wrapper">
        <div class="input-group input-group-lg">
            <input value="{{ query }}"
                   name="q"
                   type="text"
                   class="form-control search-field"
                   placeholder="Suche in {{ totalCount }} Materialien... "/>
        </div>
        <input type="hidden" name="isCourseGroupTopic" value="{{ isCourseGroupTopic }}" />
    </div>
</form>
