<form method="get">
    <div class="search-wrapper mb-1">
        <div class="input-group input-group-lg">
            <input value="{{ query }}"
                   name="q"
                   type="text"
                   class="form-control search-field"
                   placeholder="{{$t "content.input.searchInSC"}}"/>
        </div>
        {{> "lib/components/csrfInput"}}
        <input type="hidden" name="isCourseGroupTopic" value="{{ isCourseGroupTopic }}" />
    </div>
</form>
