<div class="form-group">
  <div style="text-align: center">
    <!-- <img src="https://media.giphy.com/media/3oz8xBkRsgPTnbK1GM/giphy.gif" style="width: 50%; height: auto"/> -->
    <div>
      Sie werden auf die Seite von <span class="provider">einem externen Anbieter</span> weitergeleitet
    </div>
  </div>
  <div style="text-align: center; padding-top: 8px;">
    <a class="external-link-btn" href="#" target="_blank">
      <button class="btn btn-primary btn-add" style="width: 95%;">
        Okay
      </button>
    </a>
    <button class="btn btn-secondary btn-add btn-close" style="width: 95%;">
      {{closeLabel}}
    </button>
  </div>
</div>
