@import "../lib/colors";

.welcomeGreeting {
    max-width: 750px;
    margin: auto auto;
}

.welcomeGreetingImage {
    height: 55vh;
    width: 100%;
}

.welcomeGreetingImage img {
    height: 100%;
}

.welcomeGreetingScroll {
    height: 20vh;
    width: 100%;
}

.btn-scroll {
    width: 40px;
    height: 40px;
    left: 45%;
    position: absolute;
    border-radius: 100px;
    background-color: $primaryColor;
    cursor: pointer;
}

.btn-scroll .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    position: inherit;
    padding: 6px;
    margin: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: example 4s infinite;
    left: 5px;
}

@-webkit-keyframes example {
    0%   {border-color: rgba(255, 255, 255, 0.80); top: 0px;}
    20%  {border-color: rgba(255, 255, 255, 1); top: 8px;}
    25%  {}
    45%  {border-color: rgba(255, 255, 255, 0.80); top: 0px;}
    100%  {border-color: rgba(255, 255, 255, 0.80); top: 0px;}
}
  
@keyframes example {
    0%   {border-color: rgba(255, 255, 255, 0.80); top: 0px;}
    20%  {border-color: rgba(255, 255, 255, 1); top: 8px;}
    25%  {}
    45%  {border-color: rgba(255, 255, 255, 0.80); top: 0px;}
    100%  {border-color: rgba(255, 255, 255, 0.80); top: 0px;}
}
