@import '../homepage/layouts';

.section-title {
  margin-bottom: var(--space-md);
  width: 100%;
  line-height: 1.75rem;
}

.section-title.loggedout {
  margin-bottom: var(--space-lg);
  color: #9e292b;

}
