<div class="form-group">
    <label data-testid="folderRenameTitle" for="newNameInput">{{$t "files.label.chooseANewName" }}</label>
    <input data-testid="folderRenameTextField" id="newNameInput" class="form-control" name="name" type="text" />
</div>

<input hidden name="path"/>
<input hidden name="key"/>
