<div id="share-files" class="form-group">
	<input name="fileId" type="hidden" />
	<label for="invitation">{{$t "files.label.distributeTheFollowingLink" }} </label>
	<input class="form-control" name="invitation" id="invitation" type="text" />
</div>
