<style>
.danger-icon {
    color: #ff1134;
    font-size: 80px;
}
</style>

<div class="text-center">
    <div class="row">
        <div class="col-sm-12">
            <i class="fa fa-exclamation-triangle danger-icon"></i>
        </div>
    </div>
    <p>Danger</p>
</div>