<style>
.danger-icon {
    color: #ff1134;
    font-size: 80px;
    margin-bottom: 30px;
}
</style>

<div class="text-center">
    <div class="row">
        <div class="col-sm-12">
            <i class="fa fa-exclamation-triangle danger-icon"></i>
        </div>
    </div>
    <p>Oha! Wir haben in dieser Datei möglicherweise schädlichen Inhalt entdeckt.</p>
    <p>Keine Sorge, die Datei kann nicht heruntergeladen werden.</p>
</div>