<div class="form-group">
    <label>Wähle einen Namen und eine Dateiendung aus:</label>
    <br />

    <label for="file-ending">Dateityp:</label>
    <select class="custom-select mr-sm-2 form-control" id="file-ending">
        <option selected>Format auswählen</option>
        <option value="docx">Textdokument (docx)</option>
        <option value="xlsx">Tabelle (xlsx)</option>
        <option value="pptx">Präsentation (pptx)</option>
    </select>
    <br />
    <br />

    <label for="file-name">Dateiname:</label>
    <input id="file-name" type="text" class="form-control" name="new-file-name" placeholder="Name der Datei" required />
    <br />

    {{#userHasPermission "COURSE_EDIT"}}
    <div id="student-can-edit-div">
        <input type="checkbox" id="student-can-edit"> Schüler können editieren?
    </div>
    {{/userHasPermission}}

</div>

<input hidden name="path"/>
