<div class="form-group">
    <label>Wähle einen Ordner aus</label>
    <div class="directories-tree">
        <!-- rendered in scripts/files.js -->
    </div>
</div>
<!-- hidden field -->
<input class="form-control" hidden name="fileId" />
<input class="form-control" hidden name="fileName" />
<input class="form-control" hidden name="filePath" />