<style>
.file-permissions th, .file-permissions td {
    text-align: left;
    padding: 11px;
    text-align: center;
    border: 1px solid grey
}
</style>

<div id="share-files" class="form-group">
    {{!-- <div class="alert alert-info" role="alert">
        <h5>Standard-Freigabeinstellungen</h5>
        <ul class="mb-0">
            <li>Experten dürfen {{#if allowExternalExperts}}alle{{else}}keine{{/if}} Dateien und Ordner sehen</li>
            <li>Team Mitglieder dürfen {{#if allowMembers}}alle{{else}}keine{{/if}} Dateien und Ordner sehen</li>
        </ul>
    </div> --}}

    <h5>Freigeben für:</h5>
    <div>
        <table class="file-permissions">
            <tr>
                <th>Rolle</th>
                <th>Lesen</th>
                <th>Schreiben</th>
                <th>Löschen</th>
            </tr>
            <tr>
                <td>Mitglieder</td>
                <td><input name="read" type="checkbox"></td>
                <td><input name="write" type="checkbox"></td>
                <td><input name="delete" type="checkbox"></td>
            </tr>
            <tr>
                <td>Externer Experte</td>
                <td><input name="read" type="checkbox"></td>
                <td><input name="write" type="checkbox"></td>
                <td><input name="delete" type="checkbox"></td>
            </tr>
            <tr>
                <td>Team-Leiter</td>
                <td><input name="read" type="checkbox" data-force-value="true" checked></td>
                <td><input name="write" type="checkbox" data-force-value="true" checked></td>
                <td><input name="delete" type="checkbox" data-force-value="true" checked></td>
            </tr>
            <tr>
                <td>Team-Admins</td>
                <td><input name="read" type="checkbox" data-force-value="true" checked></td>
                <td><input name="write" type="checkbox" data-force-value="true" checked></td>
                <td><input name="delete" type="checkbox" data-force-value="true" checked></td>
            </tr>
        </table>
    </div>

    <h5 class="mt-2">Freigabe-Link</h5>
    <label for="invitation">Verteile folgenden Link, um Zugriff auf die Datei zu gewährleisten. </label>
    <input class="form-control" name="invitation" type="text" />
</div>