<div class="form-group">
    <label for="invitation">Verteile folgenden Link, um Zugriff auf die Datei zu gewährleisten. </label>
    <input class="form-control" name="invitation" type="text" />
</div>