<div class="form-group">
    <label for="newNameInput">{{$t "files.label.chooseANewName" }}</label>
    <input id="newNameInput" class="form-control" name="name" type="text" />
</div>

<input hidden name="path"/>
<input hidden name="key"/>