<div class="form-group">
    <label>'{{$t "files.label.chooseANewName" }}'</label>
    <input class="form-control" name="name" type="text" />
</div>

<input hidden name="path"/>
<input hidden name="key"/>