<div class="form-group">
    <label for="invitation">Gib einen Namen für die neue Überschrift ein. </label>
    <input class="form-control" name="name" type="text" />
    <input class="form-control courseid-field" hidden name="courseId" />
</div>