<div class="form-group">
    <p>
        Führe Videokonferenzen mit anderen Nutzer:innen durch. 
        Das Tool BigBlueButton ermöglicht dem ganzen Kurs die unkomplizierte, 
        sichere Teilnahme mit euren -Logins. Gute Audio- und 
        Videoübertragungsqualität werden ergänzt durch ein zur Laufzeit 
        nutzbares interaktives Whiteboard, Funktionen zum Bildschirm teilen 
        und einem Chat.
    </p>
</div>
