<div class="form-group">
    <label for="shareTokenTopic">{{$t "courses._course.topic.text.insertCodeToImportTopic"}}</label>
    <input class="form-control" name="shareToken" id="shareTokenTopic" type="text" />
    <input class="form-control" hidden name="courseId" />
    <br/><p><i class="fa fa-exclamation-triangle"></i> {{{$t "courses._course.topic.text.importTopicAdviseChangeData"}}}
    </p>
</div>
