<div class="form-group">
    <label for="invitation">Füge einen Code ein, um Themen anderer Nutzer zu importieren. Im Thema enthaltene Dateien werden in deinem Kursordner abgelegt.</label>
    <input class="form-control" name="shareToken" type="text" />
    <input class="form-control" hidden name="courseId" />
    <p><br/>Achtung: Tausche im Thema enthaltene, mit Nutzerdaten befüllte Tools (z.B. NexBoard, Etherpad, GeoGebra) nachträglich manuell aus, da Änderungen daran sich sonst auf den Original-Kurs auswirken!
    </p>
</div>