<label>
    Kurs:
    <select class="form-control" name="courseId"required="required">
        <!-- todo -->
    </select>
</label> <br></br>
<label>
    Name (Pflichtfeld):
    <input type="text" name="name" required="required" value="{{name}}" />
</label> <br></br>
<label>
    Logo (URL):
    <input type="text" name="logo_url" value="{{logo_url}}" />
</label> <br></br>
<label>
    Privatsphäre:
    <select class="form-control" required="required" value="{{privacy_permission}}">
        <option value="anonymous">Anonym</option>
        <option value="e-mail">Nur E-Mail</option>
        <option value="name">Nur Name</option>
        <option value="public">Öffentlich</option>
    </select>
</label> <br></br>
<div className="custom-fields">
   <!-- todo -->
</div>