<div class="form-group">
    <label for="invitation">Verteile folgenden Link an deine Sch端ler, um sie zum Kurs einzuladen. Die Sch端ler m端ssen daf端r angemeldet sein. </label>
    <input class="form-control" name="invitation" type="text" />
</div>