<div class="form-group">
    <p>Starte eigene Themen mit unseren beispielhaften Vorlagen:<p>
    <div class="sc-image-chooser">
        <div class="row">
            <div class="col-sm-4">
                <input type="radio" id="templateChoice1"
                       name="shareToken" value="topic-template-3" class="hidden">
                <label for="templateChoice1">
                    <div class="template-option">
                        <img
                                src="/images/topic-templates/template_icon_3.svg"
                                alt="Vorlage Klimawandel: Einstieg"/>
                        <p>Klimawandel: Einstieg</p>
                    </div>
                </label>
            </div>
            <div class="col-sm-4">
                <input type="radio" id="templateChoice2"
                       name="shareToken" value="topic-template-2" class="hidden">
                <label for="templateChoice2">
                    <div class="template-option">
                        <img
                                src="/images/topic-templates/template_icon_2.svg"
                                alt="Vorlage Klimawandel, Demokratie"/>
                        <p>Klimawandel, Demokratie</p>
                    </div>
                </label>
            </div>
            <div class="col-sm-4">
                <input type="radio" id="templateChoice3"
                       name="shareToken" value="topic-template-1" class="hidden">
                <label for="templateChoice3">
                    <div class="template-option">
                        <img
                                src="/images/topic-templates/template_icon_1.svg"
                                alt="Vorlage Klimawandel: Arbeitsphase"/>
                        <p>Klimawandel: Arbeitsphase</p>
                    </div>
                </label>
            </div>
		</div>
		<div class="row">
            <div class="col-sm-4">
                <input type="radio" id="templateChoice4"
                       name="shareToken" value="topic-template-4" class="hidden">
                <label for="templateChoice4">
                    <div class="template-option">
                        <img
                                src="/images/topic-templates/template_icon_4.svg"
                                alt="Vorlage Story-Telling mit Beispiel"/>
                        <p>Story-Telling mit Beispiel</p>
                    </div>
                </label>
            </div>
            <div class="col-sm-4">
                <input type="radio" id="templateChoice5"
                       name="shareToken" value="topic-template-5" class="hidden">
                <label for="templateChoice5">
                    <div class="template-option">
                        <img
                                src="/images/topic-templates/template_icon_5.svg"
                                alt="Vorlage neXboard als Mindmap"/>
                        <p>neXboard als Mindmap</p>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <input class="form-control" hidden name="courseId"/>
</div>
