<div class="form-group" id="step1">
    {{#if importToken}}
    <p class="qr-import-text"><b>{{$t "courses.text.importedCourseWithQR"}} </b></p>
    <input type="hidden" value="{{importToken}}" id="shareToken">
    {{else}}
    <label for="shareToken">{{$t "courses.text.insertCodeToImport"}}</label>
    <input class="form-control" name="shareToken" id="shareToken" type="text" required />
    {{/if}}
    <br />
    <p>{{$t "courses.text.importCourseDescription"}}</p>
    <p><i class="fa fa-exclamation-triangle"></i>{{$t "courses.text.importCourseAttentionTools"}}</p>
</div>
<div class="form-group" id="step2">
    <label for="courseName">{{$t "courses.text.renameCourse"}}</label>
    <input class="form-control" name="name" id="courseName" type="text" required />
    <br />
    <p>{{$t "courses.text.finishImport"}}</p>
</div>
