<div class="form-group">
    <p>Führe Videokonferenzen mit anderen Nutzer: inned der durch. Das Tool Big Blue Button ermöglicht dem ganzen Kurs die unkomplizierte, sichere Teilnahme mit euren -Logins. Gute Audio- und Video- Übertragungsqualität werden ergänzt durch ein zur Laufzeit nutzbares interaktives Whiteboard, Funktionen zum Bildschirm teilen und einem Chat. </p>
</div>