<div class="form-group">
    <label for="shareTokenCourseExport">{{$t "courses.form_share.label.distributeTheFollowingCode" }}</label>
    <input class="form-control" name="shareToken" id="shareTokenCourseExport" type="text" />
</div>
<div class="course-qr form-group"></div>