<div class="form-group">
    <label for="invitation">Fügen Sie hier einen Link ein, den Sie von einem Lehrer-Kollegen erhalten haben.</label>
    <input class="form-control" name="shareToken" type="text" />
    <input class="form-control" hidden name="courseId" />
</div>