<div class="form-group">
    <div class="create-videoconference">
        <div class="checkbox create-videoconference-option">
            <p class="create-videoconference-option-text">Teilnehmer beim Betreten stummschalten</p>
            <input name="startMuted" type="checkbox" data-toggle="toggle"
			data-on="Ja" data-off="Nein" >
        </div>
         <div class="checkbox create-videoconference-option">
            <p class="create-videoconference-option-text">Freigabe durch Moderator, bevor der Raum betreten weden kann</p>
            <input name="requestModerator" type="checkbox" data-toggle="toggle"
			data-on="Ja" data-off="Nein" >
        </div>
         <div class="checkbox create-videoconference-option">
            <p class="create-videoconference-option-text">Alle Nutzer nehmen als Moderator teil</p>
            <input name="everyoneIsModerator" type="checkbox" data-toggle="toggle"
			data-on="Ja" data-off="Nein" >
        </div>
    </div>
</div>