@import '../../core/styles/colors';


aside.nav-sidebar {
	color:#727272;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 70px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #c3c1c1;
	overflow-y: auto;
	z-index: 100;

	nav {
		width:100%;
		float:left;

		ul {
			width:100%;
			float:left;
			list-style-type: none;
			padding:0px;
			margin:0px;

			li {
				width:100%;
				float:left;

				a {
					width:100%;
					float:left;
					height:60px;
					line-height:60px;
					border-bottom:1px solid #adadad;
					cursor: pointer;

					&.active {
						background: $colorHPIOrange;
						color:#fff;
						border-bottom:1px solid transparent;
					}

					&:hover {
						background: #434857;
						color: #fff !important;
					}

					i.fa {
						font-size:20px;
						text-align:center;
						width:100%;
					}

					span {
						display: none;
					}
				}
			}
		}
	}
}
