<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />

<div class="form-group">
    <label>Titel</label>
    <input class="form-control" name="title" type="text" placeholder="Titel" required />
</div>

<div class="form-group">
    <label>Inhalt</label>
    <textarea type="text" class="form-control customckeditor" name="content" placeholder="Inhalt der Nachricht..." required></textarea>
</div>

<div class="form-group">
    <label>Datum</label>
    <input class="form-control" name="displayAt" type="text" data-datetime required />
</div>
