<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}"/>

<div class="form-group">
	<label>Titel</label>
	<input class="form-control" name="consentTitle" type="text" data-force-value="true" value="Datenschutzerkl채rung der Schule" readonly>
</div>
<div class="form-group">
	<label>Beschreibung</label>
	<textarea class="form-control" name="consentText" value="{{consentText}}" required></textarea>
</div>
<div class="form-group">
	<label>Datei hochladen (nur PDF, max 4MB)</label><br/>
	<input type="hidden" id="policy-file-data" name="consentData" value="{{consentData}}">
	<input type="file" id="policy-input" accept="application/pdf">
	<label for="policy-input" class="btn btn-secondary">Datei ausw채hlen</label>
</div>
<div class="form-group">
	<div class="policy-file-upload">
		<img id="policy-file-logo" src="/images/thumbs/pdfs.png" width="25px">
		<span id="policy-file-name">Keine Datei ausgew채hlt</span>
	</div>
</div>
<div class="form-group">
	<b>Wichtig: </b><p class="text-muted">Wenn eine neue Datenschutzerkl채rung hochgeladen wird, wird sie allen Nutzern aus dieser Schule zur
		Zustimmung gegeben.</p>
</div>

