<p>{{$t "administration.global.text.areYouSureYouWantToDeleteTheFollowingItem" }}</p>
<input class="form-control" name="name" type="text" disabled />
<p>{{class}}</p>
<p>{{}}</p>
<p>{{currentYear}}</p>
