<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />
<div class="form-group">
    <label for="invitation">Verteile folgenden Link an deine Schüler, um sie zur Schule einzuladen: </label>
    <input class="form-control" name="invitation" type="text" />
</div>