<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />

<input name="roles[]" type="hidden" data-force-value="true" value="student" />

<div class="form-group">
    <label for="create_firstname">{{$t "global.label.firstNameColon" }}</label>
    <input id="create_firstname" data-testid="create_student_input_firstname" class="form-control" name="firstName" type="text" placeholder="Max" required />
</div>

<div class="form-group">
    <label for="create_lastname">{{$t "global.label.lastName" }}</label>
    <input id="create_lastname" data-testid="create_student_input_lastname" class="form-control" name="lastName" type="text" placeholder="{{$t "administration.global.placeholder.modelMan" }}" required />
</div>

<div class="form-group">
    <label for="create_email">{{$t "global.label.emailAddress" }}</label>
    <input id="create_email" data-testid="create_student_input_email" class="form-control" name="email" type="email" placeholder="test@test.org" required />
</div>

<div class="form-group">
    {{> "lib/forms/form-date-input"
            label=($t "global.label.dateOfBirth")
            id="create_birthday"
            value=(datePickerTodayMinus CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS 0 0)
            dataMinDate=(datePickerTodayMinus 100 0 0)
            dataMaxDate=(datePickerTodayMinus 4 0 0)
    }}
</div>

<label>
    <input name="sendRegistration" data-testid="create_student_input_send_link" type="checkbox" value="sendRegistration"/>
    {{$t "administration.students.label.sendRegistrationLinkToStudent" }}
</label>
