<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />

<input name="roles[]" type="hidden" data-force-value="true" value="{{roles}}" />

<div class="form-group">
    <label>CSV Datei</label>
    <input class="form-control" name="csvFile" type="file" required />
</div>

<div class="form-group">
    <label>Ausgangssystem</label>

    <select name="exportSystem" data-placeholder="Ausgangssystem ausw채hlen">
        {{#each classes}}
            <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
        {{/each}}
        <option value="">Anderes</option>
    </select>
</div>

<div class="form-group">
    <p>Falls Sie ihr derzeitiges System nicht in der Liste unterst체tzter Systeme finden, w채hlen Sie bitte "Anderes".
        <br><br>
        <strong>Struktur der .csv:</strong><br>
        Die ausgew채hlte .csv Datei sollte dann nach folgendem Schema aufgebaut sein:<br>
        <img src="/images/csv_example.png" />
        <br>
        Die Kopfzeile "firstName,lastName,email" muss auch die erste Zeile der .csv Datei sein. Als Trennzeichen muss , (Komma) verwendet werden.
    </p>
</div>
