<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />
<div class="form-group">
    <p>
        {{$t "administration.label.beforeUsingThe" }} {{theme.title}} {{$t "administration.text.theTeacherMustHaveGoneThrough" }}
    </p>
    <label for="invitation-link">{{$t "administration.label.distributeTheFollowingLinkToTheTeacher" }}</label>
    <input id="invitation-link" class="form-control" name="invitation" type="text" />
</div>