<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />

<input name="roles[]" type="hidden" data-force-value="true" value="teacher" />

<div class="form-group">
    <label>Vorname</label>
    <input class="form-control" name="firstName" type="text" placeholder="Max" required />
</div>

<div class="form-group">
    <label>Nachname</label>
    <input class="form-control" name="lastName" type="text" placeholder="Mustermann" required />
</div>

<div class="form-group">
    <label>E-Mail-Adresse</label>
    <input class="form-control" name="email" type="text" placeholder="test@test.org" required />
</div>

<label>
    <input name="sendRegistration" type="checkbox" value="sendRegistration"/>
    Registrierungslink an Lehrer senden
</label>