<p>{{$t "administration.longText.text.provideStudentsAndTheirParents" (dict "schoolName" school.currentYear.name)}}</p>
<p>{{$t "administration.longText.text.theSynchronizationOfLDAPMasterData" }}</p>
