<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />

<input name="roles[]" type="hidden" data-force-value="true" value="student" />

<div class="form-group">
    <label for="create_firstname">Vorname:</label>
    <input id="create_firstname" data-testid="create_student_input_firstname" class="form-control" name="firstName" type="text" placeholder="Max" required />
</div>

<div class="form-group">
    <label for="create_lastname">Nachname:</label>
    <input id="create_lastname" data-testid="create_student_input_lastname" class="form-control" name="lastName" type="text" placeholder="Mustermann" required />
</div>

<div class="form-group">
    <label for="create_email">E-Mail-Adresse:</label>
    <input id="create_email" data-testid="create_student_input_email" class="form-control" name="email" type="email" placeholder="test@test.org" required />
</div>

<div class="form-group">
    <label for="create_birthday">Geburtsdatum (optional):</label>
    <input id="create_birthday" class="form-control" data-date data-min-date="{{datePickerTodayMinus 100 0 0}}" data-max-date="{{datePickerTodayMinus 4 0 0}}" value="{{datePickerTodayMinus CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS 0 0 "DD.MM.YYYY"}}" name="birthday" type="text" autocomplete="off"/>
</div>

<label>
    <input name="sendRegistration" data-testid="create_student_input_send_link" type="checkbox" value="sendRegistration"/>
    Registrierungslink an Schüler senden
</label>
