<p>{{$t "administration.form_TerminateSchoolYear.text.theSchoolYear" }} {{school.currentYear.name}} {{$t "administration.form_TerminateSchoolYear.text.isEndedAndTheTransferPhase" }} <strong>{{$t "administration.form_TerminateSchoolYear.text.thisStepCannotBeUndone" }}</strong> {{$t "administration.form_TerminateSchoolYear.text.noClassesAndUsersCanBeCreated" }}</p>
<p>{{$t "administration.form_TerminateSchoolYear.text.TheSynchronizationOfLDAPMasterData" }}</p>
