<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />
<input type="hidden" name="_id" value="{{class._id}}" />

<div class="form-group">
    <label>Typ</label>
    <select class="linked" name="ldaptype" data-linktext data-placeholder="LDAP-Typ auswählen">
            <option value="iserv">
                iServ
            </option>
            <option value="general">
                Allgemein
            </option>
    </select>
</div>

<div class="form-group">
    <label>URL</label>
    <input class="form-control linked" name="ldapurl" type="text" placeholder="ldaps://" value=""/>
</div>

<div class="form-group">
    <label>root-Pfad <i class="fa fa-question-circle"></i></label>
    <input class="form-control linked" name="rootpath" type="text" value=""/>
</div>

<div class="form-group">
    <label>search-Nutzer <i class="fa fa-question-circle"></i></label>
    <input class="form-control linked" name="searchuser" type="text" value=""/>
</div>

<div class="form-group">
    <label>search-Nutzer Passwort</label>
    <input class="form-control linked" name="searchuserpassword" type="password" value=""/>
</div>

<div class="form-group">
    <label>Nutzer-Pfad <i class="fa fa-question-circle"></i></label>
    <input class="form-control linked" name="userpath" type="text" value=""/>
</div>

<div class="form-group">
    <label>Rollen-Typ <i class="fa fa-question-circle"></i></label>
    <select class="linked" name="roletype" data-linktext data-placeholder="LDAP-Typ auswählen">
            <option value="text">
                Nutzer-Attribut
            </option>
            <option value="group">
                LDAP-Gruppe
            </option>
    </select>
</div>

<hr>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <h5>Nutzer-Attribute <i class="fa fa-question-circle"></i></h5>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
        <i id="user-section-toggle" class="fa fa-lock fa-3x"></i>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <label>Vorname</label>
        <input class="form-control linked user-attribute" disabled name="givenName" type="text" value=""/>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
        <label>Nachname</label>
        <input class="form-control linked user-attribute" disabled name="sn" type="text" value=""/>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <label>Domainname</label>
        <input class="form-control linked user-attribute" disabled name="dn" type="text" value=""/>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
        <label>uid <i class="fa fa-question-circle"></i></label>
        <input class="form-control linked user-attribute" disabled name="uid" type="text" value=""/>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <label>uuid <i class="fa fa-question-circle"></i></label>
        <input class="form-control linked user-attribute" disabled name="uuid" type="text" value=""/>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
        <label>E-Mail</label>
        <input class="form-control linked user-attribute" disabled name="mail" type="text" value=""/>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <label>Rolle <i class="fa fa-question-circle"></i></label>
        <input class="form-control linked user-attribute" disabled name="role" type="text" value=""/>
    </div>
</div>

<hr>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <h5>Rollen-Attribute <i class="fa fa-question-circle"></i></h5>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
        <i id="role-section-toggle" class="fa fa-lock fa-3x"></i>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <label>Student</label>
        <input class="form-control linked role-attribute" disabled name="studentrole" type="text" value=""/>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
        <label>Lehrer</label>
        <input class="form-control linked role-attribute" disabled name="lehrerrole" type="text" value=""/>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <label>Admin</label>
        <input class="form-control linked role-attribute" disabled name="adminrole" type="text" value=""/>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
        <label>keine Schul-Cloud <i class="fa fa-question-circle"></i></label>
        <input class="form-control linked role-attribute" disabled name="nosc" type="text" value=""/>
    </div>
</div>

<hr>
<label><input name="activate classes" type="checkbox"/> Klassen (optional)</label>
<div class="class-settings">
    <div class="form-group">
        <label>Klassen-Pfad <i class="fa fa-question-circle"></i></label>
        <input class="form-control linked" name="classpath" type="text" value=""/>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-xs-12">
            <h5>Klassen-Attribute <i class="fa fa-question-circle"></i></h5>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <i id="class-section-toggle" class="fa fa-lock fa-3x"></i>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-xs-12">
            <label>Anzeige-Name</label>
            <input class="form-control linked class-attribute" disabled name="description" type="text" value=""/>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <label>Domain-Name</label>
            <input class="form-control linked class-attribute" disabled name="dn" type="text" value=""/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-xs-12">
            <label>Nutzer der Klasse mit vollem Pfad</label>
            <input class="form-control linked class-attribute" disabled name="uniquemember" type="text" value=""/>
        </div>
    </div>
</div>

<div class="modal-footer mt-1">
    <a href="/administration/systems" class="btn btn-secondary">Abbrechen</a>
    <button class="btn btn-primary" type="submit">Verifizieren</button>
    <button class="btn btn-secondary" type="submit" disabled>Änderungen speichern</button>
</div>