<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />
<div class="form-group">
    <label for="invitation-link">Um in die Schul-Cloud einzuladen, verteile folgenden Link an Lehrer.</label>
    <p>Bevor die Nutzung der Schul-Cloud möglich ist, müssen die Nutzer den elektronischen Einwilligungsprozess durchlaufen haben.</p>
    <input id="invitation-link" class="form-control" name="invitation" type="text" />
</div>