<div class="form-group">
    {{> "lib/forms/password-hint" class="" style=""}}
    <div class="form-group">
        <label for="change_password">{{$t "administration.global.label.password" }}</label>
        <input id="change_password" type="password" autocomplete="new-password" name="password" id="password" class="form-control form-control-lg" placeholder="***************" pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z])(?=.*[\-_!<>ยง$%&\/()=?\\;:,.#+*~']).{8,255}$"
title="{{> "lib/forms/password-hint" plaintext=true}}" required>
    </div>
</div>