<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />
<div class="form-group">
    <label for="invitation-link">{{$t "administration.label.toInviteToTheSchoolCloud" }} </label>
    <p>
        <b>{{$t "administration.global.text.studentUnder" }} {{CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS}} {{$t "administration.form_InvitationStudent.text.years" }}</b> {{$t "administration.form_InvitationStudent.text.theParents" }} <br/>
        <b>{{$t "administration.form_InvitationStudent.text.studentsFrom" }} {{CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS}} {{$t "administration.form_InvitationStudent.text.years" }}</b> {{$t "administration.form_InvitationStudent.text.toTheStudentsThemselves" }} <br/>
    </p>
    <p>{{$t "administration.form_InvitationStudent.text.beforeTheSchoolCloudCanBeUsed" }}</p>
    <input id="invitation-link" class="form-control" name="invitation" type="text" />
</div>