@import '../lib/colors';
@import url('https://vjs.zencdn.net/5.19.2/video-js.css');
@import "./upload";

.section-title {
  .active {
    font-weight: bold;
  }

  h5 {
    width: auto;
    float: left;
  }
}

.directories {
  width: 100%;
  float: left;

  .container-fluid {
    padding-left: 0;
  }

  h5 {
    color: $primaryColor;
    padding: 10px 0px 20px;
  }

  .card.folder {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
      background: #f9f9f9;
      cursor: pointer;
    }

    .fa {
      margin-right: 15px;
      color: #ccc;
    }
  }

  input {
    margin-bottom: 20px;
  }

  .card-title-directory {
    color: $primaryColor;
  }
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  .link {
    color: white;
    font-size: 30px;
    position: absolute;
    margin-top: 30%;
  }
  .video-js {
    margin: 2% auto;
    max-width: 100%;
    max-height: 100%;
  }
  .vieweriframe {
    width: 90%;
    height: 90vh;
  }
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  margin-top: 2%;
  background: white;
}

.lightbox:target {
  outline: none;
  display: block;
}

.files {
  width: 100%;
  float: left;
  margin-bottom: 40px;

  h5 {
    color: $primaryColor;
    padding: 10px 0px 20px;
  }

  .modal-body {
    button {
      margin-left: 5px;
    }
  }

  .card.file {
    min-height: 80px;
    color: $primaryColor;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
      background: #f9f9f9;
    }

    .file-preview {
      width: 90%;
      height: 65px;
      float: left;
      margin-right: 5px;
      background: no-repeat center center;
      background-size: cover;
    }

    .fa {
      margin-top: 10px;
      margin-right: 15px;
      vertical-align: text-top;
      color: #ccc;
      &:hover {
        color: $primaryColor;
      }
    }
    .card-block {
      a:hover {
        text-decoration: none;
      }
    }
    .title {
      white-space: nowrap;
      width: calc(75% - 30px);
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }
    .file-preview {
      @media screen and (max-width: 575px) {
        display: none;
      }
    }
    .card-text {
      line-height: 2;
    }

    .file-location {
      color: darkgrey;
      padding-top: 5px;
      line-height: 1;
    }
  }
}

.new-directory {
  width: 100%;
  float: left;
}

.filter-options {
  background: white;
  position: absolute;
  z-index: 5;
  word-wrap: break-word;
  .filter-option {
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .1rem;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
  }
  .filter-option:hover {
    background-color: $primaryColor;
    color: white;
  }
}

.route-files-overview {
  .card {
    .card-title {
      text-align: center;
    }
    .card-text {
      text-align: justify;
    }
    .text-red {
      color: $primaryColor;
    }
  }
}

.directories-tree {
  .dir-sub-menu {
    background-color: #dbd7d7;
    display: none;
  }

  .dir-main-menu {
    background-color: #C3C1C1;
  }

  .dir-element {
    span {
      color: $primaryColor;
    }
    span:hover {
      cursor: pointer;
    }

    .toggle-icon {
      color: $primaryColor;
      margin-right: 5px;
    }
    .toggle-icon:hover {
      cursor: pointer;
    }
    .fa-share {
      padding-left: 5px;
      display: none;
    }
    .fa-share:hover {
      cursor: pointer;
      color: $primaryColor;
    }
  }

  .dir-main-element {
    border-bottom: 1px solid #9E9E9E;
  }
  .dir-main-header {
    font-weight: bold;
    padding: 10px;
  }
  .dir-sub-element {
    padding: 10px 10px 10px 20px;
  }
}

.file-name-edit {
  display: none;
}

.popup-overlay{
  visibility:hidden;
  position:absolute;
  background-color: rgba(0,0,0,.2);
  outline: 1px solid transparent;
  right:25%;
  top:10%;
  left:25%;
  bottom: 10%;
  border-radius: 5px;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
.popup-overlay.active{
  visibility:visible;
  text-align:center;
}

.popup-content {
  visibility:hidden;
}

.popup-content.active {
  visibility:visible;
}

.fa-stack {
  margin-left: -10px;
  height: 2.2em;
}


