@import '../lib/colors';
@import url('https://vjs.zencdn.net/5.19.2/video-js.css');
@import "./lightbox";
@import "./folder-select";

.filter-options {
  background: white;
  position: absolute;
  z-index: 5;
  word-wrap: break-word;
  .filter-option {
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .1rem;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
  }
  .filter-option:hover {
    background-color: $primaryColor;
    color: white;
  }
}