@import '../lib/colors';

.directories {
    width: 100%;
    float: left;
  
    .container-fluid {
      padding-left: 0;
    }
  
    h5 {
      color: $primaryColor;
      padding: 10px 0px 20px;
    }
  
    .card.folder {
      cursor: pointer;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  
      &:hover {
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
        background: #f9f9f9;
        cursor: pointer;
      }
  
      .fa {
        margin-right: 15px;
        color: #ccc;
      }
    }
  
    input {
      margin-bottom: 20px;
    }
  
    .card-title-directory {
      color: $primaryColor;
    }
}