.section-search {
  h5 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .pagination-wrapper {
    text-align: center;
  }

}

.search-wrapper {
  margin-bottom: 1em;
}

.search-parameters {
  margin-bottom: 2em;
}
