@import '../lib/colors';
.section-upload {
  position: relative;
  margin: 20px 0;
  cursor: pointer;
  width: 100%;

  .form-upload {
    float: left;
    border: 4px dashed #ddd;
    background: #f9f9f9;
    width: 100%;
    height: 100px;
    text-align: center;
    color: #ccc;
    font-size: 30px;

    &.focus {
      background: #eee;
    }

    .dz-preview {
      display: none;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      text-align: center;
    }
  }

  .progress-bar {
    display: none;
    width: 100%;

    .progress {
      position: relative;
      float: left;
      margin-top: 10px;
      margin-bottom: -4px;
      border-radius: 5px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      background-color: #f5f5f5;
      width: 100%;
      height: 30px;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

      .percent {
        position: absolute;
        right: 10px;
        z-index: 2;
        line-height: 30px;
        color: #808080;
        font-weight: bold;
      }

      .bar {
        position: relative;
        z-index: 5;
        border-radius: 5px;
        background-color: $secondaryColor;
        height: 100%;
      }
    }
  }
}
