@import '../lib/colors';
@import "../lib/bootstrap/scss/_variables";
@import "../lib/bootstrap/scss/mixins/_breakpoints";
@import '../homework/homework';

@include media-breakpoint-down(xs) {
    .row.lesson-cards,
    .row.messages,
    .row.notices,
    .row.buttons,
    .row.articles {
        margin: 5px -15px;
    }
    .row.timeline {
        display: none;
    }

    .timetable {
        border-top: none !important;
    }

    .timetable .row.lesson-cards {
        height: auto;
    }

    .timetable .row.lesson-cards .lesson-card {
        padding: 10px 0;
        position: relative !important;
        left: 0px !important;
        width: 100% !important;
    }
}
@include media-breakpoint-down(md) {
    .sc-card-wrapper:nth-child(n+4) {
        display: none;  
    }
}
@include media-breakpoint-down(lg) {
    .sc-card-wrapper:nth-child(n+4) {
        display: none;  
    }
}
@include media-breakpoint-down(xl) {
    .sc-card-wrapper:nth-child(n+5) {
        display: none;  
    }
}

.section-timetable {
    width: 100%;
    float: left;
    padding-top: 15px;
    line-height: 1.75rem;

    @include media-breakpoint-down(xs) {
        display: none;
    }

    h5 {
        float: left;
    }

    .selected-date {
        float: right;
        color: #969696;
        line-height:22px;
    }
}

.poll {
    text-align: center;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
