
@import './timetable';
@import "../lib/sc-theme/sc-card";
@import "../lib/bootstrap/scss/_variables";
@import "../lib/bootstrap/scss/mixins/_breakpoints";

.section{
    clear: both;
}

.section-timetable {
    width: 100%;
    float: left;
    padding-top: 15px;
    line-height: 1.75rem;

    @include media-breakpoint-down(xs) {
        display: none;
    }

    h5 {
        float: left;
    }

    .selected-date {
        float: right;
        color: #969696;
        line-height:22px;
    }
}