@import '../lib/colors';
.timetable {
    width:100%;
    float:left;
    padding: 0px 15px 0px;
    line-height: 1.75rem;
    border-top:1px solid #c8c8c8;

    .lesson-cards {
        margin-top:40px;
        margin-bottom:30px;
        height:170px;
        position: relative;

        .lesson-card {
            padding:0px 1px;
            top: 0px;
            text-decoration: none !important;
            position: absolute;

            .card-block {
                padding: 0.5rem;
            }

            .card {
                border:0px;
                background:#e9e9e9;
                border-top:6px solid $accentColor;
                border-bottom: 6px solid transparent;
                color: #646464;
                height:170px;

                &:not(.disabled):hover {
                    background:#ddd;
                }

                .card-title {
                    font-size:1.063rem;
                    font-weight: 600;
                }

                .card-text{
                    line-height: 130%;
                }
                .lesson-time {
                    margin-bottom: 0px;
                    margin-top: -15px;
                    font-size: 0.75rem;
                    display: block;
                }

                &.disabled {
                    border-top:6px solid transparent;
                    border-bottom: 6px solid $primaryColor;
                    background: #f5f5f5;
                    color: #a9a9a9;

                    &:after {
                        color:$primaryColor;
                        content: attr(data-status);
                        bottom:5px;
                        right:10px;
                        position: absolute;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .timeline {
        border-top:1px solid #c8c8c8;
        width:100%;
        float:left;
        position: relative;
        margin-top:3px;
        margin-bottom:20px;

        .current-time {
            width: 100px;
            height: 3px;
            top: -3px;
            left: 0px;
            background: #696969;
            display: block;
            position: absolute;

            &:before {
                height: 245px;
                content: '';
                width: 2px;
                background: $primaryColor;
                right: 0px;
                position: absolute;
                bottom: 0px;
            }

            span {
                font-size:10px;
                padding: 0px 5px;
                right: -15px;
                position:absolute;
                top: -28px;
                background: #FFFFFF;
                color: $primaryColor;
                display: block;
                z-index: 2;
            }
        }

        .tick {
            font-size:10px;
            color:#aaa;
        }
    }
}