$primaryColor: #b10438; 
$secondaryColor: #e2661d;
$accentColor: #f8a41b;
$fontColor: #373a3c;

$logoGradient: linear-gradient(35deg, #b1063a 35%, #f6a800);

$colorBeige: #e6e2e2;
$colorGrey: rgba(232, 232, 232, 0.5);
$colorLightGrey: rgba(0,0,0,0.1);
$colorDarkerGrey: #555555;
$colorWhite: #fff;

$logoBackground: url("../../images/logo/cloud-transparent.svg") no-repeat center;
