<div class="form-group">
    <label for="newNameInput">{{$t "files.label.chooseANewName"}}</label>
    <input id="newNameInput" class="form-control" type="text" />
    <input
        id="fileRecordId"
        class="form-control"
        type="hidden"
    />
</div>
