@import "../lib/colors";

.btn.disabled {
  pointer-events: auto !important;
}

.times {
  margin-bottom: 30px;
  box-shadow: 0 1px 1px 0 #c7c7c7 inset;
  background: none repeat scroll 0 0;
  padding: 16px;
  i {
    cursor: pointer;
  }

  .disabled {
    cursor: not-allowed;
    input {
      background-color: $colorGrey;
    }
  }

  .disabled > * {
    pointer-events: none;
  }

  .new-course-time-add {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    padding-left: 5px;
    color: $primaryColor;
  }
}

.new-course-time-template {
  display: none;
}

.team-flags {
  padding: 5px;
}
