@import 'progress';
@import '../lib/colors';
@import '../lib/datetimepicker/jquery.datetimepicker.min.css';

.panels{
  /* insert custom css for the forms here */
  .show-invalid{
    input:invalid:not([type="checkbox"]):not([type="radio"]){
      box-shadow: 0 0 5px 1px $colorDanger;
    }

    input[type="checkbox"]:invalid + span,
    input[type="radio"]:invalid + span{
      text-decoration: underline;
      color: $colorDanger;
      font-weight: bold;
      a{
        color: $colorDanger;
      }
    }
  }
}

.recap{
  margin: 8px 0;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #eee;
  padding: 8px;
  font-family: monospace;
  p{
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.form-group{
  margin-top: 1rem;
  margin-bottom: 0;
  sup {
    color: #ff0000;
    font-size: 16px;
  }
}

.explanation{
  margin-left: 18px;
  font-size: .85em;
}

.explanation.nomargin{
  margin-left: 0;
}

label{
  margin-bottom: 0;
}

input[type="radio"]{
  margin-right: 4px;
}

.error-container {
  line-height: var(--line-height-sm) !important;
}

.error-header-image {
  display: block;
  margin-right: auto;
  margin-bottom: 54px;
  margin-left: auto;
  width: 30% !important;

  #COLOR {
    fill: $primaryColor;
  }
}

.error-header-wrapper {
  margin-top: 80px;
}

.text-container {
  margin: auto;
  max-width: 80%;
}

.h2.error-header-code {
  margin-bottom: 27px;
}

@media (max-width: 460px) {
  .error-header-image {
    margin-right: 10%;
    margin-bottom: 27px
    margin-left: 10%;
    width: 80% !important;
  }

  .error-header-wrapper {
    margin-top: 0;
  }

  .text-container {
    max-width: 100%;
  }

  .h2.error-header-code {
    margin-bottom: 18px;
    font-size: 40px !important;
  }
}
