@import 'progress';
@import '../lib/colors';

.form {
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
  margin: 4em;
  min-width: 480px;
  padding: 1em;
}

.panels div {
  border-top: solid 1px #c0c0c0;
  margin: 1em 0 0;
  padding: 1em 0 0;
}

input {
  box-sizing: border-box;
  display: block;
  padding: .4em;
  width: 100%;
}

button {
  background-color: $primaryColor;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  margin: 1em 0 0 0;
  padding: 1em;
}

button:hover {
  opacity: 0.8;
}