@import '../lib/colors';

.stages {
  font-size: 0;
  text-align: justify;
}

.form > input[type="radio"] {
  display: none;
}

.stages label {
  background: #ffffff;
  border: solid 3px #c0c0c0;
  border-radius: 50%;
  display: inline-block;
  font-size: 0;
  font-weight: 700;
  height: 3rem;
  line-height: calc(3rem - 6px);
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 3rem;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stages label.current {
  border-color: $primaryColor;
}

.stages label.done {
    color: $colorSuccess;
  }

/* for initial state */
.stages label{
    font-size: 1rem;
    &:after{
        display: none;
    }
}

/*
.stages label.active{
  border-color: purple !important;
}*/

.progressbar {
  background: #c0c0c0;
  display: inline-block;
  height: 3px;
  transform: translateY(-3em);
  transition: 0.3s;
  width: 0;
}
