@import '../lib/colors';

.stages {
  text-align: justify;
  font-size: 0;
}

.form > input[type="radio"] {
  display: none;
}

.stages label {
  display: inline-block;
  position: relative;
  z-index: 1;
  border: solid 3px #c0c0c0;
  border-radius: 50%;
  background: #fff;
  width: 3rem;
  height: 3rem;
  vertical-align: top;
  text-align: center;
  line-height: calc(3rem - 6px);
  font-size: 0;
  font-weight: 700;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stages label.current {
  border-color: $primaryColor;
}

.stages label.done {
  color: $colorSuccess;
}

/* for initial state */
.stages label{
  font-size: 1rem;
  &:after{
    display: none;
  }
}

/*
.stages label.active{
  border-color: purple !important;
}*/

.progressbar {
  display: inline-block;
  transform: translateY(-3em);
  transition: 0.3s;
  background: #c0c0c0;
  width: 0;
  height: 3px;
}
