@import '../lib/colors';

#preview-logo {
  display: inline-block;
}

#logo-canvas {
  visibility: hidden;
}

#logo-input{
  display: none;
}

#logo-filename{
  margin-left: .5rem;
}

.collapsePanel {
  display: none;
}

label {
  margin-bottom: 0rem;
}

#ldapschoolyearadditionalinfo {
  display: none;
}

.wizard-card {
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-bottom: 50px;
  .progressbar {
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .stages {
    padding-left: 12px;
    padding-right: 12px;
  }
  i.fa-check {
    color: green;
  }
  i.fa-times {
    color: red;
  }
}
