@import "../lib/colors";

.teacher-option {
  h4 {
    padding-top: 20px;
    color: $primaryColor
  }
  cursor: pointer;
  text-align: center;
}

#preview-logo {
  display: inline-block;
}

#logo-canvas {
  visibility: hidden;
}

#logo-input{
  display: none;
}

#logo-filename{
  margin-left: .5rem;
}

label {
  margin-bottom: 0;
}
