@import '../lib/colors';

.consent-status{
    &.fa-check{
        color: orange;
    }
    &.fa-check.double-check{
        color: green;
    }
    &.fa-check.double-check{
        position: relative; 
        left: 3px;
    }
    &.fa-check.double-check:last-child{
        position: relative; 
        left: -3px;
    }
    // Legacy
    // &.fa-circle-thin{
    //     color: orange;
    //     font-weight: bold;
    // }
    &.fa-times{
        color: red;
    }
}

#skipRegistrationCredentials {
	resize: none; 
	height: 87px; 
	overflow: hidden;
	margin-bottom: 3px;
}