@import '../lib/colors';
@import "../lib/bootstrap/scss/bootstrap-flex";

.consent-status{
    &.fa-check{
        color: green;
    }
    &.fa-circle-thin{
        color: orange;
        font-weight: bold;
    }
    &.fa-times{
        color: red;
    }
}