{{#extend "lib/loggedin"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="{{getAssetPath '/styles/addons/addons.css'}}"/>
    {{/content}}
    {{#content "page"}}
      {{#ifConfig "FEATURE_EXTENSION_PORTFOLIO_ENABLED" true}}
      <a class="card card-block card-tool" href="/tools/show/portfolio">
        <h2 class="h5">Portfolio</h2>
        <img src="{{getAssetPath '/images/cloud.png'}}" class="card-img" style="width:auto; height:75px;" alt="" roles="presentation"/>
        <span>Erzeuge dein digitales Portfolio in einem flexiblen persönlichen Lernsystem. Teile die Erfolge und deine Entwicklung an einem Ort, den du selbst gestaltest. Arbeite mit anderen in Gruppen zusammen.</span>
      </a>
      {{/ifConfig}}

      <a class="card card-block card-tool" href="https://www.methodenguide.de/" target="_blank" rel="noopener">
        <h2 class="h5">Methodenguide Niedersachsen</h2>
        <img src="{{getAssetPath '/images/methodenguide.png'}}" class="card-img" style="width:auto; height:75px;" alt="" roles="presentation"/>
        <span>Der #MethodenGuide bietet praktische Lern-Hilfen und anschauliche Erklär-Videos für erfolgreiches Arbeiten mit Smartphone und Tablet. Praxiserprobte und besonders wirksame Unterrichtsmethoden wie „Aktives Lesen“ und „E-Feedback“ werden schülergerecht vermittelt.</span>
      </a>
    {{/content}}
{{/extend}}
