<section class="section section-{{section-id}}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12"><h5>{{title}}{{link-text}}</h5></div>
        </div>
        <div class="row tasks card-deck-row">
            {{#each content}}
                {{> 'dashboard/components/card_template' link-text=../link-text}}
            {{/each}}
        </div>
    </div>
</section>