$primaryColor: #1149B5;
$secondaryColor: #E60146;
$accentColor: #E60146;

$logoGradient: linear-gradient(45deg, $primaryColor 30%, $primaryColor);

$colorBeige: #e6e2e2;
$colorGrey: rgba(232, 232, 232, 0.5);

$logoBackground: url("../../images/logo/cloud-transparent-mono.svg") no-repeat center;
$logoBackgroundTablet: url("../../images/logo/cloud-transparent-mono-48-48.svg") no-repeat center;

header.header{
	background: linear-gradient(45deg, #E60146, #F4027C);
}
h1.homepage-title{
	color: $primaryColor
}

aside.nav-sidebar{
	.sc-branding{
		padding: 0 5px;
		background: $secondaryColor;
		background: linear-gradient(45deg, #E60146, #F4027C);
		.cloud-logo{
			width: 100%;
			margin: 0;
			padding: 30px;
		}
		.sc-title {
			display: none;
		}
	}

	@media (max-width: 991px) {
		.sc-branding{
			padding: 0;
			.cloud-logo{
				background: $logoBackgroundTablet;
			}
		}
	}
}
