<p>{{$t "help.text.someConcernsNeedMoreOptions" }}</p>
<div id="email-addresses">
    <a href="mailto:dataportlernen.cloud@dataport.de" target="_blank" rel="noopener">dataportlernen.cloud@dataport.de</a> {{$t "help.text.toTheHpiForIdeas" }} <br>
</div>
