<p>{{$t "help.text.someConcernsNeedMoreOptions" }}</p>
<div id="email-addresses">
    <a href="mailto:feedback@hpi-schul-cloud.de" target="_blank" rel="noopener">feedback@hpi-schul-cloud.de</a> {{$t "help.text.toTheHpiForIdeas" }} <br>
</div>