<p>{{$t "help.text.someConcernsNeedMoreOptions" }}</p>
<div id="email-addresses">
    <a href="mailto:support@dbildungscloud.de" target="_blank" rel="noopener">support@dbildungscloud.de</a> {{$t "help.text.toTheHpiForIdeas" }} <br>
</div>
