@import '../lib/colors';

.custom-fields {
  margin-right: 2px;
}
.new-custom-field-add {
  cursor: pointer;
}
.custom-field-delete {
  cursor: pointer;
}

.lti-frame {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
}

// fix for kanzleramt
.content-wrapper {
  padding-right: 0px;
}

#safari-workaround {
  display: none;
  margin-bottom: 0;
  font-size: 70%;
}
