{{#extend "lib/loggedin"}}
  {{#content "scripts" mode="append"}}
      <script src="/scripts/dataprivacy.js" type="text/javascript" defer></script>
      <script src="/scripts/jquery/jquery.datetimepicker.full.min.js" type="text/javascript" defer></script>
  {{/content}}
  {{#content "styles" mode="append"}}
      <link rel="stylesheet" href="/styles/administration/dataprivacy.css"/>
      <link rel="stylesheet" href="/styles/lib/datetimepicker/jquery.datetimepicker.min.css"/>
  {{/content}}
  {{#content "page"}}
    {{#embed "lib/forms/paginatedForm" sections=4 action="#" method="get"}}
      {{#content "panels"}}
      <section data-panel="section-1">
        <h4>Herzlich Willkommen in der Schul-Cloud, {Vorname, Nachname}</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi facilis odit totam labore asperiores accusantium quisquam blanditiis aspernatur optio esse impedit maxime cumque placeat at deleniti dolores, excepturi, ea nesciunt.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, sapiente, dolores corrupti nulla voluptas cumque qui illo sunt numquam distinctio minus iusto dignissimos. Minima, molestias incidunt dicta ipsum excepturi voluptatibus.
        </p>
      </section>


      <section data-panel="section-2">
        <h4>Einwilligungserklärung</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi facilis odit totam labore asperiores accusantium quisquam blanditiis aspernatur optio esse impedit maxime cumque placeat at deleniti dolores, excepturi, ea nesciunt.
        </p>
        <label>
            <input name="Erhebung" type="checkbox" value="true"/>
            Einwilligung in die Erhebung
        </label>

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi facilis odit totam labore asperiores accusantium quisquam blanditiis aspernatur optio esse impedit maxime cumque placeat at deleniti dolores, excepturi, ea nesciunt.
        </p>
        <label>
            <input name="Forschung" type="checkbox" value="true"/>
            Einwilligung in die Forschung
        </label>

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi facilis odit totam labore asperiores accusantium quisquam blanditiis aspernatur optio esse impedit maxime cumque placeat at deleniti dolores, excepturi, ea nesciunt.
        </p>
        <label>
            <input name="Pseudonymisierung" type="checkbox" value="true"/>
            Einwilligung in die Pseudonymisierung
        </label>

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi facilis odit totam labore asperiores accusantium quisquam blanditiis aspernatur optio esse impedit maxime cumque placeat at deleniti dolores, excepturi, ea nesciunt.
        </p>
        <label>
            <input name="Nutzungsbedingungen" type="checkbox" value="Nutzungsbedingungen"/>
            Einwilligung in die Nutzungsbedingungen
        </label>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit ex numquam quo voluptate ipsa modi porro cupiditate corrupti possimus praesentium! Vero doloremque porro amet est. In rem enim quo quia!
        </p>
      </section>




      <section data-panel="section-3">
        <h4>Wie können wir dich erreichen?</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi facilis odit totam labore asperiores accusantium quisquam blanditiis aspernatur optio esse impedit maxime cumque placeat at deleniti dolores, excepturi, ea nesciunt.
        </p>
        
        <div class="form-group col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <label>E-Mail:</label>
            <input class="form-control" type="email" placeholder="schueler@schul-cloud.org"></input>
        </div>
      </section>




      <section data-panel="section-4">
        <h4>Du hast es fast geschafft...</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima neque esse quisquam soluta! Molestiae illum fugit alias dolorum fugiat corrupti eaque sed, nemo est laboriosam ipsum sunt ducimus dignissimos placeat?</p>
        <div class="form-group col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <label>Neues Passwort: *</label>
            <input class="form-control" name="password-1" type="password" placeholder="enter password" required/>
        </div>
        <div class="form-group col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <label>Wiederhole dein neues Passwort: *</label>
            <input class="form-control" name="password-2" type="password" placeholder="enter password again" required/>
        </div>

        <label>
            <input name="sendCredentials" type="checkbox" value="sendCredentials"/>
            Login-Daten per Mail an mich senden
        </label>
      </section>
      {{/content}}
    {{/embed}}
  {{/content}}
{{/extend}}