{{#extend "lib/loggedin"}}
  {{#content "scripts" mode="append"}}
      <script src="/scripts/dataprivacy/dataprivacy.js" type="text/javascript" defer></script>
      <script src="/scripts/dataprivacy/registration.js" type="text/javascript" defer></script>
      <script src="/scripts/jquery/jquery.datetimepicker.full.min.js" type="text/javascript" defer></script>
  {{/content}}
  {{#content "styles" mode="append"}}
      <link rel="stylesheet" href="/styles/administration/dataprivacy.css"/>
      <link rel="stylesheet" href="/styles/lib/datetimepicker/jquery.datetimepicker.min.css"/>
  {{/content}}
  {{#content "page"}}
    <div id="welcome-screen">
      <p>Willkommen in der Schul-Cloud!</p>
      <p>Bitte geben Sie das Geburtsdatum des anzumeldenden Schülers an.</p>
      <div class="form-group">
        <label>Geburtsdatum des Schülers: *</label>
        <input class="form-control linked" data-date data-min-date="1990/01/01" data-max-date="2015/01/01" data-start-date="2000/01/01" required name="student-birthdate" type="text"/>
      </div>
      <button id="showRegistrationForm" class="btn btn-primary">Weiter</button>
    </div>
  {{/content}}
{{/extend}}