@import '../lib/colors';

$logo-background-tablet: url('/images/logo/cloud-transparent-mono-48-48.svg') no-repeat center;

body {
  margin: 0;
  padding: 0;
}

.depseudo {
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: $primaryColor;
  padding: .125rem .25rem;
  width: 170px;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  line-height: 1.25;
  white-space: nowrap;
  color: $colorWhite;
  font-family: 'PT Sans','Helvetica Neue',Helvetica,Arial,'sans-serif';
  font-size: 1rem;
  user-select: none;
}

.cloud-logo {
  display: inline-block;
  margin-right: .25rem;
  margin-bottom: -6px;
  background: $logo-background-tablet;
  background-size: 28px 28px;
  width: 24px;
  height: 20px;
}
