@import '../lib/colors';

$logo-background-tablet: url('/images/logo/cloud-transparent-mono-48-48.svg') no-repeat center;

body {
  margin: 0;
  padding: 0;
}

.depseudo {
  background-color: $primaryColor;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: $colorWhite;
  font-family: 'dejavu-font','Lucida Grande','Lucida Sans Unicode','Helvetica Neue',Helvetica,Arial,'sans-serif';
  font-size: 12px;
  height: 20px;
  line-height: 1.25;
  padding: .125rem .25rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cloud-logo {
  background: $logo-background-tablet;
  background-size: 28px 28px;
  display: inline-block;
  height: 20px;
  margin-bottom: -6px;
  margin-right: .25rem;
  width: 24px;
}
