{{#extend "lib/loggedout"}}

	{{#content "styles" mode="append"}}
	{{/content}}

	{{#content "scripts" mode="append"}}
	{{/content}}

	{{#content "page"}}
		<div class="container container-content">
            <h1>Der Registrierungslink ist abgelaufen. </h1>
            <p><b>Aus Sicherheitsgründen sind Registrierungslinks nur 30 Tage gültig. </b><br>
                Bitte wende dich an einen Lehrer oder Administrator, um einen neuen Link zu erhalten. 
            </p>
            <a href="/" class="btn btn-secondary">Zurück zur Startseite</a>
        </div>
	{{/content}}
{{/extend}}
