{{#extend "lib/loggedin"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/empty-state.css"/>
    {{/content}}

    {{#content "page"}}
        <section class="section-courses empty-state">
            <img src="/images/empty-states/lernstore.svg" alt="Wolke mit Unterrichtsmaterial" class="image mx-auto d-block"/>
            <div class="text-wrapper mx-auto d-block">
                <h2 class="text-center">{{$t "theme.thr.content.text.courseMetarialDigitally" (dict "title" theme.title)}}</h2>
                <h3 class="h5 text-muted text-center">
                  {{$t "theme.thr.content.text.thuringianSchoolPortal" (dict "title" theme.title)}}
                </h3>
            </div>
        </section>
    {{/content}}
{{/extend}}
