.section-team .team-container{
  box-sizing:border-box;
  max-width:1400px;
  width:100%;
  margin:auto;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  height:auto
}
@media screen and (min-width:767px){
  .section-team .team-container{
    padding:0 30px
  }
}
.section-team .h-100{
  text-align:center;
  position:relative;
  min-height:350px;
  width:100%
}
.section-team .img-out{
  padding-top:20px;
  display:inline-block;
  text-align:center
}
.section-team .circular{
  max-width:150px;
  max-height:150px;
  border-radius:150px;
  -webkit-border-radius:150px;
  -moz-border-radius:150px;
  margin-bottom:20px;
  margin-top:10px
}
.section-team body,.section-team html{
  min-height:100%;
  height:100%;
  background-size:cover;
  background-position:top center;
  font-weight:200
}
.section-team body.modal-active,.section-team html.modal-active{
  overflow:hidden
}
.section-team div[id^=modal-container-]{
  position:fixed;
  display:table;
  height:100%;
  width:100%;
  top:0;
  left:0;
  -webkit-transform:scale(0);
  -ms-transform:scale(0);
  transform:scale(0);
  z-index:1
}
.section-team div[id^=modal-container-].two{
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1)
}
.section-team div[id^=modal-container-].two .modal-background{
  background:0 0;
  -webkit-animation:fadeIn .5s cubic-bezier(.165,.84,.44,1) forwards;
  animation:fadeIn .5s cubic-bezier(.165,.84,.44,1) forwards
}
.section-team div[id^=modal-container-].two .modal-background .modal{
  opacity:0;
  -webkit-animation:scaleUp .5s cubic-bezier(.165,.84,.44,1) forwards;
  animation:scaleUp .5s cubic-bezier(.165,.84,.44,1) forwards
}
.section-team div[id^=modal-container-].two+.content{
  -webkit-animation:scaleBack .5s cubic-bezier(.165,.84,.44,1) forwards;
  animation:scaleBack .5s cubic-bezier(.165,.84,.44,1) forwards
}
.section-team div[id^=modal-container-].two.out{
  -webkit-animation:quickScaleDown 0s .5s linear forwards;
  animation:quickScaleDown 0s .5s linear forwards
}
.section-team div[id^=modal-container-].two.out .modal-background{
  -webkit-animation:fadeOut .5s cubic-bezier(.165,.84,.44,1) forwards;
  animation:fadeOut .5s cubic-bezier(.165,.84,.44,1) forwards
}
.section-team div[id^=modal-container-].two.out .modal-background .modal{
  -webkit-animation:scaleDown .5s cubic-bezier(.165,.84,.44,1) forwards;
  animation:scaleDown .5s cubic-bezier(.165,.84,.44,1) forwards
}
.section-team div[id^=modal-container-].two.out+.content{
  -webkit-animation:scaleForward .5s cubic-bezier(.165,.84,.44,1) forwards;
  animation:scaleForward .5s cubic-bezier(.165,.84,.44,1) forwards
}
.section-team div[id^=modal-container-] .modal-background{
  display:table-cell;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.8);
  text-align:center;
  vertical-align:middle;
  padding-top: 20px;
}
.section-team div[id^=modal-container-] .modal-background .modal{
  width:100%;
  display:inline-block;
  border-radius:3px;
  font-weight:300;
  position:relative
}
.section-team div[id^=modal-container-] .modal-background .modal h2{
  font-size:25px;
  line-height:25px;
  margin-bottom:15px
}
.section-team div[id^=modal-container-] .modal-background .modal p{
  font-size:18px;
  line-height:22px
}
.section-team .content{
  min-height:100%;
  height:100%;
  background:#fff;
  position:relative;
  z-index:0
}
.section-team .content h1{
  padding:75px 0 30px 0;
  text-align:center;
  font-size:30px;
  line-height:30px
}
.section-team .content .buttons{
  max-width:800px;
  margin:0 auto;
  padding:0;
  text-align:center
}
.section-team .content .buttons .button{
  display:inline-block;
  text-align:center;
  padding:10px 15px;
  margin:10px;
  background:red;
  font-size:18px;
  background-color:#efefef;
  border-radius:3px;
  box-shadow:0 1px 2px rgba(0,0,0,.3);
  cursor:pointer
}
.section-team .content .buttons .button:hover{
  color:#fff;
  background:#009bd5
}
@-webkit-keyframes fadeIn{
  0%{
    background:0 0
  }
  100%{
    background:rgba(0,0,0,.7)
  }
}
@keyframes fadeIn{
  0%{
    background:0 0
  }
  100%{
    background:rgba(0,0,0,.7)
  }
}
@-webkit-keyframes fadeOut{
  0%{
    background:rgba(0,0,0,.7)
  }
  100%{
    background:0 0
  }
}
@keyframes fadeOut{
  0%{
    background:rgba(0,0,0,.7)
  }
  100%{
    background:0 0
  }
}
@-webkit-keyframes scaleUp{
  0%{
    -webkit-transform:scale(.8) translateY(1000px);
    transform:scale(.8) translateY(1000px);
    opacity:0
  }
  100%{
    -webkit-transform:scale(1) translateY(0);
    transform:scale(1) translateY(0);
    opacity:1
  }
}
@keyframes scaleUp{
  0%{
    -webkit-transform:scale(.8) translateY(1000px);
    transform:scale(.8) translateY(1000px);
    opacity:0
  }
  100%{
    -webkit-transform:scale(1) translateY(0);
    transform:scale(1) translateY(0);
    opacity:1
  }
}
@-webkit-keyframes scaleDown{
  0%{
    -webkit-transform:scale(1) translateY(0);
    transform:scale(1) translateY(0);
    opacity:1
  }
  100%{
    -webkit-transform:scale(.8) translateY(1000px);
    transform:scale(.8) translateY(1000px);
    opacity:0
  }
}
@keyframes scaleDown{
  0%{
    -webkit-transform:scale(1) translateY(0);
    transform:scale(1) translateY(0);
    opacity:1
  }
  100%{
    -webkit-transform:scale(.8) translateY(1000px);
    transform:scale(.8) translateY(1000px);
    opacity:0
  }
}
@-webkit-keyframes scaleBack{
  0%{
    -webkit-transform:scale(1);
    transform:scale(1)
  }
  100%{
    -webkit-transform:scale(.85);
    transform:scale(.85)
  }
}
@keyframes scaleBack{
  0%{
    -webkit-transform:scale(1);
    transform:scale(1)
  }
  100%{
    -webkit-transform:scale(.85);
    transform:scale(.85)
  }
}
@-webkit-keyframes scaleForward{
  0%{
    -webkit-transform:scale(.85);
    transform:scale(.85)
  }
  100%{
    -webkit-transform:scale(1);
    transform:scale(1)
  }
}
@keyframes scaleForward{
  0%{
    -webkit-transform:scale(.85);
    transform:scale(.85)
  }
  100%{
    -webkit-transform:scale(1);
    transform:scale(1)
  }
}
.section-team .person-wrapper{
  padding-top:15px;
  padding-bottom:15px
}
.section-team .person{
  border:1px solid #d3d3d3;
  height:150px;
  text-align:center;
  transition:all .5s;
  cursor:pointer;
  overflow:hidden
}
.section-team .person:hover{
  z-index:1;
  box-shadow:0 8px 15px rgba(0,0,0,.2);
  -webkit-transform:scale(1.05);
  -ms-transform:scale(1.05);
  transform:scale(1.05);
  transition:box-shadow .2s ease,z-index 0s 0s ease,-webkit-transform .2s ease;
  transition:box-shadow .2s ease,transform .2s ease,z-index 0s 0s ease;
  transition:box-shadow .2s ease,transform .2s ease,z-index 0s 0s ease,-webkit-transform .2s ease
}
.section-team .person-title{
  color:#000;
  font-size:2em
}
.section-team .person-desc{
  color:rgba(0,0,0,.4);
  margin-top:10px;
  text-transform:uppercase;
  font-size:.8em;
  letter-spacing:2px
}
.section-team .leave{
  -webkit-transform:rotateX(0) rotateY(0)!important;
  transform:rotateX(0) rotateY(0)!important;
  transition-timing-function:cubic-bezier(.42,0,0,1)!important;
  transition-duration:1.5s
}
.section-team .modal-dialog{
  width:98%;
  height:92%;
  padding:0;
  max-width:1080px!important
}
.section-team .modal-content{
  height:99%
}
@media screen and (min-width:767px){
  .section-team .modal-content{
    padding:0px 50px 20px 50px
  }
}
.section-team .modal-body{
  max-height:calc(100vh - 210px);
  overflow-y:auto;
  overflow-x:hidden
}
@media screen and (max-width:767px){
  .section-team .modal-body{
    padding-top:15vh!important
  }
}
.section-team .container{
  margin-left:0
}
.section-team h5{
  color:#b10438;
  margin-top:20px;
  margin-bottom:20px
}
.section-title h4{
  color:#b10438;
  margin-bottom:0;
  margin-right:20px;
  font-weight:700
}
@media (max-width: 990px) {
  .section-team .modal-padding {
    padding-left: 60px;
  }
}
@media (min-width: 991px)  {
  .section-team .modal-padding {
    padding-left: 240px;
  }
}
.section-team .image {
  width:300px;
  height:300px;
  border-radius:10px;
}