@import '../../core/styles/colors.scss';

.section-homework {
	width:100%;
	float:left;
	border-top:2px solid #696969;
	padding: 15px 0px 50px;
	line-height: 1.75rem;

	h5 {
		color: $colorHPIRed;
	}
}
