<footer id="footer">
	<div class="container">
		<div class="row">
			<div  class="col-md-4">
				<h4>{{$t "global.link.contact" }}</h4>
				<ul>
					<li><a href="mailto:feedback@hpi-schul-cloud.de" target="_blank" rel="noopener" aria-label="Support-Anfragen {{$t "global.link.openInNewTabWarning"}}">Support-Anfragen:  <span class="text-nowrap">feedback@hpi-schul-cloud.de</span></a></li>
					<li><a href="mailto:nbc-support@netz-21.de" target="_blank" rel="noopener" aria-label="Allgemeine Anfragen {{$t "global.link.openInNewTabWarning"}}">Allgemeine Anfragen: <span class="text-nowrap">nbc-support@netz-21.de</span></a></li>
				</ul>
			</div>
			<div  class="col-md-4">
				<h4>{{$t "lib.extended_footer.headline.links"}}</h4>
				<ul>
					<li><a href="/impressum">{{$t "global.link.imprint" }}</a></li>
					<li><a href="/termsofuse">{{$t "login.headline.privacyAndTermsOfUse"}}</a></li>
					<li><a href="https://github.com/hpi-schul-cloud/" target="_blank" rel="noopener" aria-label="{{$t "lib.global.link.github"}} {{$t "global.link.openInNewTabWarning"}}">{{$t "lib.global.link.github"}}</a></li>
					<li><a href="https://status.schul-cloud.org" target="_blank" rel="noopener" aria-label="{{$t "lib.global.link.status"}} {{$t "global.link.openInNewTabWarning"}}">{{$t "lib.global.link.status"}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
