<footer id="footer" class="hide-inline small-footer">
	<div class="imprint">
		<div class="center">
			<span>&copy; {{currentYear}} </span>

			<nav aria-label="{{$t "lib.headline.aria_label"}}">
				<ul>
					<li>
						<a href="/impressum">{{$t "global.link.imprint"}}</a>
						<span> - </span>
					</li>
					<li>
						<a href="/termsofuse">{{$t "login.headline.privacyAndTermsOfUse"}}</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</footer>
