<footer class="hide-inline small-footer">
	<div class="imprint">
		<div class="center">
			<a>&copy; {{currentYear}} </a>

			<div>
				<a href="/impressum">Impressum</a>
				<span> - </span>
				<a href="/termsofuse">Nutzungsordnung und Datenschutzerklärung</a>
			</div>
		</div>
	</div>
</footer>
