<footer class="hide-inline small-footer">
    <div class="imprint">
        <div class="center">
            <a>&copy; 2018 </a>

            <nobr>
                <span> - </span>
                <a href="/impressum">Impressum & Datenschutzerklärung</a>
            </nobr>
        </div>
    </div>
</footer>
