<footer class="hide-inline small-footer">
    <div class="imprint">
        <div class="center">
            <a>&copy; 2018 </a>

            <div>
                <a href="/impressum">Impressum</a>
                <span> - </span>
                <a href="https://s3.hidrive.strato.com/schul-cloud-hpi/n21/Onlineeinwilligung/Datenschutzerklaerung-Muster-Schulen-Onlineeinwilligung.pdf" target="_blank" rel="noopener">Datenschutzerklärung</a>
            </div>
        </div>
    </div>
</footer>
