<footer id="footer" class="hide-inline small-footer">
	<div class="imprint">
		<div class="center">
			<span>&copy; {{currentYear}} </span>

			<nav aria-label="{{$t "lib.footer.aria_label.footer"}}">
				<ul>
					<li>
						<a href="/impressum">{{$t "global.link.imprint"}}</a>
						<span> - </span>
					</li>
                    <li>
                        <a href="{{theme.documents.specificFiles.termsOfUseSchool}}" target="_blank" aria-label="{{$t "login.headline.onlyTermsOfUse"}} {{$t "global.openInNewTabWarning"}}" rel="noopener">{{$t "login.headline.onlyTermsOfUse"}}</a>
                        <span> - </span>
                    </li>
                    <li>
                       <a href="/datenschutz" target="_blank" aria-label="{{$t "global.text.dataProtection"}} {{$t "global.openInNewTabWarning"}}" rel="noopener">{{$t "global.text.dataProtection"}}</a>
                    </li>
				</ul>
			</nav>
		</div>
	</div>
</footer>
