<header class="mb-1">
	<div class="container">
		<nav class="navbar-light">
			<a id="title" class="pull-left" href="/" aria-label="{{$t "global.title.landing"}}"><div class="cloud-logo"></div></a>
		</nav>
	</div>
</header>
