<header class="mb-1">
	<div class="container">
		<nav class="navbar-light">
			<a id="title" class="pull-left" href="/" title="Startseite">
				<div class="cloud-logo"></div>Niedersächsische Bildungscloud
			</a>
		</nav>
	</div>
</header>