@import '../../core/styles/colors.scss';

.section-search {
	width:100%;
	float:left;
	padding: 15px 0px 50px;
	line-height: 1.75rem;

	h5 {
		color: $colorHPIRed;
		margin:0px 0px 30px 0px;
	}

	.search-bar {
		margin-bottom:20px;
	}

	.card-img-top {
		max-width:100%;
		height:auto;
	}

	select {
		line-height: 1;
	}

	.results > div:nth-child(3n +1) {
		clear:both;
	}

	.result {
		border-top:2px solid #696969;
		padding:30px 0px;

		.result-title {
			display:block;
			margin-bottom:20px;

			h6 {
				color: $colorHPIRed;
				font-size:20px;
			}

			.result-source {
				display:block;
			}
		}
	}

	.search-results {
		margin-top:30px;
	}


	.filters {
		.filters-attributes {
			background:#e9e9e9;

			.btn {
				background: #e9e9e9;
				border-width: 0px;
			}
		}
	}

	.form-check {
		padding-left: 10px;
	}

	.form-check-label {
		span {
			padding-left: 10px;
		}
	}

	.form-check-input {
		position: relative;
		top: 1px;
	}


}
