@import '../../core/styles/colors.scss';
@import '../../core/styles/bootstrap/scss/bootstrap';

.section-search {
	width:100%;
	float:left;
	padding: 15px 0px 50px;
	line-height: 1.75rem;

	h5 {
		color: $colorHPIRed;
		margin:0px 0px 30px 0px;
	}

	.search-bar {
		margin-bottom:20px;
	}

	.card-img-top {
		max-width:100%;
		height:auto;
	}

	select {
		line-height: 1;
	}

	.results > div:nth-child(3n +1) {
		clear:both;
	}

	.result {
		border-top:2px solid #696969;
		padding:30px 0px;

		.result-title {
			display:block;
			margin-bottom:20px;

			h6 {
				color: $colorHPIRed;
				font-size:20px;
			}

			.result-source {
				display:block;
			}
		}
	}

	.search-results {
		margin-top:30px;
	}

	
	.filters {
		.filters-attributes {
			background:#e9e9e9;

			.btn {
				background: #e9e9e9;
				border-width: 0px;
			}
		}
	}
	.mobile-filter-toggle{
		display:none;
		padding: 15px 0 0;
		margin: 0 -15px;
		text-align: right;
	}
	@include media-breakpoint-down(xs) {
		.search-bar{
			margin-bottom: 0;
		}
		.filters{
			display:none;
		}
		.filters.active{
			display:block;
			padding-bottom: 15px;
			border-bottom: 1px dashed #ddd;
		}
		.mobile-filter-toggle{
			display:block;
		}
		.btn-group .dropdown-toggle{
			padding: 5px 8px;
			width:100%;
		}
		.btn-group .dropdown-menu-right{
			left:0;
			right:auto;
		}
		.filters-type .btn{
			margin: 5px 0;
			padding: 8px 15px ;
		}
		.search-results{
			margin-top: 15px;
		}
		.search-results h5{
			margin-bottom: 15px;
		}
	}

	.form-check {
		padding-left: 10px;
		padding-right: 10px;
	}
	.form-check-input {
		position: relative;
		top: 1px;
		margin-right: 5px;
	}


}
