{{#extend "lib/loggedin"}}

	{{#content "styles" mode="append"}}
		<link rel="stylesheet" href="{{getVersionedPath '/styles/help/help.css'}}"/>
	{{/content}}

	{{#content "scripts" mode="append"}}
	{{/content}}

	{{#content "page"}}
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header" role="tab" id="heading-0">
							<h2 class="h5 mb-0">
								LISUM
							</h2>
						</div>
						<div class="collapse show in">
							<div class="card-block">
								Für pädagogische Fragen richte dich bitte an das Landesinstitut für Schule und Medien Berlin-Brandenburg (LISUM) unter folgender E-Mail-Adresse:<br><a href="mailto:schul-cloud@bildungsserver.berlin-brandenburg.de" target="blank" rel="noopener" class="externalLink">schul-cloud@bildungsserver.berlin-brandenburg.de</a>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" role="tab" id="heading-1">
							<h2 class="h5 mb-0">
								DigitalAgentur Brandenburg (DABB)
							</h2>
						</div>
						<div class="collapse show in">
							<div class="card-block">
								Für organisatorische Fragen richte dich bitte an die DigitalAgentur Brandenburg (DAB) unter folgender E-Mail-Adresse:<br><a href="mailto:bildung@digital-agentur.de" target="blank" rel="noopener" class="externalLink">bildung@digital-agentur.de</a>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" role="tab" id="heading-2">
							<h2 class="h5 mb-0">
								HPI
							</h2>
						</div>
						<div id="collapse-2" class="collapse show in">
							<div class="card-block">
								Für technsiche Fragen richte dich bitte an das Hasso-Plattner-Institut unter folgender E-Mail-Adresse:<br><a href="mailto:brandenburg@hpi-schul-cloud.de" target="blank" rel="noopener" class="externalLink">brandenburg@hpi-schul-cloud.de</a>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" role="tab" id="heading-3">
							<h2 class="h5 mb-0">
								Feedback / Wünsche / Probleme bei der Nutzung
							</h2>
						</div>
						<div id="collapse-3" class="collapse show in">
							<div class="card-block">
								Für die Meldung von Problemen oder Wünschen hinsichtlich der Bedienung der Schul-Cloud Brandenburg verwende bitte das Kontaktformular im Hilfebereich oder sende eine E-Mail an <br><a href="mailto:feedback@hpi-schul-cloud.de" target="blank" rel="noopener" class="externalLink">feedback@hpi-schul-cloud.de</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/content}}
{{/extend}}
