{{#extend "lib/loggedin"}}

	{{#content "styles" mode="append"}}
		<link rel="stylesheet" href="{{getAssetPath '/styles/help/help.css'}}"/>
	{{/content}}

	{{#content "scripts" mode="append"}}
	{{/content}}

	{{#content "page"}}
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header" role="tab" id="heading-0">
							<h2 class="h5 mb-0">
								LISUM
							</h2>
						</div>
						<div class="collapse show in">
							<div class="card-block">
								{{$t "theme.brb.help.text.forEducationalQuestions"}}<br><a href="mailto:schul-cloud@bildungsserver.berlin-brandenburg.de" target="blank" rel="noopener" class="externalLink">schul-cloud@bildungsserver.berlin-brandenburg.de</a>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" role="tab" id="heading-1">
							<h2 class="h5 mb-0">
								DigitalAgentur Brandenburg (DABB)
							</h2>
						</div>
						<div class="collapse show in">
							<div class="card-block">
								{{$t "theme.brb.help.text.forOrganizationalQuestios"}}<br><a href="mailto:bildung@digital-agentur.de" target="blank" rel="noopener" class="externalLink">bildung@digital-agentur.de</a>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" role="tab" id="heading-3">
							<h2 class="h5 mb-0">
								{{$t "help.headline.feedback/requests"}}
							</h2>
						</div>
						<div id="collapse-3" class="collapse show in">
							<div class="card-block">
								{{$t "theme.brb.help.text.toReportProblemsOrRequest"}} <br><a href="mailto:feedback@hpi-schul-cloud.de" target="blank" rel="noopener" class="externalLink">feedback@hpi-schul-cloud.de</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/content}}
{{/extend}}
