<div class="bulk-grading">
	<div class="text-xs-right">
			<button
				type="button"
				class="btn btn-secondary multi-download mb-1"
				id="submissions-download-ungraded-files"
				{{#if @root.ungradedFileSubmissions.empty}}disabled="disabled" {{/if}}
				data-files="{{@root.ungradedFileSubmissions.urls}}"
			>
			<i class="fa fa-cloud-download"></i>
				{{$t "homework.button.downloadUngradedFiles"}}
			</button>
	</div>
</div>
