<div class="bulk-grading">
	<div class="text-xs-right">
			<button
				type="button"
				class="btn btn-secondary multi-download mb-1"
				id="submissions-download-ungraded-files"
				{{#if @root.ungradedFileSubmissions.empty}}disabled="disabled" {{/if}}
				data-files="{{@root.ungradedFileSubmissions.urls}}"
			>
			<i class="fa fa-cloud-download"></i>
				{{$t "homework.button.downloadUngradedFiles"}}
			</button>
		{{!-- Disabled because of bad UX
		<span
			class="bulk-upload btn btn-secondary section-upload"
			data-owner="{{ownerId}}"
			data-parent="{{parentId}}"
		>
			<input
				type="file"
				multiple="multiple"
				name="gradesFiles[]"
				id="bulk-grade-file-upload"
				class="bulk-upload__input"
				data-known-file-names="{{json @root.ungradedFileSubmissions.fileNames}}"
			/>
			<label class="bulk-upload__label btn" for="bulk-grade-file-upload">
				{{$t "homework.label.uploadGradeFiles"}}
			</label>
		</span> --}}
	</div>
	<div class="alert alert-success hidden mb-1" id="bulk-grading-success">{{$t "homework.text.bulkGradingSuccess"}}</div>
	<div class="alert alert-warning hidden mb-1" id="bulk-grading-error">
		{{$t "homework.text.bulkGradingError"}}
		<b id="bulk-grading-error-files"></b>
	</div>
</div>
