
<img src="/images/empty-states/add_people.png" alt="Noch keine Kurse" class="image mx-auto d-block"/>
<div class="text-wrapper mx-auto d-block">
  <h2 class="text-center">Mit der Schul-Cloud Aufgaben digital bearbeiten</h2>
  <h5 class="text-muted text-center">
    In dieser Ansicht siehst du normalerweise eine Übersicht aller Aufgaben.
  </h5>
</div>
