$primaryColor: #449494;
$secondaryColor: #E4032E;
$accentColor: #0b2bdf;

$logoGradient: linear-gradient(45deg, $primaryColor 30%, $primaryColor);

$colorBeige: #e6e2e2;
$colorGrey: rgba(232, 232, 232, 0.5);
$logoBackground: url("/images/logo/cloud-transparent-mono.svg") center / contain no-repeat;
$logoBackgroundTablet: url("/images/logo/cloud-transparent-mono-48-48.svg") center / contain no-repeat;
$logoBackgroundLanding: url("/images/logo/cloud-transparent-mono-long.svg") center / contain no-repeat;

aside.nav-sidebar{
    .sc-branding{
        padding: 0 5px;
        background: $secondaryColor;
        .cloud-logo{
            width: 100%;
            margin: 0;
            padding: 30px;
        }
        .sc-title{
            display: none;
        }
    }

    @media (max-width: 991px) {
        .sc-branding {
            padding: 0;
            .cloud-logo {
                background: $logoBackgroundTablet;
            }
        }
    }

    ul {
        li {
            a:not(.sc-branding) {
                &.active {
                    background: $primaryColor;
                    color: white;
					border-bottom: 1px solid transparent;

					&[href]:hover {
						background: $primaryColor;
						cursor: pointer;
					}
				}
            }
        }
    }
}


body {
    header.top-margin {
        margin-top: -1rem;
    }
    header {
        background: $secondaryColor !important;

        .navbar-light {
            #title {
                padding: 0 !important;
            }

            .cloud-logo {
                background: $logoBackgroundLanding !important;
                margin-right: 0 !important;
                margin-left: -1rem !important;
                height: 3.5rem !important;
                width: 21.5rem !important;
            }

            @media (max-width: 991px) {
                .cloud-logo {
                    width: 100% !important;
                    margin-left: 0 !important;
                }
            }
        }
    }
}

.timetable {
    .timeline {
        .current-time {
            &:before {
                background: $secondaryColor;
            }
            span {
                color: $secondaryColor;
            }
        }
    }
}

.section-imprint.loggedout ul {
	list-style-type: none!important;
	margin: 0!important;
}

.made-with-love {
    .poweredby-logo {
        height: 1em;
        vertical-align: middle;
    }
}
