$primaryColor: #C73C35;
$secondaryColor: #0bf003;
$accentColor: #0b2bdf;
$fontColor: #373a3c;

$logoGradient: linear-gradient(45deg, $primaryColor 30%, $primaryColor);

$colorBeige: #e6e2e2;
$colorGrey: rgba(232, 232, 232, 0.5);
$colorLightGrey: rgba(0,0,0,0.1);
$colorDarkerGrey: #555555;
$colorWhite: #fff;

$logoBackground: url("../../images/logo/web_Logo_BRB-SC_Bildmarke_mono-white.png") no-repeat center;
