<div class="help-card">
    <div class="icon-wrapper">
        <i class="fa fa-birthday-cake" aria-hidden="true"></i>
    </div>
    <div class="card-content">
        <h5 class="card-title">{{title}}</h5>
        <div class="card-body">
            {{#block "card-body"}}{{/block}}
        </div>
    </div>
</div>