{{#extend "lib/loggedin"}}

{{#content "styles" mode="append"}}
<link rel="stylesheet" href="{{getAssetPath '/styles/help/help.css'}}" />
{{/content}}

{{#content "scripts" mode="append"}}
<script src="{{getAssetPath '/scripts/help.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
{{/content}}

{{#content "page"}}

{{> "help/search" class="md-2 hidden"}}

<div class="container">
  <div class="row">


    {{#embed "help/partials/help_contact"}}{{/embed}}

    {{#ifeq userLanguage "de"}}
    {{#embed "help/icon-card" title=($t 'help.help_confluenceLinks.link.linguisticNote') icon="fa-magic" class="" id="sprachhinweis"}}
    {{#content "card-body"}}
    {{> "help/language-hint"}}
    {{/content}}
    {{/embed}}
    {{/ifeq}}
  </div>
</div>
{{/content}}
{{/extend}}
