<div class="contact-form">
  <div class="team_form">
    <p>{{$t "help.contact.text.thankYouForYourFeedback" (dict "shortTitle" theme.short_title)}}</p>
    <fieldset class="switch_wrapper" id="message_type">
      <legend>{{$t "help.contact.text.whatKindOfFeedbackDoYouWant" }}</legend>
      <div class="switch">
        <input type="radio" id="bug" name="message_type" value="bug" checked>
        <label for="bug" tabindex="0" role="button">{{$t "help.contact.label.bug" }}</label>
        <input type="radio" id="wish" name="message_type" value="wish">
        <label for="wish" tabindex="0" role="button">{{$t "help.contact.label.wish" }}</label>
      </div>
    </fieldset>

    <form class="wish_form hidden" action={{concat "/helpdesk?_csrf=" @root.csrfToken}} method="post" enctype="multipart/form-data">
      {{> "help/forms/form_wish"}}
      {{> "lib/components/csrfInput"}}
      <button type="submit">{{$t "global.button.submit" }}</button>
    </form>
    <form class="bug_form" action={{concat "/helpdesk?_csrf=" @root.csrfToken}} method="post" enctype="multipart/form-data">
      {{> "help/forms/form_bug"}}
      {{> "lib/components/csrfInput"}}
      <button type="submit">{{$t "global.button.submit" }}</button>
    </form>
  </div>
</div>
