<div class="contact-form">
  <p>Wen möchtest du Kontaktieren?</p>
  <fieldset id="message_target">
    <input type="radio" id="admin" name="message_target" value="admin" checked>
    <label for="admin">Admin</label> 
    <input type="radio" id="team" name="message_target" value="team">
    <label for="team"> {{theme.short_title}}-Team</label>
  </fieldset>

  <div class="admin_form">
    {{> "help/forms/form_admin"}}
  </div>

  <div class="team_form hidden">
    <p> Danke für dein Feedback, es wird direkt an das Entwicklungsteam der {{theme_short_title}} gesendet. Bitte achte darauf, keine passwörter und andere sensible Daten mitzusenden.</p>
    <p>Welche Art von Feedback möchtest du uns senden?</p>
    <fieldset id="message_type">
      <input type="radio" id="wish" name="message_type" value="wish" checked>
      <label for="wish">Wunsch</label> 
      <input type="radio" id="bug" name="message_type" value="bug">
      <label for="bug">Problem</label>
    </fieldset>
    
    <div class="wish_form">
      {{> "help/forms/form_wish"}}
    </div>
    <div class="bug_form hidden">
      {{> "help/forms/form_bug"}}
    </div>
  </div>
</div>