{{#extend "lib/loggedin"}}
{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/help/dashboard.css" />
{{/content}}

{{#content "scripts" mode="append"}}
<script src="/scripts/help.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
{{/content}}

{{#content "page" mode="prepend"}}
<div class="route-administration">
  <section class="section-school section-default">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 no-padding">
          <div class="row card-deck-row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="card h-100 teacher-option locationlink" data-loclink="/help/articles"
                data-testid="help_articles">
                <div class="card-block homework">
                  <div class="card-text">
                    <h2 class="h4"><i class="fa fa-odnoklassniki"></i> Hilfeartikel</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <a class="card h-100 teacher-option locationlink" href="https://lernen.cloud/courses/schulcloud2019"
                data-testid="administrate_teachers" target="_blank">
                <div class="card-block homework">
                  <div class="card-text">
                    <h2 class="h4"><i class="fa fa-user"></i> Fortbildungen</h2>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="card h-100 teacher-option locationlink" data-loclink="/help/contact">
                <div class="card-block homework">
                  <div class="card-text">
                    <h2 class="h4"><i class="fa fa-comment"></i> Kontakt</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{{/content}}
{{/extend}}