<p>
    {{$t "help.language_hint.text.forBetterReadability" }} {{@root.theme.title}} {{$t "help.language_hint.text.theMailForm" }} {{@root.theme.short_title}} {{$t "help.language_hint.text.isThereForEveryone" }} 🌈 🎉🦄
</p>