{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/help/lern-nuggets.css" />
{{/content}}

{{#extend "lib/loggedin"}}

	{{#content "page"}}
		<div class="container-fluid">
			<div class="row nugget">
                <h1 class="h4">{{$t "help.lernNuggets.heading.welcomeToTheOnlineCourse" }}</h1>
                <p>
                    {{$t "help.lernNuggets.text.dealingWithPersonalDetails" }} <br>

                    {{$t "help.lernNuggets.text.forThisReasonYouHaveTheOpportunity" }}
                </p>

                <h2 class="h5">{{$t "help.lernNuggets.heading.instructionsForUse" }}</h2>
                <p>
                    {{$t "help.lernNuggets.text.learningNiggetsImproveTheLearningEffect" }} <br>

                    {{$t "help.lernNuggets.text.aLearningUnitLasts" }} <br>

                    {{$t "help.lernNuggets.text.byTheWayYouWillAlways" }} <br>
                </p>

                <div class="col mt-3">
                    <h3 class="h6 font-weight-bold">{{$t "help.lernNuggets.heading.learningNuggetBasicOfGDPR" }}</h3>
                    <p>
                        <img
                            src="https://s3.hidrive.strato.com/schul-cloud-hpi/global/Medien/Lern-Nuggets/images/GrundlagenDSGVO.png"
                            style="float: left;"
                            class="mr-2" alt="" role="presentation">
                        {{$t "help.lernNuggets.text.inThisLessonYouWillLearnAllTheBasics" }} <br>
                        <br>
                        {{$t "help.lernNuggets.text.hereIsTheLearningNugget" }}
                        <a
                            class="text-nowrap"
                            href="https://s3.hidrive.strato.com/schul-cloud-hpi/global/Medien/Lern-Nuggets/DSGVO/story.html?frameable=true"
                            target="_blank"
                            rel="noopener" aria-label="{{$t "help.lernNuggets.link.basicsOfTheGDPR" }} {{$t "global.link.openInNewTabWarning"}}">
                            {{$t "help.lernNuggets.link.basicsOfTheGDPR" }}
                        </a>
                    </p>
                </div>

                <div class="col mt-2">
                    <h3 class="h6 font-weight-bold">{{$t "help.lernNuggets.heading.learningNuggetDataProtectioin" }}</h3>
                    <p>
                        <img
                            src="https://s3.hidrive.strato.com/schul-cloud-hpi/global/Medien/Lern-Nuggets/images/DatenschutzSchulalltag.png"
                            style="float: left;"
                            class="mr-2" alt="" role="presentation">
                        {{$t "help.lernNuggets.text.inTheLearningNuggetOnDataProtection" }} <br>
                        <br>
                        {{$t "help.lernNuggets.text.hereIsTheLearningNugget" }}
                        <a
                            class="text-nowrap"
                            href="https://s3.hidrive.strato.com/schul-cloud-hpi/global/Medien/Lern-Nuggets/Schul-DS/story.html?frameable=true"
                            target="_blank"
                            rel="noopener"
                            aria-label="{{$t "help.lernNuggets.link.dataProtectionInSchoolLife" }} {{$t "global.link.openInNewTabWarning"}}">
                            {{$t "help.lernNuggets.link.dataProtectionInSchoolLife" }}
                        </a>
                    </p>
                </div>

                <div class="col mt-2">
                    <h3 class="h6 font-weight-bold">{{$t "help.lernNuggets.heading.learningNuggetDataProtectionAndCloud" }}</h3>
                    <p>
                        <img
                            src="https://s3.hidrive.strato.com/schul-cloud-hpi/global/Medien/Lern-Nuggets/images/DatenschutzCloudLoesungen.png"
                            style="float: left;"
                            class="mr-2"
                            alt="" role="presentation">
                        {{$t "help.lernNuggets.text.whatAreTheAdvantagesAndDisadvantages" }} <br>
                        <br>
                       {{$t "help.lernNuggets.text.hereIsTheLearningNugget" }}
                        <a
                            class="text-nowrap"
                            href="https://s3.hidrive.strato.com/schul-cloud-hpi/global/Medien/Lern-Nuggets/Cloud-DS/story.html?frameable=true"
                            target="_blank"
                            rel="noopener"
                            aria-label="{{$t "help.lernNuggets.link.dataProtectionAndCloudSolution" }} {{$t "global.link.openInNewTabWarning"}}">
                            {{$t "help.lernNuggets.link.dataProtectionAndCloudSolution" }}
                        </a>
                    </p>
                </div>

                <div class="col mt-2">
                    <h3 class="h6 font-weight-bold">{{$t "help.lernNuggets.heading.learningNuggetLicenseModels" }}</h3>
                    <p>
                        <img
                            src="https://s3.hidrive.strato.com/schul-cloud-hpi/global/Medien/Lern-Nuggets/images/LizenzmodelleNutzungsrechte.png"
                            style="float: left;"
                            class="mr-2"
                            alt="" role="presentation">
                        {{$t "help.lernNuggets.text.withTheTopicsOfLicenseModels" }}  <br>
                        <br>
                        {{$t "help.lernNuggets.link.licenseModelAndUsageRights" }}
                        <a
                            class="text-nowrap"
                            href="https://s3.hidrive.strato.com/schul-cloud-hpi/global/Medien/Lern-Nuggets/Lizenzen/story.html?frameable=true"
                            target="_blank"
                            rel="noopener"
                            aria-label="{{$t "help.lernNuggets.link.licenseModelAndUsageRights" }} {{$t "global.link.openInNewTabWarning"}}">
                            {{$t "help.lernNuggets.link.licenseModelAndUsageRights" }}
                        </a>
                    </p>
                </div>
                <p class="mt-3 mb-2 text-muted">
                    {{$t "help.lernNuggets.text.createdAsPartOfThe" }} <br>
                    {{$t "help.lernNuggets.text.clientAndLicensedFor" }}
                        <a href="https://www.mint-ec.de" target="_blank" rel="noopener" aria-label="www.mint-ec.de {{$t "global.link.openInNewTabWarning"}}">www.mint-ec.de </a> <br>
                    {{$t "help.lernNuggets.text.contentAndProduction" }}
                        <a href="https://www.you-know.de" target="_blank" rel="noopener" aria-label="www.you-know.de {{$t "global.link.openInNewTabWarning"}}">www.you-know.de</a>
                </p>
			</div>
		</div>
	{{/content}}
{{/extend}}
