<p>{{$t "help.text.someConcernsNeedMoreOptions" }}</p>
<div id="email-addresses">
    <a href="mailto:feedback@hpi-schul-cloud.de" target="_blank" rel="noopener">feedback@hpi-schul-cloud.de</a> {{$t "help.text.toTheHpiForIdeas" }} <br>
    <br>
    <a href="mailto:cloud@mint-ec.de" target="_blank" rel="noopener">cloud@mint-ec.de</a> {{$t "help.text.toMINTECWithQuestions" }}
</div>
