<p>{{$t "help.text.someConcernsNeedMoreOptions" }}</p>
<div id="email-addresses">
    <a href="mailto:feedback@schul-cloud.org" target="_blank" rel="noopener">feedback@schul-cloud.org</a> {{$t "help.text.toTheHpiForIdeas" }} <br>
    <br>
    <a href="mailto:schul-cloud@mint-ec.de" target="_blank" rel="noopener">schul-cloud@mint-ec.de</a> {{$t "help.text.toMINTECWithQuestions" }}
</div>