<p>Manche Anliegen brauchen mehr Möglichkeiten, als die Felder der Kontaktfunktion zulassen. Schreibe uns eine E-Mail, wenn du mit uns ins Gespräch kommen willst:</p>
<div id="email-addresses">
    <a href="mailto:feedback@schul-cloud.org" target="_blank" rel="noopener">feedback@schul-cloud.org</a> ans HPI für Ideen, Kritik und Wünsche rund um die Cloud selbst. <br>
    <br>
    <a href="mailto:cloud@mint-ec.de" target="_blank" rel="noopener">cloud@mint-ec.de</a> an MINT-EC bei Fragen und Anregungen zur Einführung und Nutzung der HPI Schul-Cloud an deiner Schule.
</div>
