<div class="live-search {{class}}">
    <template class="result">
        <a href="${link}" class="${class}">
            <div>
                <b class="text-primary">${title}</b><br/>
                <span class="text-muted">${short_description}</span>
            </div>
        </a>
    </template>

    <div class="search-container">
        <i class="fa fa-search search-icon" aria-hidden="true"></i>
        <i class="fa fa-spinner fa-spin load-icon" aria-hidden="true"></i>
        <input class="search" type="text" placeholder="{{$t "global.label.search" }}" autocomplete="off" aria-label="Suche nach Hilfeartikeln">
        <i class="fa fa-times clear-icon" aria-hidden="true"></i>
    </div>
    <div class="live-search-results">
        {{! the template will be inserted (populated with content) here}}
    </div>
</div>