<p>Manche Anliegen brauchen mehr Möglichkeiten, als die Felder der Kontaktfunktion zulassen. Schreib uns eine E-Mail, wenn du mit uns ins Gespräch kommen willst:</p>
<div id="email-addresses">
    <a href="mailto:nbc-wunsch@netz-21.de" target="_blank" rel="noopener">nbc-wunsch@netz-21.de</a> ans HPI für Ideen, Kritik und Wünsche rund um die Cloud selbst. <br>
    <a href="mailto:nbc-support@netz-21.de" target="_blank" rel="noopener">nbc-support@netz-21.de</a> an das Supportteam für Informationen rund um das Projekt
</div>
