<p>{{$t "theme.n21.help.text.someConcernsRequire"}}</p>
<div id="email-addresses">
    <a href="mailto:nbc-wunsch@netz-21.de" target="_blank" rel="noopener">nbc-wunsch@netz-21.de</a> {{$t "help.text.toTheHpiForIdeas" }} <br>
    <a href="mailto:nbc-support@netz-21.de" target="_blank" rel="noopener">nbc-support@netz-21.de</a> {{$t "theme.n21.help.text.toTheSupportTeam"}}
</div>
