<p>Manche Anliegen brauchen mehr Möglichkeiten, als die Felder der Kontaktfunktion zulassen. Schreib uns eine E-Mail, wenn du mit uns ins Gespräch kommen willst:</p>
<div id="email-addresses">
    <a href="mailto:{{getConfig "SC_CONTACT_EMAIL"}}" target="_blank" rel="noopener">{{getConfig "SC_CONTACT_EMAIL"}}</a> an das Niedersächsisches Landesinstitut für schulische Qualitätsentwicklung (NLQ) für Ideen, Kritik und Wünsche rund um die Cloud selbst. <br>
    <a href="mailto:{{getConfig "SC_CONTACT_EMAIL"}}" target="_blank" rel="noopener">{{getConfig "SC_CONTACT_EMAIL"}}</a> an das Supportteam für Informationen rund um das Projekt
</div>
