@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans'),
			url('ptsans-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans'),
			url('ptsans-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans'),
			url('ptsans-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans'),
			url('ptsans-bold-italic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

