{{#extend "lib/simple"}}
  {{#content "page"}}
    <h1>🙀 {{$t "global.headline.sorryItDidNotWork" }}</h1>
    <p>{{$t "firstLogin.text.yourLoginWorksButThereIsAProblem" }}
    </p>
     <a class="btn btn-primary" href="/logout">{{$t "firstLogin.button.logout" }}</a>
  {{/content}}
{{/extend}}
