{{#extend "lib/loggedin"}}
  {{#content "scripts" mode="append"}}
      <script src="/scripts/dataprivacy/dataprivacy.js" type="text/javascript" defer></script>
      <script src="/scripts/jquery/jquery.datetimepicker.full.min.js" type="text/javascript" defer></script>
  {{/content}}
  {{#content "styles" mode="append"}}
      <link rel="stylesheet" href="/styles/administration/dataprivacy.css"/>
      <link rel="stylesheet" href="/styles/lib/datetimepicker/jquery.datetimepicker.min.css"/>
 {{/content}}
  {{#content "page"}}
    {{#embed "lib/forms/paginatedForm" sections=3 action="/firstLogin/submit" method="POST"}}
      {{#content "panels"}}
      <section data-panel="section-1">
        <h4>Einwilligungserklärung</h4>
        <p>Du bist älter als 14 Jahre. Deine Erziehungsberechtigten (oder du selbst, wenn du schon über 18 bist) haben der Nutzung bereits auf dem Papierweg zugestimmt. Bitte bestätige jetzt folgende Einwilligungserklärungen, damit du die Schul-Cloud weiter nutzen kannst.</p>

          <p>Ich, <b>{{currentUser.firstName}} {{currentUser.lastName}}</b>, erkläre Folgendes:</p>

          <label>
              <input name="Erhebung" type="checkbox" value="true" required/>
              <span>Ich habe die <a href="#" target="_blank">Datenschutzerklärung</a> gelesen und willige in die Verarbeitung der Nutzerdaten ein.</span>
          </label>
          <p class="explanation">Schülereinwilligung Ü18</p>
          
          <label>
              <input name="Forschung" type="checkbox" value="true" required/>
              <span>Ich habe die <a href="#" target="_blank">Informationen zum Forschungsvorhaben</a> gelesen und willige in die wissenschaftliche Auswertung ein.</span>
          </label>
          <p class="explanation">Die HPI Schul-Cloud wird von einem wissenschaftlichen Forschungsprojekt begleitet, das der Optimierung des Lernerlebnisses in der Schul-Cloud dient. Im Rahmen dessen werden Nutzungsdaten anonymisiert ausgewertet.</p>
          
          <label>
              <input name="Pseudonymisierung" type="checkbox" value="true" required/>
              <span> Ich habe die <a href="#" target="_blank">Informationen zu Inhalte-Anbietern</a> gelesen und willige in die Weitergabe der Pseudonyme an Inhalte-Anbieter ein</span>
          </label>
          <p class="explanation">Nutzernamen werden nicht an integrierte Drittanbieter weitergegeben. Sollte eine Wiedererkennung nötig sein, z.B. für individuelle Aufgabenstellungen, geschieht dies zu Ihrem Schutz auf Basis eines Pseudonyms. Die Schülerdaten bleiben sicher im Kernbereich der Schul-Cloud. </p>

          <label>
              <input name="Nutzungsbedingungen" type="checkbox" value="Nutzungsbedingungen" required/>
              <span>Ich habe die <a href="#" target="_blank">Nutzungsbedingungen</a> gelesen und stimme ihnen zu.</span>
          </label>
          <p class="explanation">Die Nutzung der Schul-Cloud ist freiwillig. Die erteilte Einwilligung kann daher jederzeit ohne Nachteile für den Nutzer widerrufen werden. Eine kurze Mail mit Angabe des Vor- und Nachnamens, der Klasse und der Schule an folgende Adresse genügt: <a href="mailto:widerruf@schul-cloud.org?subject=Widerruf der Einwilligung&body=Liebes Schul-Cloud-Team,%0D%0Ahiermit widerrufe ich die von mir erteilte EInwilligung zur Verarbeitung meiner personenbezogenen Daten.%0D%0A%0D%0AVor- und Nachname:%0D%0AKlasse:%0D%0ASchule:%0D%0A" target="_blank">widerruf@schul-clud.org</a></p>
      </section>


      <section data-panel="section-2" class="submit-page">
        <h4>Du hast es fast geschafft…</h4>
        <p>Bitte gib dein Geburtsdatum an. Es wird benötigt, damit die Einwilligungserklärung gültig ist.</p>
        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                <label>Geburtsdatum: *</label>
                <input class="form-control linked" data-date data-min-date="1990/01/01" data-max-date="2006/01/01" data-start-date="2000/01/01" name="studentBirthdate" type="text" required autocomplete="off" />
            </div>
        </div>
      </section>


      <section data-panel="section-3">
        <h4>Danke!</h4>
        <p>Du kannst jetzt mit der Benutzung der HPI Schul-Cloud fortfahren.<br>
            <a class="btn btn-primary mt-2" href="//schul-cloud.org">Schul-Cloud erkunden</a>
        </p>
      </section>
      {{/content}}
    {{/embed}}
  {{/content}}
{{/extend}}