{{#extend "lib/simple"}}
{{> "firstLogin/partials/imports"}}
{{#content "page"}}
{{#embed "lib/forms/paginatedForm" sections=(arrayLength @root.sections) action="/firstLogin/submit" method="post" submit-label=@root.submitLabel}}
{{#content "panels"}}
{{#each @root.sections}}
{{> (lookup @root.sections @index) CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS=@root.CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS roleNames=@root.roleNames section-nr=(add @index 1) submit-page=(isCond (add @index 1) "==" @root.submitPageIndex)}}
{{/each}}
{{/content}}
{{#content "buttons" mode="append"}}
    <a href="/logout/" class="btn btn-secondary" id="btn-logout">{{$t "firstLogin.button.signOutAndCancel" }}</a>
{{/content}}
{{/embed}}
{{/content}}
{{/extend}}
