{{#extend "lib/simple"}}
  {{#content "scripts" mode="append"}}
      <script src="/scripts/dataprivacy/firstLogin.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
  {{/content}}
  {{#content "styles" mode="append"}}
      <link rel="stylesheet" href="/styles/administration/dataprivacy.css"/>
  {{/content}}
  {{#content "page"}}
    <div id="welcome-screen">
      {{> "firstLogin/partials/welcome_existing"}}

      <p>{{$t "firstLogin.text.pleaseChoose" }}</p>
      <div class="form-group">
          <fieldset>
              <input type="radio" id="reg-u14" name="student-age" value="u14"> <label for="reg-u14">{{$t "firstLogin.label.under14YearsOld" }}</label><br/>
              <input type="radio" id="reg-1415" name="student-age" value="1415"> <label for="reg-1415">{{$t "firstLogin.text.between14And" (dict "addConsent" add CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS -1 )}}</label><br>
              <input type="radio" id="reg-16" name="student-age" value="16"> <label for="reg-16">{{$t "firstLogin.text.fromYear" (dict "age" CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS )}}</label>
          </fieldset>
      </div>

      <button id="showExistingLoginForm" class="btn btn-primary" style="margin-top:6px;" disabled>{{$t "global.button.next" }}</button>
      {{> "firstLogin/partials/language-hint"}}
    </div>
  {{/content}}
{{/extend}}
