{{#extend "lib/simple"}}
  {{#content "scripts" mode="append"}}
      <script src="/scripts/dataprivacy/firstLogin.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
  {{/content}}
  {{#content "styles" mode="append"}}
      <link rel="stylesheet" href="/styles/administration/dataprivacy.css"/>
  {{/content}}
  {{#content "page"}}
    <div id="welcome-screen">
      {{> "firstLogin/partials/welcome_existing"}}

      <p>Bitte wähle: Ich bin...</p>
      <div class="form-group">
          <fieldset>
              <input type="radio" id="reg-u14" name="student-age" value="u14"> <label for="reg-u14">unter 14 Jahre alt.</label><br/>
              <input type="radio" id="reg-1415" name="student-age" value="1415"> <label for="reg-1415">zwischen 14 und {{ add CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS -1 }} Jahre alt.</label><br>
              <input type="radio" id="reg-16" name="student-age" value="16"> <label for="reg-16">ab {{CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS}} Jahre alt.</label>
          </fieldset>
      </div>

      <button id="showExistingLoginForm" class="btn btn-primary" style="margin-top:6px;" disabled>Weiter</button>
      {{> "firstLogin/partials/language-hint"}}
    </div>
  {{/content}}
{{/extend}}
