{{#extend "lib/simple"}}
  {{#content "scripts" mode="append"}}
      <script src="/scripts/dataprivacy/dataprivacy.js" type="text/javascript" defer></script>
      <script src="/scripts/jquery/jquery.datetimepicker.full.min.js" type="text/javascript" defer></script>
  {{/content}}
  {{#content "styles" mode="append"}}
      <link rel="stylesheet" href="/styles/administration/dataprivacy.css"/>
      <link rel="stylesheet" href="/styles/lib/datetimepicker/jquery.datetimepicker.min.css"/>
 {{/content}}
  {{#content "page"}}
    {{#embed "lib/forms/paginatedForm" sections=2 action="/firstLogin/submit" method="POST"}}
      {{#content "panels"}}
          <section data-panel="section-1" class="submit-page">
              <h4>Du hast es fast geschafft…</h4>
              <p>Da du unter 14 Jahre alt bist, reicht die Einverständniserklärung deiner Erziehungsberechtigten zur Nutzung der {{theme.short_title}}. Sobald du 14 Jahre alt bist, wirst du automatisch nach deinem Einverständnis gefragt. Bitte gib dazu dein Geburtsdatum ein.</p>
              <div class="row">
                  <div class="form-group col-md-6 col-sm-12">
                      <label>Geburtsdatum: *</label>
                      <input class="form-control linked" data-date data-min-date="2002/01/01" data-max-date="2012/01/01" data-start-date="2007/01/01" name="studentBirthdate" type="text" required autocomplete="off" />
                  </div>
              </div>
          </section>


          <section data-panel="section-2">
              <h4>Danke!</h4>
              <p>Du kannst jetzt mit der Benutzung der {{theme.title}} fortfahren.<br>
                  <a class="btn btn-primary mt-2" href="//schul-cloud.org">{{theme.short_title}} erkunden</a>
              </p>
          </section>
      {{/content}}
    {{/embed}}
  {{/content}}
{{/extend}}