{{#extend "lib/simple"}}
	{{> "firstLogin/partials/importsForcePasswordChange"}}
	{{#content "page"}}
        <form class="form" action="forcePasswordChange/submit" method="post" autocomplete="off" style="margin-top: 40px">
			{{> "firstLogin/sections/password"}}
			{{> "lib/components/csrfInput"}}
				<a href="/logout/" class="btn btn-secondary" id="btn-logout">Abmelden und abbrechen</a>

			<button id="nextSection" class="btn btn-primary pull-right" type="submit">
					{{$t "administration.button.changePassword" }}
			</button>
         </form>
	{{/content}}
{{/extend}}
