$primaryColor: #185888;
$primaryColorTransparent: rgba(24,88,136,.15);
$primaryColorLight: #5284b8;
$primaryColorDark: #002f5b;
$secondaryColor: #f56b00;
$secondaryColorLight: #ff9c3f;
$secondaryColorDark: #bb3b00;
$accentColor: #f56b00;

$logoGradient: linear-gradient(45deg, $primaryColor 30%, $primaryColor);

$logoBackground: url("../../images/logo/cloud-transparent-mono.svg") center / contain no-repeat;
$logoBackgroundTablet: url("../../images/logo/cloud-transparent-mono-48-48.svg") center / contain no-repeat;
$logoBackgroundLanding: url("../../images/logo/cloud-transparent-mono-long.svg") center / contain no-repeat;

aside.nav-sidebar{
    .sc-branding{
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.25) ,rgba(255, 255, 255, 0));
    }

    ul li a:not(.sc-branding) {
        color: $primaryColor;
    }

    ul li a:not(.sc-branding).active {
        color: $primaryColorDark;
        background: $primaryColorTransparent;
    }
}

.timetable {
    .timeline {
        .current-time {
            &:before {
                background: $secondaryColor !important;
            }
            span {
                color: $secondaryColor !important;
            }
        }
    }
}

.navbar-nav .btn-avatar .dropdown-toggle .avatar-circle {
    background-color: $primaryColor;
}