<!DOCTYPE html>
<html>
<head>
    <title>{{#if title}}{{title}} - {{/if}}Schul-Cloud</title>

    {{#block "meta"}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#b10438">
        <meta name="apple-mobile-web-app-title" content="Schul-Cloud">
        <meta name="theme-color" content="#b10438">
    {{/block}}

    {{#block "styles"}}
        <link rel="preload" href="/fonts/ptsans/ptsans-regular.woff" as="font" type="font/woff" crossorigin>
        <link rel="preload" href="/fonts/ptsans/ptsans-bold.woff" as="font" type="font/woff" crossorigin>
        <link rel="preload" href="/fonts/ptsans/ptsans-italic.woff" as="font" type="font/woff" crossorigin>
        <link rel="preload" href="/fonts/fontawesome/fontawesome-webfont.woff" as="font" type="font/woff" crossorigin>

        <link rel="preload" href="/images/hpi-logo.png" as="image" crossorigin>

        <link rel="apple-touch-icon" href= "/images/webapp.png">
        <link rel="stylesheet" href="/fonts/ptsans/ptsans.css" />
        <link rel="stylesheet" href="/fonts/fontawesome/fontawesome.css" />
        <link rel="stylesheet" href="/styles/lib/base.css" />
    {{/block}}

    {{#block "scripts"}}
        <script src="/scripts/all.js" type="text/javascript" defer></script>
        <script src="/scripts/tether/tether.min.js" type="text/javascript" defer></script>
        <script src="/scripts/bootstrap/bootstrap.min.js" type="text/javascript" defer></script>
        <script async defer type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false">
        </script>
    {{/block}}

</head>
<body>
    {{#block "body"}}{{/block}}

    {{#unless inline}}
        {{#embed "lib/footer"}}{{/embed}}
    {{/unless}}

</body>
</html>
