<!DOCTYPE html>
<html>
<head>
    <title>{{#if title}}{{title}} - {{/if}}{{themeTitle}}</title>

    {{#block "meta"}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#b10438">
        <meta name="apple-mobile-web-app-title" content="{{themeTitle}}">
        <meta name="theme-color" content="#b10438">
        <meta name="application-name" content="{{themeTitle}}">
    {{/block}}

    {{#block "styles"}}
        <link rel="preload" href="/fonts/ptsans/ptsans-regular.woff" as="font" type="font/woff" crossorigin>
        <link rel="preload" href="/fonts/ptsans/ptsans-bold.woff" as="font" type="font/woff" crossorigin>
        <link rel="preload" href="/fonts/ptsans/ptsans-italic.woff" as="font" type="font/woff" crossorigin>
        <link rel="preload" href="/fonts/fontawesome/fontawesome-webfont.woff" as="font" type="font/woff" crossorigin>
        <link rel="mask-icon" href="/images/logo/safari-pinned-tab.svg" color="#b10438">
        <link rel="apple-touch-icon" href= "/images/logo/app-icon-512.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/logo/app-icon-120.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/logo/app-icon-152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="/images/logo/app-icon-167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/logo/app-icon-180.png">
        <link rel="icon" type="image/png" sizes="48x48" href="/images/logo/favicon-48.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/logo/favicon-32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/logo/favicon-16.png">
        <link rel="manifest" href="/images/manifest.json">
        <link rel="stylesheet" href="/fonts/ptsans/ptsans.css" />
        <link rel="stylesheet" href="/fonts/fontawesome/fontawesome.css" />
        <link rel="stylesheet" href="/styles/lib/base.css" />
        <style>
            .preload-screen{
                transition: opacity .1s ease-in-out;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 99999999;
                width: 100vw;
                height: 100vh;
                background-color: #fafafa;
                color: #b10438;
            }
            .preload-screen.hidden{
                opacity: 0;
            }
            .preload-screen.removed{
                display: none
            }
            .preload-screen .center-wrapper{
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
            .preload-screen .center-wrapper .fa{
                font-size: 2rem;
                margin-bottom: 1rem;
                -webkit-animation: fa-spin-preload 1.5s infinite linear;
		        animation: fa-spin-preload 1.5s infinite linear;
            }
            @-webkit-keyframes fa-spin-preload {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(359deg);
                    transform: rotate(359deg);
                }
            }
        </style>
    {{/block}}

    {{#block "scripts"}}
        <script src="/scripts/all.js" type="text/javascript" defer></script>
        <script>
            window.addEventListener("load", function(e) {
                const loader = document.querySelector(".preload-screen");
                loader.classList.add("hidden");
                var delPS = setInterval(function(){
                    const loader = document.querySelector(".preload-screen")
                    loader.classList.add("removed");
                    //loader.parentNode.removeChild(loader); //remove node in ie6+ compatible way
                    clearInterval(delPS);
                },100);
            });
             window.addEventListener("beforeunload", function(e){
                 const loaderClassList = document.querySelector(".preload-screen").classList;
                 loaderClassList.remove("removed");
                 loaderClassList.remove("hidden");
             })
        </script>
    {{/block}}

</head>
<body {{#if inline}}class="window-inline"{{/if}}>
    <div class="preload-screen">
        <div class="center-wrapper">
            <i class="fa fa-spinner" aria-hidden="true"></i>
            <p>laden...</p>
        </div>
    </div>
    {{#block "body"}}{{/block}}

    {{#embed "lib/piwik"}}{{/embed}}

</body>
</html>
