{{#if loggedin}}
    {{#extend "lib/loggedin"}}
        {{#content "styles" mode="append"}}
            <link rel="stylesheet" href="{{getVersionedPath '/styles/lib/error.css'}}"/>
        {{/content}}
        {{#content "page"}}
            {{#embed "lib/error_content"}}{{/embed}}
        {{/content}}
    {{/extend}}
{{else}}
    {{#extend "lib/loggedout"}}
        {{#content "styles" mode="append"}}
            <link rel="stylesheet" href="{{getVersionedPath '/styles/lib/error.css'}}"/>
        {{/content}}

        {{#content "page"}}
			{{#embed "authentication/section"}}
				{{#content "body"}}
					<main id="main-content" class="container pt-3 mt-5">
						{{#embed "lib/error_content"}}{{/embed}}
					</main>
				{{/content}}
			{{/embed}}
        {{/content}}
    {{/extend}}
{{/if}}
