<li><a href="mailto:feedback@hpi-schul-cloud.de" target="_blank" rel="noopener" aria-label="{{$t "
		lib.extended_footer.link.support"}} {{$t "global.link.openInNewTabWarning" }}">{{$t
		"lib.extended_footer.link.support"}}</a></li>
<li><a href="mailto:feedback@hpi-schul-cloud.de" target="_blank" rel="noopener" aria-label="{{$t "
		lib.extended_footer.link.generalInquiries" }} {{$t "global.link.openInNewTabWarning" }}">{{$t
		"lib.extended_footer.link.generalInquiries" }}</a></li>
<li><a href="mailto:inhalte@hpi-schul-cloud.de" target="_blank" rel="noopener" aria-label="{{$t "
		lib.extended_footer.link.contentProviders" }} {{$t "global.link.openInNewTabWarning" }}">{{$t
		"lib.extended_footer.link.contentProviders" }}</a></li>
<li><a href="mailto:datenschutz-fragen@hpi-schul-cloud.de" target="_blank" rel="noopener" aria-label="{{$t "
		lib.extended_footer.link.privacy" }} {{$t "global.link.openInNewTabWarning" }}">{{$t
		"lib.extended_footer.link.privacy" }}</a>
</li>