<li><a href="mailto:feedback@hpi-schul-cloud.de" target="_blank" rel="noopener" aria-label="{{$t "lib.extended_footer.link.support"}} {{$t "global.openInNewTabWarning"}}">{{$t "lib.extended_footer.link.support"}} <span
			class="text-nowrap">feedback@hpi-schul-cloud.de</span></a></li>
<li><a href="mailto:{{getConfig "SC_CONTACT_EMAIL"}}" target="_blank" rel="noopener" aria-label="{{$t "lib.extended_footer.link.generalInquiries" }} {{$t "global.openInNewTabWarning"}}">{{$t "lib.extended_footer.link.generalInquiries" }} <span
			class="text-nowrap">{{getConfig "SC_CONTACT_EMAIL"}}</span></a></li>
<li><a href="mailto:inhalte@hpi-schul-cloud.de" target="_blank" rel="noopener" aria-label="{{$t "lib.extended_footer.link.contentProviders" }} {{$t "global.openInNewTabWarning"}}">{{$t "lib.extended_footer.link.contentProviders" }} <span
			class="text-nowrap">inhalte@hpi-schul-cloud.de</span></a></li>
<li><a href="mailto:datenschutz@hpi-schul-cloud.de" target="_blank" rel="noopener" aria-label="{{$t "lib.extended_footer.link.privacy" }} {{$t "global.openInNewTabWarning"}}">{{$t "lib.extended_footer.link.privacy" }} <span
			class="text-nowrap">datenschutz@hpi-schul-cloud.de</span></a></li>
