<li><a href="mailto:support@dbildungscloud.de" rel="noopener" aria-label="{{$t "
		lib.extended_footer.link.support"}}">{{$t
		"lib.extended_footer.link.support"}}</a></li>
<li><a href="mailto:support@dbildungscloud.de" rel="noopener" aria-label="{{$t "
		lib.extended_footer.link.generalInquiries" }}">{{$t
		"lib.extended_footer.link.generalInquiries" }}</a></li>
<li><a href="mailto:datenschutz@dbildungscloud.de" rel="noopener" aria-label="{{$t "
		lib.extended_footer.link.privacy" }}">{{$t
		"lib.extended_footer.link.privacy" }}</a>
</li>
