<footer>
    <div class="container">
        <div class="row">  
            <div  class="col-md-4">        
                <h4></h4>
            </div>
            <div  class="col-md-4">        
                lala
            </div>
            <div  class="col-md-4">        
                <h4>Kontakt</h4>
                <p>
                    Allgemeine Anfragen: info@schul-cloud.org
                    Inhalteanbieter: inhalte@schul-cloud.org
                    Datenschutz: datenschutz@schul-cloud.org
                </p>
            </div>
        </div>
    </div>
</footer>
