<footer>
    <div class="imprint">
        <div class="center">
            <img src="/images/hpi-logo.png" width="235" height="44" />
            <a>&copy; 2017 Schul-Cloud </a>

            <nobr>
                <span> - </span>
                <a href="https://hpi.de/impressum.html" target="blank">Impressum</a>
                <span> - </span>
                <a href="mailto:hpi-info@hpi.de?subject=Schul_Cloud%20Anfrage">Kontakt</a>
            </nobr>
        </div>
    </div>
</footer>