<footer class="hide-inline small-footer">
    <div class="imprint">
        <div class="center">
            <img src="/images/hpi-logo.png" width="235" height="44" />
            <a>&copy; 2017 Schul-Cloud </a>

            <nobr>
                <span> - </span>
                <a href="/impressum">Impressum</a>
                <span> - </span>
                <a href="/impressum#data_security">Datenschutzerklärung</a>
                <span> - </span>
                <a href="mailto:hpi-info@hpi.de?subject=Schul_Cloud%20Anfrage">Kontakt</a>
                <span> - </span>
                <a href="/partner">Partner</a>
            </nobr>
        </div>
    </div>
</footer>
