<footer class="hide-inline small-footer">
    <div class="imprint">
        <div class="center">
            <img src="/images/footer-logo.png" alt="Anbieterlogo"/>
            <span>&copy; 2019 {{theme.short_title}} </span>

            <div>
                <a href="/impressum" target="_blank">Impressum</a>
                <span> - </span>
                Datenschutzerklärung: <a href="/impressum#data_security" target="blank">HPI</a> / <a href="https://schul-cloud-hpi.s3.hidrive.strato.com/Willkommenordner/Datenschutz/Datenschutzerklaerung-Muster-Schulen.pdf" target="blank">Muster Schulen</a>
                <span> - </span>
                <a href="mailto:info@schul-cloud.org?subject=Schul_Cloud%20Anfrage" target="_blank">Kontakt</a>
                <span> - </span>
                <a href="/team" target="_blank">Team</a>
                <span> - </span>
                <a href="/about" target="_blank">Über das Projekt</a>
                <span> - </span>
                <a href="/community" target="_blank">Mitmachen</a>
                <span> - </span>
                <a href="/partner" target="_blank">Partner</a>
                <span> - </span>
                <a href="https://github.com/schul-cloud/" target="_blank">GitHub</a>
            </div>
            <div>
                <p class="made-with-love">Made with <span class="heart">❤</span> in Potsdam</p>
            </div>
        </div>
    </div>
</footer>
