<footer class="hide-inline small-footer">
    <div class="imprint">
        <div class="center">
            <img src="/images/footer-logo.png" alt="Anbieterlogo"/>
            <span>&copy; 2019 {{theme.short_title}} </span>

            <div>
                <a href="/impressum" target="_blank">Impressum</a>
                <span> - </span>
                Datenschutzerklärung: <a href="/impressum#data_security" target="_blank" rel="noopener">HPI</a> / <a href="{{@root.theme.documents.baseDir}}{{@root.theme.documents.privacy}}" target="_blank" rel="noopener">Muster Schulen</a>
                <span> - </span>
                <a href="mailto:info@schul-cloud.org?subject=Schul_Cloud%20Anfrage" target="_blank" rel="noopener">Kontakt</a>
                <span> - </span>
                <a href="/team" target="_blank" rel="noopener">Team</a>
                <span> - </span>
                <a href="/about" target="_blank" rel="noopener">Über das Projekt</a>
                <span> - </span>
                <a href="/community" target="_blank" rel="noopener">Mitmachen</a>
                <span> - </span>
                <a href="/partner" target="_blank" rel="noopener">Partner</a>
                <span> - </span>
                <a href="https://github.com/schul-cloud/" target="_blank" rel="noopener">GitHub</a>
            </div>
            <div>
                <p class="made-with-love">Made with <span class="heart">❤</span> in Potsdam</p>
            </div>
        </div>
    </div>
</footer>
