<footer id="footer" class="hide-inline small-footer">
	<div class="imprint">
		<div class="center">
			<nav aria-label="{{$t "lib.footer.aria_label.footer"}}">
				<ul>
					<li>
						<a href="/imprint">{{$t "global.link.imprint" }}</a>
						<span> &nbsp; </span>
					</li>
					<li>
						<a href="/termsofuse"  target="_blank" rel="noopener" aria-label="{{{$t "lib.global.link.termsOfUseHPI"}}} PDF {{$t "global.link.openInNewTabWarning"}}">{{{$t "lib.global.link.termsOfUseHPI"}}}</a>
						<span> &nbsp; </span>
					</li>
					<li>
						<a href="/privacypolicy" target="_blank" rel="noopener" aria-label="{{{$t "lib.global.link.dataProtectionDeclaration"}}} PDF {{$t "global.link.openInNewTabWarning"}}">{{{$t "lib.global.link.dataProtectionDeclaration"}}}</a>
						<span> &nbsp; </span>
					</li>
					<li>
						<a href="mailto:{{getConfig "SC_CONTACT_EMAIL"}}?subject=dBildungscloud%20Anfrage" target="_blank" rel="noopener" aria-label="{{$t "global.link.contact"}} {{$t "global.link.openInNewTabWarning"}}">{{$t "global.link.contact"}}</a>
						<span> &nbsp; </span>
					</li>
					<li>
						<a href="{{@root.theme.status_url}}" target="_blank" rel="noopener" aria-label="{{$t "lib.global.link.status"}} {{$t "global.link.openInNewTabWarning"}}">{{$t "lib.global.link.status"}}</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</footer>
