<header class="header">
	<nav class="container">
		<a id="title" href="/">
			<img class="logo" alt="{{theme.title}}" src="/images/logo/HPI-Schul-Cloud_Wort-Bildmarke-Banner_transparent.svg" />
		</a>
		{{#unless hideMenu}}
			<ul class="nav">
				<li class="intro-trigger hidden-sm-down">
					<a class="nav-link" href="#" onclick="startIntro()">Intro</a>
				</li>
				<li class="hidden-sm-down">
					<a class="nav-link" href="/team">Team</a>
				</li>
				<li class="hidden-sm-down">
					<a class="nav-link" href="/partner">Partner</a>
				</li>
				<li>
					<a class="nav-link" href="https://blog.schul-cloud.org/" target="scblog">Blog</a>
				</li>
				<li>
					<a class="nav-link" href="/community">Mitmachen</a>
				</li>
				<li>
					<a class="nav-link" href="https://blog.schul-cloud.org/faq" target="_blank">FAQ</a>
				</li>
			</ul>
		{{/unless}}
	</nav>
</header>
