<header class="header">
	<nav class="container">
		<a id="title" href="/">
			<img class="logo" alt="{{theme.title}}" src="/images/logo/HPI-Schul-Cloud_Wort-Bildmarke-Banner_transparent.svg" />
		</a>
		{{#unless hideMenu}}
			<ul class="nav">
				<li>
					<a class="nav-link" href="/about">Über das Projekt</a>
				</li>
				<li>
					<a class="nav-link" href="/community">Mitmachen</a>
				</li>
				<li>
					<a class="nav-link" href="https://blog.schul-cloud.org/" target="scblog">Blog</a>
				</li>
				{{#ifEnv "FEATURE_MINT_PAGES_ENABLED" "true"}}
				<li>
					<a class="nav-link" href="/mint-ec/willkommenspaket">Erste Schritte</a>
				</li>
				{{/ifEnv}}
				<li>
					<a class="nav-link" href="https://blog.schul-cloud.org/faq" target="_blank" rel="noopener">FAQ</a>
				</li>
			</ul>
		{{/unless}}
	</nav>
</header>
