<header class="mb-1">
    <div class="container">
        <nav class="navbar-light">
            <a id="title" class="pull-left" href="/">
                <div class="cloud-logo"></div>Schul-Cloud</a>
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item hidden-sm-down">
                    <a class="nav-link" href="/team">Team</a>
                </li>
                <li class="nav-item hidden-sm-down">
                    <a class="nav-link" href="/partner">Partner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blog.schul-cloud.org/" target="scblog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blog.schul-cloud.org/faq" target="_blank">FAQ</a>
                </li>
            </ul>
        </nav>
    </div>
</header>