<header class="header">
	<nav class="container">
		<a id="title" href="/">
			<img class="logo" alt="{{theme.title}}" src="/images/logo/HPI-Schul-Cloud_Wort-Bildmarke-Banner_transparent.svg" />
		</a>
		{{#unless hideMenu}}
			<ul class="nav">
				{{#ifEnv "FEATURE_MINT_PAGES_ENABLED" "true"}}
				<li>
					<a class="nav-link" href="/mint-ec/willkommenspaket">{{$t "home.header.link.firstSteps"}}</a>
				</li>
				{{/ifEnv}}
				<li>
					<a class="nav-link" href="/about">{{$t "home.header.link.aboutUs"}}</a>
				</li>
				<li>
					<a class="nav-link" href="/community">{{$t "home.header.link.joinUs"}}</a>
				</li>
				<li>
					<a class="nav-link" href="https://blog.schul-cloud.org/" target="scblog">{{$t "home.header.link.blog"}}</a>
				</li>
				<li>
					<a class="nav-link" href="https://blog.schul-cloud.org/faq" target="_blank" rel="noopener">{{$t "home.header.link.faq"}}</a>
				</li>
			</ul>
		{{/unless}}
	</nav>
</header>
