<div class="col-sm-12 alert alert-info">
	<strong>{{$t "lib.idap_info.text.whyCantIEditEntries" }}</strong><br>
	{{$t "lib.idap_info.text.yourSchoolInThe" }} {{theme.short_title}} {{$t "lib.idap_info.text.isSyncronizedWithAnIdentity" }} 
	{{$t "lib.idap_info.text.theDataOfTeachersAndStudents" }}
</div>
