<div class="col-sm-12 alert alert-info">
	<strong>{{$t "lib.ldap_info.text.whyCantIEditEntries" }}</strong><br>
	{{$t "lib.ldap_info.text.yourSchoolIsLinkedToExternManagementSystem" (dict "shortTitle" theme.short_title)}}
</div>
