{{#extend "lib/default"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/homepage/homepage.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        {{#ifConfig "FEATURE_MATRIX_MESSENGER_ENABLED" true}}
            <script src="/scripts/chatLoggedout.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        {{/ifConfig}}
        <script type="text/javascript" src="/scripts/timezone.js" nonce="{{nonceValue}}" defer></script>
    {{/content}}

    {{#content "body"}}

        {{#embed "lib/header" hideMenu=hideMenu}}{{/embed}}

        <main class="container content-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-xs-12">
                        {{> "lib/components/notification"}}
                    </div>
                    {{#block "page"}}{{/block}}
                </div>
            </div>
        </main>

        {{#unless hideFooter}}
            {{#unless extendedFooter}}
                {{#embed "lib/footer"}}{{/embed}}
            {{else}}
                {{#embed "lib/extended_footer"}}{{/embed}}
            {{/unless}}
        {{/unless}}

    {{/content}}
{{/extend}}
