{{#extend "lib/default"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="{{getAssetPath '/styles/homepage/homepage.css'}}"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
    {{/content}}

    {{#content "body"}}

        {{#embed "lib/header" hideMenu=hideMenu}}{{/embed}}

        <main class="container content-wrapper" style="margin-top: 6rem">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-xs-12">
                        {{> "lib/components/notification"}}
                    </div>
                    {{#block "page"}}{{/block}}
                </div>
            </div>
        </main>

        {{#unless hideFooter}}
            {{#unless extendedFooter}}
                {{#embed "lib/footer"}}{{/embed}}
            {{else}}
                {{#embed "lib/extended_footer"}}{{/embed}}
            {{/unless}}
        {{/unless}}

    {{/content}}
{{/extend}}
