{{#embed "authentication/section" style="dark footer" class=""}}
{{#content "body"}}
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2 class="h4">{{$t "global.link.contact" }}</h2>
				<ul>
					{{> "lib/extended_footer_links"}}
					<li><a href="https://hpi.de/open-campus/registrierung/hpi-schul-cloud-newsletter/" target="_blank"
							rel="noopener" aria-label="{{$t "lib.extended_footer.link.subscribeTheNewsletter" }} {{$t "global.link.openInNewTabWarning"}}">
							<span class="text-nowrap">{{$t "lib.extended_footer.link.subscribeTheNewsletter" }}</span></a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h2 class="h4">{{$t "lib.extended_footer.headline.links"}}</h2>
				<ul>
					<li><a href="/impressum">{{$t "global.link.imprint" }}</a></li>
					<li><a href="{{@root.theme.documents.specificFiles.termsOfUseSchool}}" target="_blank"
							rel="noopener" aria-label="{{$t "login.headline.onlyTermsOfUse"}} Th端ringer Schulcloud PDF {{$t "global.link.openInNewTabWarning"}}">{{$t "login.headline.onlyTermsOfUse"}} Th端ringer Schulcloud</a>
					</li>
					<li><a href="{{@root.theme.documents.specificFiles.privacyExemplary}}" target="_blank"
							rel="noopener" aria-label="{{$t "global.text.dataProtection"}} Th端ringer Schulcloud PDF {{$t "global.link.openInNewTabWarning"}}">{{$t "global.text.dataProtection"}} Th端ringer Schulcloud</a>
					</li>
					<li><a href="/about">{{$t "theme.thr.about.headline.aboutTheThuringian"}}</a></li>
					<li><a href="https://github.com/hpi-schul-cloud/" target="_blank" rel="noopener" aria-label="{{$t "lib.global.link.github"}} {{$t "global.link.openInNewTabWarning"}}">{{$t "lib.global.link.github"}}</a></li>
					<li><a href="https://status.schul-cloud.org" target="_blank" rel="noopener" aria-label="{{$t "lib.global.link.status"}} {{$t "global.link.openInNewTabWarning"}}">{{$t "lib.global.link.status"}}</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h2 class="h4 card-title">{{$t "lib.extended_footer.headline.vacancies" }}</h2>
				<div class="form-group">
					{{{$t "lib.extended_footer.text.weAreHiring"}}}
				</div>
				<a href="https://hpi.de/das-hpi/organisation/jobs.html"
					rel="noopener" target="_blank" aria-label="{{$t "lib.extended_footer.link.currentJobOffers"}} {{$t "global.link.openInNewTabWarning"}}">{{$t "lib.extended_footer.link.currentJobOffers"}}</a>
			</div>
		</div>
	</div>
</footer>
{{/content}}
{{/embed}}
