<header class="header top-margin">
	<nav class="container">
		<a id="title" href="/" title="{{$t "global.link.landing"}}">
			<img class="logo" alt="{{theme.title}}" src="{{getAssetPath '/images/logo/logo.svg'}}" />
		</a>
	</nav>
</header>
