<div class="col-sm-12 alert alert-info">
	<strong>Warum kann ich keine Einträge bearbeiten?</strong><br>
	Deine Schule in der {{theme.short_title}} ist mit dem Thüringer Schulportal synchronisiert. 
	Die Daten von Lehrkräften, Schüler:innen und Klassen werden dort zentral verwaltet und können nur dort geändert werden. 
	Das schließt auch Passwortänderungen mit ein.
</div>
