<div class="section-imprint {{#unless loggedin}}loggedout{{/unless}}">
	{{#unless loggedin}}
	<h1 class="h4">{{$t "theme.open.imprint.headline.imprint"}}</h1>
	{{/unless}}
	<h2 class="h5">
		<strong>{{$t "imprint.imprint_rights.headline.hassoPlattnerInstituteForDigital" }}</strong>
	</h2>
	<address>
		<p>Prof.-Dr.-Helmert-Str. 2-3
			<br /> 14482 Potsdam
			<br /> Email: <a href="mailto:{{getConfig "SC_CONTACT_EMAIL"}}" target="_blank"
				rel="noopener">{{getConfig "SC_CONTACT_EMAIL"}}</a>
			<br /> Internet: <a href="https://hpi.schul-cloud.org/" target="_blank" rel="noopener">https://hpi.schul-cloud.org</a>
			<br /> Telefon: +49 (0)331 / 5509-0
			<br /> Telefax: +49 (0)331 / 5509-129
		</p>
	</address>
	<h2 class="h5">
		<strong>{{$t "imprint.imprint_rights.headline.managingDirectorAuthorized" }}</strong>
	</h2>
	<p>Prof. Dr. Christoph Meinel
		<br /> {{$t "imprint.text.registerCourt" }}
		<br /> {{$t "imprint.text.responsibleForContent" }}</p>
	<h2 class="h5">
		<strong>{{$t "imprint.imprint_rights.headline.editorialStuff" }}</strong>
	</h2>
	<p>{{$t "imprint.text.hassoPlattnerInstitute" }}</p>
	<h2 class="h5">
		<strong>{{$t "imprint.imprint_platform_intro.headline.legalNotice" }}</strong>
	</h2>
	<p>
		{{$t "theme.thr.imprint.text.theThuringianSchoolCloudIsNon"}}
	</p>
	<p>
		{{$t "theme.thr.imprint.text.theContentOfTheThuringianSchool"}}
	</p>
	<p>
		{{$t "theme.thr.imprint.text.theHassoPlattnerInstituteRegularly"}}
	</p>
</div>
