{{#extend "lib/default"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/partner/partner.css"/>
        <link rel="stylesheet" href="/styles/authentication/home.css"/>
        <style>
            body {
                background: #e6e2e2;
            }
            .partner-box {
                background: white;
            }
        </style>
    {{/content}}

    {{#content "body"}}
        {{#embed "lib/header"}}{{/embed}}
        <div class="container">
            <section class="section-title">
                <div class="row">
                    <div class="col-sm-12"><h4>Partner</h4></div>
                </div>
            </section>

            {{#embed "partner/partner"}}{{/embed}}
        </div>
        {{#embed "lib/extended_footer"}}{{/embed}}
    {{/content}}

    {{#content "scripts" mode="append"}}
    {{/content}}
{{/extend}}
