{{#extend "lib/loggedin" hideSearch="true"}}

    {{#content "styles" mode="append"}}
        <style>
            .section-partner h5 {
                color: #b10438;
                margin-top: 20px;
            }
            .section-partner .container {
                margin-left: 0;
            }
            .partner-box-wrapper {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .partner-box {
                border: 1px solid lightgray;
                height: 150px;
                text-align: center;
            }
            .partner-box img {
                max-height: 100%;
                /* Vertical Center */
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        </style>
    {{/content}}

    {{#content "page"}}
    <section class="section-partner">

        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="padding: 0">
                    <p>
                        Sie möchten die Schul-Cloud unterstützen? Das freut uns. Wenn Sie interessante Lern- und Lehrinhalte
                        haben wenden Sie sich bitte an <a href="mailto:inhalte@schul-cloud.org">inhalte@schul-cloud.org</a>.
                        Sonstige Anfragen und Angebote gerne unter <a href="mailto:schul-cloud@hpi.de">schul-cloud@hpi.de</a>.
                        Wer beim Entwickeln und Programmieren mithelfen möchte findet unter
                        <a href="https://schul-cloud.github.io">https://schul-cloud.github.io</a>  mehr Informationen.
                    </p>
                </div>
            </div>
        </div>


        <h5>Projektdurchführung</h5>
        <div class="container">
            <div class="row">
                <div class="partner-box-wrapper col-md-4">
                    <div class="partner-box">
                        <a href="https://hpi.de">
                            <img src="/images/partner/hpi-logo.jpg" alt="Logo HPI" class="img-fluid" style="padding: 20px;">
                        </a>
                    </div>
                </div>
                <div class="partner-box-wrapper col-md-4">
                    <div class="partner-box">
                        <a href="https://www.mint-ec.de/">
                            <img src="/images/partner/mintec-logo.jpg" alt="Logo MINT-EC" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="partner-box-wrapper col-md-4">
                    <div class="partner-box">
                        <a href="https://www.bmbf.de/">
                            <img src="/images/partner/bmbf-logo.jpg" alt="Logo BMBF" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <h5>Pilotpartner Lerninhalte</h5>
        <div class="container">
            <div class="row">
                <div class="partner-box-wrapper col-xs-6 col-md-3">
                    <div class="partner-box">
                        <a href="http://www.antares.net/">
                            <img src="/images/partner/antares-logo.jpg" alt="Logo Antares" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="partner-box-wrapper col-xs-6 col-md-3">
                    <div class="partner-box">
                        <a href="http://de.bettermarks.com/">
                            <img src="/images/partner/bettermarks-logo.jpg" alt="Logo Bettermaks" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="partner-box-wrapper col-xs-6 col-md-3">
                    <div class="partner-box">
                        <a href="https://www.cornelsen.de/home/">
                            <img src="/images/partner/cornelsen-logo.png" alt="Logo Cornelsen" class="img-fluid" style="padding: 20px;">
                        </a>
                    </div>
                </div>
                <div class="partner-box-wrapper col-xs-6 col-md-3">
                    <div class="partner-box">
                        <a href="https://www.deutsche-digitale-bibliothek.de/">
                            <img src="/images/partner/deutsche-digitale-bibliothek-logo.png" alt="Logo Deutsche Digitale Bibliothek" class="img-fluid" style="padding: 20px;">
                        </a>
                    </div>
                </div>
                <div class="partner-box-wrapper col-xs-6 col-md-3">
                    <div class="partner-box">
                        <a href="https://de.khanacademy.org/">
                            <img src="/images/partner/khanacademy-logo.png" alt="Logo Khan Academy" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="partner-box-wrapper col-xs-6 col-md-3">
                    <div class="partner-box">
                        <a href="https://www.meinunterricht.de/">
                            <img src="/images/partner/meinunterricht-logo.png" alt="Logo MeinUnterricht" class="img-fluid" style="padding: 20px;">
                        </a>
                    </div>
                </div>
                <div class="partner-box-wrapper col-xs-6 col-md-3">
                    <div class="partner-box">
                        <a href="https://de.serlo.org/">
                            <img src="/images/partner/serlo-logo.png" alt="Logo Serlo" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="partner-box-wrapper col-xs-6 col-md-3">
                    <div class="partner-box">
                        <a href="https://verlage.westermanngruppe.de/westermann/">
                            <img src="/images/partner/westermann-logo.png" alt="Logo Westermann" class="img-fluid" style="padding: 20px;">
                        </a>
                    </div>
                </div>
                <div class="partner-box-wrapper col-xs-6 col-md-3">
                    <div class="partner-box">
                        <a href="https://commons.wikimedia.org/wiki/Main_Page">
                            <img src="/images/partner/wikimedia-commons-logo.png" alt="Logo Wikimedia Commons" class="img-fluid" style="padding: 20px;">
                        </a>
                    </div>
                </div>
                <div class="partner-box-wrapper col-xs-6 col-md-3">
                    <div class="partner-box">
                        <a href="https://www.wikipedia.de/">
                            <img src="/images/partner/wikipedia-logo.png" alt="Logo Wikipedia" class="img-fluid" style="padding: 20px;">
                        </a>
                    </div>
                </div>
                <div class="partner-box-wrapper col-xs-6 col-md-3">
                    <div class="partner-box">
                        <a href="https://www.youtube.com/">
                            <img src="/images/partner/youtube-logo.png" alt="Logo YouTube" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <h5>Sponsoren</h5>
        <div class="container">
            <div class="row">
                <div class="partner-box-wrapper col-xs-6 col-md-3">
                    <div class="partner-box">
                        <a href="http://aeroaccess.de/index.php">
                            <img src="/images/partner/aeroaccess-logo.gif" alt="Logo aeroaccess" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="partner-box-wrapper col-xs-6 col-md-3">
                    <div class="partner-box">
                        <a href="https://www.telekom.de/start">
                            <img src="/images/partner/telekom-logo.png" alt="Logo Telekom" class="img-fluid" style="padding: 20px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    {{/content}}

    {{#content "scripts" mode="append"}}
    {{/content}}
{{/extend}}
