#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: ConfigMap
metadata:
  name: client-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: client

data:
  # general
  NODE_ENV: "production"
  TZ: "Europe/Berlin"
  # Theme and Titles
  SC_THEME: "{{ SC_THEME }}"
  SC_TITLE: "{{ SC_TITLE }}"
  SC_PRODUCTNAME: "{{ SC_PRODUCTNAME }}"
  SC_DOMAIN: "{{ DOMAIN }}"
  LOG_LEVEL: "error"
{% for name, data in configuration_all.items() %}
  {% if data.client is defined and data.client == true %}
    {% if data.config_name is defined and data.config_name in hostvars[inventory_hostname] %}
      {% if data.var_name is defined %}
  {{ data.var_name }}: "{{ hostvars[inventory_hostname][data.config_name] }}"
      {% else %}
  {{ name }}: "{{ hostvars[inventory_hostname][data.config_name] }}"
      {% endif %}
    {% elif name in hostvars[inventory_hostname] %}
      {% if data.var_name is defined %}
  {{ data.var_name }}: "{{ hostvars[inventory_hostname][name] }}"
      {% else %}
  {{ name }}: "{{ hostvars[inventory_hostname][name] }}"
      {% endif %}
    {% elif data.value is defined %}
      {% if data.var_name is defined %}
  {{ data.var_name }}: "{{ data.value }}"
      {% else %}
  {{ name }}: "{{ data.value }}"
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
