apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: client
    app.kubernetes.io/part-of: schulcloud-verbund
    app.kubernetes.io/version: {{ SCHULCLOUD_CLIENT_IMAGE_TAG }}
    app.kubernetes.io/name: client
    app.kubernetes.io/component: client
    app.kubernetes.io/managed-by: ansible
    git.branch: {{ SCHULCLOUD_CLIENT_BRANCH_NAME }}
    git.repo: {{ SCHULCLOUD_CLIENT_REPO_NAME }}
spec:
  replicas: {{ CLIENT_REPLICAS|default("1", true) }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      #maxUnavailable: 1
  revisionHistoryLimit: 4
  paused: false
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
        app.kubernetes.io/part-of: schulcloud-verbund
        app.kubernetes.io/version: {{ SCHULCLOUD_CLIENT_IMAGE_TAG }}
        app.kubernetes.io/name: client
        app.kubernetes.io/component: client
        app.kubernetes.io/managed-by: ansible
        git.branch: {{ SCHULCLOUD_CLIENT_BRANCH_NAME }}
        git.repo: {{ SCHULCLOUD_CLIENT_REPO_NAME }}
      annotations:
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
      containers:
      - name: client
        image: {{ SCHULCLOUD_CLIENT_IMAGE }}-{{ SC_THEME }}:{{ SCHULCLOUD_CLIENT_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        ports:
        - name: client
          containerPort: 3100
          protocol: TCP
        envFrom:
        - configMapRef:
            name: client-configmap
        - secretRef:
            name: client-secret
        volumeMounts:
        - mountPath: /home/node/app/config/http-headers.js
          subPath: http-headers.js
          name: http-headers
        readinessProbe:
          httpGet:
            path: /version
            port: 3100
          timeoutSeconds: 4
          failureThreshold: 3
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /version
            port: 3100
          timeoutSeconds: 4
          failureThreshold: 3
          periodSeconds: 15
        startupProbe:
          httpGet:
            path: /
            port: 3100
          timeoutSeconds: 4
          failureThreshold: 36
          periodSeconds: 5
        resources:
          limits:
            cpu: {{ CLIENT_CPU_LIMITS|default("1000m", true) }}
            memory: {{ CLIENT_MEMORY_LIMITS|default("1Gi", true) }}
          requests:
            cpu: {{ CLIENT_CPU_REQUESTS|default("100m", true) }}
            memory: {{ CLIENT_MEMORY_REQUESTS|default("128Mi", true) }}
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 9
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/part-of
                  operator: In
                  values:
                  - schulcloud-verbund
              topologyKey: "kubernetes.io/hostname"
              namespaceSelector: {}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 10
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - client
              topologyKey: "cloud.ionos.com/nodepool-name"
          - weight: 20
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - client
              topologyKey: "topology.kubernetes.io/zone"
      volumes:
      - name: http-headers
        configMap:
          name: client-configmap-files
          items:
          - key: http-headers.js
            path: http-headers.js
