#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: client-secret
  labels:
    app: client
  namespace: {{ NAMESPACE }}
type: Opaque
data:
  # Nexboard
  NEXBOARD_API_KEY: "{{ NEXBOARD_API_KEY | b64encode }"
  NEXBOARD_USER_ID: "{{ NEXBOARD_USER_ID | b64encode }}"
  REDIS_URI: "{{ REDIS_URI|default("redis://redis-svc", true) | b64encode }}"
{% if FEATURE_TSP_ENABLED  %}
  FEATURE_TSP_ENABLED: "true"
  TSP_API_ENCRYPTION_KEY: "{{ TSP_API_ENCRYPTION_KEY| b64encode  }}"
  TSP_API_SIGNATURE_KEY: "{{ TSP_API_SIGNATURE_KEY| b64encode  }}"
  TSP_API_CLIENT_ID: "{{ TSP_API_CLIENT_ID| b64encode  }}"
  TSP_API_CLIENT_SECRET: "{{ TSP_API_CLIENT_SECRET| b64encode  }}"
  TSP_API_BASE_URL: "{{ TSP_API_BASE_URL| b64encode  }}"
{% endif %}
{% if GHOST_API_KEY is defined and GHOST_API_KEY|length and GHOST_BASE_URL is defined and GHOST_BASE_URL|length %}
  GHOST_API_KEY: "{{ GHOST_API_KEY| b64encode  }}"
  GHOST_API_URL: "{{ (concat GHOST_BASE_URL '/ghost/api/v3') | b64encode  }}"
{% endif %}

