<div class="section-imprint">
	{{#unless loggedin}}
		<h4>Datenschutzerklärung</h4>
	{{/unless}}
    <p>Hinweise zum Datenschutz entnehmen Sie bitte folgender Seite.</p>
	<h5>
		<strong>Privatsph&auml;re und Datenschutz</strong>
	</h5>
	<p>
		Mit der Schul-Cloud Brandenburg eröffnet das Hasso-Plattner-Institut (HPI) die Möglichkeit, diverse Online-Lernangebote über eine Weboberfläche zu nutzen und fördert ein vernetztes Lernen und Arbeiten auf allen Ebenen der Schule. Alle Nutzer/innen – Schüler/innen bzw. Lehrkräfte – erhalten einen eigenen Zugang zur Schul-Cloud Brandenburg. Über diesen können die Schüler/innen die bereitgestellten Arbeitsmaterialien und Aufgaben bearbeiten und weitere digitale Lernmaterialien auf schlanken Endgeräten nutzen. Darüber hinaus werden über die Schul-Cloud Brandenburg verschiedene Anwendungen, wie ein Kalender bzw. Stundenplan sowie Werkzeuge für die Kommunikation und Kollaboration bereitgestellt. Die Schul-Cloud Brandenburg bietet zudem nicht nur eine sichere Dateiablage für alle Nutzer/innen, Gruppen, Klassen und Schulen, sondern auch geschützte Arbeits- und Informationsbereiche.</p>
	<p>
		Zur Nutzung der Schul-Cloud Brandenburg ist die Erhebung und Speicherung personenbezogener Daten unvermeidlich. Ihrer Anmeldung gehen die Informationen über die Art, den Zweck, die Verarbeitung und Nutzung der erhobenen Daten sowie die Zustimmung zu den Nutzungsbedingungen voraus. Der Schutz Ihrer Daten sowie die rechtmäßige Erhebung, Verarbeitung und Nutzung ist uns besonders wichtig.</p>
	<h5>
		<strong>1. Verantwortliche Stelle</strong>
	</h5>
	<p>
		Verantwortliche Stelle für Verarbeitung Ihrer personenbezogenen Daten ist die Schule, der Sie angehören oder der Schulträger. Ihre Schule oder der Schulträger ist beauftragende Stelle und obere Aufsichtsbehörde.</p>
	<h5>
		<strong>2. Erhebung personenbezogener Daten</strong>
	</h5>
	<p>
		Gem. Art. 4 Nr. 1 der europäischen Datenschutz-Grundverordnung (DS-GVO) beschreiben personenbezogene Daten Einzelangaben über persönliche oder sachliche Verhältnisse einer bestimmten oder – ohne besondere Schwierigkeiten bestimmbaren – natürlichen Person (Betroffene/r). Zu diesen Informationen gehören vor allem Details, die Rückschlüsse auf Ihre Identität zulassen, zum Beispiel Ihren Namen oder Ihre Email-Adresse. Statistische Daten, die keine Rückschlüsse auf Ihre Person zulassen, sind keine personenbezogenen Daten.</p>
	<p>
		Die Erhebung personenbezogener Daten ist auf ein notwendiges Minimum beschränkt. Zur Nutzung der Schul-Cloud Brandenburg sind folgende Angaben erforderlich:</p>
	<ul>
		<li>Anzeigename</li>
		<li>Vor- und Nachname</li>
		<li>Email-Adresse</li>
		<li>Schule</li>
		<li>Passwort als Prüfsumme</li>
	</ul>
	<p>Diese Angaben werden gespeichert, damit Sie mit Ihrer Email-Adresse und dem von Ihnen selbst gewählten Passwort Zugriff auf die Schul-Cloud Brandenburg erhalten.</p>
	<p>Darüber hinaus werden folgende Daten erfasst:</p>
	<ul>
		<li>Gruppenmitgliedschaften, z. B. Klasse und Kurse</li>
		<li>Geburtsdatum zur Einhaltung der gesetzlichen Altersbeschränkungen bezüglich der Lerninhalte und der
			Einwilligungserklärung</li>
		<li>Persönliche Einstellungen</li>
		<li>Zeitstempel, z. B. Erstellung des Nutzer-Accounts, letzter Login</li>
		<li>Selbst hochgeladene und freigegebene Dateien, z. B. Dokumente</li>
		<li>Selbst angelegte und freigegebene Termine, Gruppentermine </li>
		<li>Aufgabenstellungen und deren Bearbeitungen mit Abgabestatus und Feedback</li>
		<li>Zugriffe auf Lerninhalte, Nutzungsdaten der jeweiligen Inhalte und übermitteltes Feedback zu einzelnen Inhalten
		</li>
		<li>Erstellte Pseudonyme, deren Verwendung und zu substituierende Daten</li>
		<li>Inhalte der Kommunikation im Kontext von Kollaboration, der Lehrer-Schüler-Kommunikation, sowie der
			Schüler-Schüler-Kommunikation</li>
		<li>Art, Inhalt und Empfänger/innen von Benachrichtigungen</li>
	</ul>
	<p>Die Daten werden ausschließlich nach den Bestimmungen der DS-GVO, des Bundesdatenschutzgesetzes (BDSG) und des Telemediengesetzes (TMG) erhoben und durch geeignete Maßnahmen organisatorischer sowie technischer Art geschützt. Sie werden derzeit auf den Servern der Hetzner Online GmbH in Deutschland gespeichert. Sämtliche Zugriffe auf die Server werden mit IP-Adresse und Zeitstempel protokolliert.</p>
	<p>Die Löschung der gespeicherten Daten erfolgt innerhalb von 7 Tagen nach Zugang des Widerrufs der Einwilligungserklärung, am Ende des laufenden Schuljahres, bei Verlassen der Schule, bei schuljahresübergreifenden Projekte bei Projektende, sowie bei Beendigung des HPI Schul-Cloud-Projekts.</p>
	<h5>
		<strong>3. Verarbeitung und Nutzung personenbezogener Daten</strong>
	</h5>
	<p>Sofern nicht explizit anderweitig gekennzeichnet werden die erhobenen Daten ausschließlich dazu genutzt, um die Bereitstellung und Funktion der Schul-Cloud Brandenburg und der ihr angeschlossenen Dienste zu ermöglichen.</p>
	<p>Eine darüberhinausgehende Nutzung erfolgt lediglich im Rahmen des Forschungsvorhabens. Hier werden statistische
		Daten, wie z. B. die Anzahl der Klicks für die Weiterentwicklung der HPI Schul-Cloud genutzt. Die Auswertung erfolgt
		ausschließlich auf Basis pseudonymisierter Daten, sodass Rückschlüsse auf die betroffene Person ausgeschlossen bzw,
		wesentlich erschwert werden.</p>
	<h5>
		<strong>4. Cookies</strong>
	</h5>
	<p>Die Schul-Cloud Brandenburg verwendet Cookies, d. h. kleine Dateien, die auf Ihrem Datenträger gespeichert werden und spezifische Einstellungen und Daten für den Austausch mit unserem System über Ihren Browser speichern. Durch die Nutzung von Session-Cookies, die verfallen, sobald Sie Ihren Browser schließen, gewährleisten wir eine effiziente und komfortable Nutzung der Schul-Cloud Brandenburg, z. B. in dem Sinne, als dass Sie so lange an der Schul-Cloud Brandenburg angemeldet bleiben, bis Sie sich wieder abmelden.</p>
	<p>In den von uns verwendeten Cookies werden grundsätzlich keine personenbezogenen Daten gespeichert. Sofern Sie von der Speicherung der Cookies abweichen möchten, können Sie das Speichern von Cookies in Ihrem Browser deaktivieren, auf bestimmte Websites beschränken oder Ihren Browser so einstellen, dass Sie informiert werden, sobald ein Cookie gesendet wird. Sie können Cookies auch löschen. Bitte beachten Sie jedoch, dass Sie die Schul-Cloud Brandenburg nicht nutzen können, wenn Sie die Speicherung von Session-Cookies grundlegend ablehnen.</p>
	<h5>
		<strong>5. Logdateien</strong>
	</h5>
	<p>Bei jedem Besuch der Schul-Cloud Brandenburg werden von Ihrem Internetbrowser automatisch Nutzungsdaten übermittelt und in sogenannten Logdateien ausschließlich pseudonymisiert gespeichert, sodass keine personenbezogenen Daten wie IP-Adressen enthalten sind.</p>
	<h5>
		<strong>6. Weitergabe von Daten</strong>
	</h5>
	<p>Ihre persönlichen Daten werden vom HPI geschützt. Das HPI gibt keine personenbezogenen Daten an Dritte weiter, es sei denn, die Weitergabe erfolgt in Erfüllung einer gesetzlichen Verpflichtung (z. B. im Rahmen von strafrechtlichen Ermittlungen). In diesem Falle werden nur solche Informationen weitergegeben, zu denen Ihre Schule und das HPI gesetzlich verpflichtet sind.</p>
	<p>Aus technischen oder organisatorischen Gründen behält sich das HPI vor, Hosting-Dienstleistungen an Subunternehmer zu vergeben. In diesem Fall werden die Nutzer/innen hierüber in Kenntnis gesetzt. Das HPI verpflichtet sich dazu, die hinzugezogenen Subunternehmer sorgfältig auszuwählen und so dafür Sorge zu tragen, dass es zu keiner Schwächung des Datenschutzniveaus kommt.</p>
	<p>Für die Nutzung interaktiver Inhalte externer Anbieter (z. B. Schulbuchverlage) werden Pseudonyme eingesetzt, die den Inhalte-Anbietern keinerlei Rückschlüsse auf die realen Nutzer/innen der Schul-Cloud Brandenburg zulassen. Die pseudonymisierten Daten über die Nutzung digitaler Angebote (bspw. Testfragen) können von den Inhalte-Anbietern anonymisiert ausgewertet und zur Verbesserung ihrer Inhalte und Produkte eingesetzt werden.</p>
	<p>Ein Verzeichnis aller Empfänger personenbezogener Daten finden Sie <a href="https://s3.hidrive.strato.com/schul-cloud-hpi/brb/Dokumente/Empfaenger.pdf" target="_blank" rel="noopener">hier</a>.</p>
	<h5>
		<strong>7. Ihre Rechte</strong>
	</h5>
	<p>Auf Grundlage der DS-GVO haben Sie das Recht auf Auskunft, Berichtigung, Sperrung oder Löschung Ihrer gespeicherten
		Daten.</p>
	<p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren
		Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung
		dieser Daten.</p>
	<p>Sofern Sie registrierter Nutzer der HPI Schul-Cloud sind, wenden Sie sich bitte an Ihre Schule. Sind sie noch kein
		Nutzer, richten Sie Ihre Anfrage bitte an unseren Datenschutzbeauftragten per Email oder Post an:</p>
	<p><strong>HPI Schul-Cloud &ndash; Hasso-Plattner-Institut f&uuml;r Digital Engineering gGmbH</strong><br />
		Prof.-Dr.-Helmert-Str. 2-3<br />
		14482 Potsdam<br />
		Email: <a href="mailto:datenschutz@schul-cloud.org" target="_blank" rel="noopener">datenschutz@schul-cloud.org</a><br />
	</p>
</div>
