<h4>
	Einwilligung in die Datenverarbeitung in der {{theme.title}}
</h4>
<p>Daten in der {{theme.title}} werden grundsätzlich auf Basis Deiner / Ihrer Einwilligung erhoben. Die Einwilligung ist freiwillig, das heißt, durch die Nichterteilung der Einwilligung entstehen den Schüler*innen keine Nachteile. In diesem Fall erhalten die Schüler*innen auf Basis der schulgesetzlichen Bestimmungen dennoch Zugang zur {{theme.title}}, wobei der Umfang der verarbeiteten personenbezogenen Daten auf ein Minimum reduziert wird.</p>

<p>Die Einwilligung kann jederzeit widerrufen werden. Durch einen Widerruf wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt. Im Fall des Widerrufs werden die auf Basis der Einwilligung gespeicherten personenbezogenen Daten unverzüglich gelöscht, es sei denn, es besteht ein gesetzlicher Grund zur Aufbewahrung oder Du willst / Sie wollen vorher noch auf die gespeicherten Daten zugreifen.</p>

<p>Bei Schülern unter 18 Jahren muss die Einwilligung durch einen erziehungsberechtigten Elternteil abgegeben werden. Nach Vollendung des 18. Lebensjahrs werden die Schüler*innen nach der eigenen Einwilligung gefragt.</p>