<style>
.hint{
    margin-top: 10px;
}
</style>

<h2 class="h3 mt-2">{{ $t "help.help_fromInviteExternalMember.headline.whoDoYouWantToInviteTheTeam" }}</h2>
<div class="form-group">
    <label for="emailExpert">Verwende für die Einladung von pädagogischem Personal als externe Experten bitte keine E-Mail-Adressen, die bereits im schulischen Kontext genutzt werden und für deren Registrierung in der Niedersächsischen Bildungscloud benötigt werden.</label>
</div>
<button type="button" data-role="teacher" class="btn btn-set-role">{{$t "help.help_fromInviteExternalMember.button.teachersFromOtherSchoolsN21" }}</button>
<button type="button" data-role="expert" class="btn btn-set-role">{{$t "help.help_fromInviteExternalMember.button.externalExpertsN21" }}</button>
