<style>
.hint{
    margin-top: 10px;
}
</style>

<h2 class="h3 mt-2">{{$t "help.help_fromInviteExternalMember.headline.whoDoYouWantToInviteTheTeam" }}</h2>
<button type="button" data-role="teacher" class="btn btn-set-role" >{{$t "teams._team.members.button.teacherFromOtherSchool"}}</button>
<button type="button" data-role="expert" class="btn btn-set-role">{{$t "help.help_fromInviteExternalMember.button.externalExperts" }}</button>
