@import '../../core/styles/colors.scss';
@import '../../core/styles/bootstrap/scss/bootstrap';

.section-privacy {
	width:100%;
	float:left;
	padding: 15px 0px 50px;
	line-height: 1.75rem;

	h5 {
		color: $colorHPIRed;
		padding-bottom: 20px;
	}

	table {
		width: 100%;
		margin-top: 40px;
		border-collapse: separate;
		border-spacing: 0px 2px;

		th {
		  padding-left: 15px;
		}

		td {
		  padding-top: 10px;
		  padding-left: 15px;
		  color: grey;
		  background-color: whitesmoke;
		}
		
		@include media-breakpoint-down(xs) {
			thead{display:none;}
			tr{
				display:block;
				position: relative;
				/* max-width: 425px; */
				
				&:not(:last-child){
					padding-bottom: 10px;
					border-bottom: 1px dashed #ddd;
				}
				> td{
					display:block;
					padding: 10px 0;
					line-height: normal;	
					background-color: transparent;	

					&:first-of-type{
						font-weight: bold;
						color: #373a3c;
						padding-bottom:0;
					}
					&:nth-of-type(odd):not(:first-child){
						background-color: whitesmoke;
					}
					&:before{
						display: inline-block;
						margin-left: .5em;
					}
					&:nth-of-type(2):before{content: "Meine Klasse"}
					&:nth-of-type(3):before{content: "Meine Klassenstufe"}
					&:nth-of-type(4):before{content: "Meine Schule"}
					&:nth-of-type(5):before{content: "Alle"}	
					
					> .switch{
						float:right;
						margin-top: -2.5px;
					}
				}
			}				
		}
	}
}
