@import '../../core/styles/colors.scss';

.section-privacy {
  width:100%;
  float:left;
  padding: 15px 0px 50px;
  line-height: 1.75rem;

  h5 {
    color: $colorHPIRed;
  }

  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0px 2px;

    th {
      padding-left: 15px;
    }

    td {
      padding-top: 10px;
      padding-left: 15px;
      color: grey;
      background-color: whitesmoke;
    }
  }
}
