
<input type="hidden" name="target" value="HPI">
<input type="hidden" name="type" value="problem">
<input type="hidden" name="supportType" value="problem">


<h4 class="icon-card__title">{{$t "help.partials.headline.problemArea"}}</h4>
<span class="icon-card__subtitle">{{$t "help.contact.text.whichAreaOfSchulCloud"}}</span>
<center>
<label class="form-group col-md-6">
		<span class="control-label"><i class="info_text fa fa-info-circle"></i>{{$t "help.chooseTopicArea.text.eachTopicSeparate"}}</span>
		<select class="form-control" name="problemArea" class="problemArea" aria-placeholder={{$t "help.contact.text.chooseArea"}}>
			<option value="" disabled selected hidden>{{$t "help.chooseTopicArea.text.chooseArea"}}</option>
			<option value="Dashboard">{{$t "help.chooseTopicArea.text.pDashboard"}}</option>
			<optgroup label={{$t "help.chooseTopicArea.text.pCourses"}}> 
				<option value="Kurse-Allgemein">{{$t "help.chooseTopicArea.text.pGeneral"}}</option>
				<option value="Kurse-Aufgaben">{{$t "help.chooseTopicArea.text.pTasks"}}</option>
				<option value="Themen">{{$t "help.chooseTopicArea.text.pTopics"}}</option>
				<option value="Texteditor">{{$t "help.chooseTopicArea.text.pEditor"}}</option>
			</optgroup>
			<optgroup label={{$t "help.chooseTopicArea.text.pTools"}}>
				<option value="Tools-Allgemein">{{$t "help.chooseTopicArea.text.pGeneral"}}</option>
				<option value="BBB-Videokonferenz">{{$t "help.chooseTopicArea.text.pBBB"}}</option>
				<option value="Bettermarks">{{$t "help.chooseTopicArea.text.pBettermarks"}}</option>
			</optgroup>
			<optgroup label={{$t "help.chooseTopicArea.text.pTeams"}}>
				<option value="Teams-Allgemein">{{$t "help.chooseTopicArea.text.pGeneral"}}</option>
				<option value="Libre Office">{{$t "help.chooseTopicArea.text.pLibreOffice"}}</option>
				<option value="Neuigkeiten">{{$t "help.chooseTopicArea.text.pNews"}}</option>
				<option value="Termine">{{$t "help.chooseTopicArea.text.pCalendar"}}</option>
				<option value="Messenger">{{$t "help.chooseTopicArea.text.pMessenger"}}</option>
			</optgroup>
			<option value="Aufgaben">{{$t "help.chooseTopicArea.text.pTasks"}}</option>
			<option value="Meine Dateien">{{$t "help.chooseTopicArea.text.pMyFiles"}}</option>
			<option value="Neuigkeiten">{{$t "help.chooseTopicArea.text.pNews"}}</option>
			<option value="Termine">{{$t "help.chooseTopicArea.text.pCalendar"}}</option>
			<option value="Lern-Store">{{$t "help.chooseTopicArea.text.pLernStore"}}</option>
			<optgroup label="{{$t "help.chooseTopicArea.text.pManagement"}}">
				<option value="Verwaltung-Allgemein">{{$t "help.chooseTopicArea.text.pGeneral"}}</option>
				<option value="Registrierung-Login">{{$t "help.chooseTopicArea.text.pRegisterLogin"}}</option>
				<option value="Berechtigungen">{{$t "help.chooseTopicArea.text.pPermissions"}}</option>
				<option value="IDM">{{$t "help.chooseTopicArea.text.pIdm"}}</option>
			</optgroup>
			<optgroup label="{{$t "help.chooseTopicArea.text.pExtra"}}">
				<option value="Extra-Allgemein">{{$t "help.chooseTopicArea.text.pGeneral"}}</option>
				<option value="Apps">{{$t "help.chooseTopicArea.text.pApps"}}</option>
				<option value="Benachrichtigungen">{{$t "help.chooseTopicArea.text.pNotifications"}}</option>
				<option value="Messenger">{{$t "help.chooseTopicArea.text.pMessenger"}}</option>
			</optgroup>
			<option value="Sonstige">{{$t "help.chooseTopicArea.text.pOther"}}</option>
		</select>
</label>
</center>

<p class="control-label headline">{{$t "help.form_bug.label.problemAlreadyKnown"}}</p>
<p id="inline_text">{{$t "help.form_bug.text.problemAlreadyKnownText"}}
</p>

<iframe class="full contact" src="https://docs.hpi-schul-cloud.org/display/SCDOK/Bekannte+Fehler+in+der+Cloud+und+ihre+Behebung?frameable=true"
    frameborder="0" scrolling="yes">
</iframe>

<p class="control-label headline">{{{$t "help.form_bug.label.knownProblemLink"}}} </p>

<h4 class="icon-card__title">{{$t "help.contact.text.contactSupport"}}</h4>
<span class="icon-card__subtitle">{{$t "help.contact.text.contactSupportSubtitle"}}</span>

<label class="form-group">
	<span class="control-label">{{$t "help.global.label.briefDescriptionOfTheProblem" }}</span>
	<input class="form-control" type="text" name="title" placeholder="{{$t "help.placeholder.briefDescriptionOfTheProblem" }}" required>
</label>
<label class="form-group">
	<span class="control-label">{{$t "help.form_bug.label.problemDescription" }}</span>
<textarea class="form-control" cols="50" name="problemDescription" rows="14" required></textarea>
</label>
<label class="form-group">
	<span class="control-label optional">{{$t "help.form_bug.label.theProblemOccursOnTheDevice" }}</span>
	<input type="text" name="device" placeholder="z.B. iPhone X, Samsung Galaxy S10" class="form-control">
</label>
<label class="form-group">
	<span class="control-label">
		{{$t "help.global.label.replyEmail" }}
	</span>
	<input class="form-control" type="email" name="replyEmail" placeholder="{{$t "help.placeholder.email"}}" value="{{ userEmail }}" required>
</label>
<hr>
<fieldset>
	<legend class="control-legend">{{$t "help.global.label.furtherInformation" }}</legend>
    <label class="consent_label" for="consent">
        <div class="row consent_row">
	        <div id="consent_checkbox">
		        <input type="checkbox" id="consent" name="consent" value="true" checked>
	        </div>
	        <div>
		        <span class="control-label">
			    {{{$t "help.form_bug.text.iAgreeThatTheFollowingInformationMayBe" }}}
		        </span>
	        </div>
        </div>
    </label>
</fieldset>
{{#ifEnv "FEATURE_CONTACT_FORM_ATTACHMENTS_ENABLED" "true"}}
<br>
<label class="form-group">
    <span class="control-label">{{$t "help.form_bug.label.maxSizeFiles" }} (max. {{ @root.MAXIMUM_ALLOWABLE_TOTAL_ATTACHMENTS_SIZE_MEGABYTE }}MB):</span>
    <input type="file" class="form-control-file" name="file" multiple="multiple" accept="image/*,video/*,application/msword,application/pdf"
		data-max-attachment-size-mb="{{ @root.MAXIMUM_ALLOWABLE_TOTAL_ATTACHMENTS_SIZE_MEGABYTE }}">
</label>
{{/ifEnv}}
<hr>
<span class="control-label file-alert"></span>
