<form>
  <div class="form-group">
    <label for="email">Als...</label>
    <input id="email" class="form-control" type="email" name="email" placeholder="user@schul-cloud.org">
  </div>
  <div class="form-group">
    <label for="comment">möchte ich...</label>
    <textarea class="form-control" rows="5" id="comment" required></textarea>
  </div>
  <div class="form-group">
    <label for="comment">um...</label>
    <textarea class="form-control" rows="5" id="comment" required></textarea>
  </div>
  <div class="form-group">
    <label for="comment">Akzeptanzkriterien (optional)</label>
    <textarea class="form-control" rows="5" id="comment" required></textarea>
  </div>
  <div class="form-group">
    <label for="sel1">Bereich auswählen (optional)</label>
    <select class="form-control" id="sel1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
</form>