<input type="hidden" name="target" value="HPI">
<input type="hidden" name="type" value="wish">

<label class="form-group">
	<label class="control-label">Kurzbeschreibung des Problems</label>
	<input class="form-control" type="text" name="title" placeholder="Kurzbeschreibung des Problems" required>
</label>
<label class="form-group">
	<label class="control-label">IST-Zustand: Was geschieht zur Zeit, nachdem ich welche Schritte durchgeführt habe?</label>
	<textarea class="form-control" cols="50" name="currentState" rows="6" required></textarea>
</label>
<label class="form-group">
	<label class="control-label">SOLL-Zustand: Was sollte stattdessen geschehen?</label>
	<textarea class="form-control" cols="50" name="targetState" rows="6" required></textarea>
</label>
<label class="form-group">
	<span class="control-label optional">Bereich wählen</span>
	<select name="category" id="category" data-placeholder="Bereich wählen (optional)" class="chosen-select" tabindex="-1">
		<option value="login_registration">Anmeldung/Registrierung</option>
		<option value="dashboard">Übersicht</option>
		<option value="courses">Kurse</option>
		<option value="classes">Klassen</option>
		<option value="teams">Teams</option>
		<option value="calendar">Termine</option>
		<option value="homework">Aufgaben</option>
		<option value="files">Meine Dateien</option>
		<option value="content">Materialien</option>
		<option value="administration">Verwaltung</option>
		<option value="other">Sonstiges</option>
	</select>
</label>