<input type="hidden" name="target" value="HPI">
<input type="hidden" name="type" value="wish">

<label class="form-group">
	<span class="control-label" for="title">Kurzbeschreibung des Wunsches</span>
	<input type="text" name="title" id="wishTitle" placeholder="Kurzbeschreibung des Wunsches" class="form-control" required>
</label>
<label class="form-group">
	<span class="control-label">Als...</span>
	<input type="text" name="role" placeholder="z.B. Schüler, Lehrer, Administrator, Hausmeister usw." class="form-control" required>
</label>
<label class="form-group">
	<span class="control-label">möchte ich ...</span>
	<textarea class="form-control" cols="50" name="desire" rows="6" placeholder="z.B. eine im System angelegte Schüleraufgabe leicht auffinden und ändern können" required></textarea>
</label>
<label class="form-group">
	<span class="control-label">um ...</span>
	<textarea class="form-control" cols="50" name="benefit" rows="6" placeholder="z.B. sie zu aktualisieren" required></textarea>
</label>
<label class="form-group">
	<span class="control-label optional">Akzeptanzkriterien</span>
	<textarea class="form-control" cols="50" name="acceptanceCriteria" rows="6" placeholder="z.B. Nach der Systemanmeldung gelange ich in maximal zwei Schritten zum Stundenkontext, kann die Schüleraufgabe dort mit einem Klick bearbeiten und die SchülerInnen bei Bedarf automatisch über die Änderung informieren."></textarea>
</label>
<label class="form-group">
	<span class="control-label optional">Gerät</span>
	<input type="text" name="device" placeholder="z.B. iPhone X, Samsung Galaxy S10" class="form-control">
</label>
<label class="form-group">
	<span class="control-label" for="email">
		E-Mail-Adresse für eventuelle Rückfragen
	</span>
	<input type="email" name="replyEmail" placeholder="E-Mail-Adresse" value="{{ userEmail }}" class="form-control" required>
</label>
<hr>
<p>Weitere Informationen (optional):</p>
<label>
<div class="row">
	<div class="col-xs-2">
		<input type="checkbox" id="consent" name="consent" value="true" checked>
	</div>
	<div class="col-xs-10">
		<span class="control-label" for="consent">
			Ich bin damit einverstanden,
			dass zur besseren Bearbeitung meines Wunsches folgende Informationen mitgeschickt werden dürfen:
			<li>Browser Name und Version (z.B: Firefox 69.0)</li>
			<li>Betriebssystem und Version (z.B: Windows 10)</li>
		</span>
	</div>
</div>
</label>
{{#ifEnv "FEATURE_CONTACT_FORM_ATTACHMENTS_ENABLED" "true"}}
<br>
<label class="form-group">
    <span class="control-label">Bilder, Videos und Dateien (max. {{ ../formAttachmentsSize }}MB):</span>
    <input type="file" class="form-control-file" name="file" multiple="multiple" accept="image/*,video/*,application/msword,application/pdf"
		data-max-attachment-size-mb="{{ ../formAttachmentsSize }}">
</label>
{{/ifEnv}}
<hr>
<span class="control-label file-alert"></span>
