<input type="hidden" name="target" value="Admin">

<p>{{$t "help.form_admin.text.hereYouCanContact" }}</p>
<label class="form-group">
    <span class="control-label">{{$t "help.global.label.briefDescriptionOfTheProblem" }}</span>
    <input type="text" name="subject" placeholder="{{$t "help.placeholder.briefDescriptionOfTheProblem" }}" class="form-control" required>
</label>
<label class="form-group">
    <span class="control-label">{{$t "help.form_admin.label.currentStatus" }}</span>
    <textarea class="form-control" cols="50" name="currentState" rows="6" required></textarea>
</label>
<label class="form-group">
    <span class="control-label" for="supposedToHappen">{{$t "help.form_admin.label.targetState" }}</span>
    <textarea class="form-control" cols="50" name="targetState" rows="6" required></textarea>
</label>