<input type="hidden" name="target" value="HPI">
<input type="hidden" name="type" value="wish">

<label class="form-group">
	<span class="control-label" for="title">{{$t "help.form_Wish.label.briefDescriptionOfTheRequest" }}</span>
	<input type="text" name="title" id="wishTitle" placeholder="{{$t "help.form_Wish.placeholder.briefDescriptionOfTheRequest" }}" class="form-control" required>
</label>
<label class="form-group">
	<span class="control-label">{{$t "help.form_Wish.label.as" }}</span>
	<input type="text" name="role" placeholder="{{$t "help.form_Wish.placeholder.exampleStudent" }}" class="form-control" required>
</label>
<label class="form-group">
	<span class="control-label">{{$t "help.form_Wish.label.iWouldLikeTo" }}</span>
	<textarea class="form-control" cols="50" name="desire" rows="6" placeholder="{{$t "help.form_Wish.placeholder.canEasilyFindAndChange" }}" required></textarea>
</label>
<label class="form-group">
	<span class="control-label">{{$t "help.form_Wish.label.around" }}</span>
	<textarea class="form-control" cols="50" name="benefit" rows="6" placeholder="{{$t "help.form_Wish.placeholder.toUpdateThem" }}" required></textarea>
</label>
<label class="form-group">
	<span class="control-label optional">{{$t "help.form_Wish.label.acceptanceCriteria" }}</span>
	<textarea class="form-control" cols="50" name="acceptanceCriteria" rows="6" placeholder="{{$t "help.form_Wish.placeholder.afterLoggingOnToTheSystem" }}"></textarea>
</label>
<label class="form-group">
	<span class="control-label optional">{{$t "help.form_Wish.label.device" }}</span>
	<input type="text" name="device" placeholder="z.B. iPhone X, Samsung Galaxy S10" class="form-control">
</label>
<label class="form-group">
	<span class="control-label" for="email">
		{{$t "help.global.label.replyEmail" }}
	</span>
	<input type="email" name="replyEmail" placeholder={{$t "help.placeholder.email"}} value="{{ userEmail }}" class="form-control" required>
</label>
<hr>
<fieldset>
	<legend class="control-legend">{{$t "help.global.label.furtherInformation" }}</legend>
	<label for="consentWish">
		<div class="row">
			<div class="col-xs-2">
				<input type="checkbox" id="consentWish" name="consent" value="true" checked>
			</div>
			<div class="col-xs-10">
				<span class="control-label">
				  {{{$t "help.form_Wish.text.iAgreeThatTheFollowingInformation" }}}
				</span>
			</div>
		</div>
	</label>
</fieldset>
{{#ifEnv "FEATURE_CONTACT_FORM_ATTACHMENTS_ENABLED" "true"}}
<br>
<label class="form-group">
    <span class="control-label">{{$t "help.form_bug.label.maxSizeFiles" }} (max. {{ ../formAttachmentsSize }}MB):</span>
    <input type="file" class="form-control-file" name="file" multiple="multiple" accept="image/*,video/*,application/msword,application/pdf"
		data-max-attachment-size-mb="{{ ../formAttachmentsSize }}">
</label>
{{/ifEnv}}
<hr>
<span class="control-label file-alert"></span>
