<input type="hidden" name="target" value="HPI">
<input type="hidden" name="type" value="problem">

<label class="form-group">
	<label class="control-label">Kurzbeschreibung des Problems</label>
	<input class="form-control" type="text" name="title" placeholder="Kurzbeschreibung des Problems" required>
</label>
<label class="form-group">
	<label class="control-label">Problembeschreibung:</label>
<textarea class="form-control" cols="50" name="problemDescription" rows="14" required></textarea>
</label>
<label class="form-group">
	<span class="control-label optional">Das Problem tritt auf diesem Ger채t auf</span>
	<input type="text" name="device" placeholder="z.B. iPhone X, Samsung Galaxy S10" class="form-control">
</label>
<label class="form-group">
	<span class="control-label">
		E-Mail-Adresse f체r eventuelle R체ckfragen
	</span>
	<input class="form-control" type="email" name="replyEmail" placeholder="E-Mail-Adresse" value="{{ userEmail }}" required>
</label>
<hr>
<p>Weitere Informationen (optional):</p>
<label>
<div class="row">
	<div class="col-xs-2">
		<input type="checkbox" id="consent" name="consent" value="true" checked>
	</div>
	<div class="col-xs-10">
		<span class="control-label" for="consent">
			Ich bin damit einverstanden,
			dass zur besseren Bearbeitung meines Problems folgende Informationen mitgeschickt werden d체rfen:
			<li>Browser Name und Version (z.B: Firefox 69.0)</li>
			<li>Betriebssystem und Version (z.B: Windows 10)</li>
		</span>
	</div>
</div>
</label>
{{#ifEnv "FEATURE_CONTACT_FORM_ATTACHMENTS_ENABLED" "true"}}
<br>
<label class="form-group">
    <span class="control-label">Bilder, Videos und Dateien (max. {{ ../formAttachmentsSize }}MB):</span>
    <input type="file" class="form-control-file" name="file" multiple="multiple" accept="image/*,video/*,application/msword,application/pdf"
		data-max-attachment-size-mb="{{ ../formAttachmentsSize }}">
</label>
{{/ifEnv}}
<hr>
<span class="control-label file-alert"></span>
