<form>
  <div class="form-group">
    <label for="email">Kurzbeschreibung des Problems:</label>
    <input id="email" class="form-control" type="email" name="email" placeholder="user@schul-cloud.org">
  </div>
  <div class="form-group">
    <label for="comment">IST-Zustand: Was geschieht zur Zeit, nachdem ich welche Schritte durchgeführt habe?</label>
    <textarea class="form-control" rows="5" id="comment" required></textarea>
  </div>
  <div class="form-group">
    <label for="comment">SOLL-Zustand: Was sollte stattdessen geschehen?</label>
    <textarea class="form-control" rows="5" id="comment" required></textarea>
  </div>
  <div class="form-group">
    <label for="sel1">Bereich auswählen (optional)</label>
    <select class="form-control" id="sel1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
</form>