<input type="hidden" name="target" value="HPI">
<input type="hidden" name="type" value="problem">

<label class="form-group">
	<label class="control-label">Kurzbeschreibung des Problems</label>
	<input class="form-control" type="text" name="title" placeholder="Kurzbeschreibung des Problems" required>
</label>
<label class="form-group">
	<label class="control-label">IST-Zustand: Was geschieht zur Zeit, nachdem ich welche Schritte durchgef체hrt habe?</label>
	<textarea class="form-control" cols="50" name="currentState" rows="6" required></textarea>
</label>
<label class="form-group">
	<label class="control-label">SOLL-Zustand: Was sollte stattdessen geschehen?</label>
	<textarea class="form-control" cols="50" name="targetState" rows="6" required></textarea>
</label>
<label class="form-group">
	<span class="control-label optional">Das Problem tritt auf diesem Ger채t auf</span>
	<input type="text" name="device" placeholder="z.B. iPhone X, Samsung Galaxy S10" class="form-control">
</label>
<label class="form-group">
	<span class="control-label">
		E-Mail-Adresse f체r eventuelle R체ckfragen
	</span>
	<input class="form-control" type="email" name="replyEmail" placeholder="E-Mail-Adresse" value="{{ currentUser.email }}" required>
</label>