@import '../lib/colors';
@import '../homepage/layouts';

hgroup {
    text-align: center;
    font-weight: bold;
    margin: 60px 0 60px;
    width: 100%;
}

.section-title {
    width: 100%;
    line-height: 1.75rem;
    h4 {
        color: $primaryColor;
        margin-bottom: 0;
        margin-right: 20px;
        font-weight: 700;
    }
}

.section-partner {
    ul {
        color: $primaryColor;
        padding-left: 20px;
    }
    .container {
        margin-left: 0;
    }
    .intro-box {
        padding: 0;
    }
    .partner-box-wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .partner-box {
        box-shadow: 2px 2px 5px rgba(0,0,0,.1);
        background: #fff;
        border: 1px solid lightgray;
        height: 150px;
        text-align: center;
    }
    .partner-box img {
        max-height: 100%;
        /* Vertical Center */
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .collapse.collapse.in {
        display: flex !important;
    }
    .toggle-partner {
        position: relative;
        i {
            display: block;
            pointer-events: none;
        }
    }
    .buttonWrapper {
        width: 100%;
        text-align: center;
    }
}

.primary, .secondary{
	.partner-box{
		border: 1px solid #fff;
	}
}
