@import '../lib/colors';

h3 {
    color: $primaryColor;
    font-weight: bold;
}
hgroup {
    text-align: center;
    font-weight: bold;
    margin: 60px 0 60px;
    width: 100%;
}

.section-title {
    width: 100%;
    padding: 10px 0 20px;
    line-height: 1.75rem;
    h4 {
        color: $primaryColor;
        margin-bottom: 0;
        margin-right: 20px;
        font-weight: 700;
    }
}

.section-partner {
    h5 {
        color: $primaryColor !important;
        margin-top: 20px;
    }
    h4 {
        color: $primaryColor;
        font-weight: bold;
        margin-top: 20px;
    }
    ul {
        color: $primaryColor;
        padding-left: 20px;
    }
    .container {
        margin-left: 0;
    }
    .intro-box {
        padding: 0;
    }
    .partner-box-wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .partner-box {
        border: 1px solid lightgray;
        height: 150px;
        text-align: center;
    }
    .partner-box img {
        max-height: 100%;
        /* Vertical Center */
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .collapse.collapse.in {
        display: flex !important;
    }
    .toggle-partner {
        background-color: white;
        color: #b10438;
        position: relative;
        width: 200px;
        left: calc(50% - 100px);
        font-weight: 500;
        i {
            display: block;
        }
    }
    .buttonWrapper {
        width: 100%;
    }
}