@import '../lib/colors';
@import '../homepage/layouts';

hgroup {
  margin: 60px 0 60px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.section-title {
  width: 100%;
  line-height: 1.75rem;
  h4 {
    margin-right: 20px;
    margin-bottom: 0;
    color: $primaryColor;
    font-weight: 700;
  }
}

.section-partner {
  ul {
    padding-left: 20px;
    color: $primaryColor;
  }

  .container {
    margin-left: 0;
  }

  .intro-box {
    padding: 0;
  }

  .partner-box-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .partner-box {
    border: 1px solid #d3d3d3;
    background: #fff;
    height: 150px;
    text-align: center;
    &:hover {
      transition: box-shadow .2s ease,transform .2s ease,z-index 0s 0s ease;
      box-shadow: var(--shadow-sm);
    }
  }

  .partner-box img {
    position: relative;
    /* Vertical Center */
    top: 50%;
    transform: translateY(-50%);
    max-height: 100%;
  }

  .collapse.collapse.in {
    display: flex !important;
  }

  .toggle-partner {
    position: relative;
    i {
      display: block;
      pointer-events: none;
    }
  }

  .transparent{
    background-color: transparent;
  }

  .buttonWrapper {
    width: 100%;
    text-align: center;
  }
}

.primary, .secondary{
  .partner-box{
    border: 1px solid #fff;
  }
}
