@import '../lib/colors.scss';

h3 {
    color: $colorHPIRed;
    font-weight: bold;
}
hgroup {
    text-align: center;
    font-weight: bold;
    margin: 60px 0 60px;
    width: 100%;
}

.section-title {
    width: 100%;
    padding: 10px 0 20px;
    line-height: 1.75rem;
    h4 {
        color: $colorHPIRed;
        margin-bottom: 0;
        margin-right: 20px;
        font-weight: 700;
    }
}

.section-partner {
    h5 {
        color: $colorHPIRed;
        margin-top: 20px;
    }
    ul {
        color: $colorHPIRed;
        padding-left: 20px;
    }
    .container {
        margin-left: 0;
    }
    .intro-box {
        padding: 0;
    }
    .partner-box-wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .partner-box {
        border: 1px solid lightgray;
        height: 150px;
        text-align: center;
    }
    .partner-box img {
        max-height: 100%;
        /* Vertical Center */
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}