<h3>
	Technische und organisatorische Maßnahmen
</h3>
<p>
	Die technischen und organisatorischen Maßnahmen für die {{theme.title}} finden Sie hier: <a href="https://s3.hidrive.strato.com/schul-cloud-hpi/open/Dokumente/TOMs.pdf" target="_blank" rel="noopener">hier</a>.
</p>