<div class="section-imprint {{#unless loggedin}}loggedout{{/unless}}">
	{{#unless loggedin}}
		<div class="section-title">
			<h2>Datenschutzhinweise</h2>
		</div>
	{{/unless}}

	<p>Hinweise zum Datenschutz entnehmen Sie bitte folgender Seite.</p>

	{{#embed "dataprivacy/text_intro"}}{{/embed}}

	{{#embed "dataprivacy/text_datenverarbeitung-web"}}{{/embed}}

	{{#embed "dataprivacy/text_datenverarbeitung-schulen"}}{{/embed}}

	{{#embed "dataprivacy/text_einwilligung-dv"}}{{/embed}}

	{{#embed "dataprivacy/text_persbezogene-daten"}}{{/embed}}

	{{#embed "dataprivacy/text_chat"}}{{/embed}}

	{{#embed "dataprivacy/text_helpdesk"}}{{/embed}}

	{{#embed "dataprivacy/text_weitergabe-von-daten"}}{{/embed}}

	{{#embed "dataprivacy/text_speicherdauer"}}{{/embed}}

	{{#embed "dataprivacy/text_rechte"}}{{/embed}}

	{{#embed "dataprivacy/text_datensicherheit"}}{{/embed}}
</div>
