{{#extend "lib/default"}} {{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/authentication/home.css" /> {{/content}} {{#content "scripts" mode="append"}}
<script src="/scripts/login.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
<script src="/scripts/theme-blog.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>

{{/content}} {{#content "body"}} {{#embed "lib/header" hideMenu=true}}{{/embed}}
<div class="container">
    <div class="row">
        <main id="main-content" class="col-md-8">
            <div class="hidden-md-up">
                {{> "authentication/forms/login"}}
            </div>

            <section class="card">
                <div class="card-block">
					<!-- GLOBAL_ANNOUNCEMENT -->
					{{#hasConfig "GLOBAL_ANNOUNCEMENT"}}
						<div class="notification alert alert-info">
							<div class="notification-content">
								{{{getConfig "GLOBAL_ANNOUNCEMENT"}}}
							</div>
						</div>
					{{/hasConfig}}
                        <!--Uncomment this when You will add brb Landing Page in ghost-->

<!--                    <div class="hidden" id="SC_THEME">brb</div>-->
<!--                    <div class="brb-blog">-->
<!--                        <div class="content" style="opacity: 0; transition: opacity 0.7s ease-in;"></div>-->
<!--                        <div class="loading text-center mb-3" style="min-height: 70vh; margin-top: 100px;">-->
<!--                            <i class="fa fa-spinner fa-spin load-icon spinner" aria-hidden="true"-->
<!--                             style="font-size: 25px;"></i>-->
<!--                            <div class="placeholder" style="display: none;">-->
<!--                            <img src="/images/repair.png" width="350px">-->
<!--                            <p class="text-muted">{{$t "global.text.errorWhileLoadingPage"}}</p>-->
<!--                            <button type="button" class="btn btn-primary mt-2">{{$t "global.button.tryAgain"}}</button>-->
<!--                        </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <h4>Herzlich willkommen bei der Schul-Cloud Brandenburg!</h4>
                    <p>„Das Lernen mit digitalen Medien ist die Herausforderung mit der größten Dynamik. Dazu braucht es eine leistungsfähige, digitale Infrastruktur. Zu den wichtigsten Vorhaben gehört die am Hasso-Plattner-Institut (HPI) entwickelte Schul-Cloud Brandenburg. Sie soll die Schulen des Landes vernetzen, sodass Lehrkräfte, Schülerinnen und Schüler jederzeit und überall Zugang zu Lern- und Lehrmaterialien haben. Die professionelle zentrale Wartung für alle Schulen verringert deutlich den Verwaltungs- und Betreuungsaufwand. Wir versprechen uns von der Schul-Cloud Brandenburg einen deutlichen Schub in der digitalen Bildung und freuen uns auf den Start des Projekts.“ - Bildungsministerin Britta Ernst bei der Eröffnungsveranstaltung am 2. Mai 2019.</p>

					<h4Für die Schul-Cloud Brandenburg registrieren></h4>
					<p>Eine einheitliche digitale Plattform für die ganze Schule bietet viele Vorteile. Die Registrierung für die Schul-Cloud Brandenburg wird daher durch die Schulleitung durchgeführt. Bitte wenden Sie sich an <a href="mailto:brandenburg@schul-cloud.org">brandenburg@schul-cloud.org</a>, wenn Sie Ihre Schule registrieren wollen.<br>
						Anschließend erhalten alle Schüler:innen von ihrer Schule einen Registrierungslink oder Login-Daten für die erstmalige Anmeldung in der Schul-Cloud Brandenburg. Bei Fragen zur erstmaligen Anmeldung wenden sich Schüler:innen und Eltern bitte an den technischen Leiter ihrer Schule bzw. an die jeweilige Klassenlehrerin oder den jeweiligen Klassenlehrer.
					</p>

					<h4>Die HPI Schul-Cloud-Entwicklung zeichnet sich aus durch</h4>
					<ul>
						<li>eine konsequente Nutzung von Open Source Lösungen,</li>
						<li>eine durchgängig nutzerzentrierte Entwicklung,</li>
						<li>einen strikt modularen Aufbau</li>
						<li>die für ein Flächenland wichtige Funktion der schulübergreifenden Zusammenarbeit,</li>
						<li>die EU-DSGVO/Datenschutz-Konformität durch Privacy by Design,</li>
						<li>die Möglichkeit, durch Länderzusammenarbeit Synergien zu schaffen.</li>
					</ul>
					<br>
					<p>
						<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/images/HPI_Schul_Cloud_Brandenburg_Schueler_2019.jpg" alt="Schüler sitzen zusammen und nutzen die Schul-Cloud Brandenburg auf ihren mobilen Endgeräten." />
						Mehr Informationen: <a href="{{theme.documents.globalFiles.BeschreibungDerSchulCloud}}" target="_blank" rel="noopener">Kurzbeschreibung "Die HPI Schul-Cloud" (.pdf)</a>
					</p>

					<h4>Niedrigschwelliger Zugang zu digitalen Unterrichtsinhalten</h4>
					<p>Eine moderne Lehr- und Lerninfrastruktur ist unabdingbar, um die digitale Transformation im Bildungssektor zum Erfolg zu führen und Kinder schon im Schulalter optimal auf das Leben in einer zunehmend digitalen Gesellschaft vorzubereiten.</p>

					<h4>Vorteile der Schul-Cloud Brandenburg</h4>
					<ul>
						<li>Zeit- und ortsunabhängiger Zugang zu einem großen Angebot an digitalen Lerninhalten</li>
						<li>Austausch digitaler, selbst erstellter Materialien</li>
						<li>Digitale Bildung jenseits separater Computerräume</li>
						<li>Professionelle Wartung</li>
						<li>Ständige Verfügbarkeit neuester Software für Lehrer/innen und Schüler/innen</li>
						<li>IT-Anwendungen entsprechen aktuellsten Sicherheitsstandards</li>
						<li>Anlaufstelle für neue digitale Lernangebote</li>
						<li>Direktes Feedback durch die Nutzer/innen</li>
						<li>Anregung zu selbstbestimmtem Lernen</li>
						<li>Bereitstellung eigens entworfener Lernangebote</li>
						<li>Erweiterung der Unterrichtsmethoden</li>
						<li>Vernetzung unterschiedlicher Lernorte</li>
					</ul>

					<h4>Weitere Informationen zu ersten Schritten in der Schul-Cloud Brandenburg</h4>
					<a href="https://bildung-bb.digital/schulcloud-brandenburg/erste-schritte/">https://bildung-bb.digital/schulcloud-brandenburg/erste-schritte/</a>
                </div>
            </section>
        </main>
        <aside class="col-md-4">
			<div class="hidden-sm-down">
            	{{> "authentication/forms/login"}}
			</div>

			<section id="partner" class="card">
				<div class="card-block">
					<h4 class="card-title">Projektdurchführung</h4>
					<div class="card-text partner-img">
						<a href="https://hpi.de/open-campus/hpi-initiativen/schulcloud.html" target="_blank" rel="noopener">
							<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/partner/hpi-logo.jpg" alt="Logo HPI" class="img-fluid">
						</a>
						<a href="https://mbjs.brandenburg.de" target="_blank" rel="noopener">
							<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/images/mbjs.png" alt="Logo MBJS" class="img-fluid">
						</a>
						<a href="https://www.ilb.de/de/wir-ueber-uns/beteiligungen/weitere-beteiligungen/digitalagentur-brandenburg-gmbh/" target="_blank" rel="noopener">
							<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/images/daab.png" alt="Logo DAAB" class="img-fluid">
						</a>
						<a href="https://lisum.berlin-brandenburg.de/lisum/" target="_blank" rel="noopener">
							<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/images/lisum.png" alt="Logo LISUM" class="img-fluid">
						</a>
					</div>
				</div>
			</section>
        </aside>
    </div>
</div>

{{#embed "lib/extended_footer"}}{{/embed}} {{#embed "lib/components/modal-form" action="/pwrecovery/" method="post" class="pwrecovery-modal"}}
{{#content "fields"}} {{> "authentication/forms/pwrecovery"}} {{/content}} {{/embed}} {{/content}} {{/extend}}
