{{#extend "lib/default"}} {{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/authentication/home.css" /> {{/content}} {{#content "scripts" mode="append"}}
<script src="/scripts/login.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>

{{/content}} {{#content "body"}} {{#embed "lib/header" hideMenu=true}}{{/embed}}
<div class="container">
    <div class="row">
        <main id="main-content" class="col-md-8">
            <div class="hidden-md-up">
                {{> "authentication/forms/login"}}
            </div>

            <section class="card">
                <div class="card-block">
					<!-- GLOBAL_ANNOUNCEMENT -->
					{{#hasConfig "GLOBAL_ANNOUNCEMENT"}}
						<div class="notification alert alert-info">
							<div class="notification-content">
								{{{getConfig "GLOBAL_ANNOUNCEMENT"}}}
							</div>
						</div>
					{{/hasConfig}}
                        <!--Uncomment this when You will add brb Landing Page in ghost and remember about theme-blog.js-->

<!--                    <div class="hidden" id="SC_THEME">brb</div>-->
<!--                    <div class="brb-blog">-->
<!--                        <div class="content" style="opacity: 0; transition: opacity 0.7s ease-in;"></div>-->
<!--                        <div class="loading text-center mb-3" style="min-height: 70vh; margin-top: 100px;">-->
<!--                            <i class="fa fa-spinner fa-spin load-icon spinner" aria-hidden="true"-->
<!--                             style="font-size: 25px;"></i>-->
<!--                            <div class="placeholder" style="display: none;">-->
<!--                            <img src="/images/repair.png" width="350px">-->
<!--                            <p class="text-muted">{{$t "global.text.errorWhileLoadingPage"}}</p>-->
<!--                            <button type="button" class="btn btn-primary mt-2">{{$t "global.button.tryAgain"}}</button>-->
<!--                        </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <h4>{{$t "theme.brb.authentication.headline.welcomeToTheBrandenburgSchoolCloud"}}</h4>
                    <p>{{$t "theme.brb.authentication.text.learningWithDigitalMedia"}}</p>

					<h4{{$t "theme.brb.authentication.headline.registerForBrandenburg"}}></h4>
					<p>{{{$t "theme.brb.authentication.text.aUniformDigitalPlatform"}}}
					</p>

					<h4>{{$t "theme.brb.authentication.headline.theHPISchoolCloudDevelopment"}}</h4>
					<ul>
						<li>{{$t "theme.brb.authentication.text.consistentUseOfOpenSource"}}</li>
						<li>{{$t "theme.brb.authentication.text.aConsistentlyUserCentred"}}</li>
						<li>{{$t "theme.brb.authentication.text.aStrictlyModularStructure"}}</li>
						<li>{{$t "theme.brb.authentication.text.theImportantFunction"}}</li>
						<li>{{$t "theme.brb.authentication.text.dataProtectionConformity"}}</li>
						<li>{{$t "theme.brb.authentication.text.theOpportunityToCreate"}}</li>
					</ul>
					<br>
					<p>
						<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/images/HPI_Schul_Cloud_Brandenburg_Schueler_2019.jpg" alt="{{$t "theme.brb.authentication.img_alt.schoolChildrenSitTogether"}}" />
						{{$t "theme.brb.authentication.text.moreInformationHPISchoolCloud"}}</a>
					</p>

					<h4>{{$t "theme.brb.authentication.headline.lowThresholdAccess"}}</h4>
					<p>{{$t "theme.brb.authentication.text.aModernTeachingAndLearning"}}</p>

					<h4>{{$t "theme.brb.authentication.headline.advantagesOfTheBrandenburgSchool"}}</h4>
					<ul>
						<li>{{$t "theme.brb.authentication.text.accessToAWideRange"}}</li>
						<li>{{$t "theme.brb.authentication.text.exchangeOfDigital"}}</li>
						<li>{{$t "theme.brb.authentication.text.digitalEducation"}}</li>
						<li>{{$t "theme.brb.authentication.text.professionalMaintenance"}}</li>
						<li>{{$t "theme.brb.authentication.text.constantAvailability"}}</li>
						<li>{{$t "theme.brb.authentication.text.ITApplications"}}</li>
						<li>{{$t "theme.brb.authentication.text.contactPoint"}}</li>
						<li>{{$t "theme.brb.authentication.text.directFeedback"}}</li>
						<li>{{$t "theme.brb.authentication.text.stimulationOfSelf"}}</li>
						<li>{{$t "theme.brb.authentication.text.provisionOfSpecially"}}</li>
						<li>{{$t "theme.brb.authentication.text.expansionOfTeachingMethods"}}</li>
						<li>{{$t "theme.brb.authentication.text.networkingOfDifferent"}}</li>
					</ul>

					<h4>{{$t "theme.brb.authentication.headline.furtherInformationOnTheFirstSteps"}}</h4>
					<a href="https://bildung-bb.digital/schulcloud-brandenburg/erste-schritte/">https://bildung-bb.digital/schulcloud-brandenburg/erste-schritte/</a>
                </div>
            </section>
        </main>
        <aside class="col-md-4">
			<div class="hidden-sm-down">
            	{{> "authentication/forms/login"}}
			</div>

			<section id="partner" class="card">
				<div class="card-block">
					<h4 class="card-title">{{$t "global.headline.projectExecution"}}</h4>
					<div class="card-text partner-img">
						<a href="https://hpi.de/open-campus/hpi-initiativen/schulcloud.html" target="_blank" rel="noopener">
							<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/partner/hpi-logo.jpg" alt="Logo HPI" class="img-fluid">
						</a>
						<a href="https://mbjs.brandenburg.de" target="_blank" rel="noopener">
							<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/images/mbjs.png" alt="Logo MBJS" class="img-fluid">
						</a>
						<a href="https://www.ilb.de/de/wir-ueber-uns/beteiligungen/weitere-beteiligungen/digitalagentur-brandenburg-gmbh/" target="_blank" rel="noopener">
							<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/images/daab.png" alt="Logo DAAB" class="img-fluid">
						</a>
						<a href="https://lisum.berlin-brandenburg.de/lisum/" target="_blank" rel="noopener">
							<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/images/lisum.png" alt="Logo LISUM" class="img-fluid">
						</a>
					</div>
				</div>
			</section>
        </aside>
    </div>
</div>

{{#embed "lib/extended_footer"}}{{/embed}} {{#embed "lib/components/modal-form" action="/pwrecovery/" method="post" class="pwrecovery-modal"}}
{{#content "fields"}} {{> "authentication/forms/pwrecovery"}} {{/content}} {{/embed}} {{/content}} {{/extend}}
