<section id="partner" class="card">
    <div class="card-block">
        <h4 class="card-title">Projektdurchführung</h4>
        <div class="card-text partner-img">
            <a href="https://hpi.de/open-campus/hpi-initiativen/schulcloud.html" target="_blank"
               rel="noopener">
                <img src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/partner/hpi-logo.jpg"
                     alt="Logo HPI" class="img-fluid">
            </a>
            <a href="https://mbjs.brandenburg.de" target="_blank" rel="noopener">
                <img src="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/images/mbjs.png" alt="Logo MBJS"
                     class="img-fluid">
            </a>
            <a href="https://www.ilb.de/de/wir-ueber-uns/beteiligungen/weitere-beteiligungen/digitalagentur-brandenburg-gmbh/"
               target="_blank" rel="noopener">
                <img src="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/images/daab.png" alt="Logo DAAB"
                     class="img-fluid">
            </a>
            <a href="https://lisum.berlin-brandenburg.de/lisum/" target="_blank" rel="noopener">
                <img src="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/images/lisum.png"
                     alt="Logo LISUM" class="img-fluid">
            </a>
        </div>
    </div>
</section>
