{{#extend "lib/default"}} {{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/authentication/home.css" /> {{/content}} {{#content "scripts" mode="append"}}
<script src="/scripts/login.js" type="text/javascript" defer></script>
{{/content}} {{#content "body"}} {{#embed "lib/header"}}{{/embed}}
<div class="container">
    <div class="row">
        <main class="col-md-8">
            <div class="hidden-md-up">
                {{> "authentication/forms/login"}}
            </div>

            <section class="card">
                <div class="card-block">
                    <h4>Herzlich willkommen bei der Niedersächsischen Bildungscloud!</h4>
                    <p>Seit dem 20.2.2018 steht die Cloud für Niedersächsische Schulen zur praktischen Erprobung zur Verfügung. 45 Projektschulen
                        und Projektfollowerschulen erarbeiten wie die Einbindung einer Cloudlösung in den unterrichtlichen
                        Alltag gelingen kann. Das n-21 Projekt zur Entwicklung einer Niedersächsische Bildungscloud, orientierte
                        sich unmittelbar an dem Konzept „Medienkompetenz in Niedersachsen –Ziellinie 2020“. Die Orientierung
                        am Lernen mit schul- und schülereigenen Geräten und dem damit einhergehenden „Bring Your Own Device“-Ansatz
                        (BYOD) wird darin grundlegend festgeschrieben.</p>

                    <p>Das Konzept der NBC sieht eine enge Einbindung der an den Schulen genutzten digitalen Lern- und Arbeitsumgebungen
                        vor. Dadurch werden die etablierten und bewährten Lern- und Arbeitsumgebungen an den Schulen nicht
                        ersetzt, sondern vielmehr durch schulübergreifende Möglichkeiten ergänzt. Durch die Anbindung von
                        schulspezifischen Anwendungen und verschiedenen Lern- und Arbeitsumgebungen auf der schulischen Ebene
                        (vgl. Abb. 3), stellt die NBC als Arbeitsplattform (Ebene 1) einen unmittelbaren Kontakt zwischen
                        den beteiligten Schulen her. Diese wird durch die Ebene 2 in Form eines Vermittlungsdienstes bzw.
                        einer dokumentierte API-Schnittstelle ermöglicht.</p>
                    <p>
                        <img src="/images/stecker_homepage.png" alt="Cloud Illustration #1" class="img-fluid w-100">
                    </p>
					<p>
                        Weitere Informationen finden Sie an <a href="http://www.n-21.de/staticsite/staticsite.php?menuid=537&topmenu=4" target="_blank" rel="noopener">dieser Stelle.</a>
                    </p>
                   
				   <div class="jumbotron">
                        Die folgenden Schulen und Studienseminare sind unmittelbar Projekt NBC beteiligt:
                        <ul>
                            <li>BBS 1 Northeim Europa-Schule</li>
                            <li>BBS 2 Georg-Sonnin-Schule, Lüneburg</li>
                            <li>BBS 2 Leer</li>
                            <li>BBS des Landkreises Osnabrück in Bersenbrück</li>
                            <li>BBS HLA Hameln</li>
                            <li>BBS Multi-Media, Hannover</li>
                            <li>BBS Osterholz-Scharmbeck</li>
                            <li>BBS Wilhelmshaven</li>
                            <li>BBS Wolfenbüttel Carl-Gotthard-Langhans-Schule</li>
                            <li>BBS-ME, Otto-Brenner-Schule der Region Hannover</li>
                            <li>Fritz-Reuter-Gymnasium Dannenberg</li>
                            <li>Gesamtschule Emsland</li>
                            <li>Gymnasium Damme</li>
                            <li>Gymnasium Ernestinum Rinteln</li>
                            <li>Gymnasium Hoya, Johann-Beckmann</li>
                            <li>Gymnasium im Schloss Wolfenbüttel</li>
                            <li>Gymnasium Neue Oberschule, Braunschweig</li>
                            <li>Gymnasium Raabeschule, Braunschweig</li>
                            <li>IGS Buchholz</li>
                            <li>IGS Heidberg, Baunschweig</li>
                            <li>IGS Heinrich-Nordhoff, Wolfsburg</li>
                            <li>IGS Lengede</li>
                            <li>IGS Waldschule Egels mit IGS Aurich-West</li>
                            <li>NIG-Esens</li>
                            <li>Oberschule Gehrden</li>
                            <li>Studienseminar Stade - GHRS</li>
                            <li>Studienseminar Hannover für das Lehramt an berufsbildenden Schulen</li>
                        </ul>
                    </div>

                    <div class="jumbotron">

                        Als Projekt Follower Schulen (Kooperationspartner der Projektschulen):

                        <ul>
                            <li>BBS 1 Aurich</li>
                            <li>BBS Buchholz</li>
                            <li>BBS I Leer</li>
                            <li>BBS Lingen Wirtschaft</li>
                            <li>BBS Münden</li>
                            <li>BBS Ritterplan</li>
                            <li>BBS am Museumsdorf Cloppenburg</li>
                            <li>BBS Duderstadt</li>
                            <li>BBS I Uelzen</li>
                            <li>BBS Rotenburg</li>
                            <li>BBS Walsrode</li>
                            <li>BZTG Oldenburg</li>
                            <li>Otto-Bennemann-Schule</li>
                            <li>Stader Privatschule</li>
                            <li>Gymnasium Athenaeum, Stade</li>
                            <li>Gymnasium Halepaghen-Schule, Buxtehude</li>
                            <li>Nicolas Born Schule Dannenberg</li>
                        </ul>
                    </div>

                </div>
            </section>
        </main>
        <aside class="col-md-4">
            <div class="hidden-sm-down">
                {{> "authentication/forms/login"}}
            </div>
        </aside>
    </div>
</div>
{{#embed "lib/extended_footer"}}{{/embed}} {{#embed "lib/components/modal-form" action="/pwrecovery/" method="post" class="pwrecovery-modal"}}
{{#content "fields"}} {{> "authentication/forms/pwrecovery"}} {{/content}} {{/embed}} {{/content}} {{/extend}}
