{{#extend "lib/default"}} {{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/authentication/home.css" /> {{/content}} {{#content "scripts" mode="append"}}
<script src="/scripts/login.js" type="text/javascript" defer></script>
{{/content}} {{#content "body"}} {{#embed "lib/header"}}{{/embed}}
<div class="container">
    <div class="row">
        <main class="col-md-8">
            <div class="hidden-md-up">
                {{> "authentication/forms/login"}}
            </div>

            <section class="card">
                <div class="card-block">
                    <h4>Herzlich willkommen bei der Niedersächsischen Bildungscloud!</h4>
                    <p>Seit dem 20.2.2018 steht die Niedersächsische Bildungscloud (NBC) für Niedersächsische Schulen zur praktischen Erprobung zur Verfügung. 43 Projektschulen und 2 Studienseminare erarbeiten, wie die Einbindung einer Cloudlösung in den unterrichtlichen Alltag gelingen kann. Das Projekt der Landesinitiative n-21 zur Entwicklung der NBC orientiert sich unmittelbar an dem Konzept: „Medienkompetenz in Niedersachsen –Ziellinie 2020“. Die Orientierung am Lernen mit schul- und schülereigenen digitalen Endgeräten wird darin grundlegend festgeschrieben.</p>
					<h4>Krisenbedingte Projekterweiterung ab Mai 2020</h4>
					<p>Mit der kurzfristigen Erweiterung des NBC-Projektbetriebes auf alle interessierten niedersächsischen Schulen, wird nun schnell auf die andauernde herausfordernde Situation durch die Corona-Pandemie reagiert. Mit diesem virtuellen Klassenzimmer bieten wir im Rahmen der Erweiterung ein geeignetes Instrument, Unterricht auch in Zeiten von Schulschließungen weiter stattfinden zu lassen.</p>
					<h4>Was kann ich von der Niedersächsischen Bildungscloud erwarten?</h4>
                    <p>Für die NBC ist es selbstverständlich, dass neben den wichtigen, gut miteinander verzahnten und intuitiv zu steuernden Funktionen eines Lernmanagements-Systems oder einer Contentdistribution im Lernstore, auch gerade die datenschutzkonformen kollaborativen Features wie ein kollaboratives Office, ein aus pädagogischen Gründen einschaltbarer Messenger, eine separat auf Wunsch der Lehrkraft hinzuzufügende Videokonferenzfunktion oder die TEAM-Funktion zur Realisierung von z. B. schulweiten und schulübergreifenden Projektteams – eben auch unter der datenschutzkonformen Einbindung externer Experten - möglich sind.</p>
					
					<p>Das Konzept der NBC sieht eine enge Einbindung der an den Schulen genutzten digitalen Lern- und Arbeitsumgebungen vor. Dadurch werden die etablierten und bewährten Lern- und Arbeitsumgebungen an den Schulen nicht ersetzt, sondern vielmehr durch schulübergreifende Möglichkeiten ergänzt. Dadurch, dass die Projektziele der NBC auf die schulübergreifende Zusammenarbeit ausgerichtet sind, die nicht zum Ziel haben, die ggf. über Jahre gewachsene Erfahrung mit etablierten IT-Systemen abzulösen, ist die wichtige Marktneutralität der NBC realisiert worden. Die NBC dient denn auch als Ergänzung und Öffnung der Schule in die Berufs- und Arbeitswelt.</p>
                    <p>
                        <img src="/images/stecker_homepage.png" alt="Cloud Illustration #1" class="img-fluid w-100">
                    </p>
					<p>Weitere Informationen finden Sie an <a href="http://www.n-21.de/staticsite/staticsite.php?menuid=537&topmenu=4" target="_blank" rel="noopener">dieser Stelle.</a>
                    </p>
                   
				   <div class="jumbotron">
                        Die folgenden Schulen und Studienseminare sind unmittelbar Projekt NBC beteiligt:
                        <ul>
                            <li>BBS 1 Northeim Europa-Schule</li>
                            <li>BBS 2 Georg-Sonnin-Schule, Lüneburg</li>
                            <li>BBS 2 Leer</li>
                            <li>BBS des Landkreises Osnabrück in Bersenbrück</li>
                            <li>BBS HLA Hameln</li>
                            <li>BBS Multi-Media, Hannover</li>
                            <li>BBS Osterholz-Scharmbeck</li>
                            <li>BBS Wilhelmshaven</li>
                            <li>BBS Wolfenbüttel Carl-Gotthard-Langhans-Schule</li>
                            <li>BBS-ME, Otto-Brenner-Schule der Region Hannover</li>
                            <li>Fritz-Reuter-Gymnasium Dannenberg</li>
                            <li>Gesamtschule Emsland</li>
                            <li>Gymnasium Damme</li>
                            <li>Gymnasium Ernestinum Rinteln</li>
                            <li>Gymnasium Hoya, Johann-Beckmann</li>
                            <li>Gymnasium im Schloss Wolfenbüttel</li>
                            <li>Gymnasium Neue Oberschule, Braunschweig</li>
                            <li>Gymnasium Raabeschule, Braunschweig</li>
                            <li>IGS Buchholz</li>
                            <li>IGS Heidberg, Baunschweig</li>
                            <li>IGS Heinrich-Nordhoff, Wolfsburg</li>
                            <li>IGS Lengede</li>
                            <li>IGS Waldschule Egels mit IGS Aurich-West</li>
                            <li>NIG-Esens</li>
                            <li>Oberschule Gehrden</li>
                            <li>Studienseminar Stade - GHRS</li>
                            <li>Studienseminar Hannover für das Lehramt an berufsbildenden Schulen</li>
                        </ul>
                    </div>

                    <div class="jumbotron">

                        Als Projekt Follower Schulen (Kooperationspartner der Projektschulen):

                        <ul>
                            <li>BBS 1 Aurich</li>
                            <li>BBS Buchholz</li>
                            <li>BBS I Leer</li>
                            <li>BBS Lingen Wirtschaft</li>
                            <li>BBS Münden</li>
                            <li>BBS am Museumsdorf Cloppenburg</li>
                            <li>BBS Duderstadt</li>
                            <li>BBS I Uelzen</li>
                            <li>BBS Rotenburg</li>
                            <li>BBS Walsrode</li>
                            <li>BZTG Oldenburg</li>
                            <li>Otto-Bennemann-Schule</li>
                            <li>Stader Privatschule</li>
                            <li>Gymnasium Athenaeum, Stade</li>
                            <li>Gymnasium Halepaghen-Schule, Buxtehude</li>
                            <li>Nicolas Born Schule Dannenberg</li>
                        </ul>
                    </div>

                </div>
            </section>
        </main>
        <aside class="col-md-4">
            <div class="hidden-sm-down">
                {{> "authentication/forms/login"}}
            </div>
        </aside>
    </div>
</div>
{{#embed "lib/extended_footer"}}{{/embed}} {{#embed "lib/components/modal-form" action="/pwrecovery/" method="post" class="pwrecovery-modal"}}
{{#content "fields"}} {{> "authentication/forms/pwrecovery"}} {{/content}} {{/embed}} {{/content}} {{/extend}}
