{{#extend "lib/default"}}

{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/authentication/home.css" />
{{/content}}

{{#content "scripts" mode="append"}}
<script src="/scripts/login.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
<script src="/scripts/n21-blog.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
{{/content}}

{{#content "body"}}
{{#embed "lib/header"}}{{/embed}}
<div class="container">
    <div class="row">
        <main id="main-content" class="col-md-8">
            <div class="hidden-md-up">
                {{> "authentication/forms/login"}}
            </div>

            <section class="card">
                <div class="card-block">
                    <div class="n21-blog">
                        <h4 class="title">Herzlich willkommen bei der Niedersächsischen Bildungscloud!</h4>
                        <div class="content">
                            <div class="text-center mt-3 mb-3" style="min-height: 75vh;">
                                <i class="fa fa-spinner fa-spin load-icon spinner" aria-hidden="true"
                                    style="postion: absolute; top: 40%; font-size: 25px; position: absolute;"></i>
                                <div class="placeholder" style="display: none;">
                                    Beim Laden des Inhalts der Startseite ist ein Fehler aufgetreten.
                                    <button type="button" class="btn btn-primary mt-1">Erneut Versuchen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <aside class="col-md-4">
            <div class="hidden-sm-down">
                {{> "authentication/forms/login"}}
            </div>
        </aside>
    </div>
</div>
{{#embed "lib/extended_footer"}}{{/embed}}
{{#embed "lib/components/modal-form" action="/pwrecovery/" method="post" class="pwrecovery-modal"}}
{{#content "fields"}} {{> "authentication/forms/pwrecovery"}} {{/content}} {{/embed}} {{/content}} {{/extend}}
