<p>
	Hasso-Plattner-Institut <br />
	Prof.-Dr.-Helmert-Str. 2-3<br />
	14482 Potsdam<br />
	Email: <a href="mailto:datenschutz@schul-cloud.org" target="_blank" rel="noopener">datenschutz@schul-cloud.org</a><br/>
</p>