<h4>
	Einwilligung in die Datenverarbeitung in der {{theme.title}}
</h4>

<p>
	Wir erheben Daten grundsätzlich auf Basis deiner / Ihrer Einwilligung.
</p>
<p>
	Vor diesem Hintergrund setzt die {{theme.title}} ein Einwilligungskonzept um, zu dem wir auch in enger Abstimmung mit Vertreter:innen der Datenschutzbehörden aller Bundesländer stehen. Voraussetzungen für eine datenschutzkonforme Einwilligung ist stets die Freiwilligkeit der Einwilligungserteilung. Die Schulen gewährleisten diese Freiwilligkeit, indem sie den Schüler:innen bei Nichterteilung/Widerruf der Einwilligung die Teilnahme am Unterricht auch ohne {{theme.title}} ermöglichen, z.B. indem auf herkömmliche Unterrichtsmittel zurückgegriffen wird. Es besteht grundsätzlich keine Verpflichtung zur Nutzung der {{theme.title}} (soweit nicht in den Schulgesetzen ausnahmsweise etwas anderes vorgesehen ist). Die Einwilligung kann jederzeit von Dir / Ihnen widerrufen werden. Durch einen Widerruf wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt. Im Fall des Widerrufs löschen wir die auf Basis der Einwilligung gespeicherten personenbezogenen Daten unverzüglich, es sei denn, es besteht ein gesetzlicher Grund zur Aufbewahrung oder Du willst / Sie wollen vorher noch auf die gespeicherten Daten zugreifen.
</p>
<p>
	Bei Schüler:innen unter 16 Jahren muss die Einwilligung durch einen erziehungsberechtigten Elternteil abgegeben werden. Nach Vollendung des 16. Lebensjahrs wird der oder die Schüler:in dann nach der eigenen Einwilligung gefragt.
</p>
