<h4>
	{{$t "dataprivacy.text_speicherdauer.heading.storagePeriod" }}
</h4>
<p>{{$t "dataprivacy.text_speicherdauer.text.inPrinciplePersonalData" }} {{theme.title}} {{$t "dataprivacy.text_speicherdauer.text.storedOnlyForAsLongAs" }}</p>

<p>{{$t "dataprivacy.text_speicherdauer.text.theHPICorrects" }}</p>

<p>{{$t "dataprivacy.text_speicherdauer.text.inTheContractProcessingContract" }}</p>