<h4>
	Speicherdauer
</h4>
<p>Grundsätzlich werden personenbezogene Daten in der {{theme.title}} nur solange gespeichert, wie zur Verfolgung der Zwecke erforderlich, zu denen die Daten erhoben wurden. Danach werden die Daten unverzüglich gelöscht, es sei denn, die Daten werden noch wegen gesetzlicher Aufbewahrungspflichten benötigt.</p>

<p>Das HPI berichtigt, löscht oder schränkt die Verarbeitung der vertragsgegenständlichen Daten nur nach dokumentierter Weisung der jeweils verantwortlichen Schule ein. Die Löschung von Daten auf eine Anfrage des Betroffenen hin erfolgt ebenfalls nur in Abstimmung mit den verantwortlichen Schulen. Während der Laufzeit der vertraglichen Vereinbarungen zwischen der jeweiligen Schule und dem HPI haben die Nutzer:innen zudem jederzeit die Möglichkeit, auf die von ihnen in der {{theme.title}} gespeicherten Dateien und Ordner zuzugreifen und diese zu löschen. Die Löschung von Nutzer-Accounts ist durch die Schul-Admins möglich.</p>

<p>Das HPI verpflichtet sich im Auftragsverarbeitungsvertrag gegenüber den Schulen, die Daten noch 90 Tage nach Beendigung des Auftragsverarbeitungsvertrags mit den Schulen aufzubewahren, damit die Nutzer:innen der {{theme.title}} ihre Daten herunterladen können. Nach Ablauf der 90-tägigen Aufbewahrungsfirst wird das HPI alle Nutzerkonten der Auftraggeberin sperren und alle personenbezogenen Daten innerhalb von weiteren 90 Tagen löschen oder zurückgeben, sofern der Löschung dieser Daten keine gesetzlichen Aufbewahrungspflichten des Auftragsverarbeiters oder sonstige Rechtsgründe entgegenstehen. Die datenschutzgerechte Löschung ist zu dokumentieren und gegenüber dem Verantwortlichen auf Anforderung zu bestätigen.</p>
