<h4>
	Weitergabe von personenbezogenen Daten / Empfänger
</h4>
<p>Die bei der Nutzung der {{theme.title}} anfallenden personenbezogenen Daten werden ausschließlich innerhalb der Europäischen Union verarbeitet.</p>

<p>Die erfassten Daten werden an das HPI als Dienstleister der Schulen übermittelt. Das HPI ist durch einen Vertrag nach Art. 28 DSGVO zur weisungsgebundenen Verarbeitung im Auftrag der teilenehmenden Schulen verpflichtet. Sofern Daten an weitere Dienstleister weitergeben werden, dürfen diese die Daten ausschließlich zur Erfüllung ihrer Aufgaben verwenden. Die Dienstleister werden sorgfältig ausgewählt und beauftragt, sodass es zu keiner Schwächung des Datenschutzes kommt. Sie sind vertraglich an Weisungen gebunden, verfügen über geeignete technische und organisatorische Maßnahmen zum Schutz der Rechte der betroffenen Personen und werden regelmäßig kontrolliert. Eine aktuelle Liste der Subunternehmer kann auf folgender Website eingesehen werden: <a href="{{theme.url}}/link/Empfaenger-Daten" target="_blank" rel="noopener">{{theme.url}}/link/Empfaenger-Daten</a>.</p>

<h5>Subunternehmen zur Auslagerung der Daten</h5>
<p>Aus technischen oder organisatorischen Gründen behält sich das HPI vor, Hosting-Dienstleistungen an Subunternehmer zu vergeben. Folgende Subunternehmer werden derzeit zum Hosting eingesetzt:</p>
<ul>
<li>Strato AG, Pascalstraße 10, 10587 Berlin („Strato“);</li>
<li>Hetzner Online GmbH, Industriestr. 25, 91710 Gunzenhausen („Hetzner“).</li>
</ul>
