<p>Version 1.3/ Stand 01.04.2020</p>
<br>
<h5>{{$t "dataprivacy.text_intro.heading.dearVisitors" }}</h5>

<p>{{$t "dataprivacy.text_intro.text.thisDataProtectionNoticeProvides" }} <a href="{{theme.url}}" target="_blank" rel="noopener">{{theme.url}}</a> {{$t "dataprivacy.text_intro.text.automaticallyCollectedByEachVisitor" }}</p>

<p>{{$t "dataprivacy.text_intro.global.text.the" }} {{theme.title}} {{$t "dataprivacy.text_intro.text.createsTheTechnicalBasis" }} <a href="https://hpi.de/schul-cloud" target="_blank" rel="noopener">https://hpi.de/schul-cloud</a> zur Verfügung.</p>

<p>{{$t "dataprivacy.text_intro.text.personalDataIsInformationThatRelates" }}</p>
