<h4>
	{{$t "dataprivacy.text_rechte.heading.yourRights" }}
</h4>
<p>{{$t "dataprivacy.text_rechte.text.registeredUsersOfThe" }} {{theme.title}} {{$t "dataprivacy.text_rechte.text.toExerciseYourRights" }} <a href="{{theme.url}}/link/Kontaktadressen" target="_blank" rel="noopener">{{theme.url}}/link/Kontaktadressen</a>. {{$t "dataprivacy.text_rechte.text.registeredUsersOfThe" }}</p>

<p>{{$t "dataprivacy.text_rechte.text.youHaveTheRightToInformationAbout" }}</p>

<p><b>{{$t "dataprivacy.text_rechte.text.youHaveTheRightToWithdraw" }}</b></p>

<p><b>{{$t "dataprivacy.text_rechte.text.insofarAsYourData" }}</b></p>

<p>{{$t "dataprivacy.text_rechte.text.afterAllYouHaveTheRightToLodge" }}</p>