<h4>
	Helpdesk
</h4>
<p>{{$t "dataprivacy.text_helpdesk.text.viaTheHelpAreaOfThe" }} {{theme.title}} {{$t "dataprivacy.text_helpdesk.text.symbolizedByTheQuestionMark" }}</p>

<p>{{$t "dataprivacy.text_helpdesk.text.theDataCollectedWhenUsing" }}</p>