<p>Version 1.3/ Stand 01.04.2020</p>
<br>
<h5>Liebe Besucher:innen, liebe Nutzer:innen, liebe Erziehungsberechtigte,</h5>

<p>Diese Datenschutzhinweise informieren über die Verarbeitung personenbezogener Daten, die beim Aufruf der Website <a href="{{theme.url}}" target="_blank" rel="noopener">{{theme.url}}</a> von jedem/r Besucher:in automatisch durch das HPI erhoben werden (Buchstabe A) sowie über die Verarbeitung von Daten, die im Auftrag der teilnehmenden Schulen bei Nutzung der HPI Schul-Cloud erhoben werden (Buchstabe B).</p>

<p>Die {{theme.title}} schafft die technische Grundlage dafür, dass Lehrkräfte und Schüler:innen in jedem Unterrichtsfach moderne digitale Lehr- und Lerninhalte nutzen können. Weitere Informationen zum Projekt stehen unter: <a href="https://hpi.de/schul-cloud" target="_blank" rel="noopener">https://hpi.de/schul-cloud</a> zur Verfügung.</p>

<p>Personenbezogene Daten sind Informationen, die sich auf eine identifizierte oder identifizierbare Person beziehen. Hierunter fallen vor allem Angaben, die Rückschlüsse auf die Identität ermöglichen, beispielsweise Name, Telefonnummer, Anschrift oder E-Mail-Adresse. Statistische Daten, die beispielsweise bei einem Besuch der Website erhoben werden und die nicht mit einer Person in Verbindung gebracht werden können, fallen nicht unter den Begriff des personenbezogenen Datums.</p>
