<h4>
	{{$t "dataprivacy.text_chat.heading.chatFunctionOfThe" }} {{theme.title}}
</h4>
<p>{{$t "dataprivacy.text_chat.text.withinATeamInThe" }} {{theme.title}} {{$t "dataprivacy.text_chat.text.inAdditionToFileSharing" }}</p>

<p>{{$t "dataprivacy.text_chat.text.theChatFunctionIsOperated" }}</p>