<h4>
	{{$t "dataprivacy.text_weitergabe.heading.disclosureOfPersonalData" }}
</h4>
<p>{{$t "dataprivacy.text_weitergabe.text.whenUsingThe" }} {{theme.title}} {{$t "dataprivacy.text_weitergabe.text.personalDataWillOnlyBeProcessed" }}</p>

<p>{{$t "dataprivacy.text_weitergabe.text.theDataCollectedIsTrasnmittedToHPI" }} <a href="{{theme.url}}/link/Empfaenger-Daten" target="_blank" rel="noopener">{{theme.url}}/link/Empfaenger-Daten</a>.</p>

<h5>{{$t "dataprivacy.text_weitergabe.heading.SubcontractorToOutsourceTheData" }}</h5>
<p>{{$t "dataprivacy.text_weitergabe.text.forTechnicalOrOrganizationalReasons" }}</p>
<ul>
<li>Strato AG, Pascalstraße 10, 10587 Berlin („Strato“);</li>
<li>Hetzner Online GmbH, Industriestr. 25, 91710 Gunzenhausen („Hetzner“).</li>
</ul>

<h5>{{$t "dataprivacy.text_weitergabe.heading.learningStore" }}</h5>
<p>{{$t "dataprivacy.text_weitergabe.text.PseudonymsAreSometimesUsedTo" }}</p>
<ul>
<li>Bettermarks GmbH, Skalitzer Str. 85, 10997 Berlin („Bettermarks“);</li>
<li>neXenio GmbH (Nexboard), Charlottenstr. 59, 10117 Berlin („neXenio“).</li>
</ul>

<h5>{{$t "dataprivacy.text_weitergabe.heading.disclosureDueToLegalObligation" }}</h5>
<p>{{$t "dataprivacy.text_weitergabe.text.inAdditionYour" }}</p>