<h4>
	Datensicherheit
</h4>
<p>Das HPI unterhält aktuelle technische und organisatorische Maßnahmen zur Gewährleistung der Datensicherheit, insbesondere zum Schutz personenbezogener Daten vor Gefahren bei Datenübertragungen sowie vor Kenntniserlangung durch Dritte. Diese werden dem aktuellen Stand der Technik entsprechend jeweils angepasst. Auf der Website eingegebene Daten werden verschlüsselt übertragen (Transport Layer Security). Eine Beschreibung der übrigen technischen und organisatorischen Maßnahmen für die {{theme.title}} findest Du / finden Sie unter <a href="{{theme.url}}/link/TOMs" target="_blank" rel="noopener">{{theme.url}}/link/TOMs</a>.
</p>

<h4>
	Änderungen dieser Datenschutzhinweise
</h4>
<p>Gelegentlich werden diese Datenschutzhinweise aktualisiert, beispielsweise wenn sich die Funktionalitäten in der {{theme.title}} ändern oder sich die gesetzlichen oder behördlichen Vorgaben ändern.</p>