<h4>
	{{$t "dataprivacy.text_einwilligung.heading.consentToDataProcessingInThe" }} {{theme.title}}
</h4>

<p>
	{{$t "dataprivacy.text_einwilligung.text.weGenerallyCollectDataBasedOn" }}
</p>
<p>
	{{$t "dataprivacy.text_einwilligung.text.againstThisBackground" }} {{theme.title}} {{$t "dataprivacy.text_einwilligung.text.aConsentConcept" }} {{theme.title}} {{$t "dataprivacy.text_einwilligung.text.enableByUsingTraditionalTeaching" }} {{theme.title}} {{$t "dataprivacy.text_einwilligung.text.unlessSomethingElseIsProvided" }}
</p>
<p>
	{{$t "dataprivacy.text_einwilligung.text.forStudentsUnderAgeOf16" }}
</p>
