<h4>
	Helpdesk
</h4>
<p>Über den Hilfebereich der {{theme.title}} (symbolisiert durch das Fragezeichen) hast Du / haben Sie die Möglichkeit, über ein Kontaktformular mit den von der Schule benannten Schul-Admins in Kontakt zu treten. In den vorgegebenen Feldern hast Du / haben Sie die Möglichkeit, das Problem, den Ist-Zustand und den Soll-Zustand zu beschreiben und eine von mehreren vorgegebenen Kategorien zu wählen. Zusätzlich wird eine Nutzerkennung übertragen, damit eine Zuordnung zu Deinem / Ihrem Konto möglich ist. Den Schul-Admins werden auch der in Deinem / Ihrem Nutzerkonto hinterlegte Vor- und Nachname angezeigt, jedoch keine darüberhinausgehenden personenbezogenen Daten. Die Schul-Admins werden versuchen, das Problem zu lösen oder dies an die Admins des HPI weiterleiten, denen ebenfalls nur die zuvor genannten Daten angezeigt werden. Die Antwort auf Deine / Ihre Supportanfrage wird systemseitig an die im Nutzerkonto hinterlegte E-Mail-Adresse versendet.</p>

<p>Die bei der Verwendung des Kontaktformulars erhobenen Daten werden nach vollständiger Bearbeitung Deiner / Ihrer Anfrage automatisch gelöscht, es sei denn, Deine / Ihre Anfrage wird noch zur Erfüllung vertraglicher oder gesetzlicher Pflichten benötigt (vgl. Abschnitt „Speicherdauer“).</p>
