<h3>
	{{$t "dataprivacy.text_datenverarbeitung.heading.dataProcessingByTheHPI" }}
</h3>
<p>{{$t "dataprivacy.text_datenverarbeitung.text.everyTimeYouVisitTheWebsite" }} <a href="{{theme.url}}" target="_blank" rel="noopener">{{theme.url}}</a> {{$t "dataprivacy.text_datenverarbeitung.text.theBrowserAutomaticallyTransmits" }}</p>

<p>{{$t "dataprivacy.text_datenverarbeitung.text.theWebsiteAlsoUsesItsOwnCookies" }}</p>

<p>{{$t "dataprivacy.text_datenverarbeitung.text.whenCallingTheWebsiteThrough" }} <b>{{$t "dataprivacy.text_datenverarbeitung.text.nonRegisteredVisitors" }}</b> {{$t "dataprivacy.text_datenverarbeitung.text.isTheHassoPlattner" }} <a href="mailto:datenschutz@schul-cloud.org" target="_blank" rel="noopener">datenschutz@schul-cloud.org</a> {{$t "dataprivacy.text_datenverarbeitung.text.theAforementionedDataProcessing" }}</p>

<p>{{$t "dataprivacy.text_datenverarbeitung.text.at" }} <b>{{$t "dataprivacy.text_datenverarbeitung.text.registeredUsers" }}</b> {{$t "dataprivacy.text_datenverarbeitung.text.theAforementionedDataProcessing" }}</p>