<h4>
	Chatfunktion der {{theme.title}}
</h4>
<p>Innerhalb eines Teams in der {{theme.title}} kann zusätzlich zum Dateiaustausch, Gruppenterminen und Gruppennews ein Chat hinzufügt werden, wenn der Admin der Schule die Nutzung der Chatfunktion freigeschaltet hat.</p>

<p>Die Chatfunktion wird direkt auf den vom HPI genutzten Servern durch das HPI betrieben, es sind keine Dienste Dritte angebunden. Außerdem besteht eine verschlüsselte Netzverbindung zwischen den Servern und dem Client (SSL-Verschlüsselung).</p>