@import '../lib/colors';
.section-title {
  display: none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.profile-header {
  padding-top: 20px;
  background: linear-gradient(white, $primaryColor);
  width: 100%;
  margin: 0;
}

.profile-avatar {
  float: left;
  width: 150px;
  height: 200px;
  margin: 20px 40px 40px 40px;
}

.profile-header span {
  font-size: 1.3em;
  font-weight: bold;
}

.profile-header span.number {
  display: inline-block;
  min-width: 2em;
  text-align: right;
}

.profile-header .clear {
  clear: both;
}

.profile-text {
  margin-top: 50px;
}

.badges {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
}

.badges h3 {
  color: $primaryColor;
}


.badge-row {
  min-height: 100px;
  margin-bottom: 20px;
  display: flex;
}

.badge-row.opacityblur {
  opacity: 0.6;
  filter: blur(1px);
}

.badge-row img {
  width: 100px;
  height: 100px;
}

.badge-content {
  padding-left: 25px;
}

.badge-title {
  padding-top: 10px;
  font-size: 1.3em;
}

.badge-title span {
  font-size: 0.8em;
  font-weight: bold;
  color: green;
}
