@import '../lib/colors';
@import '../lib/bootstrap/scss/bootstrap-flex';

.notification-settings {
  padding-top: 40px;
}

.notification {
  
  .row-push-loading, 
  .row-push-enabled, 
  .row-push-disabled {
    margin-right: -15px;
    margin-left: -15px;
  }

  .row-push-loading {
    margin-top: 20px;
  }
  
  .btn-default {
    margin-top: 20px;
    background-color: $primaryColor;
    color: #ffffff;
  }

  table {
    padding: 16px;
    box-shadow: 0 1px 1px 0 #c7c7c7 inset;
    background: none repeat scroll 0 0;
  }

  h4 {
    color: $primaryColor;
  }
}

.route-account {
  .star-reference {
    font-size: 16px;
    color: red;
  }

  .hint {
    font-size: 12px;
    color: grey;
  }
}
