@import '../lib/colors.scss';
@import '../lib/bootstrap/scss/bootstrap-flex';

.notification-div {
  padding-top: 20px;
}

.notification {

  .btn-default {
    margin-top: 20px;
    background-color: $colorHPIRed;
    color: #ffffff;
  }

  table {
    padding: 16px;
    box-shadow: 0 1px 1px 0 #c7c7c7 inset;
    background: none repeat scroll 0 0;
  }

  .send-test-notification {
    margin-left: 20px;
  }

  h4 {
    color: $colorHPIRed;
  }
}

.route-account {
  sup {
    font-size: 16px;
    color: red;
  }

  .hint {
    font-size: 12px;
    color: grey;
  }
}
