{{#extend "lib/simple"}}
  {{#content "page"}}
    <p>{{{$t "pwRecovery.response.text.emailHasBeenSent"}}}
    
    <ul>
    <li>{{{$t "pwRecovery.response.text.wasYourEmailCorrect"}}}</li>
    <li>{{{$t "pwRecovery.response.text.didYouRegisterCorrectly"}}}</li>
    <li>{{{$t "pwRecovery.response.text.didYouRegisterPerThirdParty"}}}</li>
    <li>{{{$t "pwRecovery.response.text.didYouChangeEmail"}}}</li>
    </ul>
  {{/content}}
{{/extend}}
