{{#extend "lib/simple"}}
  {{#content "page"}}
    Dein Account wurde nicht gefunden. Bitte prüfe folgende Möglichkeiten:</br>
    <ul>
    <li>Hast du deine <b>E-Mail-Adresse korrekt</b> eingegeben?</li>
    <li>Hast du die Registrierung komplett abgeschlossen? Die Passwort-Vergessen-Funktion funktioniert erst, wenn du den Registrierungsprozess durchlaufen hast. Zu diesem gelangst du durch den <b>Registrierungslink</b>, den du von einem Lehrer oder Schuladministrator bekommen hast. Bitte wende dich an diese Personen, falls du noch keinen Link bekommen hast.</li>
    <li>Hast du dich via <b>Drittsystem/SSO</b> (Moodle, iServ, ItsLearning etc.) in der Schul-Cloud registriert? Bitte benutzte dieses Drittsystem, um dich in der Schul-Cloud einzuloggen.</li>
    <li>Hast du deine <b>E-Mail-Adresse</b> in der Schul-Cloud <b>geändert</b> oder ändern lassen? Bitte benutzte weiterhin die alte E-Mail-Adresse zum Login; wir arbeiten parallel an einer entsprechenden Anpassung der Software</li>
    </ul>
  {{/content}}
{{/extend}}