{{#content "styles" mode="append"}}
<link rel="stylesheet" href="{{getVersionedPath '/styles/lib/forms/form-create-videoconference.css'}}" />
{{/content}}

<div class="form-group">
	<div class="create-videoconference">
		<div class="checkbox create-videoconference-option">
			<p class="create-videoconference-option-text">{{$t "lib.form_create_videoConference.text.muteParticipants" }}</p>
			<input name="startMuted" type="checkbox" data-toggle="toggle" data-on="Ja" data-off="Nein">
		</div>
		<div class="checkbox create-videoconference-option" style="display:none;">
			<!-- feature currently not supported in bbb -->
			<p class="create-videoconference-option-text">{{$t "lib.form_create_videoConference.text.approvalByTheModerator" }}</p>
			<input name="requestModerator" type="checkbox" data-toggle="toggle" data-on="Ja" data-off="Nein">
		</div>
		<div class="checkbox create-videoconference-option">
			<p class="create-videoconference-option-text">{{$t "lib.form_create_videoConference.text.allUsersParticipate" }}</p>
			<input name="everyoneIsModerator" type="checkbox" data-toggle="toggle" data-on="Ja" data-off="Nein">
		</div>
	</div>
</div>
