<div class="form-group">
    <label for="defaultLanguage">{{$t "lib.form_ChangeLanguage.label.changeDefaultLanguage" }}</label>
    <select
        id="defaultLanguage"
        class="form-control"
        name="defaultLanguage"
        required
    >
        <option value="" disabled>{{$t "lib.form_ChangeLanguage.select.text" }}</option>
        <option value="de" {{#ifeq langParent.defaultLanguage 'de'}}selected{{/ifeq}}>{{$t "lib.form_ChangeLanguage.select.german" }}</option>
        <option value="en" {{#ifeq langParent.defaultLanguage 'en'}}selected{{/ifeq}}>{{$t "lib.form_ChangeLanguage.select.english" }}</option>
    </select>
</div>
