<div class="form-group" data-show-on-remaining-sec="{{@root.JWT_SHOW_TIMEOUT_WARNING_SECONDS}}" data-rst-default="{{@root.JWT_TIMEOUT_SECONDS}}">
<div class="text-center">
    {{> 'lib/components/svg_timeout_modal_default'}}
    {{> 'lib/components/svg_timeout_modal_error'}}
    <div class="parrot-text parrot-default">
        {{$t "lib.form_auto_logout.text.warning" }} <br>
        <time><span class="parrot-text-important"><span class="js-time">n/a</span> {{$t "lib.form_auto_logout.text.minutes" }}</span></time> {{$t "lib.form_auto_logout.text.loggedOutAutomatically" }} <br>
        {{$t "lib.form_auto_logout.text.nowExtendYourSession" }}
    </div>
    <div class="parrot-text parrot-error">
        </br>
        {{$t "lib.form_auto_logout.text.oopsThatShouldntHaveHappened" }} </br>
        {{$t "lib.form_auto_logout.text.yourSessionCouldntBeExtended" }}
    </div>
</div>
<div class="auto-logout-buttons-holder">
    <button type="button" class="btn btn-primary btn-add btn-incRst">
        {{$t "lib.form_auto_logout.button.extendSession" }}
    </button>
</div>
</div>
