<div class="form-group">
    <div class="poll">
        <div>
            <p>Im Rahmen der Pilotphase I im Projekt Schul-Cloud möchten wir Sie bitten, an unserer circa 30-minütigen Online-Befragung teilzunehmen.</p>
            <p>Hier können Sie bei unserer Befragung teilnehmen! Vielen Dank für Ihre Mitarbeit!</p>
        </div>
    </div>
    <div style="text-align: center; padding-top: 8px;">
        <button type="button" class="btn btn-primary btn-poll" style="width: 95%;">
            Zur Umfrage
        </button>
    </div>
</div>