{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/lib/forms/form-create-videoconference.css" />
{{/content}}

<div class="form-group">
	<div class="create-videoconference">
		<div class="checkbox create-videoconference-option">
			<p class="create-videoconference-option-text">Teilnehmer beim Betreten stummschalten</p>
			<input name="startMuted" type="checkbox" data-toggle="toggle" data-on="Ja" data-off="Nein">
		</div>
		<div class="checkbox create-videoconference-option" style="display:none;">
			<!-- feature currently not supported in bbb -->
			<p class="create-videoconference-option-text">Freigabe durch Moderator, bevor der Raum betreten werden kann</p>
			<input name="requestModerator" type="checkbox" data-toggle="toggle" data-on="Ja" data-off="Nein">
		</div>
		<div class="checkbox create-videoconference-option">
			<p class="create-videoconference-option-text">Alle Nutzer nehmen als Moderator teil</p>
			<input name="everyoneIsModerator" type="checkbox" data-toggle="toggle" data-on="Ja" data-off="Nein">
		</div>
	</div>
</div>
