<div class="form-group">
    <label class="control-label" for="title">Hier erreichst du den Administrator deiner Schule. Er kann dir z.B. bei Login-Problemen helfen und wird per E-Mail über deinen Kontaktgesuch informiert.</label>
</div>
<div class="form-group">
    <label class="control-label" for="title">Kurzbeschreibung des Problems</label>
    <input type="text" name="title" id="title" placeholder="Kurzbeschreibung des Problems" class="form-control" required>
</div>
<div class="form-group">
    <label class="control-label" for="hasHappened">IST-Zustand: Was geschieht zur Zeit, nachdem ich welche Schritte durchgeführt habe?</label>
    <textarea class="form-control" id="hasHappened" cols="50" name="hasHappened" rows="6" required>
    </textarea>
</div>
<div class="form-group">
    <label class="control-label" for="supposedToHappen">SOLL-Zustand: Was sollte stattdessen geschehen?</label>
    <textarea class="form-control" id="supposedToHappen" cols="50" name="supposedToHappen" rows="6" required>
    </textarea>
</div>
<div class="form-group">
    <select data-placeholder="Kategorie wählen (optional)" class="form-control" name="category" id="category">
        <optgroup label="Bereich">
            <option value="login_registration">Anmeldung/Registrierung</option>
            <option value="dashboard">Übersicht</option>
            <option value="courses">Kurse</option>
            <option value="classes">Klassen</option>
            <option value="calendar">Termine</option>
            <option value="homework">Aufgaben</option>
            <option value="files">Meine Dateien</option>
            <option value="content">Materialien</option>
            <option value="administration">Verwaltung</option>
            <option value="other">Sonstiges</option>
        </optgroup>
        <optgroup label="Technisches">
            <option value="technical_problem">Technische Probleme</option>
        </optgroup>
    </select>
</div>
