<div class="form-group">
    <label class="control-label" for="title">Titel für Ihr Feedback</label>
    <input type="text" name="title" id="title" size="30" maxlength="60" placeholder="Titel für Ihr Feedback" class="form-control" required>
</div>
<div class="form-group">
    <label class="control-label" for="email">Ihre E-Mail-Adresse</label><span class="text-muted float-right"> (optional)</span>
    <input type="email"
           name="email"
           id="email"
           size="30"
           maxlength="60"
           placeholder="Ihre E-Mail-Adresse"
           class="form-control">
</div>
<div class="form-group">
    <label class="control-label" for="message">Ihr Anliegen</label>
    <textarea class="form-control" id="message" cols="50" name="message" rows="6" required>
    </textarea>
</div>