<div class="form-group">
    <div class="poll">
        <div>
            <p>{{$t "lib.form_poll.text.theNextQuestionnaireIsOnline" (dict "shortTitle" theme.short_title) }}</p>
            <p>{{$t "lib.form_poll.text.thanksForYourSupport" }}</p>
        </div>
    </div>
    <div style="text-align: center; padding-top: 8px;">
        <button type="button" class="btn btn-primary btn-poll" style="width: 95%;">
            {{$t "lib.form_poll.global.button.toTheSurvey" }}
        </button>
    </div>
</div>