<div class="form-group">
<div style="text-align: center">
    <img src="/images/surprise.gif" style="width: 50%; height: auto"/>
    <div>
        Es gibt neue Features in der {{theme.short_title}}.
        <br>
        Für weitere Informationen klicken Sie doch bitte diesen Button
    </div>
</div>
<div style="text-align: center; padding-top: 8px;">
    <a href="/help/releases">
    <button class="btn btn-primary btn-add" style="width: 95%;">
        Hier klicken
    </button>
    </a>
</div>
</div>
