<div class="form-group">
<label>{{$t "lib.form_ChangeLanguage.label.changeDefaultLanguage" }}</label>
    <input value="{{langParent.defaultLanguage}}" type="text" class="form-control" name="defaultLanguage"
           placeholder="de" required />
</div>
