<div class="form-group">
    <label class="control-label" for="title">Danke für dein Feedback, es wird direkt an das Entwicklungsteam der HPI Schul-Cloud gesendet. Bitte achte darauf, keine Passwörter und andere sensible Daten mitzuschicken.</label>
</div>

<div class="form-group">
    <select name="feedbackType" id="feedbackType" type="text" class="form-control form-control-lg" required >
        <option value="wish" selected>Wunsch ans HPI senden</option>
        <option value="problem">Problem ans HPI senden</option>
    </select>
</div>

<div id="userstoryDiv">
    <div id="roleDiv" class="form-group">
        <label class="control-label" for="message">Als...</label>
        <input type="text" name="role" id="role" placeholder="z.B. Schüler, Lehrer, Administrator, Hausmeister usw." class="form-control" required>
    </div>
    <div id="desireDiv" class="form-group">
        <label class="control-label" for="message">möchte ich ...</label>
        <textarea class="form-control" id="desire" cols="50" name="desire" rows="6" required placeholder="z.B. eine im System angelegte Schüleraufgabe leicht auffinden und ändern können">
        </textarea>
    </div>
    <div id="benefitDiv" class="form-group">
        <label class="control-label" for="message">um ...</label>
        <textarea class="form-control" id="benefit" cols="50" name="benefit" rows="6" placeholder="z.B. sie zu aktualisieren" required>
        </textarea>
    </div>
    <div id="acceptanceCriteriaDiv" class="form-group">
        <label class="control-label" for="message">Akzeptanzkriterien</label><span class="text-muted float-right"> (optional)</span>
        <textarea class="form-control" id="acceptance_criteria" cols="50" name="acceptance_criteria" rows="6" placeholder="z.B. Nach der Systemanmeldung gelange ich in maximal zwei Schritten zum Stundenkontext, kann die Schüleraufgabe dort mit einem Klick bearbeiten und die SchülerInnen bei Bedarf automatisch über die Änderung informieren.">
        </textarea>
    </div>
</div>

<div id="problemDiv" class="hidden">
    <div id="problemSummaryDiv" class="form-group">
        <label class="control-label" for="title">Kurzbeschreibung des Problems</label>
        <input type="text" name="title" id="problemTitle" placeholder="Kurzbeschreibung des Problems" class="form-control">
    </div>
    <div id="hasHappenedDiv" class="form-group">
        <label class="control-label" for="hasHappened">IST-Zustand: Was geschieht zur Zeit, nachdem ich welche Schritte durchgeführt habe?</label>
        <textarea class="form-control" id="hasHappened" cols="50" name="hasHappened" rows="6">
        </textarea>
    </div>
    <div id="supposedToHappenDiv" class="form-group">
        <label class="control-label" for="supposedToHappen">SOLL-Zustand: Was sollte stattdessen geschehen?</label>
        <textarea class="form-control" id="supposedToHappen" cols="50" name="supposedToHappen" rows="6">
        </textarea>
    </div>
</div>

<div class="form-group">
    <select name="category" id="category" data-placeholder="Bereich auswählen (optional)" class="chosen-select" tabindex="-1">
        <option value="dashboard">Übersicht</option>
        <option value="courses">Kurse</option>
        <option value="classes">Klassen</option>
        <option value="calendar">Termine</option>
        <option value="homework">Aufgaben</option>
        <option value="files">Meine Dateien</option>
        <option value="content">Materialien</option>
        <option value="administration">Verwaltung</option>
        <option value="other">Sonstiges</option>
    </select>
</div>