<div class="form-group">
<div style="text-align: center">
    <img src="/images/surprise.gif" style="width: 50%; height: auto"/>
    <div>
         {{$t "lib.form_features.text.thereAreNewFeatures" (dict "shortTitle" theme.short_title) }}.
        <br>
        {{$t "lib.form_features.text.forMoreInformationClickThisButton" }}
    </div>
</div>
<div style="text-align: center; padding-top: 8px;">
    <a href="/help/releases">
    <button class="btn btn-primary btn-add" style="width: 95%;">
        {{$t "global.button.clickHere" }}
    </button>
    </a>
</div>
</div>
