<div class="form-group">
    <label for="defaultLanguage">{{$t "lib.form_ChangeLanguage.label.changeDefaultLanguage" }}</label>
    <select
        id="defaultLanguage"
        class="form-control"
        name="defaultLanguage"
        data-placeholder="{{$t "lib.form_ChangeLanguage.placeholder.text" }}"
        required
    >
        <option value="de" {{#ifeq langParent.defaultLanguage 'de'}}selected{{/ifeq}}>{{$t "global.language.label.de" }}</option>
        <option value="en" {{#ifeq langParent.defaultLanguage 'en'}}selected{{/ifeq}}>{{$t "global.language.label.en" }}</option>
    </select>
</div>
