{{#content "styles" mode="append"}}
<link rel="stylesheet" href="{{getAssetPath '/styles/lib/forms/form-create-videoconference.css'}}" />
{{/content}}

<div class="form-group">
	<div class="create-videoconference">
		<div class="checkbox create-videoconference-option">
			<p id="startMuted" class="create-videoconference-option-text">{{$t "lib.form_create_videoConference.text.muteParticipants" }}</p>
            <input aria-labelledby="startMuted" name="startMuted" type="checkbox" data-toggle="toggle" data-on="Ja" data-off="Nein">
		</div>
        {{#if (getConfig "FEATURE_VIDEOCONFERENCE_WAITING_ROOM_ENABLED")}}
		<div class="checkbox create-videoconference-option">
            <p id="requestModerator" class="create-videoconference-option-text">{{$t "lib.form_create_videoConference.text.approvalByTheModerator" }}</p>
			<input aria-labelledby="requestModerator" name="requestModerator" type="checkbox" data-toggle="toggle" data-on="Ja" data-off="Nein" checked>
		</div>
        {{/if}}
		<div class="checkbox create-videoconference-option">
			<p id="everyoneIsModerator" class="create-videoconference-option-text">{{$t "lib.form_create_videoConference.text.allUsersParticipate" }}</p>
			<input aria-labelledby="everyoneIsModerator" name="everyoneIsModerator" type="checkbox" data-toggle="toggle" data-on="Ja" data-off="Nein">
		</div>
	</div>
</div>
