<div class="form-group">
    <div class="poll">
        <div>
            <p>Die nächste Befragung zum Projekt {{theme.short_title}} ist online. Gerne möchten wir Sie erneut um Ihre Mitarbeit bitten! Die Bearbeitung wird ca. 20 - 25 Minuten Ihrer Zeit in Anspruch nehmen.</p>
            <p>Vielen Dank für Ihre Unterstützung!</p>
        </div>
    </div>
    <div style="text-align: center; padding-top: 8px;">
        <button type="button" class="btn btn-primary btn-poll" style="width: 95%;">
            Zur Umfrage
        </button>
    </div>
</div>