<div class="form-group">
    <label for="defaultLanguage">{{$t "lib.form_ChangeLanguage.label.changeDefaultLanguage" }}</label>
    <input value="{{langParent.defaultLanguage}}" type="text" class="form-control" name="defaultLanguage"
          id="defaultLanguage" placeholder="de" required />
</div>
