<div class="form-group">
    <label for="language">{{$t "lib.form_ChangeLanguage.label.language" }}</label>
    <select
        id="language"
        class="form-control"
        name="language"
        data-placeholder="{{$t "lib.form_ChangeLanguage.placeholder.text" }}"
        required
    >
    {{#each @root.availableLanguages as | lang | }}
        <option value="{{lang}}" {{#ifeq ../langParent.language lang}}selected="selected"{{/ifeq}}>{{$t (concat "global.language.label." lang)}}</option>
    {{/each}}
    </select>
</div>
