{{#if plaintext}}
{{$t "lib.password_hint.text.atlist8Characters" }} !ยง$%&/()=?\;:,.#+*~
{{else}}
<p class="{{class}}" style="{{style}}">
  {{$t "lib.password_hint.text.atList8CharactersWithUpperAndLower" }} <br/>
  {{$t "lib.password_hint.text.allowedSpecialCharactersAre" }} <code>!ยง$%&/()=?\;:,.#+*~</code>
</p>
{{/if}}