{{#if plaintext}}
{{$t "pwRecovery.text.atLeast8Chars" }}{{$t "global.text.specialCharacters"}}
{{else}}
<p class="{{class}}" style="{{style}}">
  {{{$t "global.text.min8characters"}}}
  <br />
  {{$t "pwRecovery.text.allowedCharacters"}}<code>{{$t "global.text.specialCharacters"}}</code>
</p>
{{/if}}
