{{#if plaintext}}
{{$t "pwRecovery.text.atLeast8Chars" }}{{$t "pwRecovery.text.specialCharacters"}}
{{else}}
<p class="{{class}}" style="{{style}}">
  {{{$t "pwRecovery.text.allowedPasswordsWithTags"}}}
  <br />
  {{$t "pwRecovery.text.allowedCharacters"}}<code>{{$t "pwRecovery.text.specialCharacters"}}</code>
</p>
{{/if}}