{{#if plaintext}}
Mindestens 8 Zeichen mit Groß- und Kleinschreibung, davon jeweils mindestens eine Zahl und ein Sonderzeichen. Erlaubte Sonderzeichen sind: !§$%&/()=?\;:,.#+*~
{{else}}
<p class="{{class}}" style="{{style}}">
  Mindestens 8 Zeichen mit Groß- und Kleinschreibung, davon jeweils mindestens eine Zahl und ein Sonderzeichen. <br/>
  Erlaubte Sonderzeichen sind: <code>!§$%&/()=?\;:,.#+*~</code>
</p>
{{/if}}