{{#extend "registration/registration"}}
    {{#content "fields"}}
        <div class="form-group">
            <div class="form-group">
                <label>E-Mail-Adresse</label>
                <input type="email" name="email" class="form-control form-control-lg" placeholder="max.musterschüler@schul-cloud.org" required>
            </div>
            <div class="form-group">
                <label>Passwort</label>
                <input type="password" name="password" class="form-control form-control-lg" placeholder="***************" required>
            </div>
        </div>
    {{/content}}
{{/extend}}