{{#extend "lib/simple"}}
  {{#content "page"}}
    <h1>🙀 {{$t "registration.deprecatedWarning.heading.sorryItDidNotWork" }}</h1>
    <p>{{$t "registration.deprecatedWarning.text.weHaveRevisedAndImprovedRegistration" }}</p>
  {{/content}}
{{/extend}}