{{#extend "lib/simple"}}
  {{#content "page"}}
    <h1>🙀 {{$t "global.headline.sorryItDidNotWork" }}</h1>
    <p>{{$t "registration.deprecatedWarning.text.weHaveRevisedAndImprovedRegistration" }}</p>
  {{/content}}
{{/extend}}
