{{#extend "registration/templates/registrationNew"}}
  {{#content "scripts" mode="append"}}
      <script src="/scripts/dataprivacy/dataprivacy.js" type="text/javascript" defer></script>
      <script src="/scripts/dataprivacy/registration.js" type="text/javascript" defer></script>
      <script src="/scripts/jquery/jquery.datetimepicker.full.min.js" type="text/javascript" defer></script>
  {{/content}}
  {{#content "styles" mode="append"}}
      <link rel="stylesheet" href="/styles/administration/dataprivacy.css"/>
      <link rel="stylesheet" href="/styles/lib/datetimepicker/jquery.datetimepicker.min.css"/>
  {{/content}}
  {{#content "page"}}
    {{#embed "lib/forms/paginatedForm" sections=5 action="/registration/submit" method="post" class="registration-form"}}
      {{#content "panels"}}
      <section data-panel="section-1">
        <h4>Schülerdaten</h4>
        <p>Daten Ihres Kindes</p>
        <p>Die Schul-Cloud bewahrt Nutzerdaten sicher auf und gibt sie nicht an Dritte weiter. Die Verarbeitung der Daten erfolgt entsprechend der hohen gesetzlichen Datenschutz-Anforderungen.</p>
        <p>Für die Nutzung der Schul-Cloud benötigen wir folgende Angaben für Ihr Kind:</p>
        <div class="row">
          <div class="form-group col-md-6 col-sm-12">
              <label>Vorname: *</label>
              <input class="form-control linked" name="student-firstname" type="text" placeholder="Vorname des Kindes in offizieller Schreibweise eingeben, keine Spitznamen o.ä." required/>
          </div>
          <div class="form-group col-md-6 col-sm-12">
              <label>Nachname: *</label>
              <input class="form-control linked" name="student-secondname" type="text" placeholder="Nachname des Kindes hier eingeben" required/>
          </div>
        </div>

        <div class="form-group">
          <label>Geburtsdatum des Schülers: *</label>
          <input class="form-control linked" data-date data-min-date="1990/01/01" data-max-date="2015/01/01" data-start-date="2000/01/01" name="student-birthdate" type="text" data-from="student-birthdate" autocomplete="off" required/>
        </div>

        <div class="form-group">
            <label>E-Mail Adresse des Schülers *</label>
            <input class="form-control linked" type="email" name="student-email" placeholder="schueler@schul-cloud.org" required />
            <!-- with mail pattern: <input class="form-control linked" type="email" name="student-email" placeholder="schueler@schul-cloud.org" data-pattern="*@test.de" pattern=".+@test.de" required />-->
            <span class="mailinfo"></span>
        </div>
        <p>
          Die E-Mail-Adresse ermöglicht den Versand von Benachrichtigungen und erleichtert das Zurücksetzen des Passwortes.
        </p>
        <div class="row">
          <div class="form-group col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <Label>Geschlecht *</Label>
            <select class="form-control form-control-lg" type="text" name="gender">
              <option value="noinfo">keine Angabe</option>
              <option value="male">männlich</option>
              <option value="female">weiblich</option>
              <option value="other">andere</option>
            </select>
          </div>
        </div>
        <p>Erhebung erfolgt für Forschung und Optimierung.</p>

        <input type="hidden" name="classId" value="{{classId}}" />
      </section>



      <section data-panel="section-2">
        <h4>Elterndaten</h4>
        <p>Ihre Daten</p>
        <p>Für Schüler unter 18 Jahren muss ein Erziehungsberechtigter in die Nutzung der Schul-Cloud einwilligen.</p>
        <p>Dazu benötigen wir folgende Angaben von Ihnen:</p>
        <div class="row">
          <div class="form-group col-md-6 col-sm-12">
              <label>Vorname: *</label>
              <input class="form-control linked" name="parent-firstname" type="text" placeholder="Ihren Vornamen hier eingeben" required/>
          </div>
          <div class="form-group col-md-6 col-sm-12">
              <label>Nachname: *</label>
              <input class="form-control linked" name="parent-secondname" type="text" placeholder="Ihren Nachname hier eingeben" required/>
          </div>
        </div>

        <div class="form-group">
            <label>Ihre E-Mail Adresse *</label>
            <input class="form-control" type="email" name="parent-email" required placeholder="eltern@schul-cloud.org"></input>
        </div>
        <p>Wir benötigen eine E-Mail-Adresse, damit Ihre Einwilligung in die Nutzung der Schul-Cloud rechtlich gültig ist. Die Schul-Cloud gibt die Adresse nicht weiter. Sie erhalten keine unerwünschten Mails.</p>
        <p>Zusätzlich planen wir die Entwicklung eines Eltern-Zugangs, über den Sie mit dem Klassenlehrer kommunizieren und mit dem Sie die Lernfortschritte Ihres Kindes nachvollziehen können. Sobald diese Funktionen zur Verfügung stehen, fragen wir Sie, ob wir Ihre E-Mail-Adresse dafür verwenden dürfen.</p>
      </section>



      <section data-panel="section-3">
        <h4>Einwilligung</h4>
        <p>Einwilligungserklärung</p>
        <p>Bitte bestätigen Sie folgende Einwilligungserklärungen, damit Ihr Kind die Vorteile der Schul-Cloud nutzen kann:</p>
        <p>Ich, <b data-from="parent-firstname"></b> <b data-from="parent-secondname"></b>, bin erziehungsberechtigt für
          <b data-from="student-firstname"></b>
          <b data-from="student-secondname"></b> 
        und erkläre Folgendes:</p>

        <label>
            <input name="Erhebung" type="checkbox" value="true" required/>
            <span>Ich habe die <a href="#">Datenschutzerklärung</a> gelesen und willige in die Verarbeitung der Nutzerdaten ein.</span>
        </label>
        <p class="explanation">Um die Nutzung der Schul-Cloud zu ermöglichen, ist die Verarbeitung von personenbezogenen Daten der Nutzer erforderlich. Dies erfolgt ausschließlich entsprechend der hohen gesetzlichen Datensicherheits-Anforderungen. Das HPI verarbeitet nur die Daten, deren Erhebung unbedingt erforderlich ist und sorgt dafür, dass sie nicht in unbefugte Hände geraten. </p>

        <label>
            <input name="Forschung" type="checkbox" value="true" required/>
            <span>Ich habe die <a href="#">Informationen zum Forschungsvorhaben</a> gelesen und willige in die wissenschaftliche Auswertung ein.</span>
        </label>
        <p class="explanation">Die HPI Schul-Cloud wird von einem wissenschaftlichen Forschungsprojekt begleitet, das der Optimierung des Lernerlebnisses in der Schul-Cloud dient. Im Rahmen dessen werden Nutzungsdaten anonymisiert ausgewertet.</p>

        <label>
            <input name="Pseudonymisierung" type="checkbox" value="true" required/>
            <span> Ich habe die <a href="#">Informationen zu Inhalte-Anbietern</a> gelesen und willige in die Weitergabe der Pseudonyme an Inhalte-Anbieter ein</span>
        </label>
        <p class="explanation">Nutzernamen werden nicht an integrierte Drittanbieter weitergegeben. Sollte eine Wiedererkennung nötig sein, z.B. für individuelle Aufgabenstellungen, geschieht dies zu Ihrem Schutz auf Basis eines Pseudonyms. Die Schülerdaten bleiben sicher im Kernbereich der Schul-Cloud. </p>

        <label>
            <input name="Nutzungsbedingungen" type="checkbox" value="Nutzungsbedingungen" required/>
            <span>Ich habe die <a href="#">Nutzungsbedingungen</a> gelesen und stimme ihnen zu.</span>
        </label>
        <p class="explanation">Die Nutzung der Schul-Cloud ist freiwillig. Die erteilte Einwilligung kann daher jederzeit ohne Nachteile für den Nutzer widerrufen werden. Eine kurze Mail mit Angabe des Vor- und Nachnamens, der Klasse und der Schule an folgende Adresse genügt: <a href="mailto:widerruf@schul-cloud.org?subject=Widerruf der Einwilligung&body=Liebes Schul-Cloud-Team,%0D%0Ahiermit widerrufe ich die von mir erteilte EInwilligung zur Verarbeitung meiner personenbezogenen Daten.%0D%0A%0D%0AVor- und Nachname:%0D%0AKlasse:%0D%0ASchule:%0D%0A">widerruf@schul-clud.org</a></p>
      </section>



      <section data-panel="section-4" class="submit-page" data-feature="pin">
        <h4>Abschluss</h4>
        <p>Fast geschafft!</p>
        <p>Wir habe soeben eine E-Mail an Ihre angegebene Adresse gesendet. Bitte geben Sie den darin enthaltenen Code hier ein, um die Registrierung abzuschließen. Sie haben keine E-Mail erhalten? <button type="button" class="btn-link" id="resend-pin">Code erneut senden</button></p>
        <div id="pinverification">
            <div id="temp-pin" class="hidden"></div>
            {{#embed "registration/pin" digits=4 pattern="[0-9]" required="true" name="email-pin" class="mail-validation my-1"}}{{/embed}}
        </div>
        <input type="hidden" name="initial-password" class="student-password-input" />
      </section>



      <section data-panel="section-5">
        <h4>Vielen Dank für die Registrierung in der Schul-Cloud</h4>
        <div>
          <p>
            Mit folgenden Daten kann sich
            <b data-from="student-firstname"></b>
            <b data-from="student-secondname"></b>
            in der Schul-Cloud anmelden. Bitte geben Sie die Daten an Ihr Kind weiter. Zusätzlich haben Sie und Ihr Kind die Daten per E-Mail erhalten.
            <div class="print">
              <div class="recap">
                <p>Nutzername: <i data-from="student-firstname"></i>.<i data-from="student-secondname"></i></p>
                <p>E-Mail: <i data-from="student-email"></i></p>
                <p>Passwort: <i class="student-password">********</i></p>
              </div>
              <div class="btn btn-secondary btn-print" data-toggle="tooltip" title="" data-original-title="Anmeldedaten drucken">
                <i class="fa fa-print"></i> Drucken
              </div>
            </div>
          </p>

          <p>Beim ersten Login muss ein neues Passwort gewählt werden. Schüler ab 14 Jahren müssen beim ersten Login die Einwilligungserklärungen zusätzlich selbst bestätigen.</p>
        </div>

        <p>Ihr Kind kann sich nun einloggen:</p>

        <a class="btn btn-primary" href="//schul-cloud.org/login">Login öffnen</a>
      </section>
      {{/content}}
    {{/embed}}
  {{/content}}
{{/extend}}