{{#extend "registration/templates/registrationNew"}}
  {{#content "scripts" mode="append"}}
      <script src="/scripts/dataprivacy/dataprivacy.js" type="text/javascript" defer></script>
      <script src="/scripts/dataprivacy/registration.js" type="text/javascript" defer></script>
      <script src="/scripts/jquery/jquery.datetimepicker.full.min.js" type="text/javascript" defer></script>
  {{/content}}
  {{#content "styles" mode="append"}}
      <link rel="stylesheet" href="/styles/administration/dataprivacy.css"/>
      <link rel="stylesheet" href="/styles/lib/datetimepicker/jquery.datetimepicker.min.css"/>
  {{/content}}
  {{#content "page"}}
    {{#embed "lib/forms/paginatedForm" sections=4 action="/registration/submit" method="post" class="registration-form"}}
      {{#content "panels"}}
      <section data-panel="section-1">
        <h4>Persönliche Daten</h4>
        <p>Die Schul-Cloud bewahrt die Daten der Nutzer*Innen sicher auf und gibt sie nicht an Dritte weiter. Die Verarbeitung der Daten erfolgt entsprechend der hohen gesetzlichen Datenschutz-Anforderungen.</p>
        <p>Für die Nutzung der Schul-Cloud benötigen wir folgende Angaben:</p>
        <div class="row">
          <div class="form-group col-md-6 col-sm-12">
              <label>Vorname: *</label>
              <input class="form-control linked" name="student-firstname" type="text" placeholder="Vorname des Kindes in offizieller Schreibweise eingeben, keine Spitznamen o.ä." required/>
          </div>
          <div class="form-group col-md-6 col-sm-12">
              <label>Nachname: *</label>
              <input class="form-control linked" name="student-secondname" type="text" placeholder="Nachname des Kindes hier eingeben" required/>
          </div>
        </div>

        <div class="form-group">
          <label>Geburtsdatum: *</label>
          <input class="form-control linked" data-date data-min-date="1990/01/01" data-max-date="2015/01/01" data-start-date="2000/01/01" name="student-birthdate" type="text" data-from="student-birthdate" required autocomplete="off" />
        </div>

        <div class="form-group">
            <label>E-Mail Adresse: *</label>
            <input class="form-control linked" type="email" name="student-email" placeholder="schueler@schul-cloud.org" required>
            <!-- <input class="form-control linked" type="email" name="student-email" placeholder="schueler@schul-cloud.org" data-pattern="*@test.de" pattern=".+@test.de" required> -->
        </div>
        <p>
            Die E-Mail-Adresse ermöglicht den Versand von Benachrichtigungen und erleichtert das Zurücksetzen des Passwortes.
        </p>
        <div class="row">
          <div class="form-group col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <Label>Geschlecht: *</Label>
            <select class="form-control form-control-lg" type="text" name="gender" required>
              <option value="">Bitte Geschlecht auswählen</option>
              <option value="male">männlich</option>
              <option value="female">weiblich</option>
              <option value="other">anderes</option>
              <option value="noinfo">keine Angabe</option>
            </select>
          </div>
        </div>
        <p>Die Erhebung erfolgt für Forschung und Optimierung.</p>
      </section>


      <section data-panel="section-2">
        <h4>Einwilligungserklärung</h4>
        <p>Die HPI Schul-Cloud bietet digitale Bildung für alle – fair, nicht profitorientiert und datenschutzkonform. Der Schutz von Schüler*Innen-Daten ist zentraler Bestandteil der Schul-Cloud.</p>
        <p>Bitte bestätige folgende Einwilligungserklärungen, damit du die Schul-Cloud nutzen kannst.</p>
        <p>Ich, <b data-from="student-firstname"></b> <b data-from="student-secondname"></b>, erkläre Folgendes:</p>
        <label>
            <input name="Erhebung" type="checkbox" value="true" required/>
            <span>Ich habe die <a href="#">Datenschutzerklärung</a> gelesen und willige in die Verarbeitung der Nutzerdaten ein.</span>
        </label>

        <p>Schülereinwilligung Ü18</p>
        <label>
            <input name="Forschung" type="checkbox" value="true" required/>
            <span>Ich habe die <a href="#">Informationen zum Forschungsvorhaben</a> gelesen und willige in die wissenschaftliche Auswertung ein.</span>
        </label>

        <p>Die HPI Schul-Cloud wird von einem wissenschaftlichen Forschungsprojekt begleitet, das der Optimierung des Lernerlebnisses in der Schul-Cloud dient. Im Rahmen dessen werden Nutzungsdaten anonymisiert ausgewertet.</p>
        <label>
            <input name="Pseudonymisierung" type="checkbox" value="true" required/>
            <span> Ich habe die <a href="#">Informationen zu Inhalte-Anbietern</a> gelesen und willige in die Weitergabe der Pseudonyme an Inhalte-Anbieter ein</span>
        </label>

        <p>Nutzernamen werden nicht an integrierte Drittanbieter weitergegeben. Sollte eine Wiedererkennung nötig sein, z.B. für individuelle Aufgabenstellungen, geschieht dies zu Ihrem Schutz auf Basis eines Pseudonyms. Die Schülerdaten bleiben sicher im Kernbereich der Schul-Cloud. </p>
        <label>
            <input name="Nutzungsbedingungen" type="checkbox" value="Nutzungsbedingungen" required/>
            <span>Ich habe die <a href="#">Nutzungsbedingungen</a> gelesen und stimme ihnen zu.</span>
        </label>

          <p>Die Nutzung der Schul-Cloud ist freiwillig. Die erteilte Einwilligung kann daher jederzeit ohne Nachteile für den Nutzer widerrufen werden. Eine kurze Mail mit Angabe des Vor- und Nachnamens, der Klasse und der Schule an folgende Adresse genügt: <a href="mailto:widerruf@schul-cloud.org?subject=Widerruf der Einwilligung&body=Liebes Schul-Cloud-Team,%0D%0Ahiermit widerrufe ich die von mir erteilte EInwilligung zur Verarbeitung meiner personenbezogenen Daten.%0D%0A%0D%0AVor- und Nachname:%0D%0AKlasse:%0D%0ASchule:%0D%0A">widerruf@schul-clud.org</a></p>
      </section>


      <section data-panel="section-3" class="submit-page" data-feature="pin">
          <h4>Abschluss</h4>
          <p>Fast geschafft!</p>
          <p>Wir habe soeben eine E-Mail an Ihre angegebene Adresse gesendet. Bitte geben Sie den darin enthaltenen Code hier ein, um die Registrierung abzuschließen.</p>
          <div id="pinverification">
              <div id="temp-pin" class="hidden"></div>
              {{#embed "administration/forms/pin" digits=4 pattern="[0-9]" required="true" name="email-pin" class="mail-validation my-1"}}{{/embed}}
              <button id="check-pin" class="btn btn-primary">prüfen</button>
              <p><a id="resend-pin" href="#">Code erneut senden</a></p>
          </div>
          <div id="userdata-summary" class="hidden">
              <p>Mit folgenden Daten kannst du dich in der Schul-Cloud anmelden. Bitte bewahre die Anmeldedaten für den ersten Login auf.</p>
              <div class="print">
                <div class="recap">
                  <p>Nutzername: <i data-from="student-firstname"></i>.<i data-from="student-secondname"></i></p>
                  <p>E-Mail: <i data-from="student-email"></i></p>
                  <p>Passwort: <i class="student-password">********</i></p>
                </div>
                 <div class="btn btn-secondary btn-print" data-toggle="tooltip" title="" data-original-title="Anmeldedaten drucken">
                  <i class="fa fa-print"></i> Drucken
                </div>
              </div>
                <label>
                    <input name="sendCredentials" type="checkbox" value="sendCredentials"/>
                    Login-Daten per E-Mail an angegebene Adressen senden
                </label>
                <p>Beim ersten Login muss ein neues Passwort gewählt werden.</p>
          </div>
      </section>


      <section data-panel="section-4">
        <h4>Dankeschön</h4>
        <p>Vielen Dank für die Registrierung in der Schul-Cloud!</p>

        <p>Du kannst Dich jetzt einloggen:</p>

        <div class="print">
          <div class="recap">
            <p>Nutzername: <i data-from="student-firstname"></i>.<i data-from="student-secondname"></i></p>
            <p>E-Mail: <i data-from="student-email"></i></p>
            <p>Passwort: <i class="student-password">********</i></p>
          </div>
            <div class="btn btn-secondary btn-print" data-toggle="tooltip" title="" data-original-title="Anmeldedaten drucken">
            <i class="fa fa-print"></i> Drucken
          </div>
        </div>

        <a class="btn btn-primary" href="//schul-cloud.org/login">Login öffnen</a>
      </section>
      {{/content}}
    {{/embed}}
  {{/content}}
{{/extend}}