<p>
    {{$t "registration.requestPin.text.confirmEmail"}}
    <br />
    <br />
    {{$t "registration.requestPin.text.requestConfirmationCode"}}
</p>
<button type="button" class="btn btn-primary" id="resend-pin">
    {{$t "registration.requestPin.button.requestVerificationCode"}}
</button>

<p class="info">
    <br />
    {{$t "registration.requestPin.text.theCodeCanBeRequestedSeveralTimes"}}
</p>