<p>{{$t "registration.requestPin.text.weOnlyHaveToCheckWhether" }}<br>{{$t "registration.requestPin.text.pleaseRequestAConfirmationCode" }}</p>
<p><button type="button" class="btn btn-primary" id="resend-pin">{{$t "registration.requestPin.button.requestVerificationCode" }}</button></p>
<p class="info">{{$t "registration.requestPin.text.theCodeCanBeRequestedSeveralTimes" }}
</p>
