<p>Bitte bestätige uns, die Korrektheit der angegebenen E-Mail-Adresse. <br>Fordere dazu einen Bestätigungscode an:</p>
<p><button type="button" class="btn btn-primary" id="resend-pin">Code jetzt anfordern</button></p>
<p class="info">Der Code kann mehrfach angefordert werden. Das erneute Zusenden macht bisher versendete Codes
	allerdings ungültig. Warte vor dem erneuten Anfordern lieber einen Moment länger und prüfe ggf. den Spam-Ordner in
	deinem E-Mail-Postfach.
</p>
