<p>Wir müssen nur kurz prüfen, ob es deine E-Mail-Adresse wirklich gibt. <br>Bitte fordere dazu einen Bestätigungscode an:</p>
<p><button type="button" class="btn btn-primary" id="resend-pin">Bestätigungscode jetzt anfordern</button></p>
<p class="info">Der Code kann mehrfach angefordert werden. Das erneute Zusenden macht bisher versendete Codes
	allerdings ungültig. Warte vor dem erneuten Anfordern lieber einen Moment länger und prüfe ggf. den Spam-Ordner in
	deinem E-Mail-Postfach.
</p>
