{{#extend "registration/registration"}}
    {{#content "fields"}}
        <div class="form-group">
            <label>Vorname</label>
            <input type="text" name="firstName" class="form-control form-control-lg" placeholder="Max" required>
        </div>
        <div class="form-group">
            <label>Nachname</label>
            <input type="text" name="lastName" class="form-control form-control-lg" placeholder="Mustersch체ler" required>
        </div>
        <div class="form-group">
            <span><Label>Geschlecht</Label><p class="text-muted" style="display: inline"> (optional)</p></span>
            <select class="form-control form-control-lg" type="text" name="gender">
                <option value="">Geschlecht ausw채hlen</option>
                <option value="male">M채nnlich</option>
                <option value="female">Weiblich</option>
                <option value="other">Anderes</option>
            </select>
        </div>
        <div class="form-group">
            <label>E-Mail-Adresse</label>
            <input type="email" name="email" class="form-control form-control-lg" placeholder="max.mustersch체ler@schul-cloud.org" required>
        </div>
    {{/content}}
{{/extend}}