<h2 class="h3">
	{{$t "theme.n21.imprint.headline.lowerSaxonyEducationCLoud"}}
</h2>
<address>
	<p>
		Schiffgraben 27
		<br /> 30159 Hannover
		<br /> Email: <a href="mailto:info@n-21.de" target="_blank" rel="noopener">info@n-21.de</a>
		<br /> Internet: <a href="https://niedersachsen.cloud" target="_blank"
			rel="noopener">https://niedersachsen.cloud</a>
		<br /> Telefon: +49 (0)511 3536621-41
		<br /> Telefax: +49 (0)511 3536621-99
	</p>
</address>
<h2 class="h3">
	{{$t "imprint.imprint_rights.headline.managingDirectorAuthorized" }}
</h2>
<p>
	{{{$t "theme.n21.imprint.text.ostd"}}}</p>
<h2 class="h3">
	{{$t "imprint.imprint_rights.headline.editorialStuff" }}
</h2>
<p>
	{{$t "theme.n21.imprint.text.stateInitiativeN21"}}
</p>