<div class="section-imprint">
<p class=MsoNormal><b><span style='font-size:18.0pt;line-height:107%;
color:#A8D9EE'>Impressum & Datenschutz </span></b></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
style='font-size:15.0pt;color:#373A3C'>NIEDERSÄCHSISCHE BILDUNGSCLOUD – </span></b></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
style='font-size:15.0pt;color:#373A3C'>Landesinitiative n-21 Schulen in Niedersachsen
online e.V.</span></b></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:12.0pt;color:#373A3C'>Schiffgraben 27 </span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:12.0pt;color:#373A3C'>30159 Hannover </span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:12.0pt;color:#373A3C'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><u><span
style='font-size:12.0pt;color:#373A3C'>Email</span></u><span style='font-size:
12.0pt;color:#373A3C'>: info@n-21.de<br>
<u>Internet</u>: niedersachsen.cloud<br>
<u>Telefon</u>: +49 (0)511 3536621-41<br>
<u>Telefax</u>: +49 (0)511 3536621-99</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
style='font-size:15.0pt;color:#373A3C'>Vertretungsberechtigter Geschäftsführer:</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>OStD Michael Sternberg<br>
Inhaltlich Verantwortlich gemäß § 6 MDStV: OStD Michael Sternberg</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
style='font-size:15.0pt;color:#373A3C'>Redaktion:</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Landesinitiative n-21 Schulen in
Niedersachsen online e.V.</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
style='font-size:15.0pt;color:#373A3C'>Rechtliche Hinweise:</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Die Niedersächsische Bildungscloud ist ein
Landespilotprojekt, welches durch die Landesinitiative n-21 im Auftrag des
Niedersächsischen Kultusministerium und in technisch-organisatorischer Kooperation
mit dem Hasso-Plattner-Institut in Potsdam </span><a
href="https://hpi.de/schul-cloud" target="_blank"><span style='font-size:12.0pt;
color:#B10438;text-decoration:none'>https://hpi.de</span></a><span
style='font-size:12.0pt;color:#373A3C'> durchgeführt wird. Die Inhalte der Niedersächsische
Bildungscloud stellen keine offiziellen Verlautbarungen des niedersächsischen
Kultusministeriums oder des HPIs dar. Für die veröffentlichten Inhalte sind die
jeweiligen Autor/innen selbst verantwortlich. Ohne vorherige schriftliche
Genehmigung ist eine kommerzielle Verbreitung der über die Niedersächsische
Bildungscloud verfügbaren Inhalte ausdrücklich untersagt, außer diese sind
ausdrücklich gekennzeichnet. Die redaktionelle Verantwortung für den Inhalt
verlinkter Webseiten anderer Anbieter (einschließlich der dort verankerten
Links zu Dritten), insbesondere die Verantwortung für die Beachtung der
Bestimmungen des Jugendschutz- und Datenschutzrechts, trägt in jeder Hinsicht
der jeweilige Anbieter allein.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Die Landesinitiative n-21 überprüft und
aktualisiert regelmäßig die Inhalte seiner Websites. Trotz größtmöglicher
Sorgfalt kann nicht ausgeschlossen werden, dass einzelne Informationen auf den
öffentlich zugänglichen Seiten veraltet oder nicht mehr zutreffend sind. Daher
wird keine Haftung für Aktualität, Genauigkeit und Vollständigkeit der
publizierten Informationen übernommen. Das Gleiche gilt für alle Websites, die
von den n-21-Seiten über Hyperlinks erreichbar sind. Für alle diese Links gilt:
Wir erklären ausdrücklich, dass wir keinen Einfluss auf die Gestaltung und die
Inhalte der verlinkten Seite haben. Deshalb distanziert sich die
Landesinitiative n-21 hiermit von allen Inhalten aller verlinkten Seiten und
macht sich diese Inhalte nicht zu Eigen. Diese Erklärung gilt für alle auf den Seiten
angebrachten Links zu fremden Seiten. Für den Inhalt dieser verlinkten Seiten
ist die Landesinitiative n-21 nicht verantwortlich. Weiterhin behält sich die
Landesinitiative n-21 jederzeit Änderungen und Ergänzungen der angezeigten Informationen
vor. Inhalt und Struktur der NBC-Website sind durch das Copyright geschützt.
Die Weiterverwendung von Informationen und Daten ist nur nach Zustimmung durch
die Landesinitiative n-21 zulässig. Wir wünschen Ihnen einen informativen
Aufenthalt auf unseren Websites und freuen uns über Vorschläge, Wünsche oder
Kritik zur Niedersächsische Bildungscloud.</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:19.8pt'><b><span
style='font-size:18.0pt;color:#373A3C'>Datenschutzerklärung</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Hinweise zum Datenschutz entnehmen Sie
bitte folgender Seite.</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
style='font-size:15.0pt;color:#373A3C'>Privatsphäre und Datenschutz</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Mit der Niedersächsische Bildungscloud
eröffnet die Landesinitiative n-21 die Möglichkeit, über eine Weboberfläche das
vernetztes Lernen und Arbeiten über Schulgrenzen hinweg möglich zu machen. Alle
Nutzer/innen – Schüler/innen bzw. Lehrkräfte – erhalten einen eigenen Zugang
zur Niedersächsische Bildungscloud. Über diesen können die Schüler/innen die
bereitgestellten Arbeitsmaterialien und Aufgaben bearbeiten und weitere
digitale Lernmaterialien auf schlanken Endgeräten nutzen. Darüber hinaus werden
über die Niedersächsische Bildungscloud verschiedene Anwendungen, wie ein
Kalender bzw. Stundenplan sowie Werkzeuge für die Kommunikation und
Kollaboration bereitgestellt. Die Niedersächsische Bildungscloud bietet zudem
nicht nur eine sichere Dateiablage für alle Nutzer/innen, Gruppen, Klassen und
Schulen, sondern auch geschützte Arbeits- und Informationsbereiche.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Zur Nutzung der Niedersächsische
Bildungscloud ist die Erhebung und Speicherung personenbezogener Daten unvermeidlich.
Vor einer Anmeldung gehen die Informationen über die Art, den Zweck, die
Verarbeitung und Nutzung der erhobenen Daten sowie die Zustimmung zu den
Nutzungsbedingungen voraus. Der Schutz Ihrer Daten sowie die rechtmäßige
Erhebung, Verarbeitung und Nutzung ist der Landesinitiative n-21 besonders
wichtig.</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
style='font-size:15.0pt;color:#373A3C'>1. Verantwortliche Stelle</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Verantwortliche Stelle für die Erhebung,
Verarbeitung und Nutzung Ihrer personenbezogenen Daten ist die an der
Niedersächsische Bildungscloud teilnehmenden Projektschule oder der
Schulträger. Die Schule bzw. der Schulträger ist beauftragende Stelle und obere
Aufsichtsbehörde.</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
style='font-size:15.0pt;color:#373A3C'>2. Erhebung personenbezogener Daten</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Nach § </span><a
href="https://beck-online.beck.de/?typ=reference&amp;y=100&amp;g=BDSG&amp;p=3"
target="_blank"><span style='font-size:12.0pt;color:#B10438;text-decoration:
none'>3</span></a><span style='font-size:12.0pt;color:#373A3C'> </span><a
href="https://beck-online.beck.de/?typ=reference&amp;y=100&amp;g=BDSG&amp;p=3&amp;x=1"
target="_blank"><span style='font-size:12.0pt;color:#B10438;text-decoration:
none'>I</span></a><span style='font-size:12.0pt;color:#373A3C'> BDSG/der
landesspezifischen Norm beschreiben personenbezogene Daten Einzelangaben über
persönliche oder sachliche Verhältnisse einer bestimmten oder – ohne besondere
Schwierigkeiten bestimmbaren – natürlichen Person (Betroffene/r). Zu diesen
Informationen gehören vor allem Details, die Rückschlüsse auf Ihre Identität
zulassen, zum Beispiel Ihren Namen oder Ihre Email-Adresse. Statistische Daten,
die keine Rückschlüsse auf Ihre Person zulassen, sind keine personenbezogenen
Daten.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Die Erhebung personenbezogener Daten ist
auf ein notwendiges Minimum beschränkt. Zur Nutzung der Niedersächsische
Bildungscloud sind folgende Angaben erforderlich:</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Anzeigename</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Vor- und Nachname</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Email-Adresse</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Schule</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Passwort als
Prüfsumme</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Diese Angaben werden gespeichert, damit
Sie mit Ihrer Email-Adresse und dem von Ihnen selbst gewählten Passwort Zugriff
auf die Niedersächsische Bildungscloud erhalten.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Darüber hinaus werden folgende Daten
erfasst:</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Gruppenmitgliedschaften,
z.B. Klasse und Kurse</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Geburtsdatum</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Persönliche
Einstellungen</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Zeitstempel, z.B.
Erstellung des Nutzer-Accounts, letzter Login</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Selbst hochgeladene
und freigegebene Dateien, z.B. Dokumente</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Selbst angelegte und
freigegebene Termine, Gruppentermine</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Aufgabenstellungen
und deren Bearbeitungen mit Abgabestatus und Feedback</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Zugriffe auf
Lerninhalte, Nutzungsdaten der jeweiligen Inhalte und übermitteltes Feedback zu
einzelnen Inhalten</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Erstellte
Pseudonyme, deren Verwendung und zu substituierende Daten</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Inhalte der
Kommunikation aus z.B. Emails und Forenbeiträgen</span></p>

<p class=MsoNormal style='margin-right:-7.5pt;margin-left:63.8pt;text-indent:
-18.0pt;line-height:normal'><span style='font-size:10.0pt;font-family:Symbol;
color:#373A3C'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#373A3C'>Art, Inhalt und
Empfänger/innen von Benachrichtigungen</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Die Daten werden ausschließlich nach den
Bestimmungen des Bundesdatenschutzgesetzes (BDSG) erhoben und durch geeignete
Maßnahmen organisatorischer sowie technischer Art geschützt. Sie werden derzeit
auf den Servern des HPI in Potsdam und im Rechenzentrum der Hetzner GmbH gespeichert.
Sämtliche Zugriffe auf die Server werden mit IP-Adresse und Zeitstempel
protokolliert.</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
style='font-size:15.0pt;color:#373A3C'>3. Verarbeitung und Nutzung
personenbezogener Daten</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Die erhobenen Daten werden
ausschließlich nach den Bestimmungen des BDSG verarbeitet und für die
Weiterentwicklung der Niedersächsische Bildungscloud genutzt. Die Auswertung
erfolgt auf Basis pseudonymisierter Daten, d.h. Identifikationsmerkmale, wie
Namen werden durch ein Kennzeichen ersetzt, um Rückschlüsse auf die betroffenen
Personen auszuschließen bzw. wesentlich zu erschweren. Detaillierte
Auswertungsergebnisse werden ausschließlich projektintern behandelt.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><b><span
style='font-size:12.0pt;color:#373A3C'>Bitte beachten Sie:</span></b><span
style='font-size:12.0pt;color:#373A3C'> Ihr Vor- und Nachname wird im Kontext
Ihrer eingereichten Aufgaben und eventueller Beiträge angezeigt.</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
style='font-size:15.0pt;color:#373A3C'>4. Cookies</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Die Niedersächsische Bildungscloud
verwendet Cookies, d.h. kleine Dateien, die auf Ihrem Datenträger gespeichert
werden und spezifische Einstellungen und Daten für den Austausch mit unserem
System über Ihren Browser speichern. Durch die Nutzung von Session-Cookies, die
verfallen, sobald Sie Ihren Browser schließen, gewährleisten wir eine
effiziente und komfortable Nutzung der Niedersächsische Bildungscloud, z.B. in
dem Sinne, als dass Sie so lange an der Niedersächsische Bildungscloud
angemeldet bleiben, bis Sie sich wieder abmelden. Darüber hinaus verwenden wir
temporäre Cookies im Rahmen des Webanalysetools „Mamoto (Piwik)“, die eine
Lebensdauer von einer Woche haben (s. Abschnitt 6).</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>In den von uns verwendeten Cookies
werden grundsätzlich keine personenbezogenen Daten gespeichert. Sofern Sie von
der Speicherung der Cookies abweichen möchten, können Sie das Speichern von
Cookies in Ihrem Browser deaktivieren, auf bestimmte Websites beschränken oder
Ihren Browser so einstellen, dass Sie informiert werden, sobald ein Cookie
gesendet wird. Sie können Cookies auch löschen. Bitte beachten Sie jedoch, dass
Sie die Niedersächsische Bildungscloud nicht nutzen können, wenn Sie die
Speicherung von Session-Cookies grundlegend ablehnen.</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
style='font-size:15.0pt;color:#373A3C'>5. Logdateien</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Bei jedem Besuch der Niedersächsische
Bildungscloud werden von Ihrem Internetbrowser automatisch Nutzungsdaten
übermittelt und in sogenannten Logdateien so gespeichert, dass keine
personenbezogenen Daten wie IP-Adressen enthalten sind – es sei denn, das HPI
ist durch gesetzliche Vorgaben hierzu verpflichtet.</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
style='font-size:15.0pt;color:#373A3C'>6. Webanalysen mit „Mamoto (Piwik)“</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Um die Niedersächsische Bildungscloud
kontinuierlich nutzungsgerecht zu verbessern, verwenden wir die Open Source
Webanalyse-Software „Mamoto (Piwik)“. Über diese erhalten wir in Echtzeit
Berichte über die Anzahl der Nutzer/innen u.ä. Die Analysen erfolgen ohne
Weitergabe von Daten an Dritte.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Mamoto (Piwik) verwendet Cookies, die
auf Ihrem Computer gespeichert werden und die Analyse der Niedersächsische
Bildungscloud-Nutzung ermöglichen. Die durch Cookies erzeugten Informationen
über die Nutzung der Niedersächsische Bildungscloud werden auf den Servern
unseres Kooperationspartners gespeichert. Wir weisen darauf hin, dass auf
unserer Website „Mamoto (Piwik)“ implementiert und die Funktion „IP
anonymisieren“ verwendet wird. Dies ermöglicht uns eine anonyme Erfassung Ihrer
IP-Adresse (IP-Maskierung). Ihre IP-Adresse wird lediglich in gekürzter Form
pseudonymisiert gespeichert und lässt keine Rückschlüsse auf Ihre Identität zu.
Wenn Sie von der Speicherung von Cookies abweichen möchten, können Sie diese in
Ihrem Browser deaktivieren, auf bestimmte Webseiten beschränken oder Ihren
Browser so einstellen, dass Sie informiert werden, sobald ein Cookie gesendet
wird. Cookies können Sie jederzeit von der Festplatte Ihres Computers löschen.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Darüber hinaus können Sie dem Setzen von
Mamoto (Piwik)-Cookies widersprechen. Ihr Widerspruch wird in Form eines
Opt-out-Cookies gespeichert. Bitte beachten Sie, dass beim Löschen sämtlicher
Cookies auf Ihrem Computer auch dieses Opt-out-Cookie gelöscht wird. Wenn Sie
die anonyme Datenerfassung durch das Webanalyse-Tool Mamoto (Piwik) weiterhin
ablehnen möchten, müssen Sie das Opt-out-Cookie anschließend erneut setzen. Das
Opt-out-Cookie wird pro Browser und Computer gesetzt. Wenn Sie die Niedersächsische
Bildungscloud von der Schule und zu Hause aus oder über verschiedene Browser
besuchen, müssen Sie den Opt-out-Cookie auf den unterschiedlichen Computern
bzw. in den verschiedenen Browsern aktivieren. Weitere Informationen über Mamoto
(Piwik) erhalten Sie unter: https://matomo.org.</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
style='font-size:15.0pt;color:#373A3C'>7. Weitergabe von Daten</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Ihre persönlichen Daten werden sowohl
von Ihrer Schule als auch der Landesinitiative n-21 und dessen Technikpartner geschützt.
Ihre Schule und die Landesinitiative n-21 geben keine personenbezogenen Daten
an Dritte weiter, es sei denn, die Weitergabe erfolgt in Erfüllung einer
gesetzlichen Verpflichtung (z.B. im Rahmen von strafrechtlichen Ermittlungen).
In diesem Falle werden nur solche Informationen in Kenntnis und Rücksprache mit
der teilnehmenden Projektschule weitergegeben, zu denen Ihre Schule und die
Landesinitiative n-21 gesetzlich verpflichtet sind.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Aus technischen oder organisatorischen
Gründen behält sich der Technikpartner HPI vor, einzelne
Hosting-Dienstleistungen an Subunternehmer zu vergeben. Dies trifft im
besonderen Maße auf die Daten der NBC-Schulen zu.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Für die Nutzung interaktiver Inhalte
externer Anbieter (z.B. Schulbuchverlage oder Appanbieter) werden Pseudonyme
eingesetzt, die den Inhalte-Anbietern keinerlei Rückschlüsse auf die realen
Nutzer/innen der Niedersächsische Bildungscloud zulassen. Die pseudonymisierten
Daten über die Nutzung digitaler Angebote (bspw. Testfragen) können von den
Inhalte-Anbietern anonymisiert ausgewertet und zur Verbesserung ihrer Inhalte
und Produkte eingesetzt werden.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Ein Verzeichnis aller Empfänger personenbezogener Daten finden Sie <a href="/other/pdf/Empfänger_personenbezogene_Daten.pdf">hier</a>.</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
style='font-size:15.0pt;color:#373A3C'>8. Ihre Rechte</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Auf Grundlage des
Bundesdatenschutzgesetzes/des jeweiligen Datenschutz- und Schulgesetzes haben
Sie u.a. das Recht auf Auskunft, Berichtigung, Sperrung oder Löschung Ihrer
gespeicherten Daten. Auf Anfrage werden wir Sie kostenfrei darüber informieren,
ob und wenn ja, welche personenbezogenen Daten über Sie gespeichert wurden.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Ihre Anfrage richten bitte Sie per
Email, Fax oder Post an:</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:12.0pt;
margin-left:35.4pt;line-height:normal'><span style='font-size:12.0pt;
color:#373A3C'>Landesinitiative n-21 Schulen in Niedersachsen Online</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.4pt;margin-bottom:.0001pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>Schiffgraben 27 </span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.4pt;margin-bottom:.0001pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>30159 Hannover</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.4pt;margin-bottom:.0001pt;line-height:normal'><u><span
style='font-size:12.0pt;color:#373A3C'>Mail</span></u><span style='font-size:
12.0pt;color:#373A3C'>: </span><a href="mailto:info@n-21.de"><span
style='font-size:12.0pt'>info@n-21.de</span></a></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:12.0pt;
margin-left:35.4pt;line-height:normal'><u><span style='font-size:12.0pt;
color:#373A3C'>Telefax</span></u><span style='font-size:12.0pt;color:#373A3C'>:
+49 (0)511 3536621-99</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.4pt;margin-bottom:.0001pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.4pt;margin-bottom:.0001pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.4pt;margin-bottom:.0001pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.4pt;margin-bottom:.0001pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.4pt;margin-bottom:.0001pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.4pt;margin-bottom:.0001pt;line-height:normal'><span
style='font-size:12.0pt;color:#373A3C'>&nbsp;</span></p>

</div>


