<h2 class="h3">
		Rechtliche Hinweise:
</h2>
<p>
	Die Niedersächsische Bildungscloud ist ein Landespilotprojekt, welches durch die Landesinitiative n-21 im Auftrag des Niedersächsischen Kultusministerium und in technisch-organisatorischer Kooperation mit dem Hasso-Plattner-Institut in Potsdam <a href="https://hpi.de" target="_blank" rel="noopener">https://hpi.de</a> durchgeführt wird.
</p>
