<h2 class="h3">
	NIEDERSÄCHSISCHE BILDUNGSCLOUD – Landesinitiative n-21 Schulen in Niedersachsen online e.V.
</h2>
<address>
	<p>
		Schiffgraben 27
		<br /> 30159 Hannover
		<br /> Email: <a href="mailto:info@n-21.de" target="_blank" rel="noopener">info@n-21.de</a>
		<br /> Internet: <a href="https://niedersachsen.cloud" target="_blank"
			rel="noopener">https://niedersachsen.cloud</a>
		<br /> Telefon: +49 (0)511 3536621-41
		<br /> Telefax: +49 (0)511 3536621-99
	</p>
</address>
<h2 class="h3">
	Vertretungsberechtigter Geschäftsführer:
</h2>
<p>
	OStD Michael Sternberg
	<br />Inhaltlich Verantwortlich gemäß § 6 MDStV: OStD Michael Sternberg</p>
<h2 class="h3">
	Redaktion:
</h2>
<p>
	Landesinitiative n-21 Schulen in Niedersachsen online e.V.
</p>