<div class="section-imprint {{#unless loggedin}}loggedout{{/unless}}">
	{{#unless loggedin}}
		<p class=MsoNormal><b><span style='font-size:20.0pt;line-height:110%;
	color:#A8D9EE'>Impressum</span></b></p>
	{{/unless}}

	<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
	style='font-size:15.0pt;color:#373A3C'>NIEDERSÄCHSISCHE BILDUNGSCLOUD – </span></b></p>

	<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
	style='font-size:15.0pt;color:#373A3C'>Landesinitiative n-21 Schulen in Niedersachsen
	online e.V.</span></b></p>

	<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
	normal'><span style='font-size:12.0pt;color:#373A3C'>Schiffgraben 27 </span></p>

	<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
	normal'><span style='font-size:12.0pt;color:#373A3C'>30159 Hannover </span></p>

	<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
	normal'><span style='font-size:12.0pt;color:#373A3C'>&nbsp;</span></p>

	<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><u><span
	style='font-size:12.0pt;color:#373A3C'>Email</span></u><span style='font-size:
	12.0pt;color:#373A3C'>: <a href="mailto:info@n-21.de" target="_blank" rel="noopener">info@n-21.de</a><br>
	<u>Internet</u>: <a href="https://niedersachsen.cloud" target="_blank" rel="noopener">https://niedersachsen.cloud</a><br>
	<u>Telefon</u>: +49 (0)511 3536621-41<br>
	<u>Telefax</u>: +49 (0)511 3536621-99</span></p>

	<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
	style='font-size:15.0pt;color:#373A3C'>Vertretungsberechtigter Geschäftsführer:</span></b></p>

	<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
	style='font-size:12.0pt;color:#373A3C'>OStD Michael Sternberg<br>
	Inhaltlich Verantwortlich gemäß § 6 MDStV: OStD Michael Sternberg</span></p>

	<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
	style='font-size:15.0pt;color:#373A3C'>Redaktion:</span></b></p>

	<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
	style='font-size:12.0pt;color:#373A3C'>Landesinitiative n-21 Schulen in
	Niedersachsen online e.V.</span></p>

	<p class=MsoNormal style='margin-bottom:6.0pt;line-height:16.5pt'><b><span
	style='font-size:15.0pt;color:#373A3C'>Rechtliche Hinweise:</span></b></p>

	<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
	style='font-size:12.0pt;color:#373A3C'>Die Niedersächsische Bildungscloud ist ein
	Landespilotprojekt, welches durch die Landesinitiative n-21 im Auftrag des
	Niedersächsischen Kultusministerium und in technisch-organisatorischer Kooperation
	mit dem Hasso-Plattner-Institut in Potsdam </span><a
	href="https://hpi.de/schul-cloud" target="_blank"><span style='font-size:12.0pt;
	color:#B10438;text-decoration:none'>https://hpi.de</span></a><span
	style='font-size:12.0pt;color:#373A3C'> durchgeführt wird. Die Inhalte der Niedersächsische
	Bildungscloud stellen keine offiziellen Verlautbarungen des niedersächsischen
	Kultusministeriums oder des HPIs dar. Für die veröffentlichten Inhalte sind die
	jeweiligen Autor/innen selbst verantwortlich. Ohne vorherige schriftliche
	Genehmigung ist eine kommerzielle Verbreitung der über die Niedersächsische
	Bildungscloud verfügbaren Inhalte ausdrücklich untersagt, außer diese sind
	ausdrücklich gekennzeichnet. Die redaktionelle Verantwortung für den Inhalt
	verlinkter Webseiten anderer Anbieter (einschließlich der dort verankerten
	Links zu Dritten), insbesondere die Verantwortung für die Beachtung der
	Bestimmungen des Jugendschutz- und Datenschutzrechts, trägt in jeder Hinsicht
	der jeweilige Anbieter allein.</span></p>

	<p class=MsoNormal style='margin-bottom:12.0pt;line-height:normal'><span
	style='font-size:12.0pt;color:#373A3C'>Die Landesinitiative n-21 überprüft und
	aktualisiert regelmäßig die Inhalte seiner Websites. Trotz größtmöglicher
	Sorgfalt kann nicht ausgeschlossen werden, dass einzelne Informationen auf den
	öffentlich zugänglichen Seiten veraltet oder nicht mehr zutreffend sind. Daher
	wird keine Haftung für Aktualität, Genauigkeit und Vollständigkeit der
	publizierten Informationen übernommen. Das Gleiche gilt für alle Websites, die
	von den n-21-Seiten über Hyperlinks erreichbar sind. Für alle diese Links gilt:
	Wir erklären ausdrücklich, dass wir keinen Einfluss auf die Gestaltung und die
	Inhalte der verlinkten Seite haben. Deshalb distanziert sich die
	Landesinitiative n-21 hiermit von allen Inhalten aller verlinkten Seiten und
	macht sich diese Inhalte nicht zu Eigen. Diese Erklärung gilt für alle auf den Seiten
	angebrachten Links zu fremden Seiten. Für den Inhalt dieser verlinkten Seiten
	ist die Landesinitiative n-21 nicht verantwortlich. Weiterhin behält sich die
	Landesinitiative n-21 jederzeit Änderungen und Ergänzungen der angezeigten Informationen
	vor. Inhalt und Struktur der NBC-Website sind durch das Copyright geschützt.
	Die Weiterverwendung von Informationen und Daten ist nur nach Zustimmung durch
	die Landesinitiative n-21 zulässig. Wir wünschen Ihnen einen informativen
	Aufenthalt auf unseren Websites und freuen uns über Vorschläge, Wünsche oder
	Kritik zur Niedersächsische Bildungscloud.</span></p>
</div>


