{{#extend "news/news"}}
{{#content "page"}}
<div class="route-news">
    {{#userHasPermission "SCHOOL_NEWS_EDIT"}}
    <a href="/news/new" class="btn btn-primary btn-add create pull-right mb-2">
        <i class="fa fa-plus" aria-hidden="true"></i> {{$t "news.button.addNews" }}
    </a>
    {{/userHasPermission}}
    {{#if unpublishedNews.total}}
    <div class="tabContainer">
        <div class="tabs" data-max-width="1024">
            <button class="tab active" data-tab="a">
                <span class="text">{{$t "news.text.released" }}</span>
            </button>
            <button class="tab" data-tab="b">
                <span class="text">{{$t "news.text.unpublished" }}<span class="count-badge"
                        data-badge="{{unpublishedNews.total}}" /></span></span>
            </button>
            <div class="indicator" style="left: 0px; right: 583.5px;"></div>
        </div>
    </div>
    <div class="sectionsContainer">
        <div class="sections">
            <div class="section" data-section="a">
                {{> 'dashboard/components/card_section' section-id="news" title="" content=news link-text=($t 'dashboard.link.continueReading')}}
                <div class="container">
                    {{> "lib/components/pagination" settings=pagination }}
                </div>
            </div>
            <div class="section" data-section="b">
                {{> 'dashboard/components/card_section' section-id="news" title="" content=unpublishedNews.data link-text=($t 'dashboard.link.continueReading')}}
            </div>
        </div>
    </div>
    {{else}}
    <div>
        {{> 'dashboard/components/card_section' section-id="news" title="" content=news link-text=($t 'dashboard.link.continueReading')}}
        <div class="container">
            {{> "lib/components/pagination" settings=pagination }}
        </div>
    </div>
    {{/if}}
</div>
{{#embed "lib/components/modal" class="delete-modal" title="${res.$t('global.text.areYousure')}"}}
{{#content "body"}}
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-close">
        {{$t "global.button.cancel" }}
    </button>
    <button type="submit" class="btn btn-primary btn-submit">
        {{$t "global.headline.delete" }}
    </button>
</div>
{{/content}}
{{/embed}}
{{/content}}
{{/extend}}
