{{#extend "news/news"}}
    {{#content "page"}}
        <div class="route-news">
            {{> 'dashboard/components/card_section' section-id="news" title="" content=news link-text="Weiterlesen"}}
            <div class="container">
                {{> "lib/components/pagination" settings=pagination }}
            </div>
        </div>
    {{/content}}
{{/extend}}