{{#content "styles" mode="append"}}
    <link rel="stylesheet" href="/styles/courses/empty-state.css"/>
{{/content}}
{{#extend "news/news"}}
    {{#content "page"}}
      <div class="empty-state">
        <img src="/images/empty-states/news_owl.png" alt="News mit der {{theme.short_title}} versenden" class="image mx-auto d-block"/>
        <div class="text-wrapper mx-auto d-block">
          <h2 class="text-center">Mit der {{theme.short_title}} auf dem neuesten Stand bleiben</h2>
          <h5 class="text-muted text-center">
            Neuigkeiten sind schulinterne Mitteilungen, die du über die {{theme.short_title}} mit Lehrer*innen und Schüler*innen geteilt werden können.
          </h5>
        </div>

          <div class="row">
              <div class="center buttons">
                  <a href="/news/" class="btn btn-secondary btn-lg">Weiter zu den Neuigkeiten</a>
              </div>
          </div>

      </div>
    {{/content}}
{{/extend}}
