{{#if this.memberAmount includeZero=true}}
    <a href="" class="btn-member" data-id="{{this._id}}" title="Teilnehmer" aria-label="Teilnehmer {{this.memberAmount}}">
        {{this.memberAmount}}
        <i class="fa fa-user"></i>
    </a>
{{/if}}
