{{#if this.memberAmount includeZero=true}}
    <a href="" class="btn-member"
       data-name="{{this.title}}"
       data-id="{{this._id}}">
        {{this.memberAmount}} <i class="fa fa-user"></i></a>
{{/if}}