<header class="header">
	<nav class="container">
		<a id="title" href="/">
			<img class="logo" alt="{{theme.title}}" src="/images/logo/HPI-Schul-Cloud_Wort-Bildmarke-Banner_transparent.svg" />
		</a>
	</nav>
</header>
