<section class="demo-login mt-2" id="loginarea">
    <h2 class="h3 card-title">Jetzt Demoversion ausprobieren</h2>
    <div class="logins">
        <form method="post" action="/login/" class="form-demo-login">
            <input type="text" name="username" value="demo-schueler@schul-cloud.org" hidden>
            <input type="password" name="password" value="schulcloud" hidden>
            <input type="text" name="type" value="student" hidden>
            <div class="form-group">
                {{> "lib/components/csrfInput"}}
                <input type="submit" class="btn btn-outline btn-primary" value="als Schüler:in einloggen" />
            </div>
        </form>

        <form method="post" action="/login/" class="form-demo-login">
            <input type="text" name="username" value="demo-lehrer@schul-cloud.org" hidden>
            <input type="password" name="password" value="schulcloud" hidden>
            <input type="text" name="type" value="teacher" hidden>
            <div class="form-group">
                {{> "lib/components/csrfInput"}}
                <input type="submit" id="demologin" class="btn btn-outline btn-primary" value="als Lehrer:in einloggen" />
            </div>
        </form>
    </div>
    <span class="hint text-muted">
        Wir empfehlen die Nutzung einer aktuellen Version der Browser Chrome, Firefox, Edge oder Safari.
    </span>
</section>
