<section class="demo-login mt-2" id="loginarea" data-step="1" data-intro="Sie möchten die {{theme.title}} entdecken? Mit Hilfe unserer Demo Funktion können Sie die {{theme.short_title}} sowohl aus Lehrer*in und Schüler*in Perspektive entdecken. (Fokus Demo Login)">
    <h2 class="h3 card-title">Jetzt ausprobieren</h2>
    <div class="logins">
        <form method="post" action="/login/" class="form-demo-login">
            <input type="text" name="username" value="demo-schueler@schul-cloud.org" hidden>
            <input type="password" name="password" value="schulcloud" hidden>
            <input type="text" name="type" value="student" hidden>

            <input type="submit" class="btn btn-outline btn-primary" value="als Schüler*In einloggen" />
        </form>

        <form method="post" action="/login/" class="form-demo-login">
            <input type="text" name="username" value="demo-lehrer@schul-cloud.org" hidden>
            <input type="password" name="password" value="schulcloud" hidden>
            <input type="text" name="type" value="teacher" hidden>

            <input type="submit" id="demologin" class="btn btn-outline btn-primary" value="als Lehrer*In einloggen" />
        </form>
    </div>
    <span class="hint text-muted">
        Wir empfehlen die Nutzung einer aktuellen Version der Browser Chrome, Firefox, Edge oder Safari.
    </span>
</section>
