<section class="demo-login mt-2" id="loginarea">
    <h2 class="h3 card-title">{{$t "home.headline.tryDemoVersion"}}</h2>
    <div class="logins">
        <form method="post" action="/login/" class="form-demo-login">
            <input type="text" name="username" value="demo-schueler@schul-cloud.org" hidden>
            <input type="password" name="password" value="schulcloud" hidden>
            <input type="text" name="type" value="student" hidden>
            <div class="form-group">
                {{> "lib/components/csrfInput"}}
                <input type="submit" class="btn btn-outline btn-primary" value="{{$t "home.button.loginAsStudentDemo"}}" />
            </div>
        </form>

        <form method="post" action="/login/" class="form-demo-login">
            <input type="text" name="username" value="demo-lehrer@schul-cloud.org" hidden>
            <input type="password" name="password" value="schulcloud" hidden>
            <input type="text" name="type" value="teacher" hidden>
            <div class="form-group">
                {{> "lib/components/csrfInput"}}
                <input type="submit" id="demologin" class="btn btn-outline btn-primary" value="{{$t "home.button.loginAsTeacherDemo"}}" />
            </div>
        </form>
    </div>
    <span class="hint text-muted">
        {{$t "home.text.weRecommendUsingModernBrowsers"}}
    </span>
</section>
