<div class="form-group">
    <label class="control-label" for="username">Ihre E-Mail-Adresse / Nutzername</label>
    <input type="username"
           name="username"
           id="username"
           size="30"
           maxlength="60"
           placeholder="Ihre E-Mail-Adresse / Nutzername"
           class="form-control"
            required>
</div>