<div class="form-group">
    <label class="control-label" for="username">Deine E-Mail-Adresse/Nutzername</label>
    <input type="text"
           autocomplete="username"
           name="username"
           id="username"
           size="30"
           maxlength="60"
           placeholder="Deine E-Mail-Adresse/Nutzername"
           class="form-control"
            required>
</div>
<p>
    Wenn du zusätzliche Hilfe beim Passwort zurücksetzen benötigst, wende dich bitte an deine betreuende Lehrkraft 
    (als Schüler) oder an deinen Administrator (als Lehrkraft). </br>
    Diese können dein Passwort über die Nutzerverwaltung mit sofortiger Wirkung zurücksetzen.
</p>
