@import '../lib/colors';

.store.container {
  margin: 0;
  padding: 0;
}

.card-block {
  width: 100%;
}

h1, h3 {
  margin-top: 30px;
  color: $primaryColor;
}

.carousel-item, .card {
  align-items: center;
  width: 100%;
}

.carousel-item img, .card img {
  width: 100%;
}
/* Fix responsive Issue with Cards */
.card {
  display: flex;
  flex: 1 0 0%;
  flex-direction: column;
}

.card-block {
  flex: 1 1 auto;
  padding-bottom: 36px;
}

.row.equal-height {
  display: flex;
  flex-wrap: wrap;
}

.row.equal-height > [class*='col-'] {
  display: flex;
  flex-direction: row;
}

.card-img {
  cursor: pointer;
}

.card-img-overlay {
  bottom: auto;
  z-index: 10;
  padding: 10px;
  color: $primaryColor;
  font-weight: bold;
}

.card-img-overlay:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1;
  background: #d3d3d3;
  content: "";
}

.card-title {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.card-tags {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag {
  max-width: 100%;
}

.card-text {
  word-wrap: break-word;
}

.tooltip-inner {
  background-color: $primaryColor;
  color: #ffffff ;
}

.tooltip-arrow{
  background-color: $primaryColor;
}

.card-footer{
  position: relative;
}

.report-link{
  position: absolute;
  top: -34px;
  right: 18px;
  color: #d3d3d3;
}
