.store.container {
    margin: 0;
    padding: 0;
}
.search-wrapper {
    margin-bottom: 30px;
}
.card-block {
    width: 100%;
}
h1, h3 {
    margin-top: 30px;
    color: #b10438;
}
.carousel-item, .card {
    align-items: center;
    width: 100%;
}
.carousel-item img, .card img {
    width: 100%;
}
.card-img {
    cursor: pointer;
}
.card-img-overlay {
    color: #b10438;
    padding: 10px;
    bottom: auto;
    z-index: 10;
    font-weight: bold;
}
.card-img-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: lightgrey;
    opacity: 0.7;
    z-index: -1;
}
.card-title {
    margin-bottom: 10px;
}
.card-tags {
    margin-bottom: 10px;
}

@media(min-width:576px){
    .card-columns {
        column-count: 2;
    }
}
@media(min-width:1200px){
    .card-columns {
        column-count: 3;
    }
}