.section-search {
  h5 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .pagination-wrapper {
    text-align: center;
  }

}

.search-wrapper {
  margin-bottom: 1em;
}

.search-parameters {
  margin-bottom: 2em;
}

.filters-attributes {
  background: #e9e9e9;
}

.add-to-lesson {
  float: right;
  cursor: pointer;
}

.search-results-count {
  float: right;
  color: #bdbdbd;
  font-size: small;
}
