footer {
	width:100%;
	border-top:2px solid #727272;

	position: inherit;
	padding-top: 5px;
	height: 80px;
	bottom: 0;
	right: 0;
	left: 0;
	clear: both;
}

.imprint {

	.container-fluid{
		float: right;
		z-index: 10;
		position: relative;

		.right{
			float: right;
		}

		.bg-graphic {
			position: absolute;
			background: no-repeat center center;
			background-size: contain;
			z-index: -1;
			width: 125px;
			height: 109px;

			&.bg-graphic-footer {
				top: -36px;
				right: 0;
				background-image: url(../../../static/images/sidecloud.png);
			}
		}
	}
	.center{
		text-align: center;
		align-items: center;
	}



}
