@import '../../core/styles/bootstrap/scss/bootstrap';

footer {
	width:100%;
	margin-top: 40px;
	position: inherit;
	bottom: 0;
	right: 0;
	left: 0;
	clear: both;
	padding:30px 0px;
}

.imprint {
	.center{
		text-align: center;
		align-items: center;
		
		@include media-breakpoint-down(xs) {
			img{
				display:block;
				margin: 0 auto;
			}
		}
	}
}
