@import '../../core/styles/colors.scss';

.route-root {
	background:#fff;

	h1 {
		color:#000;
		margin-top:200px;
	}

	section#features {
		background: url(../../../static/images/chalkboard.jpg) no-repeat center top;
		background-size:cover;
		width:100%;
		float:left;
		margin-top:300px;
	}
}
