#loginarea{
	.btn{
			word-wrap: break-word;
			white-space: normal;
	}

	input {
			font-size: 1rem;
			padding: .5rem;
	}

	.login-providers {
			display: none;
	}

	.chosen-results {
			li {
					line-height: 1.2;
			}
	}
	.email-login-section {
			display: none;
	}
	.ldap-login-section {
			display: none;
	}
	.system-display {
			display: none;
	}
	.separator-external-login {
		text-align: center;
		background-image: linear-gradient(to right, rgba(0,0,0,.15) 100%, transparent 50%);
		background-position: 0 58%;
		background-repeat: repeat-x;
		background-size: 1em 1px;
		margin: 1.2rem auto;
	}
	.separator-external-login-text {
		background: white;
		padding: 0 .3em
	}
}
