{{#extend "lib/loggedin" searchLabel="Dateien durchsuchen ..." searchAction="/files/search/" searchClass="file-search"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/files/files.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/files.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/jquery.cookie.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}

    {{#content "page"}}
        <div class="route-files-overview">
            <div class="row card-deck-row">
                <div class="sc-card-wrapper col-md-6 col-sm-6 col-xs-12">
                    {{> 'lib/components/sc-card'
                        title='<i class="fa fa-user"></i> Meine persönlichen Dateien'
                        secondaryTitle="<br />"
                        url='/files/my/'
                        link-text='Dateien öffnen'
                        content='Hier findest du alle deine persönlichen Dateien. Auf diese Dateien hast nur du Zugriff, du kannst sie aber auch mit anderen Nutzern teilen.'
                        background="#283E56"
                        linkAriaDescription=($t "files.aria_label.openPersonalFiles")
                    }}
                </div>
                <div class="sc-card-wrapper col-md-6 col-sm-6 col-xs-12">
                    {{> 'lib/components/sc-card'
                        title='<i class="fa fa-graduation-cap"></i> Meine Kurs-Dateien'
                        secondaryTitle="<br />"
                        url='/files/courses/'
                        link-text='Dateien öffnen'
                        content='Hier findest du alle Dateien, die in den jeweiligen Kursen im Unterricht verwendet werden. Alle Teilnehmer des Kurses, also der Lehrer und die Schüler, haben auf diese Dateien Zugriff.'
                        background="#1989AC"
                        linkAriaDescription=($t "files.aria_label.openCourseFiles")
                    }}
                </div>
                {{#ifEnv "FEATURE_TEAMS_ENABLED" "true"}}
                <div class="sc-card-wrapper col-md-6 col-sm-6 col-xs-12">
                    {{> 'lib/components/sc-card'
                        title='<i class="fa fa-users"></i> Meine Team-Dateien'
                        secondaryTitle="<br />"
                        url='/files/teams/'
                        link-text='Dateien öffnen'
                        content='Hier findest du alle Dateien, die in den jeweiligen Teams verwendet werden. Alle Teilnehmer des Teams haben auf diese Dateien Zugriff.'
                        background="#1989AC"
                        linkAriaDescription=($t "files.aria_label.openTeamFiles")
                    }}
                </div>
                {{/ifEnv}}
                <div class="sc-card-wrapper col-md-6 col-sm-6 col-xs-12">
                    {{> 'lib/components/sc-card'
                        title='<i class="fa fa-share-alt"></i> Mit mir geteilte Dateien'
                        secondaryTitle="<br />"
                        url='/files/shared/'
                        link-text='Dateien öffnen'
                        content='Hier findest du alle mit dir geteilten Dateien. Dies sind Dateien die von anderen Nutzern zur Verfügung gestellt worden sind.'
                        background="#00B8A9"
                        linkAriaDescription=($t "files.aria_label.openSharedFiles")
                    }}
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
