<section class="section-upload" data-owner="{{ownerId}}" data-parent="{{parentId}}">
    <div class="container-fluid">
        <div class="row">
            <div class="form-upload dz-clickable" {{#userHasPermission "FILE_CREATE"}}action="/files/upload/"
                {{/userHasPermission}}>
                <div class="dz-default dz-message" data-dz-message="">
                    <span><i class="fa fa-cloud-upload dz-clickable"></i> {{$t "files.text.storeFilesForUpload"}}</span>
                </div>
                {{> "lib/components/csrfInput"}}
            </div>
            <div class="progress-bar">
                <div class="progress">
                    <span class="percent"></span>
                    <div class="bar" style="width:0%">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>