<section class="section-upload" data-owner="{{ownerId}}" data-parent="{{parentId}}">
    <div class="container-fluid">
        <div class="row">
            <button class="form-upload dz-clickable" {{#userHasPermission "FILE_CREATE"}}action="/files/upload/"
                {{/userHasPermission}}>
                <div class="dz-default dz-message" data-dz-message="">
                    <span class="text-muted"><i class="fa fa-cloud-upload dz-clickable" aria-hidden="true"></i> {{$t "files.text.storeFilesForUpload"}}</span>
                </div>
                {{> "lib/components/csrfInput"}}
            </form>
            <div class="progress-bar">
                <div class="progress">
                    <span class="percent" role="progressbar" aria-valuemin="0" aria-valuemax="100"></span>
                    <div class="bar" style="width:0%">&nbsp;</div>
                </div>
            </div>
        </button>
    </div>
</section>
