{{#extend "lib/loggedin" searchLabel="Dateien durchsuchen ..." searchAction="/files/search/" searchClass="file-search"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/files/files.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/files.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/jquery.cookie.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}

    {{#content "page"}}
        <div class="route-files-overview">
            <div class="row card-deck-row">
                <div class="sc-card-wrapper col-md-6 col-sm-6 col-xs-12">
                    {{> 'lib/components/sc-card'
                        title=(concat '<i class="fa fa-user"></i> '($t 'files.label.myPersonalData'))
                        secondaryTitle="<br />"
                        url='/files/my/'
                        link-text='Dateien öffnen'
                        content=($t 'files.label.myPersonalDataContent')
                        background="#283E56"
                    }}
                </div>
                <div class="sc-card-wrapper col-md-6 col-sm-6 col-xs-12">
                    {{> 'lib/components/sc-card'
                        title=(concat '<i class="fa fa-graduation-cap"></i> '($t 'global.link.courseData'))
                        secondaryTitle="<br />"
                        url='/files/courses/'
                        link-text='Dateien öffnen'
                        content=($t 'global.link.courseDataContent')
                        background="#1989AC"
                    }}
                </div>
                {{#ifEnv "FEATURE_TEAMS_ENABLED" "true"}}
                <div class="sc-card-wrapper col-md-6 col-sm-6 col-xs-12">
                    {{> 'lib/components/sc-card'
                        title=(concat '<i class="fa fa-users"></i> '($t 'global.link.files'))
                        secondaryTitle="<br />"
                        url='/files/teams/'
                        link-text='Dateien öffnen'
                        content=($t 'global.link.filesContent')
                        background="#1989AC"
                    }}
                </div>
                {{/ifEnv}}
                <div class="sc-card-wrapper col-md-6 col-sm-6 col-xs-12">
                    {{> 'lib/components/sc-card'
                        title=(concat '<i class="fa fa-share-alt"></i> '($t 'files.label.filesSharedWithMe'))
                        secondaryTitle="<br />"
                        url='/files/shared/'
                        link-text='Dateien öffnen'
                        content=($t 'files.label.filesSharedWithMeContent')
                        background="#00B8A9"
                    }}
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
