<h2 class="h3">
		Rechtliche Hinweise:
</h2>
<p>
	Die {{theme.title}} ist ein nicht kommerzielles Pilotprojekt, welches vom HPI in Kooperation mit dem Ministerium für Bildung, Jugend und Sport des Landes Brandenburg (<a href="https://mbjs.brandenburg.de" target="_blank" rel="noopener">https://mbjs.brandenburg.de</a>) und der Digital Agentur Brandenburg GmbH (<a href="https://www.ilb.de/de/wir-ueber-uns/beteiligungen/weitere-beteiligungen/digitalagentur-brandenburg-gmbh/" target="_blank" rel="noopener">https://www.ilb.de/de/wir-ueber-uns/beteiligungen/weitere-beteiligungen/digitalagentur-brandenburg-gmbh/</a>) durchgeführt wird.
</p>
