@import '../lib/colors';

.section-about {
  hgroup {
    text-align: center;
    font-weight: bold;
    margin: 60px 0 60px;
    width: 100%;
  }

  .section-title {
    width: 100%;
    padding: 10px 0 20px;
    line-height: 1.75rem;
  }
}

.embed-pdf {
  padding-left: 0;

  .row.embed-pdf-row a {
	  text-decoration: none;
  }

  .viewer {
    width: 100%;
    height: 700px;
    margin: 5px 0 0 7px;
  }
  div.row {
    margin-bottom: 10px;
  }
  .single-pdf {
    padding: 3px 6px 3px 6px;

    &.opened .single-pdf-wrapper {
      background-color: var(--color-gray-light);
    }
	.single-pdf-title{
		color: initial;
		text-decoration: none;
	}

	.single-pdf-wrapper {
		padding: 10px;
		height: 100%;
		box-shadow: 2px 2px 5px rgba(0,0,0,.1);
		background-color: #fff;
		border-radius: .25rem;
		border: 1px solid rgba(0,0,0,.125)
	}
	.single-pdf-thumbnail {
		margin-top: 10px;
		width: 100%;
	}
  }
}

.embed-award {
	.single-award {
		padding: 3px 6px 3px 6px;
		&.opened {
			background-color: var(--color-gray-light);
		}
		.single-award-wrapper {
			padding: 10px;
			height: 100%;
			border: 1px solid #d3d3d3;
			box-shadow: 2px 2px 5px rgba(0,0,0,.1);

			a {
				text-decoration: none;
				.single-award-thumbnail {
					width: 100%;
				}
			}
			.single-award-title{
				display: flex;
				align-items: center;
			}
		}
	}
}
