@import "../lib/colors";

.section-about {
  hgroup {
    margin: 60px 0 60px;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }

  .section-title {
    padding: 10px 0 20px;
    width: 100%;
    line-height: 1.75rem;
  }
}

.embed-pdf {
  padding-left: 0;

  .viewer {
    margin: 0 0 0 15px;
    width: 97%;
    height: 700px;
  }
  div.row {
    margin-bottom: 10px;
  }
  .single-pdf {
    margin: 0 15px 15px;
    border: 1px solid #d3d3d3;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    padding: 3px 6px 3px 6px;
    &.opened {
      border: 1px solid #b10438;
    }
    a {
      text-decoration: none;

      .single-pdf-wrapper {
        padding: 10px;
        height: 100%;
      }
      .single-pdf-thumbnail {
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}
