@import "./variables";
@import "./layouts";
@import "./header";
@import "./sections";

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
}
main{
    margin-top: 6rem;
    flex: 1;
}
