@import '../lib/bootstrap/scss/bootstrap';
@import "./blog-card";
@import "./login";

.demo-login{
    text-align: center;
    .form-demo-login{
        display: inline-block;
        &:not(:first-of-type){
            margin-left: var(--space-md);
            @include media-breakpoint-down(md) {
                margin:0;
                display: block;
            }
        }
    }
}

.btn-primary.btn-outline{
    &:hover {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        color: var(--color-white);
    }
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background: transparent;
}
.btn-primary2 {
	display: inline-flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	text-decoration: none !important;
	font-size: 16px;
	font-weight: 700;
	font-family: "PT Sans Narrow", "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 19.2px;
	min-width: 136px;
	min-height: 35.2px;
	color: var(--color-white);
	border: 1px solid var(--color-primary);
	padding: 8px 12px 6px 12px;
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	border-radius: 0.25rem;
	transition-property: background, box-shadow;
	transition-duration: 0.3s;
	&:hover {
		color: var(--color-white);
		background-color: rgb(158, 6, 52);
	}
}
.btn-primary2-outline {
	display: inline-flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	text-decoration: none !important;
	font-size: 16px;
	font-weight: 700;
	font-family: "PT Sans Narrow", "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 19.2px;
	min-width: 136px;
	min-height: 35.2px;
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
	padding: 8px 12px 6px 12px;
	background-color: transparent;
	border-color: var(--color-primary);
	border-radius: 0.25rem;
	transition-property: background, box-shadow;
	transition-duration: 0.3s;
	&:hover {
		border-color: rgb(133, 5, 44);
		box-shadow: 0 0 0 1px rgb(133, 5, 44);
	}
}

.section a.btn.btn-white-outlined{
    display: inline-block;
    border: 1px solid;
        text-decoration: none;
    &:hover{
            background-color: var(--color-white);
            color: var(--color-accent);
    }
}

.grid-align-right{
    @supports (display: grid) {
        text-align: right;
    }
    @include media-breakpoint-down(md) {
        text-align: left;
    }
}

.partner{
    border: var(--border-width) solid var(--color-gray-light);
    width: 100%;
    height: 100%;
    padding: var(--space-md);
    object-fit: contain;
    background: #fff;
    &:hover {
        box-shadow: var(--shadow-sm);
          transition: box-shadow .2s ease,transform .2s ease,z-index 0s 0s ease;
    }
}

.sc-blog {
    thead {
        border-bottom: 2px solid #455b6a;

        th {
            background-color: transparent;
            border: none;
        }
    }

    td {
        text-align: center;
        vertical-align: middle;
        font-size: 0.85em;

        &:first-child{
            text-align: left;
        }
    }
}

.flex-container {
    display: flex;
    align-items: center;

    h1{
        font-size: 50px;

        @include media-breakpoint-down(sm) {
        font-size: 40px;
        }
    }

    p {
        margin-bottom: 0;
    }
    .teaser{
        font-size:24px;
    }

    .section-img {
        @include media-breakpoint-down(sm) {
            width: 40vw;
        }
    }
}

.section-landing{
    margin-bottom: 100px;

    @include media-breakpoint-down(sm) {
        margin-bottom: 60px;
    }
}

.heading{
    font-size: 29px;
}

.section-heading {
    font-size: 45px;

    @include media-breakpoint-down(sm) {
        font-size: 35px;
    }

}
