@import '../lib/bootstrap/scss/bootstrap';
@import "./blog-card";
@import "./login";

.demo-login{
    text-align: center;
    .form-demo-login{
        display: inline-block;
        &:not(:first-of-type){
            margin-left: var(--space-md);
			@include media-breakpoint-down(md) {
				margin:0;
				display: block;
			}
		}
    }
    .btn-primary.btn-outline{
		&:hover {
			background-color: var(--color-primary);
			border-color: var(--color-primary);
			color: var(--color-white);
		}
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        background: transparent;
    }
}

.section a.btn.btn-white-outlined{
    display: inline-block;
    border: 1px solid var(--color-white);
		text-decoration: none;
    &:hover{
			background-color: var(--color-white);
			color: var(--color-accent);
    }
}

.grid-align-right{
	@supports (display: grid) {
		text-align: right;
	}
	@include media-breakpoint-down(md) {
		text-align: left;
	}
}

.partner{
    border: var(--border-width) solid var(--color-gray-light);
    width: 100%;
    height: 100%;
    padding: var(--space-md);
	object-fit: contain;
	&:hover {
		box-shadow: var(--shadow-sm);
      	transition: box-shadow .2s ease,transform .2s ease,z-index 0s 0s ease;
	}
}

video-player{
	border: 1px solid var(--color-white);
	z-index: var(--layer-page);
}
