@import "./variables";
@import "../lib/bootstrap/scss/bootstrap";
// legacy css for login form
#loginarea {
	&:not(.demo-login) {
		border-radius: 0;
		border: 0px solid var(--color-gray-light);
		box-shadow: var(--shadow-sm);
	}
	.btn {
		word-wrap: break-word;
		white-space: normal;
		min-width: 22ch;
	}
	.toggle-btn {
		margin-bottom: 1rem;
	}
	input:not(.chosen-search-input),
	input:not(.chosen-search-input):-webkit-autofill::first-line,
	input:not(.chosen-search-input):-webkit-autofill:focus,
	input:not(.chosen-search-input):-webkit-autofill:hover {
		font-size: 1rem;
		padding: 0.5rem;
		font-family: $font-family-base;
	}
	select {
		width: 100%;
		padding: 0.25rem 0.5rem;
		border-radius: 4px;
	}
	.login-providers {
		display: none;
	}
	.email-login-section {
		display: none;
	}
	.ldap-login-section {
		display: none;
	}
	.system-display {
		display: none;
	}
	.separator-external-login {
		text-align: center;
    background-image: linear-gradient(to right, #c4d4da 100%, transparent 50%);
    background-position: 0 66%;
    background-repeat: repeat-x;
    background-size: 1em 2px;
		margin-bottom: 1rem;
	}
	.separator-external-login-text {
		font-size: 18px;
		background: white;
		padding: 0 .3em
	}

}

.login-failed-container {
	margin-top: 30px;
	max-width: 900px;

	li {
		list-style: none;
		font-weight: 800;
		margin-bottom: 10px;
		font-size: 20px;
		&::before {
			display: none;
		}
	}
	.screenshot {
		width: 60%;

		@include media-breakpoint-down(md) {
			width: 80%;
		}
		@include media-breakpoint-down(xs) {
			width: 100%;
		}
	}

	.steps {
		margin-bottom: 30px;
		margin-top: 10px;
	}
	.browser {
		margin-left: 10px 0px 0px 10px;
	}

	.logo-container {
		display: flex;
		flex-direction: column;

		.sc-logo {
			cursor: pointer;
			margin-left: 10px;
			margin-bottom: 15px;
		}
	}
}
