@import "./variables";
@import "../lib/bootstrap/scss/bootstrap";
// legacy css for login form
#loginarea {
  &:not(.demo-login) {
    border: 0 solid var(--color-gray-light);
    border-radius: 0;
    box-shadow: var(--shadow-sm);
  }

  .btn {
    min-width: 22ch;
    white-space: normal;
    word-wrap: break-word;
  }

  .toggle-btn {
    margin-bottom: 1rem;
  }

  input:not(.chosen-search-input),
  input:not(.chosen-search-input):-webkit-autofill::first-line,
  input:not(.chosen-search-input):-webkit-autofill:focus,
  input:not(.chosen-search-input):-webkit-autofill:hover {
    padding: 0.5rem;
    font-family: $font-family-base;
    font-size: 1rem;
  }

  select {
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    width: 100%;
  }

  .login-providers {
    display: none;
  }

  .email-login-section {
    display: none;
  }

  .ldap-login-section {
    display: none;
  }

  .system-display {
    display: none;
  }

}

.login-failed-container {
  margin-top: 30px;
  max-width: 900px;

  li {
    margin-bottom: 10px;
    list-style: none;
    font-size: 20px;
    font-weight: 800;
    &::before {
      display: none;
    }
  }

  .screenshot {
    width: 60%;

    @include media-breakpoint-down(md) {
      width: 80%;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  .steps {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .browser {
    margin-left: 10px 0 0 10px;
  }

  .logo-container {
    display: flex;
    flex-direction: column;

    .sc-logo {
      margin-bottom: 15px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}
