    <section class="section-upload" data-max-file-size="{{getConfig "FILES_STORAGE__MAX_FILE_SIZE"}}" data-school="{{schoolId}}" data-parent-id="{{parentId}}" data-parent-type="{{parentType}}">
        <div class="container-fluid">
            <div class="row">
                <button
                    type="button"
                    class="form-files-storage dz-clickable" 
                    {{#userHasPermission "FILESTORAGE_CREATE"}}
                        action="/"
                    {{/userHasPermission}} 
                    data-testid="fileupload-button">
                    <div class="dz-default dz-message" data-dz-message="">
                        <span class="text-muted"><i class="fa fa-cloud-upload dz-clickable" aria-hidden="true"></i>
                            {{$t "files.text.storeFilesForUpload"}}
                         </span>
                    </div>
                </button>
                <div class="progress-bar">
                    <div class="progress">
                        <span class="percent" role="progressbar" aria-label="{{$t "files.text.storeFilesForUploadProgress"}}" aria-valuemin="0" aria-valuemax="100"></span>
                        <div class="bar" style="width:0%">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
