<section class="files" data-testid="tasks-edit-section-files">
	<div class="row">
		{{#each files}}
			<div class="col-sm-12">
				{{> "lib/components/files-storage/files-card" readonly=../readonly}}
			</div>
		{{/each}}
	</div>
</section>
