<div class="files-storage-component">
    {{#ifneq filesStorage.readonly true}}
        {{#embed
            "lib/components/files-storage/file-upload"
            schoolId=../filesStorage.schoolId
            parentId=../filesStorage.parentId
            parentType=../filesStorage.parentType
        }}{{/embed}}
    {{/ifneq}}
    {{#embed
        "lib/components/files-storage/files-grid"
        filesStorage
    }}{{/embed}}
</div>
