<section class="files">
	<div class="row">
		{{#each files}}
			<div class="col-sm-12">
				{{> "lib/components/files-storage/files-card"}}
			</div>
		{{/each}}
	</div>
</section>

{{#embed "lib/components/modal-form" class="edit-modal" title=($t "files.headline.newFolder") closeLabel=($t "global.button.cancel") submitLabel=($t "global.button.createFolder")}}
	{{#content "fields"}}
        <label for="newDirName" hidden>{{$t "files.input.foldername"}}</label>
		<input id="newDirName" type="text" class="form-control" name="new-dir-name" placeholder="{{$t "files.input.foldername"}}" required />
	{{/content}}
{{/embed}}

{{#embed "lib/components/modal" class="delete-modal" title=($t "global.text.areYouSure")}}
	{{#content "body"}}

		<div class="modal-footer">
			<button type="button" class="btn btn-secondary btn-close">
				{{$t "global.button.cancel" }}
			</button>

			<button type="submit" class="btn btn-primary btn-submit">
				{{$t "global.headline.delete" }}
			</button>
		</div>
	{{/content}}
{{/embed}}

{{#embed "lib/components/modal-form" class="rename-modal"}}
	{{#content "fields"}}
		{{> "lib/components/files-storage/forms/form-name-edit"}}
	{{/content}}
{{/embed}}


{{#embed "lib/components/modal-information" class="danger-modal" title=($t "files.headline.attention")}}
	{{#content "fields"}}
		{{> "lib/components/files-storage/forms/form-virus-danger"}}
	{{/content}}
{{/embed}}
