{{#extend "administration/administration"}}
	{{#content "styles" mode="append"}}
	{{/content}}

	{{#content "scripts" mode="append"}}
	{{/content}}

	{{#content "page"}}
		<div class="route-administration">

		</div>
	{{/content}}
{{/extend}}
