name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
    unit_tests:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v5

            - name: Setup node
              uses: actions/setup-node@v5
              with:
                  node-version: '22'

            - name: setup environment and execute mocha tests
              run: npm ci && npm run build && npm run mocha
