name: Test

on: [push]

jobs:
    unit_tests:
        strategy:
            matrix:
                os: [ubuntu-latest]
                node: ["14"]
        runs-on: ${{ matrix.os }}
        steps:
            - name: checkout
              uses: actions/checkout@v2

            - name: Setup node
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node }}

            # extract branch name
            - name: Extract branch name
              if: github.event_name != 'pull_request'
              shell: bash
              run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_ENV
              id: extract_branch

            # extract branch name on pull request
            - name: Print branch name
              if: github.event_name == 'pull_request'
              run: echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF})" >> $GITHUB_ENV

            - name: setup environment and start required services
              run: sh scripts/unitTest.sh
