@import '../lib/colors';

.move-handle {
  cursor: move;
  white-space: nowrap;
}

.dropdown-course {
  display: inline-block;

  .btn-course-dropdown{
    padding:0;
  }

  .course-headline {
    display: inline-block;
    margin-right: 10px;
  }

  .dropdown-toggle:hover {
    color: $primaryColor !important;
  }

  .dropdown-menu-course {
    .dropdown-item {
      padding: 10px 1.5rem;
    }
  }
}

.section-course {
  margin-top: 15px;

  @media (min-width: 576px) {
    .course-card {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      //padding: 10px;
      padding-bottom: 20px;
    }

    .sectionsContainer {
      padding: 10px 15px 0;
    }
  }

  .count-badge {
     position:relative;
  }
  .count-badge[data-badge]:after {
     content:attr(data-badge);
     position:absolute;
     top:-10px;
     right:-26px;
     font-size:0.85em;
     background:$colorLightGrey;
     color:$primaryColor;
     width:23px;height:23px;
     text-align:center;
     line-height:25px;
     border-radius:50%;
     box-shadow:0 0 2px #333;
  }

  .btn-import-topic {
    margin-bottom: 10px;
  }

  .lesson-date {
    line-height: 24px;
    float: right;
  }

  .delete-material {
    float: right;
    cursor: pointer;
  }

  .delete-tool {
    float: right;
    cursor: pointer;
    padding-top: 1.4em;
  }

  .card-tool {
    cursor: pointer;
  }

  .ui-state-highlight {
    height: 55px;
    border: 2px dashed #373a3c;
    border-radius: 3px;
    margin-bottom: 12px;
    background: none!important;
  }

  .content-block {
    margin-bottom: 50px;

    img {
      max-width: 100%;
      height: auto !important;
    }

    iframe {
      border: 1px solid $primaryColor;
      border-radius: 5px;
      outline: none;
    }
  }

  .disabled {
    cursor: not-allowed;

    input {
      background-color: $colorGrey;
    }
  }

  .disabled > * {
    pointer-events: none;
  }

  .times {
    padding: 16px;
    box-shadow: 0 1px 1px 0 #C7C7C7 inset;
    background: none repeat scroll 0 0;
    margin-bottom: 30px;

    i {
      cursor: pointer;
    }

    .new-course-time-add {
      display: inline-block;
      margin-top: 10px;
      padding-left: 5px;
      cursor: pointer;
      color: $primaryColor;
    }
  }

  .new-course-time-template {
    display: none;
  }
}
.course-tasks-header, .course-groups-header {
  padding: 0.5rem 0.75rem;
  color: $fontColor;
}
.card-topic {
  cursor: pointer;

  .card-header {
    padding: 0.5rem 0.75rem;
    background-color: $primaryColor;
    color: $colorWhite;
  }

  .btn-hidden-toggle {
    font-size: 25px;
    color: $colorWhite;
    margin-left: 10px;
    //border: 1px solid;
    //border-radius: .2rem;
    padding: 0 5px;
  }

  .btn-hidden-toggle:hover {
    background: $colorLightGrey;
  }

  .btn-icon-card {
    color: $colorWhite;
    background: transparent;
  }

  .btn-icon-card:hover {
    color: white;
    background: $colorLightGrey;
  }

  .topic-label {
    margin-bottom: 0 !important;
  }

  .input-group-btn {
    padding-right: 10px;
    float: right;
  }

  .input-group {
    align-items: center;
  }

  .move-handle {
    margin-right: 10px;
  }

  .right-btn-group {
    margin-left: auto;
    white-space: nowrap;
  }
}

.card-topic.card-transparent{
  -webkit-filter: grayscale(100%) opacity(0.7);
  filter: grayscale(100%) opacity(0.7);
}

.topic {
  margin-top: 10px;
}

.section-course-edit {
  #content-blocks {
    .btn-group {
      .btn-secondary {
        margin-right: 0.4rem;
      }
    }

    .geo-gebra-info {
      color: white;
      background-color: $primaryColor;
    }

    input {
      width: 100%;
    }
  }
}

.btn-remove-resource {
  float: right;
  cursor: pointer;

  i {
    color: $primaryColor;
  }
}

.courseGroup {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  clear: both;

  .group-card:hover {
    background-color: $colorLightGrey;
  }

  .group-card {
    width: 100%;
    position: relative;
    padding: 10px;
    text-decoration: none;

    h5 {
      margin: 0;
      color: $primaryColor;
    }

    a {
      color: #373a3c;
      text-decoration: none;
    }

    .card-tags {
      padding-top: 10px;

      .tag {
        font-size: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

.section-my-tasks {
  margin-top: 30px;
}

.card.assignment:hover{
  background-color: $colorLightGrey;
}

.card.assignment a {
  text-decoration: none;
}

#member-modal-body {
  columns: 3;
  word-break: break-all;
}

#member-list {
  li {
    padding: 0;
    margin: 0;
  }
}

#course-edit {
  text-align: right;
}

.modal-body {
  max-height: 75vh;
  overflow-y: auto;
}

.section-course-group {
  padding-top: 20px;
}

.empty-state{
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  h6.sub-title {
    color: $colorDarkerGrey;
  }
  img.image {
    width: auto;
    height: auto;
    margin-bottom: 30px;
  }
}

.empty-state-courses{
  margin-top: 0;
}

.add-button{
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 576px) {
  .empty-state{
    max-width: 60%;
  }
  img.image {
    max-width: 100px;
  }
}

@media (max-width: 575px) {
  .empty-state{
    max-width: 90%;
  }
  img.image {
    max-width: 80px;
  }
}
