@import '../lib/colors.scss';

.section-course {

    h4 {
        margin-bottom: 20px;
    }

    .lesson-date {
        line-height: 24px;
        float: right;
    }

    .description {
        margin-bottom: 40px;
    }

    .delete-material {
        float: right;
        cursor: pointer;
    }

    .delete-tool {
        float: right;
        cursor: pointer;
        padding-top: 1.4em;
    }

    .card-tool {
        cursor: pointer;
    }
}