@import '../lib/colors';
.move-handle {
    cursor: move;
}

.section-course {
    h4 {
        margin-bottom: 20px;
    }
    .files {
        margin-bottom: 20px;
    }
    .lesson-date {
        line-height: 24px;
        float: right;
    }
    .description {
        margin-bottom: 40px;
    }
    .delete-material {
        float: right;
        cursor: pointer;
    }
    .delete-tool {
        float: right;
        cursor: pointer;
        padding-top: 1.4em;
    }
    .card-tool {
        cursor: pointer;
    }
    .ui-state-highlight {
        height: 55px;
        border: 2px dashed #373a3c;
        border-radius: 3px;
        margin-bottom: 12px;
        background: none!important;
    }
    .content-block {
        margin-bottom: 50px;
        img {
            max-width: 100%;
            height: auto !important;
        }
        iframe{
            border: 1px solid $primaryColor;
            border-radius: 5px;
            outline: none;
        }
    }
    .disabled {
        cursor: not-allowed;
        input {
            background-color: $colorGrey;
        }
    }
    .disabled>* {
        pointer-events: none;
    }
    .times {
        padding: 16px;
        box-shadow: 0 1px 1px 0 #C7C7C7 inset;
        background: none repeat scroll 0 0;
        margin-bottom: 30px;
        i {
            cursor: pointer;
        }
        .new-course-time-add {
            display: inline-block;
            margin-top: 10px;
            padding-left: 5px;
            cursor: pointer;
            color: $primaryColor;
        }
    }
    .new-course-time-template {
        display: none;
    }
}

.card-topic {
    cursor: pointer;
    .card-header {
        padding: .5rem .75rem;
    }
    .btn-hidden-toggle {
        font-size: 20px;
    }
    .topic-label {
        margin: 0;
    }
    .input-group-btn {
        padding-right: 10px;
        float: right;
    }
    .input-group {
        align-items: center;
    }
    .right-btn-group {
        margin-left: auto;
        white-space: nowrap;
    }
}

.topic {
    margin-top: 10px;
}

.section-course-edit {
    #content-blocks {
        .btn-group {
            .btn-secondary {
                margin-right: 0.4rem;
            }
        }
        .geo-gebra-info {
            color: white;
            background-color: $primaryColor;
        }
        input{
            width: 100%;
        }
    }
}

.btn-remove-resource {
    float: right;
    cursor: pointer;
    i {
        color: $primaryColor;
    }
}

.courseGroup {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    clear: both;
    .group-card {
        width: 100%;
        position: relative;
        padding: 10px;
        text-decoration: none;
        h5 {
            margin: 0;
            color: $primaryColor;
        }
        a {
            color: #373a3c;
        }
        .card-tags {
            padding-top: 10px;
            .tag {
                font-size: 100%;
                margin-bottom: 10px;
            }
        }
    }
}

#member-modal-body {
    columns: 3;
    word-break: break-all;
}

#member-list {
    li {
        padding: 0px;
        margin: 0px;
    }
}

#course-edit {
    text-align: right;
}
.modal-body {
    max-height: 75vh;
    overflow-y: auto;
}

.section-course-group {
    padding-top: 20px;
}