@import '../lib/colors.scss';

.section-course {

    h4 {
        margin-bottom: 20px;
    }

    .lesson-date {
        line-height: 24px;
        float: right;
    }

    .description {
        margin-bottom: 40px;
    }

    .delete-material {
        float: right;
        cursor: pointer;
    }

    .delete-tool {
        float: right;
        cursor: pointer;
        padding-top: 1.4em;
    }

    .card-tool {
        cursor: pointer;
    }

    .content-block {
        margin-bottom: 50px;

        img {
            max-width: 100%;
            height: auto !important;
        }
    }

    .disabled {
        cursor: not-allowed;
        input {
            background-color: $colorGrey;
        }
    }

    .disabled > * {
        pointer-events: none;
    }

    .times {
        padding: 16px;
        box-shadow: 0 1px 1px 0 #C7C7C7 inset;
        background: none repeat scroll 0 0;
        margin-bottom: 30px;
        i {
            cursor: pointer;
        }
    }
}

.section-course-edit {
    .content-block {
        .card-header {
            .move-handle {
                cursor: move;
            }
        }
    }
}

