@import "../lib/colors";

.color-picker {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3px;
  font-size: 0;

  &__item {
    display: inline-block;
    margin-top: 3px;
    margin-right: 10px;
    margin-bottom: 5px;

    & + & {
      margin-right: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    display: none;

    &:checked {
      + .color-picker__color {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        font-size: 0;
        &:after {
          content: "";
        }
      }
    }

    &:disabled {
      + .color-picker__color {
        opacity: 0.5;
        &:hover {
          cursor: not-allowed;
        }
      }
    }
  }

  &__color {
    display: block;
    position: relative;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    &:hover {
      cursor: pointer;
    }

    &:after {
      position: absolute;
      top: -2px;
      left: -2px;
      outline: 2px solid $colorDarkerGrey;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      content: none;
      pointer-events: none;
    }
  }
}
