@import '../lib/bootstrap/scss/bootstrap-flex';
@import "../lib/colors";

.empty-state{
  .center{
    float: none;
    margin: 0 auto;
  }

  .btn-first{
    margin-right: 20px;
  }

  .image{
    opacity: .8;
    margin-bottom: 50px;
    width: 35%;
  }

  .buttons{
    margin-bottom: 30px;
    .btn {
      @include media-breakpoint-down(xs) {
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }

  .text-wrapper{
    margin-bottom: 30px;
    @include media-breakpoint-up(xs) {
      max-width: 70%;
    }

    @include media-breakpoint-down(xs) {
      max-width: 90%;
    }
  }

  #COLOR {
    fill: $primaryColor;
  }
}
