@import '../../core/styles/colors.scss';

.section-news {
	width:100%;
	float:left;
	padding: 15px 0px 50px;
	line-height: 1.75rem;

	h5 {
		color: $colorHPIRed;
	}

	.articles {
		margin: 20px -15px;
	}
}
