@import '../../core/styles/colors.scss';

.section-tasks {
	width:100%;
	float:left;
	border-bottom:2px solid #696969;
	padding: 15px 0px 50px;
	line-height: 1.75rem;

	h5 {
		color: $colorHPIRed;
		padding-bottom:10px;
	}

	.form-check-input {
		margin-top: .4rem;
	}
}
