@import '../../core/styles/colors.scss';
@import '../../core/styles/bootstrap/scss/bootstrap';

.section-tools {
	width:100%;
	float:left;
	padding: 15px 0px 50px;
	line-height: 1.75rem;

	h5 {
		color: $colorHPIRed;
	}

	.buttons {
		margin:20px -15px;

		.btn {
			background: $colorHPIYellow;
			color:#fff;
			font-weight:600;

			&:hover {
				background: $colorHPIOrange;
			}

			.fa {
				margin-right:10px;
				display:inline-block;
			}
		}
		@include media-breakpoint-down(xs) {
			.btn{
				margin: 5px 0;
			}
		}
	}
}
